[2017-02-27 17:57] dlorenc opened #2 "Docker image build broken for hostpath example."
It fails with go-wrapper download errors, because the Dockerfile is not glide-aware.

[2017-02-27 23:04] sandaymin123 opened #4 "Intermediary Status Hooks for External Provisioners Needed"
Not all External Provisioners return immediately. Some provisoners *may* take several minutes or more to complete processing.  It is important that while a provisioner is processing the request, it can provide "intermediary status details" back to the volume controller  — by updating PVC status

A related issue is this:
https://github.com/kubernetes/kubernetes/issues/42121
@npramod  @xingzhou

[2017-02-28 12:01] HardikDR opened #5 "dynamic provisioner for externally managed NFS"
Current NFS provisioner , either creates the nfs-ganesha or expects the kernel nfs-server running on the node.

I would like to propose the out of tree provisioner , which can dynamically provision volumes on the externally managed nfs-server. Provisioner would create directories over NFS mount-point  corresponding to the PVCs being created . Each directory would be mapped to the PV object , which

[2017-02-28 16:51] wongma7 commented on #5
cc https://github.com/kubernetes-incubator/nfs-provisioner/issues/85

[2017-02-28 18:00] wongma7 commented on #5
I think this is out of scope of 'nfs-provisioner' and should be another provisioner/directory. The only issue is naming...

Correct me if I'm wrong, the assumption/prerequisite to this working is that the NFS server will allow you to mount sub-directories of an export without you having to explicitly creating export entries for each subdirectory? (Is that in an NFS spec somewhere, I have no idea.)

[2017-02-28 18:00] HardikDR commented on #5
https://github.com/kubernetes-incubator/nfs-provisioner/issues/85#issuecomment-283098593
@wongma7  I would suggest to have a separate directory in here , which basically consists of the only such type of provisioners. We may need better name though.
So we can include better range of such provisioners based on different filesystems.

[2017-02-28 18:03] wongma7 commented on #5
yeah I mean EFS too is technically NFS . so should the provisioners be divided by filesystem/plugin type or... not sure yet. Regardless yeah we agree it should be a separate directory

[2017-02-28 18:12] #2 closed

[2017-03-01 06:19] HardikDR commented on #5
I would suggest it should be divided based on the FileSystem type AND
whether provisioner manages server   or only behaves as a client to the external server.
How about /externalstorage/client-provisioners/nfs-client-provisioner ??!!??

[2017-03-01 07:53] xingzhou commented on #4
Let me take some investigation first.

[2017-03-01 15:59] wongma7 commented on #5
I think the client-only vs server idea is specific to NFS so won't be too useful to divide by that. Anyway, I would prefer it to get its own top-level directory now (externalstorage/nfs-client-provisioner), and we can postpone the decision for whether to further divide provisioners if/when the repo gets too crowded. That way it will be easier to discover.

I will be adding my efs provisioner to th

[2017-03-01 17:22] HardikDR commented on #5
Yes sure !!
Sounds good.

[2017-03-03 18:08] wongma7 commented on #4
For a short-term "fix" we can add a simple "External provisioner xyz has started provisioning for the claim." type of event to the provision controller right before it calls Provision.

That way, the user will see the "cannot find provisioner "ubiquity/flex", expecting that a volume for the claim is provisioned either manually or via external software" event and then immediately after that see "Ex

[2017-03-03 18:12] wongma7 opened #9 "Version the library"
I am about to update the library to use the stable version of client-go 2.0.0 that was released 3 weeks ago. The library should follow semver so that people can easily know when changes have been made to it (versus changes to other files in this repository like documentation or provisioner-specific changes)

If anybody have any opinions on how to version the library please post them here.

At the

[2017-03-03 21:21] #9 closed

[2017-03-03 22:36] wongma7 commented on #9
hmm noting to self this doesn't preclude using tags like "nfs-v1.0.4"/"v1.0.4-nfs". doesn't seem that abusive of the tag system.

[2017-03-06 02:26] xingzhou commented on #4
@wongma7, thanks for the suggestions. I agree, I'm working on the new event code right now
to @sandaymin123, what do you think if we keep original event message so that probably user may see the following events in a PVC description:
```1. cannot find provisioner "ubiquity/flex", expecting that a volume for the claim is provisioned either manually or via external software```
```2. External provisi

[2017-03-06 03:34] tamalsaha opened #15 "Dynamic provisioner for Hostpath"
Hi,
I am interested in a hostpath provisioner that can work with StatefulSet with replica > 1. I had a conversation in slack api-machinery room. They pointed me to this project. Here is my conversation: https://github.com/appscode/k8s-addons/issues/14#issuecomment-283732665

I am new to writing my own PV provisioner. Do you think what I am asking for is possible? How do I take the demo hostpath pr

[2017-03-06 08:56] xingzhou commented on #4
A sample PoC in my env, @sandaymin123 and @wongma7, FYI:
<img width="1279" alt="2017-03-06 4 48 35" src="https://cloud.githubusercontent.com/assets/5344440/23602906/af7357d0-028d-11e7-9516-308312341769.png">

[2017-03-06 16:52] wongma7 commented on #15
Yes, I think it's possible. Don't know how easy it will be though.

First consider that if you want the hostpath provisioner to handle pre-creating + deleting directories (MkdirAll & RemoveAll) on the host when corresponding PVs are created + deleted (with reclaim policy Delete), an instance of it will need to run on every node and mount every hostPath. And the logic in Delete will have to be impr

[2017-03-06 16:54] wongma7 commented on #15
Also pvDir is hardcoded,you'll want to change it https://github.com/kubernetes-incubator/external-storage/blob/master/docs/demo/hostpath-provisioner/hostpath-provisioner.go#L59

Plus the identity is not very useful as-is, if you understand the principle of it then you can remove/improve it if you want.

[2017-03-07 07:44] TamalSaha commented on #15
@wongma7 , thanks for the detailed explanation. I have read the code mostly. I think I understand your comments regarding retention policy, I think those can be made parameterized. Users can use them based on parameters passed to `StorageClass`. For one more they can use Deployment for a singel pod. In the other mode, they can run DaemonSet and manage host paths.

Regarding Scheduling, I am also n

[2017-03-07 22:54] wongma7 commented on #15
Yes you can do whatever you want re:retention policy, making it an SC parameter sounds good. Note that the *controller* will always pass to Provision 'options.ReclaimPolicy=delete" but you can ignore it,  it's only because upstream hasn't decided the "official" way to do retention policy yet. But again yeah if you want to set it to Retain and do the 'Deployment' style thing then sure why not.

RE:

[2017-03-07 23:07] TamalSaha commented on #15
The existing scheduler will work fine as-is as long SS are not scaled up after scaling down. Say I have a SS with replica =3 (also uses PV). Now, later I reduce # of replicas to 2. This deleted the pod-2. Then if I increase the replicas to 3, I see that the original PVC, if exists, will be reused. If this is a required behavior, this is not possible without extending the default scheduler. Do you

[2017-03-08 00:22] TamalSaha commented on #15
@wongma7 , regardless of the scheduler issue do you think the hostpath provisioner can be moved from demo to a supported provisioner?

[2017-03-08 18:13] sandaymin123 commented on #4
Is it possible to just to have . External provisioner xyz has started provisioning for the claim If controller knows its working with an external provisioner..otherwise show the other message for other in-tree provisioiners?

[2017-03-08 22:56] TamalSaha commented on #15
I found a new proposal for local storage management: https://github.com/kubernetes/community/pull/306

[2017-03-08 23:19] wongma7 commented on #15
Yes, it's coming though it will be a while (another release or two?) before it is a reality.

In the meantime I'm reluctant to make the hostpath provisioner any more official. It will have to come with a big disclaimer plus the scheduling caveat. Prs are always welcome but the scheduling issue unless solved will make it hard to use in typical clusters.

[2017-03-08 23:44] TamalSaha commented on #15
Yeah. At least another 6 months to wait for official solution. I think we want something sooner. I have read the scheduler code and I think the actual change necessary is fairly simple. Currently default [scheduler set PodSpec.Nodename](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/scheduler.go#L178) once scheduling decision is made. Custom scheduler also need to apply

[2017-03-09 01:37] xingzhou commented on #4
@sandaymin123, I think for PV controller, it is not aware whether or not a specific external storage provisioner is there, so in terms of event, it should be reported by external provisioner not the PV controller, is that right?

[2017-03-09 03:13] npramod commented on #4
@xingzhou @sandaymin123 In external provisioner - this is the extent of message change that is possible. If we want to modify the first message/event -- it will need to be done in PV_Controller in main k8s repo in addition to this change. @wongma7 thoughts?

[2017-03-09 08:44] thenamli commented on #15
So if we implement this, we can use hostpaths across cluster as a PV but without scheduling pod guarantees, isolation etc. of "local persistent volumes" at kubernetes/community#306 ?

My only priority on coming local PV is
* defining PVC with my yamls as "local" without knowing how underlying PV achieve that (works in bare metal cluster, minikube...)
* support for match labels of PVC to try to bin

[2017-03-09 08:48] TamalSaha commented on #15
@thenamli , I have started here from v1.5.4 tag: https://github.com/appscode/kubernetes/commits/hostpath

So far I have figured out how to build and push the binary. My docker image : https://hub.docker.com/r/appscode/hostpath-scheduler/tags/

[2017-03-09 08:50] TamalSaha commented on #15
/cc: @sadlil, @aerokite

[2017-03-09 14:14] eparis commented on #15
reuse of a PVC/PV after a SS is scaled down and up is expected behavior as I recall.

[2017-03-09 16:57] wongma7 commented on #4
IMO the best option is to add the 'provisioning started' event and make the PV controller recognize that event: once the PV controller sees it, it should stop posting more 'ExternalProvisioning' events.

Making it only post according to if a certain external provisioner is/isn't running is IMO not worth the work. Unless somebody can come up with a nice solution, atm I'm thinking it will be quite h

[2017-03-09 18:27] TamalSaha commented on #15
@thenamli, I have got a bare bones implementation in place. Code compiles. I need to do actual testing. If you want to do a code review that will be handy.

[2017-03-10 08:35] sdurrheimer opened #26 "[nfs-provisioner] Enable XFS quota with statefulset"
Hi there,

How can I enable XFS quota when deploying the nfs-provisioner via the statefulset deployment ?

I'm currently facing the following error:

[code]

Here is the statefulset.yml I'm using:

[code]

[2017-03-10 16:17] wongma7 commented on #26
What is /mnt/vol01 exactly, can you provide the output of 'mount | grep /mnt/vol01?' Basically the error is saying that when you mounted /mnt/vol01, you needed to include the option 'prjquota' like so: 'mount -o prjquota /dev/xxx /mnt/vol01'

Also note that if you get past this, the container needs to be 'privileged' otherwise it won't be allowed to change quotas.

[2017-03-10 16:34] sdurrheimer commented on #26
@wongma7 Oh yes, we totally missed the `prjquota` option when mounting /mnt/vol01.

May I asked another question ? Is there any special requirements in the container which will have the nfs mount ? Like the nfs-common package for debian:8 in order to have access to `/sbin/mount.nfs`.

Because we are currently facing the following error when trying to use persistentVolumeClaim with the nfs-provider

[2017-03-10 16:37] wongma7 commented on #26
Yes, that's right, you need the mount.nfs binary on the node via nfs-common or similar. (Someday you won't, someday kubernetes will do containerized mounts for everyone, but that won't be for a while.)

[2017-03-10 17:17] sdurrheimer commented on #26
@wongma7 Thank you for the quick response.

[2017-03-15 09:43] xingzhou commented on #4
Submitted the new event code for discussion

[2017-03-15 14:23] akgunjal opened #28 "PVC deletion is not deleting associated PV"
I am using NFS provisioner for dynamic provisioning. When I delete PVC, the PV status changes to "Failed" and hence the PV deletion does not happen. I see logs as below from controller.

**volume "pvc-d4e8daaf-0592-11e7-9057-4223abc40265" no longer needs deletion, skipping**

 Adding some more info from my debugging of the incubator code at https://github.com/kubernetes-incubator/external-storage/

[2017-03-15 14:30] wongma7 commented on #28
Are there any events on the PV that say why it is failed? Can check with "kubectl describe pv"

In 1.4 kubernetes was mistakenly setting pvs to failed and we have a special case for it, maybe there is a regression in 1.5.3

[2017-03-15 14:34] akgunjal commented on #28
Pasting describe output

kubectl describe pv pvc-9477aa66-0966-11e7-9bdf-ceb69dea9b3d
Name:		pvc-9477aa66-0966-11e7-9bdf-ceb69dea9b3d
Labels:		CapacityGb=20
		Iops=2
		Username=IBM02SEV1186049_8
		path=IBM02SEV1186049_8data01
		server=fsf-dal1001b-fz.adn.networklayer.com
		volumeId=21273453
StorageClass:	ibmc-file-bronze
Status:		Failed
Claim:		default/claim1-bronze
Reclaim Policy:	Delete
Access M

[2017-03-15 14:35] akgunjal commented on #28
I just below logs in my pod where this provisioner is running.

I0315 10:25:10.635103       1 controller.go:841] scheduleOperation[delete-pvc-85e0f872-0969-11e7-9364-9266a6eaa48f[9dfe7cd8-0969-11e7-9364-9266a6eaa48f]]
I0315 10:25:10.700651       1 controller.go:800] volume "pvc-85e0f872-0969-11e7-9364-9266a6eaa48f" no longer needs deletion, skipping

[2017-03-15 14:41] akgunjal commented on #28
Subscribing @npramod

[2017-03-15 15:01] wongma7 commented on #15
So apparently there may be a way to co-opt the zone predicate of the scheduler to get hostPath PVs working...**disclaimer** this is extremely hacky, the zones annotation are still in beta to begin with, there's no guarantee that if this works now it will continue to work later, and you try this at your own risk.
1) label each node with its own "failure-domain.beta.kubernetes.io/zone"
2) label each

[2017-03-15 15:03] TamalSaha commented on #15
Thanks @wongma7 . I think writing scheduler might be the best option. Unfortunately, the new official solution for local storage will not solve my problem :( https://github.com/kubernetes/community/pull/306#issuecomment-286571242

[2017-03-15 15:15] wongma7 commented on #28
@akgunjal thanks. What is the name of the storage class provisioner? i.e. its `provisioner` field. I think the issue is that it's prefixed with "kubernetes.io" and that causes kubernetes to incorrectly look for an in-tree provisioner.

Technically we're not "allowed" to use kubernetes.io annotations, plugin names, provisioner names, etc. I'll document this visibly somewhere.

[2017-03-15 15:18] akgunjal commented on #28
@wongma7 : Yes. our provisioner name is "provisioner: kubernetes.io/ibmc-file"

So is that the cause of our issue? But as I said it works occassionally and fails sometimes so the behavior is not consistent

[2017-03-15 15:22] wongma7 commented on #28
yep, it seems like a race between how quickly the provisioner deletes the PV while it's still 'Released' v.s. kubernetes finishes searching for an in-tree plugin and sets the PV to 'Failed'

I say in a couple of places to name your provisioner "like" kubernetes.io/aws-ebs and that's misleading, I'll go around the docs and fix this now.

[2017-03-15 15:34] akgunjal commented on #28
Thanks @wongma7
I will fix the provisioner name to not use "kubernetes.io" as prefix.

[2017-03-16 20:25] wongma7 commented on #28
my edits are done, tx

[2017-03-16 20:25] #28 closed

[2017-03-16 20:25] wongma7 commented on #26
no problemo, closing 💯

[2017-03-16 20:25] #26 closed

[2017-03-16 22:17] sputnick opened #36 "NFS provisioner cannot handle "alpha" annotation for "default" storage class"
This affects all Kubernetes Helm Charts that default to using the storage class:

The logged error is:

Changing the storage class key name to the "beta" version fixes things!?

It would be great if the alpha version worked so that many many charts need not be changed and so backward compatibility is not lost. I'm using K8s 1.5.2 on a cluster built with kubeadm.

Relates to this ticket I created
h

[2017-03-16 22:48] wongma7 commented on #36
Background: The alpha annotation is a bit weird and predates this whole project. Basically if your PVC has the alpha annotation at all (set to anything, even blank) and if your cluster is on one of four(?) supported platforms (GCE, AWS, ?) kubernetes does some magic, using hardcoded parameters, and creates a PV for you. If your cluster isn't on one of those platforms, nothing happens. With the alp

[2017-03-16 23:18] sputnick commented on #36
I've been discussing this on the #helm channel on slack today. People there are also not sure what the correct default approach should be but it certainly works to change the annotation to the "beta" key.

I created a class with the name "default" and also tried to setting
storageclass.beta.kubernetes.io/is-default-class : true
On another class and neither got picked by the NFS provisioner like yo

[2017-03-16 23:25] sputnick commented on #36
My expectation I guess after looking at this from many angles is that at least

storageclass.beta.kubernetes.io/is-default-class : true

Should make this work whether it's alpha or beta?

[2017-03-16 23:57] eparis commented on #36
many alpha annotations are intentionally broken when they move to beta. People should not be expecting alpha objects to keep working. The only way for us to realize that alpha means alpha is for alpha to stop working.

I know it is painful, but not supporting alpha pushing the entire ecosystem in the right direction, even though that direction really stinks.

[2017-03-16 23:59] sputnick commented on #36
I totally agree with that. Need to get to the bottom of why all these charts are still using "alpha" ONLY for the use case of "default". They use beta for custom storage class names.

[2017-03-17 05:16] akgunjal commented on #28
@wongma7 : The fix is working now as I could verify.

[2017-03-17 13:00] jsafrane commented on #36
The current recommendation is at https://kubernetes.io/docs/user-guide/persistent-volumes/#writing-portable-configuration. Use alpha in your charts and expect users to have a default storage class. Or ask users for a class and fill it into beta annotation.

[2017-03-17 13:07] jsafrane opened #37 "Troubles with new PVC.spec.storageClassName attribute"
I'm testing Kubernetes 1.6 with quay.io/kubernetes_incubator/nfs-provisioner:v1.0.3 and the provisoner does not work when I use ask for a StorageClass in my PVC using `PVC.spec.storageClassName`.

Ok, it's a new attribute, the provisioner does not know about it. On the other hand, I would expect that my PVC gets provisioned when I fill both beta annotation and `storageClassName` on the PVC. Instea

[2017-03-17 15:31] wongma7 commented on #37
Thanks for detailed investigation 👍

client-go update issue: https://github.com/kubernetes/client-go/issues/147

In short it looks to me that it's blocked by the repo sprawl hell, I'll work on this as soon as they update

[2017-03-20 15:36] thenamli commented on #15
@TamalSaha I read your messages there in local PV. Unfortunately, every usage scenario outside of gce and aws seems hacky at best.

First I thought I can contribute k8s to get better k8s support on bare metal. Neither contributing to mainstream k8s nor having own scheduler doesn't give clear and complete solution in the near future. At least it will take 1 year for k8s to mature on persistent stor

[2017-03-20 15:45] TamalSaha commented on #15
If you would share what you come up with that will be great!

Btw, I smiled at your metaphor out of pain. This is most definitely how we became contributor to many open source stuff.

[2017-03-22 17:38] jaxxstorm opened #40 "Possible to change the identity of the provisioner"
I am trying to write a dynamic provisioner which provisions on a shared storage pool (think Gluster/Ceph, but proprietary)

I have the provisioner working on a single node, but i'm not trying to use the leader elect library to make it HA. I want it to run on all the nodes in that provide the storage.

I can get this working easily, however there's a caveat that I can't figure out.

I'm trying to s

[2017-03-22 18:14] wongma7 commented on #40
Yes, this is the right place to ask.

When you say it still generated a uuid, I think you are referring to the controller's "identity" which is, confusingly, not supposed to be the same thing as the provisioner's one. https://github.com/kubernetes-incubator/external-storage/blob/master/lib/controller/controller.go#L152. This controller "identity" is more for debugging purposes.

The provisioner "i

[2017-03-22 18:22] wongma7 commented on #40
I also tried to document this here https://github.com/kubernetes-incubator/external-storage/tree/master/docs/demo/hostpath-provisioner#the-provisioner-interface in the hostPath demo and this is where  "identity: uuid.NewUUID()" came from. I'll change this and ask for cephfs to change it too, because it's not the best example.

[2017-03-22 18:36] jaxxstorm commented on #40
I'll give it a try, thanks for the quick response!

[2017-03-22 19:30] jaxxstorm commented on #40
@wongma7 is there any chance you can throw together some psuedo code or an example? I'm pretty new to Go :(

[2017-03-22 19:57] wongma7 commented on #40
@jaxxstorm checkout the Delete logic in nfs-provisioner: https://github.com/kubernetes-incubator/external-storage/blob/master/nfs/pkg/volume/delete.go#L32, the first two blocks

The NFS provisioner stores its identity as a file locally on the host it's running on. So it's pretty analagous to using the host's hostname as the identity.

[2017-03-23 18:08] #37 closed

[2017-03-23 21:38] wongma7 commented on #40
I updated the demo to get hostname from downward API (hostname of the node the pod is running on, not the pod itself) https://github.com/kubernetes-incubator/external-storage/blob/master/docs/demo/hostpath-provisioner/hostpath-provisioner.go#L57 , take a look for another example

also wrote a lengthy blurb about this identity stuff https://github.com/kubernetes-incubator/external-storage/tree/mast

[2017-03-24 09:19] jaxxstorm commented on #40
this got me over the line, and works really well.

thanks for the great responses!

[2017-03-24 09:19] #40 closed

[2017-03-27 17:28] rutsky opened #42 "NFS: is volume.beta.kubernetes.io/mount-options annotation supported?"
Kubernetes v1.6 introduces [mount-options](https://github.com/kubernetes/kubernetes.github.io/blob/release-1.6/docs/user-guide/persistent-volumes/index.md#mount-options) annotation, does NFS dynamic provisioner supports them?

[2017-03-27 21:23] wongma7 commented on #42
Not yet. It could be a storage class parameter. Just a simple comma separated string.

(There is no example to follow upstream atm for how to do this so the caveat is that if we implement this now as a class parameter we may have to change it and break it later.)

[2017-03-28 18:51] careermonk opened #43 "Errors while provisioning with NFS leader"
We are using NFS provisioner for dynamic provisioning. While provisioning a claim, are we allowed to make changes to cluster? Can we add a worker/delete a node from cluster? If we do that, the leader is failing with below error.

We are seeing the following errors in storage pod:

[code]
Mar 28 15:58:47.913: INFO: Waiting up to 15m0s for PersistentVolumeClaim pvc-gq10r to have phase Bound
Mar 28 1

[2017-03-28 19:05] wongma7 commented on #43
Do the leaderelection errors eventually stop? They should stop after ~15 seconds and you can safely ignore them.

You are allowed to delete a claim before the NFS provisioner has created a PV for it, nothing too bad should happen. The worst-case scenario is: the PV gets created right after you delete the PVC and then you are left with a dangling PV which cannot be claimed by any PVC except the one

[2017-03-28 19:07] careermonk commented on #43
Yes it does. We have kept retry logic in our code. Once leader starts giving FAILED state it not giving correct state even though the PVC state is BOUND, it is giving the reply as FAILED.

[2017-03-28 19:14] careermonk commented on #43
So leader is not getting correct state once it gives FAILED state. In the logs, I see it got successfully provisioned.

But the status is showing wrongly.

[code]

[2017-03-28 19:15] careermonk commented on #43
Can we add a worker/delete a worker from cluster? Does the code can handle that?

[2017-03-28 19:27] wongma7 commented on #43
Sorry I don't totally understand, what do you mean by worker? & what is giving FAILED state?

Let me sum up what the leaderelection.go code does since it is undocumented and its name is misleading... The leaderelection code is for when you run multiple controller-provisioners and you want only one of them to call `Provision` on a PVC. All the provisioners will race-to-lock/"become the leader" of t

[2017-03-28 19:30] careermonk commented on #43
@wongma7 We are running the provisioner in a a cluster. Let us say PVC provision is in progress with one of the worker node in that cluster. If we delete that worker while the PVC provision is in progress, we are seeing the failures. Is that a valid scenario?

[2017-03-28 20:04] wongma7 commented on #43
Yes if I understand you correctly it is valid. If you delete the worker-PVC "pvc-gq10r" while provisioning is in progress:
* The leader provisioner will fail to renew the lease on the PVC (report "error initially creating leader election record: create not allowed, PVC should already exist!" once) BUT it may still create the (dangling) PV because provsioning is already in progress and cannot be st

[2017-03-28 21:36] midoblgsm commented on #43
@wongma7 what happens if the node that contains the leader provisioner is deleted before the PVC is bound?

[2017-03-28 21:45] wongma7 commented on #43
* If the provisioner is killed after it has created the storage asset but
before it has created the PV then you are left with a dangling storage
asset. I assume that's what's meant by

{"level":"info","ts":"2017-03-28T16:03:55Z","msg":"file_storage.go:135:
Successfully created
Storage","StorageId":21918905,"Size":40,"IOPS":2,"Location":"DC01"}

I don't really see a way of the provisioner recognizi

[2017-03-28 21:50] wongma7 commented on #43
Hm, I think I am also wrongly equating "killing the pod" to "deleting the node."

If the provisioner loses contact with kubernetes (because the node has been deleted) BUT it is still running in the middle of Provision, it will try and fail repeatedly to create the Kubernetes PV. After a certain number of failures because it cannot contact kubernetes, it *will* Delete the storage asset.

Does this

[2017-03-28 23:38] midoblgsm commented on #43
My concern is: when the provisioner picks up the PVC,  the PVC state will be pending and the provisioner gets the lock on that PVC (correct me if I am wrong). Then, when the provisioner node dies (let's say that the node will not recover and it will be lost), do we have any mechanism to force release the lock on that PVC so any other running provisioner can pick it up (after a given time) ? or we

[2017-03-29 00:54] wongma7 commented on #43
Yes, it's the last parameter to the controller, "termlimit" I believe which is the max timeout a provisioner has to succeed/fail before it is forced to give up the lock . So If a provisioner gets lost, other provisioners in the cluster will be able to see how long it has been since the lost provisioner updated the lock, and if the lost provisioner doesn't update in time/when the timeout is reached

[2017-03-29 06:18] careermonk commented on #43
I see the provisioning was successful but the status of it was showing failed with this scenario.

[2017-03-29 09:57] kaiwu opened #45 "nfs-provisioner : kubernetes 1.6 asks for `storageClassName` instead of annotations"
as per the [doc](https://kubernetes.io/docs/user-guide/persistent-volumes/#persistentvolumeclaims), storageClass by annotations will no longer be supported in future releases

[2017-03-29 14:22] wongma7 commented on #45
thanks, I release `v1.0.5` tag today. `latest` tag should already work.

[2017-03-29 14:36] wongma7 commented on #45
Done, please use `v1.0.5` tag and reopen if it still fails

[2017-03-29 14:36] #45 closed

[2017-03-29 15:03] wongma7 commented on #43
where did these messages "Mar 28 15:59:37.925: INFO: Get persistent volume claim pvc-gq10r in failed, ignoring for 10s: persistentvolumeclaims "pvc-gq10r" not found" come from? What status shows failed: do you mean events on the PV, events on the PVC, or somewhere else? By events I mean the list of things that show when you do "kubectl describe"

[2017-03-30 01:56] kaiwu commented on #45
i confirm v1.0.5 image caters both `storageClassName` and annotation `volume.beta.kubernetes.io/storage-class`, thanks.

[2017-03-30 05:55] careermonk commented on #43
Data us coming from e2e tests.

[2017-03-30 08:07] careermonk opened #49 "Packages not available."
The referenced all packages were not available.

- package: k8s.io/client-go
  version: 7615377
  subpackages:
  - kubernetes
  - kubernetes/typed/core/v1
  - pkg/api
  - pkg/api/v1
  - pkg/apis/storage/v1
  - pkg/apis/storage/v1beta1
  - rest
  - tools/cache
  - tools/clientcmd
  - tools/record

For example, following were not found the commit: 7615377

  - pkg/api/resource
  - pkg/api/testapi

[2017-03-30 08:49] wongma7 commented on #49
I think these packages are from nfs/test/e2e and you are trying to build that right? Nfs/test/e2e has its own glide.yaml and glide.lock at the moment, run "glide install -v" inside nfs/test/e2e and you should get the needed packages

[2017-03-30 08:53] wongma7 commented on #43
Okay. Can you please walk me through the exact steps you did to find this failure so I can reproduce it?

I enumerated all the cases where a node gets deleted, none can result in a pvc getting deleted like your logs show

[2017-03-30 08:55] narkarum commented on #49
No.

In the master branch of external-storage, glide has:

package: k8s.io/client-go
version: 7615377
subpackages:
kubernetes
kubernetes/typed/core/v1
pkg/api
pkg/api/v1
pkg/apis/storage/v1
pkg/apis/storage/v1beta1
rest
tools/cache
tools/clientcmd
tools/record

But all these packages were not available in 7615377 commit of k8s.io/client-go

[2017-03-30 09:00] wongma7 commented on #49
Hmm that's not what I see. https://github.com/kubernetes/client-go/tree/76153773eaa3a268131d3d993290a194a1370585/kubernetes

if they didn't exist at that commit, I wouldn't be able to build anything

[2017-03-30 09:06] wongma7 commented on #49
fyi I have been getting a lot of errors from glide tonight like
[code]
so maybe that's it? the CI is getting the same errors

[2017-03-30 09:07] narkarum commented on #49
Yeah correct. I see same errors.

[2017-03-30 09:11] wongma7 commented on #49
It may take multiple tries but one should eventually work. Since me, you, and CI are all getting the same errors today, I guess we have to blame google's servers and wait until they fix it

[2017-03-31 19:00] wongma7 commented on #15
folks, https://docs.google.com/document/d/1so67pZPtBwv3uBg9d3pk4VLzfn9qtuZrbauv1DnNDSk/edit?ts=58dd9c72#heading=h.syg5p31g5672 may interest you as well.

It won't have dynamic provisioning in the first phase (1.7), but if you want to steer it in the right direction I encourage you to comment!

Seems there is a lot of movement around local storage :)

[2017-03-31 19:01] TamalSaha commented on #15
I don't have read access on this file.

[2017-03-31 19:02] wongma7 commented on #15
@TamalSaha join/subscribe to the sig-storage mailing list, the original post is here https://groups.google.com/forum/#!topic/kubernetes-sig-storage/mYZ7hTmOO7U

[2017-04-04 10:56] ppatierno opened #55 "Golang equals or higher than 1.7 needed"
It could be worth mentioning in the documentation that Golang 1.7 or higher is needed.
On my Fedora 24, installing from the default repo the 1.6.4 version I got the following error trying to make the hostpath-provisioner :

CGO_ENABLED=0 go build -a -ldflags '-extldflags "-static"' -o hostpath-provisioner .
vendor/k8s.io/client-go/rest/request.go:21:2: cannot find package "context" in any of:
	/ho

[2017-04-04 20:47] #55 closed

[2017-04-05 07:28] jhou1 opened #57 "CephFS: PV/PVC are granted all access modes."
While I was deploying cephfs provisioner following https://github.com/kubernetes-incubator/external-storage/tree/master/ceph/cephfs. I found that my created PVC and provisioned PV were granted all access modes rather than my requested ReadWriteMany.

## Version
Client Version: version.Info{Major:"1", Minor:"7+", GitVersion:"v1.7.0-alpha.0.1902+7543bac56342fd", GitCommit:"7543bac56342fddaaadcfe555a

[2017-04-05 14:34] wongma7 commented on #57
@rootfs ptal

[2017-04-05 14:40] rootfs commented on #57
Yes, it was set [here](https://github.com/kubernetes-incubator/external-storage/blob/master/ceph/cephfs/cephfs-provisioner.go#L141) to match cephfs plugin's access modes.

I looked at those in-tree provisioners, there are no consensus whether setting the access mode from PVC or from the plugin.

[2017-04-05 14:51] wongma7 opened #58 "CephFS,Gluster Block: statefulness"
@rootfs @humblec we have to implement a way for CephFS & Gluster Block provisioners to maintain state (across restarts) https://github.com/kubernetes-incubator/external-storage/blob/master/ceph/cephfs/cephfs-provisioner.go#L61 <- this old method won't survive restarts since it's generated at runtime. First you have to decide if your provisioner needs to maintain state at all? Like, whose PVs shoul

[2017-04-05 14:59] rootfs commented on #58
Yes that makes senses. I see you use an identify file, it is a good solution. I'll use a command line option to pass the identity.

[2017-04-05 18:48] rootfs commented on #57
@jhou1 see #59

[2017-04-05 20:16] #57 closed

[2017-04-06 05:51] jhou1 commented on #57
@rootfs thank you. This is fixed now.

[2017-04-06 06:00] jhou1 opened #61 "CephFS: Need to update readme"
According to https://github.com/kubernetes-incubator/external-storage/blob/master/ceph/cephfs/README.md, the command to start CephFS provisioner is  `docker run -ti -v /root/.kube:/kube --privileged --net=host  cephfs-provisioner /usr/local/bin/cephfs-provisioner -master=http://127.0.0.1:8080 -kubeconfig=/kube/config -id=cephfs-provisioner-1`.

When the docker run command is executed, the followin

[2017-04-06 06:06] jhou1 opened #62 "CephFS: PV aren't auto deleted."
The PV provisioned by CephFS provisioner can not be automatically deleted when the PVC is deleted.

[code]

[2017-04-06 06:50] akgunjal opened #63 "Use the "failedRetryThreshold" parameter in delete PVC flow"
In the external-storage incubator code I see the `failedRetryThreshold` is used only for provision flow.
Currently I see if delete PVC fails then it keeps retrying forever. If we have `failedRetryThreshold` apply for delete as well then we can control the retries.

[2017-04-06 06:52] xingzhou commented on #63
@akgunjal, let me take investigation on the fix, thx

[2017-04-06 15:29] humblec commented on #58
@wongma7 Indeed make sense. Thanks for the pointer 👍 . I will get it done for gluster block provisioner.

[2017-04-06 15:51] wongma7 commented on #61
@rootfs , looks like this happens when kubeconfig references a cert by path, should be documented

[2017-04-06 15:52] wongma7 commented on #62
Hmmm this is a weird one, why is the PV still in bound state? That's kubernetes'/openshift's PV controller's job, when the PVC is deleted it should go from Bound->Released. WDYT @rootfs?

[2017-04-06 16:04] wongma7 commented on #61
@humblec i think gluster needs the same small doc update. something like: If the kubeconfig references a cert by path, the container must be able to access it, like via a Docker volume "-v /var/run/kubernetes:/var/run/kubernetes"

[2017-04-06 17:08] rootfs commented on #62
my bad, doc is out of sync with the [original](https://github.com/rootfs/cephfs-provisioner)

[2017-04-06 17:09] rootfs commented on #61
my bad, doc is out of sync with the [original](https://github.com/rootfs/cephfs-provisioner)

[2017-04-06 22:21] #58 closed

[2017-04-07 14:37] rootfs commented on #62
didn't see it here

[code]

[2017-04-07 14:38] rootfs commented on #62
@jhou1 did you create and delete using the same provisioner? with recent provisioner identity change, delete may not happen if the pv was created by provisioners with other id

[2017-04-09 12:09] sdurrheimer opened #67 "[nfs-provisionner] Too many open files"
Hi there,

We recently encounter a "Too many open files" wit the NFS-provisionner. It seems like the ganesha nfs-server is using some sort of file descriptor cache which can be a real issue when you have some nfs volumes with a loot of files.

There is currently no easy/direct way to specify the `ulimit` for the nfs provisionner and/or control the ganesha FD cache.

[code]

Is this a known issue ?

[2017-04-10 00:31] gyliu513 opened #68 "[Question] Can CSI help this project"
Just a question here, as the CNCF is working on CSI https://docs.google.com/document/d/1JMNVNP-ZHz8cGlnqckOnpJmHF-DNY7IYP-Di7iuVhQI/edit , want to know if the CSI can help this project? Or we already considered this in roadmap?

[2017-04-10 05:19] oprietop opened #69 "[nfs-provisionner] Unable to share single files"
Those are the volumeMouns of a Replication Controller mounted to the nfs-provisioner:
[code]
The 3 first ones will never mount and fail (they are use to mount single files), only the fourt one  will work because is mounting a entire directory.

While i can recreate the pods to work with only directories is really handy to mount single files.

[2017-04-10 05:44] jhou1 commented on #62
@rootfs sorry I didn't quite get it, how can I know that I was using a different provisioner? I had just kept the provisioner container running as soon as my kuberentes cluster was up.

[2017-04-10 09:48] #61 closed

[2017-04-10 10:28] wongma7 commented on #67
Well we should be prefacing our start of Ganesha with a 'ulimit', but that requires the container to be privileged for it to have any effect. I will investigate implementing this

Alternatively, running with the docker ulimit argument may bypass the issue.

[2017-04-10 10:39] wongma7 commented on #69
I agree would be handy, but I believe for this to work it would have to be done on kubernetes's end. It would have to look at mountPath and do some magic if it's a file not a die. So please file an issue upstream, https://github.com/kubernetes/kubernetes/issues/19764 Is the closest one I could find

[2017-04-10 11:11] wongma7 commented on #68
Kubernetes wants out-of-tree volume plugins and most likely csi will dictate what they end up looking like.

Volume plugins are provision+mount+attach, and the current state for out-of-tree plugins is: this project's external provisioning stuff handles provision and flex volumes 1.6 handles mount+attach. The current kubernetes-side interface for provisioning/create is not really an interface desig

[2017-04-10 11:13] oprietop commented on #69
Thanks wongma7, i'll dig into that one.

[2017-04-10 12:04] gyliu513 commented on #68
Good to know, thanks @wongma7

[2017-04-10 12:04] #68 closed

[2017-04-11 18:56] wongma7 commented on #67
What value do you get for output of `ulimit -n` when run inside the container? I get the max 1024*1024 which is what ganesha wants to set itself.(`sudo prlimit --pid <ganesha.nfsd PID>` on the host machine also says 1024*1024)

[2017-04-12 06:11] sdurrheimer commented on #67
`ulimit -n` in the nfs-provisioner container gives me `65536`.

[2017-04-12 18:07] wongma7 commented on #62
was etcd issue; will be fixed by https://github.com/kubernetes/kubernetes/pull/44396!

[2017-04-12 18:07] #62 closed

[2017-04-12 18:08] wongma7 commented on #49
transient error, now resolved.

[2017-04-12 18:08] #49 closed

[2017-04-12 22:32] wongma7 commented on #67
I am working on a fix here https://github.com/kubernetes-incubator/external-storage/pull/72, I'm pushing it to `latest` tag if you want to try it.

It *appears* to work, I still need to test it. And the extra syscall may result in additional requirements for CAP_ADD and/or seccomp, need to test that too.

[2017-04-13 20:50] #67 closed

[2017-04-13 20:51] wongma7 commented on #67
The only thing that needs to be done is: add the capability - SYS_RESOURCE to either `docker run` or securityContext.capabilities.add . I will update the docs when I release the next version including this fix, it is going to just be in the `latest` tag for now

[2017-04-14 09:05] sdurrheimer commented on #67
Thank you, I will try to test this.

[2017-04-18 09:07] andersla opened #76 "Make aws-secrets optional?"
Thanks for providing the efs external provisioner!
I wonder if providing aws-secrets could be optional (since they only are needed for checking - and if you are confident that your setup is ok then they are not really needed?)

[2017-04-18 14:40] wongma7 commented on #76
Yes - I envisioned a bigger use for them but there's not much point in keeping them a requirement at the moment .

[2017-04-18 14:42] #63 closed

[2017-04-18 18:58] wongma7 opened #77 "NewProvisionController needs refactoring"
The parameters could be documented better, and we are adding new ones relatively often. @xingzhou I have started a little work on implementing this functional options pattern, wdyt? https://dave.cheney.net/2014/10/17/functional-options-for-friendly-apis . We are not dealing with a complex API here, just one function, but anything to make it more pleasant to use is good :).

[2017-04-19 15:58] #76 closed

[2017-04-19 18:24] andersla commented on #76
Super! Many thanks!

[2017-04-20 02:41] xingzhou commented on #77
Thanks @wongma7 for creating the ticket. Something in my mind, for discussion:
1. Shall we keep the old ```NewProvisionController``` API for a while? As a external used project, I believe there should be quite some users started to use this controller in their own provisioner, if we can keep the old ```NewProvisionerController``` method, this may provide some time for the users to change their cod

[2017-04-20 15:22] wongma7 commented on #77
1. I am leaning toward doing this: release 2.1.0 soon with the deletion retry threshold changes and mark NewProvisionController deprecated. But then I don't think we need to wait long, we could bite the bullet and release 3.0.0 shortly afterward where the only change is the new, less ugly, NewProvisionController. Better to break it sooner than later IMO, then hopefully we can stay on 3.x.x for a l

[2017-04-21 02:59] xingzhou opened #81 "Support basic metrics for external-storage controller"
The idea is to add metrics exposed by external-storage controller. Some basic plan is to add a '/metrics' endpoint for the controller and expose metrics like provision time/provisioner error.

I'm working on  the detail plan and will supplement the metrics plan later with patches.

cc @wongma7, @akgunjal and @sandaymin123

[2017-04-25 03:31] paralin opened #82 "CephFS: provisioner hangs"
The python script in the CephFS provisioner hangs against my system. I have verified that the environment variables are:

[code]

I checked, and it's freezing on this line: https://github.com/ceph/ceph/blob/master/src/pybind/ceph_volume_client.py#L471

Using the `ceph` cli inside the provisioner container:

[code]

Any ideas? cc @rootfs

[2017-04-25 16:51] wongma7 commented on #77
btw, I think I'll wait for client-go 3.0.0 before releasing our own 3.0.0. Client-go broke their API again, giving me another excuse to break ours in the next month or so.

[2017-04-25 22:16] paralin commented on #82
I'm past this issue now, but I don't know why. Might still be worth looking into.

[2017-04-25 23:13] wongma7 commented on #82
Yep, @rootfs is on vacation right now so let's leave this open for him to look into

[2017-04-26 09:58] KinOSurvival opened #85 "possible to connect to multiple kubernetes cluster with one nfs server binary deployment?"
Hi I'm wondering that whether I can run multiple nfs-provisioner binary process, to connection to multiple k8s clusters? I try that, pvc and pv are created separately for different cluster, but somehow pv seems not working. Or are there other ways to do that?

[2017-04-26 09:59] KinOSurvival commented on #85
I'm using outside of kubernetes binary deployment

[2017-04-26 14:11] rootfs commented on #82
/cc @jcsp

[2017-04-26 15:25] wongma7 commented on #85
No, it won't work because every instance assumes it has exclusive ability to assign fsids which have to be unique. What failures with the PV do you see? Can you inspect the /etc/exports and see if there are duplicate fsids or other problems?

I don't know/remember what the consequences of reusing fsid for different exports are.

One possible solution would be to allow you to specify a range of ids

[2017-04-26 15:51] jackielii commented on #5
hi I created a simple and naive version based on @wongma7's efs:
https://github.com/jackielii/client-nfs-provisioner

I'm happy to contribute it to this repo.

Regards

[2017-04-26 16:19] #77 closed

[2017-04-26 17:07] wongma7 commented on #5
Sounds good to me. I added docs on adding to this repo just a few days ago: https://github.com/kubernetes-incubator/external-storage/tree/master/docs#contributing.

When you are checking it in, you will have to update the NewProvisionController signature so that it can build with lib master since I just updated it today in preparation for lib 3.0.0.

[2017-04-26 18:00] #42 closed

[2017-04-26 21:35] #5 closed

[2017-04-27 00:10] KinOSurvival commented on #85
pv created but somehow I got IOException for my java process. I'll check /etc/exports later.

BTW  would it work, if I build nfs-provisioner with different export folder? say cluster1 point to /export1  and cluster2 point to /export2?

[2017-04-27 02:17] KinOSurvival commented on #85
and how can I specify a range of ids?seems there is no option for the binary privisioner to do that. Thanks a lot

[2017-04-27 09:14] jackielii opened #90 "quay.io/external_storage/nfs-client-provisioner:v1 does not exist"
Can we push the quay.io/external_storage/nfs-client-provisioner:v1 image up?

Regards,

[2017-04-27 16:38] wongma7 commented on #90
done, sorry for the delay :)  https://quay.io/repository/external_storage/nfs-client-provisioner?tab=tags

[2017-04-27 16:38] #90 closed

[2017-04-27 19:46] rutsky opened #91 "[nfs-provisioner] ganesha.nfsd status is not monitored"
`nfs-provisioner` not watching for `ganesha.nfsd` status, and if `ganesha.nfsd` fails it becomes never reaped zombie.

The issue is not about bug due to which `ganesha.nfsd` failed, but here is some details of failure that I observed.

Zombie `ganesha.nfsd` process in `nfs-provisioner` container:

[code]

Ganesha logs:

[code]

Segfault of `ganesha.nfsd`:

[code]

Container logs after failure with

[2017-04-27 19:53] wongma7 commented on #91
Thanks a lot for the detailed logs. Yes, there should be a health check & keep-alive of some sort to make sure ganesha.nfsd gets restarted & stays up, regardless of how it fails. Not quite sure how to go about it, open to suggestions (I don't think I can run it as a systemd service int he container... : ))

(The ganesha.nfsd failures themselves I'd be interested in investigating too after the abov

[2017-04-27 19:55] wongma7 commented on #85
I'm not sure how IOException could occur.

No, using different export folders shouldn't solve it. Even if they're all touching the same /export they should be writing to unique child directories, I think UUID generation guarantees that. You can certainly try it though...

Sorry, I meant setting ranges as a potential *future* solution for me to implement. Just in general I have never considered thi

[2017-04-27 21:55] KinOSurvival commented on #85
I'll see whether I can assign different fsid by building different binary, each hard coding with a specific range.

Thanks for all the helpful info

[2017-04-27 21:55] #85 closed

[2017-04-28 01:39] paralin commented on #82
Aand it's happening again unfortunately, no provisions or deletions are processing successfully, they just hang and then timeout.

[2017-05-01 17:14] paralin commented on #82
Broken again here. :(

[2017-05-01 17:18] paralin commented on #82
So, a little more info. Inside the container, `ceph status` works just fine. All the Go code is fine. It's just the Python script, when it tries to connect() it hangs forever.

[code]

[code]

Checking the environment of the running python provisioner:

[code]

The auth key matches the client.admin in `ceph auth list`. I have no idea what else to try here.

[2017-05-01 17:35] rootfs commented on #82
could it be a firewall issue (connection() stuck forever)?

[2017-05-01 17:41] paralin commented on #82
@rootfs don't think so, since the ceph CLI has no issue at all.

[2017-05-01 17:41] rootfs commented on #82
I see, you ran cli inside container.

[2017-05-01 17:47] paralin commented on #82
@rootfs yeah, and the ceph.conf and keyring that's generated in /etc/ceph all looks correct.

Does the ceph filesystem need to be named ceph instead of cephfs?

[2017-05-01 17:51] rootfs commented on #82
Not sure I got "Does the ceph filesystem need to be named ceph instead of cephfs?", the cluster name defaults to "ceph" if not given, but I don't think that matters.

What is the version of your ceph cluster?

[2017-05-01 17:52] paralin commented on #82
@rootfs

[code]

I'm happy to give you access to the OpenShift UI to poke around for yourself, in case I've done anything glaringly wrong.

[2017-05-01 17:55] rootfs commented on #82
I haven't tried 11.2 yet.

The dockerfile [here](https://github.com/kubernetes-incubator/external-storage/blob/master/ceph/cephfs/Dockerfile#L16) installs 10.2 from ceph.com. It is possible the python library is not forward compatible.

[2017-05-01 17:56] paralin commented on #82
@rootfs The version I'm running (image `paralin/cephfs-provisioner`) has this dockerfile:

[code]

[2017-05-01 18:10] rootfs commented on #82
@paralin are you able to run cephfs_provisioner.py manually to create a share inside the container?

[2017-05-01 18:11] paralin commented on #82
@rootfs no, it just hangs:

[code]

[2017-05-01 18:16] rootfs commented on #82
I just tested against karen and got no problem.

However, when I used host name, the script hang too.

what IP address is `ceph-mon.ceph.svc.cluster.local` resolved to?

[2017-05-01 18:17] rootfs commented on #82
One more thing, the host name i was using was resolved to a different IP than ceph mon.

[2017-05-01 18:18] rootfs commented on #82
[code]

[2017-05-01 18:24] paralin commented on #82
@rootfs ceph-mon resolves to the monitors in Kubernetes which are the four IPs you see in my Ceph Status output. I tried running it in host network mode and using 127.0.0.1 as the mon IP since it's running locally... Also hangs. Just tried using CEPH_MON="128.10.123.10:6789" too, also hangs.

[2017-05-01 18:25] paralin commented on #82
@rootfs Is your `ceph fs ls` output similar to mine?

[2017-05-01 18:25] rootfs commented on #82
yes
[code]

[2017-05-01 18:27] rootfs commented on #82
can you paste your /etc/ceph/ceph.conf?

[2017-05-01 18:28] paralin commented on #82
The name on yours is different but it's not `ceph` so I guess that doesn't matter.

[code]

The mon is reachable from the container, using the IP and port I have set for `CEPH_MON` at least.

Here is the entire contents of /etc/ceph/ceph.conf:

[code]

[2017-05-01 18:33] rootfs commented on #82
@paralin are you at slack? chat is better

[2017-05-01 18:34] paralin commented on #82
@rootfs Yeah, k8s slack.

[2017-05-01 19:24] paralin commented on #82
Fixed, the mds was reporting an incorrect IP, when moved to the host network the provisioner is able to create volumes. Thanks @rootfs

[2017-05-01 19:24] #82 closed

[2017-05-01 19:44] paralin opened #92 "CephFS: volume deletion results in "server could not find the requested resource""
Versions:

[code]

Using three master/node hosts and one node-only host.

[code]

The provisioner is running under a service account that has privileged access to the cluster, so it's not a permissions issue.

[code]

The cephfs-provisioner is built against 5f6f444b655eae7ec9822ad3b20771552b032571 of this repo.

[2017-05-01 19:45] paralin commented on #92
cc @rootfs @wongma7

[2017-05-01 19:53] wongma7 commented on #92
Must be due to:
[code]

Is the storage class still around?

[2017-05-01 20:08] paralin commented on #92
Yeah, it's there.

[2017-05-01 20:13] wongma7 commented on #92
OK it must be because `p.client.Storage().` is for the storage v1 API but in 1.5 there's only the v1beta1 API. I will work on a fix, let's just use the beta API, that's not going away any time soon.

[2017-05-01 20:15] paralin commented on #92
Sounds good. Let me know when you've pushed a fix and I'll give it a go.

[2017-05-01 21:47] #92 closed

[2017-05-01 21:49] wongma7 commented on #92
@paralin I've pushed it, please give it a try

[2017-05-01 21:58] paralin commented on #92
Works. This deletes the share too, right?

[2017-05-01 22:00] wongma7 commented on #92
Yep, it deletes the share first then if that succeeds deletes the PV.

[2017-05-10 21:08] wongma7 commented on #91
Think this is caused by https://github.com/nfs-ganesha/nfs-ganesha/issues/166, they specify gluster but from the discussion sounds like it would affect anybody using dbus AddExport. Will take a closer look later but the monitoring fix on our end should work well enough

[2017-05-10 22:11] kfox1111 opened #99 "rbd support"
Currently, I have to build a custom version of the kube-controler-manager to add the correct version of ceph rbd tools to support dynamic rbd provisioning.

Ideally the code would be moved out to function like the external cephfs provisioner so that a prebacked kube-rbd-jewel container can be added too.

[2017-05-10 22:26] #91 closed

[2017-05-11 08:51] humblec opened #101 "defaultFailedProvisionThreshold looks to be really low."
This threshold value has been set to ` 5` at present in the controller.  There may be scenarios where user still create the required artifacts after firing the pvc.  for eg# creating a secret or recreating a storageclass..etc.  As there are no more attempts made for the `claim` after this failure,  it will be bad user experience  for a user/developer. Can I increase the this value to more attempts

[2017-05-11 08:51] humblec commented on #101
@wongma7 please share your thought. I will send a patch accordingly.

[2017-05-11 14:09] wongma7 commented on #101
sure, 5 is too low for exponentialbackoff to have any effect. 10 or something would be better

[2017-05-11 14:56] carlosedp opened #104 "Permission/Owner errors when provisioning application with nfs-client provider"
I've made a nfs-client provider with a StorageClass named default. My volume is tested with test-claim/test-pod successfully but when I tried to deploy a gitlab-ce from helm, I got permission/ownership problems. Here are the logs:

[code]
All my PVs are bound to default StorageClass:

[code]
And the PVC are bound to PV:

[code]
The directory is mounted and got some files when the container started

[2017-05-11 15:07] wongma7 commented on #104
My best guess is that your NFS server has root-squash enabled and so the "root" in gitlab-redis doesn't actually have permissions to chown anything. Can you check if root-squash is enabled?

cc @jackielii

[2017-05-11 15:44] jackielii commented on #104
Yes, you need "no_root_squash" most likely.

We had similar problems deploying postgresql. We were using a proprietary nfs, had similar setting, I think it is the same as no_root_squash.

[2017-05-11 18:06] carlosedp commented on #104
It worked. I've changed the setting to `no_root_squash` in Openfiler NFS server and now both PostgreSQL and Redis starts perfectly.
Thanks @jackielii and @wongma7

[2017-05-11 18:06] #104 closed

[2017-05-12 15:04] #101 closed

[2017-05-18 20:42] nailgun commented on #15
Until dynamic provisioning is not in upstream I continued @TamalSaha work and modified example hostPath provisioner to support multiple storage classes: https://github.com/nailgun/k8s-hostpath-provisioner
There is also custom scheduler based on @TamalSaha work but more simple because it depends on this custom provisioner

[2017-05-19 00:15] TamalSaha commented on #15
Awesome @nailgun !

[2017-05-23 07:49] jhou1 opened #124 "Could not start glusterblock-provisioner container"
Following the guide from https://github.com/kubernetes-incubator/external-storage/tree/master/gluster/block, I got the this error when starting the container:

[code]

[2017-05-23 07:50] jhou1 commented on #124
@humblec Could you please take a look? Thanks

[2017-05-23 15:13] wongma7 opened #125 "Travis takes too long"
We should make up "suites" or something to build & test each provisioner individually in parallel. AFAIK there's no not-ugly way to do this, have to use bash env variables and if statements.

Travis is free so let's take advantage of it.

[2017-05-23 15:29] humblec commented on #124
@jhou1 Thanks. I am updating the readme with some more details. Will talk to you tomorrow.

[2017-05-24 04:13] ddysher opened #131 "[local-volume] Discover local PVs with configurable settings"
Right now, discovery setting (e.g. host path for discovering PVs) is hard-coded in static provisioner, we should make it configurable for users via configmap.

[2017-05-24 04:13] ddysher opened #132 "[local-volume] Detect capacity of mount points"
In alpha release, static provisioner should post PV with capacity field; we'll start with standard linux utilities.

[2017-05-24 13:14] hakamairi commented on #36
You could mark your storage class as default for example `kubectl patch storageclass YOUR_STORAGE_CLASS_NAME -p '{"metadata": {"annotations":{"storageclass.kubernetes.io/is-default-class":"true"}}}'`

[2017-05-24 22:53] wongma7 commented on #69
Sorry to revisit this so late, but let's say I have a new understanding of how subpath works..

Does this work if you set mountPath just to the parent directory? Like this
 - name: nfs
   mountPath: /etc/nginx/
   subPath: robot/nginx/nginx.conf

I'll play around with this tomorrow

[2017-05-25 14:27] kristapsm opened #139 "Unable to mount to EFS file system"
Hello.
Currently I am trying to create persistent volumes on OpenShift Container Platform 3.4 using efs-provisioner POD.
The thing is, at very first time I was successfully able to deploy POD, create service account, clusterrole and add policies to service account. After running oc patch command, the POD spinned up immediately.

When trying to replicate all the steps on different EFS and new proje

[2017-05-25 14:36] wongma7 commented on #139
It seems the issue is not specific to mounting the EFS volume since you can mount it fine SSHing it from the node and the token 'efs-provisioner-token-ioyyf' could not mount either. Can you provide kubelet logs? You can email me if don't want to put them publicly, mawong@redhat.com

[2017-05-25 14:50] kristapsm commented on #139
How do I get kubelet logs from openshift? journalctl doesnt return nothing.

[2017-05-25 14:52] wongma7 commented on #139
It should be something like

'journalctl -u atomic-openshift-node'

[2017-05-25 15:17] kristapsm commented on #139
I have sent email to you as there is quite a lot of logs.
Thanks again for helping out! I really appreciate that!

[2017-05-25 15:26] kristapsm commented on #139
*UPDATE*

Actually waiting for some time (while preparing logs, writing issue etc.) I tried to delete deployment and run it again with all the same settings and it worked, container spun up and is accessible. Is this behavior expected?

[2017-05-25 16:01] wongma7 commented on #139
No it's not expected but at this point I'd consider it an openshift 3.4 bug. I couldn't find in the logs even an attempt by kubelet to mount either pv-volume or efs-provisioner-token-ioyyf. I would open a bug with openshift if you encounter this again, with node logs.

[2017-05-25 22:49] #125 closed

[2017-05-29 08:30] kesavkolla opened #140 "local-volume image is not accessible for public"
Current image for local-volume is hosted at `gcr.io/msau-k8s-dev/local-volume-provisioner:latest` which is not available for publically.  Can you please push the local-volume-provisioner to quay so everyone can use it.

[2017-05-29 11:10] kristapsm commented on #139
Hi wongma7,

I have managed to get logs form master-controller container ->

`I0529 11:00:17.477237       1 replica_set.go:482] Too few "kristaps2"/"efs-provisioner-2771124237" replicas, need 1, creating 1
I0529 11:00:17.478329       1 event.go:217] Event(api.ObjectReference{Kind:"Deployment", Namespace:"kristaps2",Name:"efs-provisioner", UID:"ffebfa83-445d-11e7-8c11-06e41192c1d2", APIVersion:"ext

[2017-05-29 12:57] wongma7 commented on #140
It's still in development and not fully functional yet so I think this is
intentional. The image tag will be updated when it's ready and pushed, the
plan is for around kubernetes 1.7 release time as it will only work with 1.7
On Mon, May 29, 2017 at 4:30 AM Kesav Kolla <notifications@github.com>
wrote:

[2017-05-29 14:01] wongma7 commented on #139
The errors before patching serviceaccount are expected. However, I don't know about the periodic "error syncing deployment" "object modified" errors. In my experience they can be normal too, kubernetes should retry and eventually succeed. They basically mean that in the time between it starting its attempt to update the deployment and actually submitting its update request, something else updated

[2017-05-29 14:48] kesavkolla commented on #140
In current version 1.6.4 how can I use `statefulset` feature on local cluster?

[2017-05-29 15:24] wongma7 commented on #140
Officially, there is no way. You can try the nfs provisioner https://github.com/kubernetes-incubator/external-storage/tree/master/nfs which will work locally, it can auto-create nfs pvs inside a hostPath. Or **at your own risk** read through this issue here https://github.com/kubernetes-incubator/external-storage/issues/15 and see what other folks have created as temporary solutions.

[2017-06-02 18:48] etotheipi opened #147 "EFS Provisioner - Non-root procs get permission-denied"
HEAD of this repo, external EFS provisioner
Kubernetes 1.6.4

So far, we have gotten stuck trying to run a variety of things with EFS-provisioned volumes.  It has worked for every container that runs processes as root inside the container, it has no problem accessing dynamically-provisioned mount points in the EFS volume.

However, we're running grafana and elasticsearch, both of which (responsibl

[2017-06-02 19:48] wongma7 commented on #147
I'm still parsing this and your kubernetes/charts issue but there's some immediate stuff I can clarify:

`pv.beta.kubernetes.io/gid: <gid of non-root group>` is an annotation that you put on the PV, not PVC, that ensures the share is created with group owner equal to the annotation's value. AND it ensures that the pod consuming the share (the entrypoint of the pod's container) runs as a member of

[2017-06-02 20:05] etotheipi commented on #147
Just to quickly clarify: gosu is a replacement for using sudo to run a
process as a different user.  The mechanics of it or why to use it over
sudo probably isn't relevant for our purposes here.

Thanks for looking into this so quickly!

On Jun 2, 2017 3:48 PM, "Matthew Wong" <notifications@github.com> wrote:

[2017-06-02 20:22] wongma7 commented on #147
The issue is that the EFS provisioner creates directories with permissions `---rws--x`, under the wrong assumption that its GID security will work everywhere. The owner permissions take precedence over the group permissions, so that's why grafana (and elasticsearch?) has no permission to do anything, even though it's both the user owner and group owner. Grafana chowns the directory to what it want

[2017-06-02 20:37] wongma7 commented on #147
alright I don't think there's any harm in creating directories with 771, I will do it.

[2017-06-02 20:57] etotheipi commented on #147
Great!  Practically speaking, if you didn't want a particular process to
have access to the PV/PVC, you wouldn't have mounted it to the pod in the
first place.  That logic fails if you have pods that have a bunch of
different processes inside, but those are the exception and I assume that
in such cases the pod can run a process to change the permissions for their
purpose.

Thanks!  You've just eli

[2017-06-02 21:05] wongma7 commented on #147
I've just pushed it to the latest tag; let me know if it works.

[2017-06-02 21:18] etotheipi commented on #147
To be clear, you just updated: `quay.io/external_storage/efs-provisioner:latest` ?

[2017-06-02 21:20] wongma7 commented on #147
Yes, that

[2017-06-05 17:18] wongma7 commented on #69
Scratch that last comment; in fact, I got around to trying this myself and sharing single files via subPaths works fine for me now:
[code]

Please reopen with error messages if any, ty!

[2017-06-05 17:18] #69 closed

[2017-06-05 17:19] wongma7 commented on #139
I'll close this because I think it's an openshift bug; please if you see this again open this on their end with the same logs and such, it's very strange that neither volume is mounted.

[2017-06-05 17:19] #139 closed

[2017-06-05 17:21] wongma7 commented on #36
closing; the linked https://kubernetes.io/docs/concepts/storage/persistent-volumes/#writing-portable-configuration + the info about defaultStorageClass should clear up any confusion. Hopefully soon the alpha annotation will be gone.

[2017-06-05 17:21] #36 closed

[2017-06-05 17:21] wongma7 commented on #43
closing; I've changed the e2e tests a bit since this

[2017-06-05 17:21] #43 closed

[2017-06-06 08:00] KinOSurvival opened #149 "nfs-client-provisioner create folder with 755, not 777"
I'm having an issue that all the folder are created with 755, not 777

When I go into the pod, quay.io/external_storage/nfs-client-provisioner:v1, I can see created folders under /persistentvolumes , and I can chmod 777 to those folders, so it shouldn't be permission problem.

Any ideas what's the problem? Thanks in advance.

[2017-06-06 08:23] KinOSurvival commented on #149
PS: trying setting umask to 0 in the terminal , not helping

[2017-06-06 09:01] KinOSurvival commented on #149
seems after the code
if err := os.MkdirAll(fullPath, 0777); err != nil {
		return nil, errors.New("unable to create directory to provision new pv: " + err.Error())
}

we have to invoke os.chmod(fullPath,0777), because umask is chaning the permission.

Or we can use
oldMask := syscall.Umask(0)
os.Mkdir(fullPath, 0777)
syscall.Umask(oldMask)

[2017-06-06 15:06] wongma7 commented on #149
yes. PR to fix this welcome :)

[2017-06-07 06:47] ddysher commented on #132
ref https://github.com/kubernetes-incubator/external-storage/pull/135

[2017-06-07 09:24] ddysher commented on #131
Draft idea for configurable local volume settings.

### User config struct

Change raw user config to the following.  This is a bit verbose since most of the time, user might just use one hostDir for their local volume, but I think it's no harm to make the struct more extensible; particularly when this is mostly a one-time configuration.

[code]

For example:

[code]

### DaemonSet Creation

The a

[2017-06-08 00:42] msau42 commented on #131
Can we simplify the config a little bit, by saying that all volumes for one storage class should be mounted in only one directory?

Then you would have:
[code]
and the `MountConfig` would not have a `RelativePaths` field.

[2017-06-08 01:16] ddysher commented on #131
Yes, that will simplify things a lot...

Regarding injecting yaml file, looking forward, we can go beyond just a bootstrap pod by making it an [operator](https://coreos.com/blog/introducing-operators.html) like component.

[2017-06-08 11:56] zcahana opened #151 "[ProvisionController] Deprovision upon PV deletion"
Currently, the only path that triggers deprovisioning (i.e., `Provisioner.Delete()`) is when a dynamically provisioned PV is marked as released (and has `ReclaimPolicy: Delete`).
For cases where a PV is directly deleted by a user (say, accidently by an admin), the `Provisioner.Delete()` call will never be invoked for that PV, which may lead to dangling storage assets at the physical storage provid

[2017-06-08 14:37] wongma7 commented on #151
This is definitely an issue, but I think our hands are somewhat tied. We can't deviate much from how upstream does things else we risk breaking user expectations. Deleting the PVC is seen as the "proper" way to do things, deleting bound PVs is almost always a mistake. A pod can still be using the PVC->PV->asset even if the PV in the chain is deleted, so we can't always delete the storage asset whe

[2017-06-08 16:01] msau42 commented on #131
Third party resources are still going under a bit of change.  I think for now, we could just have a config file and then a wrapper script that generates and launches the daemonset and configmap.

[2017-06-08 16:31] ddysher commented on #131
sounds good.  tpr is also being [deprecated](https://github.com/kubernetes/features/issues/95).

I'll see if I can get one working and see where we can go from there. i hate templating in shell...

[2017-06-08 16:34] pragkent opened #152 "Need to add event list permission to ClusterRole"
When I tested my volume provisioner based on this library, I found some error in logs.

[code]

And then I found List invocation [here](https://github.com/kubernetes-incubator/external-storage/blob/master/lib/controller/controller.go#L986).

I think we need to add `event` `list` permission to the ClusterRoles for all provisioners based on
this library.

I can help to submit a pull request if neede

[2017-06-08 16:39] wongma7 commented on #152
You are right, I think it is present in some but missing from others. Please do feel free to make a PR, otherwise I'll have time to fix it tomorrow

[2017-06-08 18:07] msau42 commented on #131
I just quickly skimmed through this, would it help you with templating?  http://helm.readthedocs.io/en/latest/generate-and-template/

[2017-06-08 23:02] ddysher commented on #131
i believe helm uses golang template. If we go for wrapper script then we'll probably just use shell (do not assume go is installed).  I'll take a look today.

[2017-06-08 23:08] msau42 commented on #131
I'm also cool with a bootstrap pod if the templating is easier than shell.

[2017-06-08 23:39] ddysher commented on #131
yeah, true .. except it resigns quickly :-)

I did see some template library in shell before, but with yaml and particularly list, i'm not sure ...

I'll update the thread later.

[2017-06-11 11:46] zcahana commented on #151
My thinking is that deleting a bound PV *should* be allowed, as long as the PVC is not currently in-use by a pod (e.g., for an admin to "replace" the actual storage fullfilling a specific claim). I'd expect this validation to be done at the k8s API layer, and reading kubernetes/kubernetes#33355 (as well as kubernetes/kubernetes#45143), I get the impression that this indeed will be handled upstream

[2017-06-12 14:04] #152 closed

[2017-06-12 17:47] rprav007 opened #158 "Unable to specify mountOptions in the parameters of storageclass definition"
kind: StorageClass
apiVersion: storage.k8s.io/v1beta1
metadata:
   name: nfs
provisioner: storage-nfs.aws.event-cloud.net/nfs
parameters:
   gid: none
   rootSquash: "false"
   mountOptions:
      server: 172.16.185.20
      path: /data

This YAML file does not work. Not sure how to specify the mount option so the NFS drive can be mounted when volumes are requested by this storage class. The docum

[2017-06-12 18:05] wongma7 commented on #158
The following works for me:
[code]

Your mountOptions looks blank to me, can you post it again? It should be a quoted comma-separated string.

I will add an example to the documentation, sorry for that!

[2017-06-12 18:06] wongma7 commented on #158
Note also this is new to v1.0.8

[2017-06-12 18:09] rprav007 commented on #158
`kind: StorageClass
apiVersion: storage.k8s.io/v1beta1
metadata:
   name: nfs
provisioner: storage-nfs.aws.event-cloud.net/nfs
parameters:
   gid: none
   rootSquash: "false"
   mountOptions: "172.16.185.20:/data"`

I want to specific a specific server and mount path just like
`apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - Read

[2017-06-12 18:11] wongma7 commented on #158
Ok I see; server and path are not valid options, https://github.com/kubernetes-incubator/external-storage/tree/master/nfs runs as a standalone server. If you want the provisioner to create export directories in an existing NFS server, you must use https://github.com/kubernetes-incubator/external-storage/tree/master/nfs-client.

[2017-06-12 18:22] wongma7 commented on #158
mountOptions refers to https://kubernetes.io/docs/concepts/storage/persistent-volumes/#mount-options which is just a mechanism to add extra options after "mount server:path...". Server:path is determined by the provisioner and filled into every PV it provisions like so:

[code]

If you have time to chat more about what you want to achieve, find me @mawong on slack!

[2017-06-12 18:32] rprav007 commented on #158
@wongma7 - Thanks a bunch for the prompt responses. The nfs-client did the trick. Sorry for having logged this as an issue.

Appreciate it

Thanks
-Praveen

[2017-06-12 18:34] wongma7 commented on #158
No problem, that's what issues are made for! :)

[2017-06-12 18:34] #158 closed

[2017-06-12 20:33] wongma7 commented on #147
Assume this works; closing!

[2017-06-12 20:33] #147 closed

[2017-06-12 20:42] wongma7 commented on #151
The "replace" storage for a claim use-case is not possible because when a PVC's PV is deleted, it enters the irrecoverable `Lost` state. I don't think such a thing will ever be implemented as it would be a major change in the PVC+PV lifecycle. The "official" recommendation is probably to just delete the PVC+PV and create a new PVC+PV with same name, as unpleasant as that is.

Agreed there are secu

[2017-06-12 21:08] zcahana commented on #151
Good point about the irrecoverability of the PVC.
So, given that the "replace" use case is impossible, it's indeed seems best to disallow deletion of any bound PV.

[2017-06-13 17:44] wongma7 opened #163 "Auto deploy images to quay via travis"
We should automatically build and push images for every provisioner when changes are made. For this we may need to rely on git tags. I am thinking of using a convention like

`<image-name>-<version>`
`efs-provisioner-v1.0.0`
`nfs-provisioner-v1.0.8`

Only nfs-provisioner has a version number at the moment. We should give everything else an initial v1.0.0 now that they've had time to settle. This m

[2017-06-13 22:41] wongma7 opened #165 "Library consumers do not have access to some upstream volume util functions"
Come up a couple times now but some volume util functions people expect to have available when writing volume plugins/provisioners are not automatically copied to client-go and so not readily available to us https://github.com/kubernetes/kubernetes/blob/38837b018bf2a9215653054c2ec59636c0ba9440/pkg/volume/util.go

We have copied `RoundUpSize` to a util package. We can keep copying them on an as-is

[2017-06-14 16:31] #163 closed

[2017-06-14 21:17] msau42 commented on #132
How accurate do we want to be with the capacity?

I ran on GCE with local SSDs, which are 375GB.  The actual PV created has this capacity, which is a little unreadable.
    storage: 367238044Ki

[2017-06-14 21:39] wongma7 commented on #149
fixed, will be present in nfs-client-provisioner:v2.0.0 (slight change in version format...)

[2017-06-14 21:39] #149 closed

[2017-06-15 01:20] ddysher commented on #132
Yeah, quantity package will use the best unit without losing precision.  Considering disk space is usually quite large, how about we default to GB and give the option for user to change to smaller unit?

If we prefer so, we should call out in the doc that this is a rounded down number.

[2017-06-15 13:53] wongma7 commented on #140
fixed via https://github.com/kubernetes-incubator/external-storage/pull/170

image is now at "quay.io/external_storage/local-volume-provisioner:latest"

[2017-06-15 13:53] #140 closed

[2017-06-15 16:37] msau42 commented on #132
I'm fine with rounding to GB

[2017-06-15 18:58] ianchakeres commented on #132
@ddysher & @msau42 - approximately how much of the total space is reserved by the file system? I'm wondering if the amount is generally smaller than rounding errors. Re: https://github.com/kubernetes-incubator/external-storage/pull/154#discussion_r121831808

[2017-06-18 19:36] msi88 opened #174 "[nfs-client-provisioner] PV stuck in pending state"
Hi,

currently i'm trying to get the nfs-client-provisioner running on a Raspberry Pi Kubernetes cluster. I could already sucessfully deploy the provisioner in an ARM compatible docker container (see https://gitlab.com/rpikube/nfs-provisioner-arm32v7 for details). During claiming a PV with the nfs-client-provisioner i encountered 2 issues.

1. The name of the PV has to be ${pvName} instead of ${na

[2017-06-19 06:12] msi88 commented on #174
Kubernetes v1.6.4 (installed with kubeadm)
nfs-client-provisioner built from master

[2017-06-19 14:57] nieldw opened #176 "`seccomp` when running NFS-provisioner with the k8s Deployment"
The documentation for running the NFS-provisioner using Docker includes this line:

How does this affect you when running with Kubernetes and Docker 1.10 or newer? Do you need to add the more permissive seccomp profile as well?

[2017-06-19 15:06] wongma7 commented on #176
No need because kubernetes at the moment by default runs everything unconfined: https://github.com/kubernetes/kubernetes/issues/20870 so the nfs server should just work

[2017-06-19 16:31] wongma7 commented on #174
1. is indeed an error although it's kind of harmless, nice catch I will fix it.
2. We need to check the kubernetes controller-manager logs to see why the PV and PVC are not getting bound. They look correct to me, they should get bound

[code]

[2017-06-20 00:50] raffaelespazzoli opened #178 "glide fails to build dependencies"
I'm getting the following error if I run `glide up -v` on this repo:
[code]

it looks like there is a conflict between the required version of k8s client-go.

[2017-06-20 01:25] wongma7 commented on #178
We are carrying a patched version of client-go at the moment because versioned helpers were removed and have not been placed elsewhere yet but we can't downgrade because we also need other new things (local storage API).

I'll look into temporarily copying the versioned helpers under say 'lib' so we can get glide working again

[2017-06-20 07:35] nieldw commented on #176
OK great. Thanks.

[2017-06-20 07:35] #176 closed

[2017-06-20 09:00] msi88 commented on #174
Hi,

thanks for the answer. Please see the log
[kube-controller-manager.txt](https://github.com/kubernetes-incubator/external-storage/files/1087558/kube-controller-manager.txt).

I guess the problem is that the persistent volume binder is not enabled:
`{"log":"W0620 08:34:15.749212       1 controllermanager.go:546] \"persistentvolume-binder\" is disabled\n","stream":"stderr","time":"2017-06-20T08:

[2017-06-20 09:10] msi88 commented on #174
Maybe it's related to https://github.com/kubernetes/kubernetes/issues/46770

[2017-06-20 12:55] raffaelespazzoli commented on #178
ok. I would like to create a PR from [here](https://github.com/raffaelespazzoliorg/external-storage/tree/iscsi-targetd) to add iscsi-targetd as dynamic provisioner.
Please let me know what is the best approach given the current issue.

[2017-06-20 14:01] wongma7 commented on #174
Check your arguments to `kube-controller-manager`, specifically --controllers. It must have "-persistentvolume-binder" in it, which should be removed

https://kubernetes.io/docs/admin/kube-controller-manager/

--controllers stringSlice                                           A list of controllers to enable.  '*' enables all on-by-default controllers, 'foo' enables the controller named 'foo', '-f

[2017-06-20 21:42] #178 closed

[2017-06-20 21:43] wongma7 commented on #178
Should work now, please rebase. Let me know if you run into any other issues, go dep management is not fun

[2017-06-21 02:09] ddysher commented on #132
@ianchakeres sorry for late reply.  It depends on the type of file system. For ext file system, it defaults to 5%, and this is reserved to root users.  For xfs, it defaults to 5% or 8192 fsb, whichever is smaller.  I didn't look at other fs.

So for xfs, it's possible the reserved space is smaller than rounding errors. What's the problem do you foresee?

[2017-06-21 02:47] zhwenh opened #187 "build Error "ceph/cephfs/cephfs-provisioner.go ""
I Build ceph/cephfs/cephfs-provisioner.go show this Errors:
/usr/local/go/bin/go build -i -o /private/var/folders/52/6kn6f9fx0jl1cqzdb6nt2mf80000gn/T/Build_cephfs_provisioner_go_and_rungo -gcflags "-N -l" /Users/GoProjects1/src/kubernetes-incubator/external-storage/ceph/cephfs/cephfs-provisioner.go

ceph/cephfs/cephfs-provisioner.go:63: cannot use cephFSProvisioner literal (type *cephFSProvisioner

[2017-06-21 02:56] ianchakeres commented on #132
@ddysher - I'm just wondering whether users care and will understand the nuance of the FSAvailableBytes calculation when compared with the other FSInfo available calculation, especially after rounding. My intuition says that we probably need only one method/definition of available, and I'd love your advice on which one is the right definition/calculation.

[2017-06-21 03:06] ianchakeres commented on #132
@ddysher - we might want to add a RoundDownSize method to kubernetes/pkg/volume/util.go, like the RoundUpSize function on line 261 - https://github.com/kubernetes/kubernetes/blob/38837b018bf2a9215653054c2ec59636c0ba9440/pkg/volume/util.go#L261

[2017-06-21 03:17] msau42 commented on #132
I would prefer to be consistent with what the kubernetes system is reporting in the fs volume metrics.

[2017-06-21 03:38] ddysher commented on #132
@ianchakeres sounds good!

@msau42 @ianchakeres  are u suggestion we change capacity to whole capacity of the volume? what's the use case for fs.go in kubernetes?  AFAICT, in kubernetes, you can reserve space using command line options in kubelet, but we don't have this.  This means what we get from availableByte is the actual reported value; while in kubernetes, what you get from available is for

[2017-06-21 07:02] msi88 commented on #174
Thanks alot for your support. After removing "-persistentvolume-binder" everything works as expected!

[2017-06-21 07:02] #174 closed

[2017-06-21 15:36] wongma7 commented on #187
What version of go are you using? And what is your GOPATH? /Users/GoProjects1?

[2017-06-21 16:46] msau42 commented on #132
In kubernetes, each volume plugin can report fs usage metrics, so for each volume, it can tell you used and available capacity.  That's where these fs utils are being used.  So I think we should be consistent with what we are reporting to the user through these metrics.

The allocatable feature is more about reserving local root partition space for the kubernetes system.

[2017-06-22 09:08] ddysher commented on #132
interesting to know.  I briefly scanned `pkg/volume` searching for usage related metrics, but it doesn't seem there is any volume plugin reporting the value.  Also, based on storage roadmap, reporting value is yet to be done. Did I miss anything?

[2017-06-22 16:11] msau42 commented on #132
There's NewMetricsDu and NewMetricsStatFS that use util.GetFsInfo.  They are used by emptydir, secrets, gcepd, aws ebs, azure file, flocker, and portworx volumes.

The volume metrics feature in the roadmap is different.  It's more about how many times mount, attach are called.

[2017-06-22 16:18] ddysher commented on #132
By metrics, I mean PVC capacity usage :)   If it's already used, then we can just use it then.

[2017-06-26 12:45] metal3d opened #198 "Cannot build hostpath provisionner"
Hi,
An error appears while I try to build hostPath provisionner:

[code]

Tried with go 1.7.5 and go 1.8.3, same result.

Any help can be appreciated

[2017-06-26 14:56] wongma7 commented on #198
Did you run `glide install -v` in the hostpath-provisioner directory first? client-go and apimachinery are quite unstable so we use glide to fix our dependency on specific older versions

[2017-06-26 15:20] metal3d commented on #198
Yes I did it.

What I cannot understand is why I doesn't see any reference of vendor directory while go is searching libraries.

Here are the full logs:

[code]

Anyway, I'm wondering if I should use docs/demo/hostpath-provisioner or the local-volume...

[2017-06-26 15:23] metal3d commented on #198
BTW:
[code]

[2017-06-26 15:25] metal3d commented on #198
My god... forget my bug... the "glide get" command gave me the problem, I wasn't at the right place. I needed to get project in GOPATH/src

My apologies

[2017-06-26 15:25] #198 closed

[2017-06-26 15:26] wongma7 commented on #198
Ah it is because external-storage must be in your GOPATH for the "vendor" stuff to work. Go won't bother to look for ./vendor unless you're working in a descendent of GOPATH. (Dumb I know).

The hostpath provisioner is intended to be a barebones toy demo (hence forcing people to build it to use it, etc.) that will only work properly on single-node clusters. Local-volume will be the way to go for l

[2017-06-26 17:01] childsb opened #200 "Move Ceph RBD provisioner from in-tree to out of tree"
The CEPH RBD provisioner is in-tree.  The sig-storage community is requesting that the ceph RBD provisioner move out of tree.

This issue to track the effort. There is no current owner or scheduling of the work, only the request by the community.  If anyone has requirements or wishes to sign up for design, development or review please comment here.

[2017-06-26 17:03] rootfs commented on #200
@cofyc @weiwei04 are you interested in working on it?

[2017-06-26 17:11] wongma7 commented on #200
cc https://github.com/kubernetes-incubator/external-storage/issues/99

[2017-06-27 04:55] cofyc commented on #200
hi, @rootfs

I and @weiwei04 are interested in working on it. Currently, we are running a few k8s clusters with Ceph RBD support. Any suggestions about how to do it and collaborating with sig-storage community would be appreciated.

[2017-06-27 10:41] metal3d opened #202 "Failed to pull image quay.io/external_storage/local-volume-provisioner-bootstrap"
I'm trying to use local-volume provisionner on our openshift installation but the bootsrapper refuse to start with ErrImagePull

And actually:

[code]
Any help ?

[2017-06-27 11:21] ddysher commented on #202
I think the image is not pushed yet @msau42

[2017-06-27 11:44] metal3d commented on #202
Right, the quay.io repo is empty.

Anyway, It seems it cannot run on openshift. Some configuration are not usable.

I tried to create daemonsets from local-volume provisionner directory and some role binding cannot be set. It's way difficult to understand how to launch it like that. I will maybe create a new issue to have answers on OpenShift integration, and to help (if I can) to document this wo

[2017-06-27 12:03] ddysher commented on #202
If you are using bootstrapper, then there's no need to use artifacts from provisioner directory.  i don't have permission to push image to quay.io, @msau42 can help on that i believe.

sadly we don't have bandwidth to test it with openshift right now; please go head create an issue, and we can try to make it work. :)

[2017-06-27 12:10] metal3d commented on #202
@ddysher strangely, using provisionner directory, I now can be able to launch daemonset (after creating configmap and so on...)

I only have a problem on right (serviceaccount cannot read persistent volumes, but I will find wich scc to apply). So, for "Openshift", I will create a mini doc and try to provide you how I did.

For now, I will not use bootsrapper... :)

[2017-06-27 12:24] ddysher commented on #202
@metal3d thx!

You don't have to use bootstrapper if it works, it's just a convenient pod for configuring provisioner.  And actually, you don't have to use provisioner if you can manually create PVs, it's just a convenient daemonset to create PVs :)

[2017-06-27 12:41] rootfs commented on #200
@cofyc thanks!

There is a [cephfs provisioner](https://github.com/kubernetes-incubator/external-storage/tree/master/ceph/cephfs) under ceph. You can write a ceph/rbd provisioner, and get the Kubernetes RBD provisioner there.

[2017-06-27 12:49] metal3d commented on #202
What I need is a provisionner because we want to launch Galera database with direct access on disk. And because we use statefullsets, we only can use volume claims.

To be able to not create PV's manually for each projects, we need something that create PV's automatically   with host afinity. If that daemonset can work, we will be able to let our user create Galera without any intervention by our

[2017-06-27 12:56] metal3d opened #204 "Define which scc and role to apply on openshift"
Hi,

As seen in #202 I'm trying to apply installation to an openshift cluster.

At this time, I can use daemonset from provisionner but an error says me (in logs) that local-volume-admin is not auhorized to list (and so, later, I guess, to create) persistent volumes.

This is how I'm creating my serviceaccount:

[code]
Note that system:persistent-volume-provisioner dosen't exists on openshift.

Th

[2017-06-27 12:58] ddysher commented on #202
Yeah, it's very important and that's why it's there :)

[2017-06-27 16:47] msau42 commented on #202
I just pushed the latest bootstrapper, so you should see it now.

@ddysher can you add an example configmap to the provisioner directory, in case people want to use the provisioner directly instead of using the boostrapper?

[2017-06-28 03:03] ddysher commented on #204
Does everything work once you bind service account to system:node?

[2017-06-28 10:01] metal3d commented on #204
No it doesn't, I've finally found wich are the roles to apply:

- `system:node`
- `system:pv-attach-detach-controller`
- `system:pv-binder-controller`
- `system:pv-provisioner-controller`
- `system:pv-recycler-controller`

I know have a new problem, each pods says:

[code]

New issue ? or I should just rename this one to "integrate inside openshift" ?

[2017-06-28 10:04] metal3d commented on #202
@msau42 it seems that no configmap is used when using provisionner directly, am I wrong ?

[2017-06-28 11:09] cofyc commented on #200
@rootfs
ok, I am working on it.

[2017-06-28 11:26] metal3d commented on #202
It pulls now, but it is unusable on openshift, role bindings are not the same. See #204 for correct roles to apply. So, at this time, I can close that issue that was only for the "pull" problem.

Thanks a lot

[2017-06-28 11:26] #202 closed

[2017-06-28 11:29] metal3d commented on #204
Note: bootstrapper is unusable because rolebindings are not the same for openshift.

My last problem is https://github.com/kubernetes-incubator/external-storage/issues/204#issuecomment-311614839

[2017-06-28 14:23] msau42 commented on #202
If no configmap is specified, then it will fall back to default settings of using storageclass "local-storage" and hostdir "/mnt/disks".  If you want to specify something else, then you need to provide a configmap

[2017-06-28 14:51] metal3d commented on #202
@msau42 I tried and the daemonset only takes care of the volumes instruction, I tried to change configMap, giving bad configuration, good configuration, redeploying daemonset, and it never used values that are inside configMap.

Maybe I did something wrong, but I thought that the configMap were use by de "deployer" to configure volumes. That's why I needed to change provsionner daemonset to change

[2017-06-28 14:57] wongma7 commented on #204
OpenShift doesn't have the kube-side local volume API yet so it won't recognize local PVs. I'm not sure it will be made available in 3.6 either since it's still alpha in upstream. So even though the local volume provisioner is external we're still reliant on things existing on the kube/openshift side.

[2017-06-28 15:12] metal3d commented on #198
yeah, I realized that it can only work on a single node installation later ;)

And that's very ennoying that local-volume only works on 1.7 only, I'm using openshift 1.5.1 that incluse k8s 1.5 :\

So, that means that I will not be able to have Galera with hostpath on our cluster :(

[2017-06-28 15:15] ddysher commented on #204
Yeah, you'll need to have local volume API for it to work, as @wongma7 said, it is not strictly external.

[2017-06-28 15:16] metal3d commented on #204
It's a pitty for me... I'm using openshift 1.5.1 so this is not usable. Our Galera works on GlusterFS right now, but as we are using statefulsets I thought that I will be able to write data on hostPath.

Without any provisionner, I really don't know how to create PVs and to be sure that PVC will bind PV on current host.

Bad news so...

[2017-06-28 15:18] ddysher commented on #202
You'll also need to update daemonset volume mount for provisioner to see the mounts.

Default works because it the example daemonset has the mount in its yaml file:
[code]

[2017-06-28 15:19] metal3d commented on #204
@ddysher yes right, but local-volume api should work on k8s 1.7 while openshift (right now) uses 1.5.

[2017-06-28 15:23] metal3d commented on #202
@ddysher actually that's what I meant. Sorry for my bad english if I was not clear :)

[2017-06-28 15:34] ddysher commented on #202
oh, now i understand, sorry i didn't read very carefully

[2017-06-28 17:54] wongma7 opened #207 "External provisioners should validate PVC AccessModes"
I think only gluster/block may needs changing...@humblec should it reject PVC with RWM? https://github.com/kubernetes/kubernetes/pull/47274

[2017-06-28 19:15] alanmeadows commented on #200
@childsb Since you opened the "rewriting some bits" door, one of the issues we struggle with is passing _[client]_ options down at mount time.

See [ceph.conf](https://github.com/ceph/ceph/blob/master/src/sample.ceph.conf#L442) examples to do things like tune rbd cache policy, writethrough, etc behavior from an rbd client perspective.

Now, forgive me as I start to enter areas of my own ignorance

[2017-06-30 15:17] mjsilva opened #209 "[efs-provisioner] persistentVolumeReclaimPolicy: retain doesn't work"
Hi guys,

I've been testing the EFS provisioner to allow our pods to create EFS volumes on the fly and provide a nice abstraction to a "unlimited" filesystem the pods can use.

This has been working great but I'd love it to allow to retain the data if the pod is deleted.

Is this possible?

I've tried to `kubectl patch pv pvc-2d282439-5c7f-11e7-83f9-0642293e4557 -p '{"spec":{"persistentVolumeRecla

[2017-06-30 15:55] mjsilva commented on #209
After digging a bit on this I reckon the problem might have been because I was mounting `/var`. I mounted the EFS on another machine and although I could see the folder created by the EFS-provisioner I didn't see any files inside, which leads me to believe that the container was writing on itselfs. After changing it to `/var/lib/grafana` the data was kept after delete/create the deployment and I c

[2017-06-30 15:59] mjsilva commented on #209
@wongma7 thanks for developing this great plugin! Can you clarify the behaviour of the delete? Are the RECLAIMPOLICY on the pv disregarded and the volume is only deleted once the claim is deleted other than that it persists?

[2017-06-30 16:08] wongma7 commented on #209
The provisioner will respect the pv's reclaimpolicy. This means when the corresponding pvc is deleted: if Retain, neither the pv nor its data are deleted; if Delete, both are deleted. Nothing should happen if just the pod or deployment is deleted, it only matters when the pvc is deleted.

As you've done, you must manually patch the PV because the provisioner doesn't yet support auto creating Retai

[2017-06-30 16:23] mjsilva commented on #209
Thanks mate that clarified. Feel free to close this.

[2017-06-30 16:58] wongma7 commented on #209
:+1:

[2017-06-30 16:58] #209 closed

[2017-07-04 02:52] gyliu513 opened #214 "The YAML template is not right for the example of local storage"
[code]

Should remove the `,` at the end of the annotation:
[code]

[2017-07-04 13:43] gyliu513 commented on #214
/assign

[2017-07-04 20:57] wongma7 opened #217 "CephFS deployment yaml example does not work"
https://github.com/kubernetes-incubator/external-storage/blob/master/ceph/cephfs/deployment.yaml needs an entrypoint. Or Dockerfile needs to be modified so that its CMD isn't just chmod

[2017-07-04 20:57] wongma7 commented on #217
/assign @rootfs

[2017-07-04 21:01] #214 closed

[2017-07-10 01:13] dcowden opened #223 "NFS demo does not work with kubernetes 1.6.6"
I followed the NFS provisioner demo, and I'm having a [probably subtle] problem getting it working. I'm using k8s version 1.6.6:

`Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.6", GitCommit:"7fa1c1756d8bc963f1a389f4a6937dc71f08ada2", GitTreeState:"clean", BuildDate:"2017-06-16T18:21:54Z", GoVersion:"go1.7.6", Compiler:"gc", Platform:"linux/amd64"}
`

all of the pods launch c

[2017-07-10 12:01] ianchakeres opened #224 "[local-volume] Frsize not supported on mac osx (darwin) - unable to run local-volume make test"
On mac osx (darwin) Statfs_t.Frsize is not supported, and this situation is not allowing me to run make test on the local-volume provisioner.

[code]

Here is the specific reference in the code: https://github.com/kubernetes-incubator/external-storage/pull/135/files#diff-2e4832ad7196c01aca3d8c395325fc45R116

[2017-07-10 12:02] ianchakeres commented on #224
Related to this PR: https://github.com/kubernetes-incubator/external-storage/pull/135

[2017-07-10 12:02] ianchakeres commented on #224
@msau42 @ddysher - FYI

[2017-07-10 12:28] ianchakeres commented on #224
Another related discussion: https://github.com/kubernetes-incubator/external-storage/issues/132

[2017-07-10 13:04] ianchakeres commented on #224
/assign @ianchakeres

[2017-07-12 15:54] IronhandedLayman commented on #217
I can verify this bug. Just tried to do the deployment and it didn't work.

[2017-07-12 16:52] dhirajh opened #230 "Vendored package needs updating"
Requesting the update of the package golang.org/x/sys/unix which has been vendored. The update has the BLK* constants needed for some of the block device work happening in local volume.

[2017-07-12 17:20] wongma7 commented on #230
Sounds good to me! can run `glide up -v` and `glide-vc --use-lock-file` to pick up updates

[2017-07-12 18:06] msau42 commented on #165
Yeah, I would look into refactoring so we can get the functions into client-go

[2017-07-12 18:56] shadycuz commented on #223
@wongma7 @dcowden I'm using 1.6.6 and I had 0 problems. I just followed the steps, which seems unclear at some point's but I think I will just make a PR for it.

Thanks,
Levi

[2017-07-12 19:02] wongma7 commented on #223
I couldn't reproduce this issue either locally nor via Travis CI. However, I don't doubt that it exists. There are a lot of potential culprits... I'd say (the version of) kubernetes is unlikely to be it here. It's probably a weird interaction between NFS-Ganesha and docker.

What storage driver is docker using (output of `docker info | grep Storage`)?

What happens if you try to mount the nfs serv

[2017-07-12 19:11] shadycuz commented on #223
@wongma7 Well you did a great job. I'm brand new to kubernetes and never messed with PV's until today. Though I have some questions, but I will post them when I make a PR.

[2017-07-12 19:16] dcowden commented on #223
hi guys thanks, let me try out a couple of these suggestions.  In reading, my hunch is that it could be an nfs4 vs nfs3 thing, but i wasnt able to prove this.

[2017-07-12 22:22] #217 closed

[2017-07-13 01:57] caesarxuchao commented on #165
The future k8s.io/pkg repository seems to be a better home. See https://github.com/kubernetes/kubernetes/issues/48209#issuecomment-313870481.

client-go shouldn't contain type specific helper functions.

[2017-07-13 03:12] wongma7 commented on #165
SGTM! I'm all on board with having more purposeful repos & moving away from 'have everything arbitrarily in client-go' :)

[2017-07-13 05:53] dhirajh opened #233 "Instructions on CLA seem to be outdated"
I followed the instructions to get a CCLA from this document

https://github.com/kubernetes-incubator/external-storage/blob/master/CONTRIBUTING.md

Even though I had a CLA setup with Linux Foundation (in prep for k8s core work), I was surprised to note that this document required a Google Project CLA. I went and got one processed by my company. However, when the travis build ran for my PR, it comp

[2017-07-13 10:29] pospispa opened #234 "type PersistentVolume moved to k8s.io/api/core/v1"
The external provisioner library uses the `PersistentVolume` type in https://github.com/kubernetes-incubator/external-storage/blob/master/lib/controller/volume.go#L32
and imports it from `k8s.io/client-go/pkg/api/v1` in https://github.com/kubernetes-incubator/external-storage/blob/master/lib/controller/volume.go#L22

However, the `type PersistentVolume` was added to `k8s.io/api/core/v1` in commit

[2017-07-13 10:31] pospispa commented on #234
@wongma7 @tsmetana please, do you agree that the above adaptation is necessary and that it should be done asap?

[2017-07-13 10:53] ianchakeres commented on #233
I suspect these are the instructions that should be followed - https://github.com/kubernetes/kubernetes/wiki/CLA-FAQ

Linux Foundation = CNCF - https://identity.linuxfoundation.org/projects/cncf

[2017-07-13 14:10] wongma7 commented on #234
Yes, this should be fixed by https://github.com/kubernetes-incubator/external-storage/pull/221 ! Thanks to @kokhang for keeping on top of k8s api changes

[2017-07-13 14:10] #234 closed

[2017-07-13 15:24] mmaquevice opened #236 "Data in PVC cannot be accessed after pod restart"
Hey,

I have a problem with my data in my PV created by `nfs-provisioner`:
If data exists before I start my pod, this data cannot be accessed by my pod.

If I execute `chown -R root: mydata` inside my pod where `mydata` is mapped to the PV mount folder, it works. But if the pod restarts, I have to reexecute the command...

Any idea ?

Thanks

[2017-07-13 18:54] #233 closed

[2017-07-13 19:02] wongma7 commented on #236
Hm, could you show the permissions of `mydata` inside your pod before and after you chown it? `ls -l` or `stat` it? If you are root inside the pod you should have permissions to do anything. Are you using any of the parameters here? https://github.com/kubernetes-incubator/external-storage/blob/master/nfs/docs/usage.md#parameters

[2017-07-13 19:05] wongma7 commented on #230
closing; I'm going to be updating docs on the way we are doing vendoring, has come up a lot recently, and could maybe explore a better/easier way.

[2017-07-13 19:05] #230 closed

[2017-07-13 20:20] shadycuz opened #241 "FAQ: For aws/efs"
I'm new to kubernetes and was able to set up EFS on my pods very easily, how ever I do have some questions. I will be updating the aws/efs documentation in an upcoming PR and this will be a FAQ at the end. Some of the questions might stem from my lack of knowledge with kubernetes.

### [configmap.yaml](https://github.com/kubernetes-incubator/external-storage/blob/master/aws/efs/deploy/configmap.ya

[2017-07-13 21:16] wongma7 commented on #241
1. No particular reason, tbh. But it's arguably easier to tell users to 'make this configMap' with a single kubectl command than it is to say 'edit these x lines of deployment.yaml'
2. PVs will not be provisioned nor deleted while the provisioner is down. Existing PVs will continue to work though since they're pointing straight at EFS. When the provisioner comes back, it will delete PVs that need

[2017-07-13 21:32] shadycuz commented on #241
Thanks @wongma7 I will have a PR this weekend for you =)

I followed the guide to set up EFS storage for one deployment (prometheus), so for my next 2 deployments (different apps) I can make new claims but with different names, and reference the same storage class? This will create new "PVC" directories on my EFS but all three apps will be on the same EFS system but not be able to see each others

[2017-07-13 21:34] wongma7 commented on #241
Yes, that's correct.

On Thu, Jul 13, 2017 at 5:32 PM, Levi Blaney <notifications@github.com>
wrote:

[2017-07-13 21:38] wongma7 commented on #99
Initial move has completed: at https://github.com/kubernetes-incubator/external-storage/tree/master/ceph/rbd and the initial version has been pushed to "quay.io/external_storage/rbd-provisioner:v0.1.0"

[2017-07-13 21:38] #99 closed

[2017-07-14 16:22] pospispa opened #242 "Need an Equivalent of K8s func GetAllZones"
K8s provides [func GetAllZones](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/gce/gce_instances.go#L248) that returns all the zones in which K8s cluster nodes are running.

Some types of storage can be zone-aware, i.e. the storage needs to be provisioned in a particular zone.

In case a user does not specify in which zone the storage shall be provisioned an exter

[2017-07-14 16:49] wongma7 commented on #242
I don't think we should abstract this function and implement our own "mini" cloudproviders as part of the library. I think the cloudprovider abstraction is overkill for external provisioners (and volume plugins too) and IMO any cloud API calls should be implemented by each provisioner by & for itself.

I have not been following it that closely but the above approach is basically what the proposal

[2017-07-14 17:31] wongma7 commented on #242
Hm, here's another way to think of it. That GetAllZones relies on gce.managedZones, which is filled in by cloudconfig. So an external provisioner would need to be configured at deploy time in the same way, via an argument or configmap probably, with e.g. the list of zones

[2017-07-15 10:53] ron1 opened #244 "Add GID supplemental group security to nfs-client-provisioner"
The EFS Provisioner includes security controls such that every PV is assigned a GID and any pod that consumes the PVC+PV gets that GID as a supplemental group. The NFS Client Provisioner should provide similar security controls.

[2017-07-16 03:01] wjin opened #245 "cross k8s clusters for sharing storage"
Current CephFS plugin creates a random 'share name' when provisioning every time. If we could configure pvc parameters (path in a filesystem) in the future, we may use the given name when provisioning.

Therefore we could create the same pvc/pv in different k8s clusters and all of them are related to the same 'path' in a filesystem.

The benefit is that we may share storage in different k8 cluster

[2017-07-17 20:35] aguilarm opened #247 "NFS timeout when mounting pvc to more than one pod"
Hi!  I'm running k8s v1.6.7:
`Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.7", GitCommit:"095136c3078ccf887b9034b7ce598a0a1faff769", GitTreeState:"clean", BuildDate:"2017-07-05T16:40:42Z", GoVersion:"go1.7.6", Compiler:"gc", Platform:"linux/amd64"}`
On google container engine.  I've tried using GCE pds and hostPaths as the backing for /exports but they both behave the same w

[2017-07-17 20:38] aguilarm commented on #247
Occasionally, if I delete one of the pods that has timed out and the deployment recreates it on it's own, the pod will mount it successfully.

So I can reach a state where many pods mount the volume, and everything works as expected, but not without deleting pods.  Not great when I'm making changes to adjustments to deployments with more than one replica.

[2017-07-18 16:25] aguilarm commented on #247
Reasonably sure this was a result of my use of conflicting k8s versions on my cluster.  I updated master to 1.6.7, but my nodes were still running 1.5.7.  Fully upgrading my cluster has resolved this entirely.  Wish I was able to confirm that but this can be closed as user error.

[2017-07-18 16:25] #247 closed

[2017-07-19 12:50] adrianliechti opened #250 "[local-volume] Create Volume Sub-Folder"
Hi Kubernets Team,

after quite some long nights we were able to setup a cluster with local volumes using the dynamic local volume provisioner and plan to introduce it in a bigger project for dynamic databases.

but we struggle with some conceptional problems. as far as we understand:
- you set up a hostdir for each storage-class (eg. /mnt/disks/)
- within that folder, you mount disks (vol1, vol2,

[2017-07-19 12:58] rishka opened #251 "[efs-provisioner] EFS volumes causes pods to become stuck in terminating status"
I am using the EFS provisioner to add persistent storage for some postgres pods.

When they shut down the pods get stuck in terminating status. These pods would shut down properly before I added the EFS volume.

I can leave them there to troubleshoot, and can be reached on the k8s slack as @adam_p

[2017-07-22 02:46] ddysher commented on #250
Yes, you are correct about current status.  Right now, the provisioner is pretty static. There's no dynamic provisioning; all it sees are directory (even not mount point).  Thus, each PVC bounds to a PV which effectively a path under `/mnt/disks`.  There is currently no way to share a single directory from provisioner side.

Both are viable solutions.  If you don't care about capacity isolation, s

[2017-07-24 07:03] mjsilva commented on #241
re: 7

You can kinda "automate" the create of the folder. In fact you don't need to create the folder. you can just set the path on the pv-volume to `/` and in the mountPath use `/persistentvolumes` . Like this:

[code]

[2017-07-24 14:22] #224 closed

[2017-07-24 15:01] wongma7 commented on #251
Can you please reproduce this and get the output of `kubectl describe pod`? And possibly kubelet logs? If unmount is failing, events like 'Operation failed for volume...' with relevant information should show up as events on the pods stuck terminating.

[2017-07-24 15:14] Rishka commented on #251
`kubectl get pod pg-2252090818-74k53`
[code]
`kubectl describe pod pg-2252090818-74k53`
[code]

[2017-07-24 15:17] wongma7 commented on #251
No events for 5 days :( will have to see kubelet logs, can grep them for the pod name and/or pvc name, or send them in full. I'm on slack as @mawong

[2017-07-24 16:34] msau42 commented on #250
The reason why dynamic provisioning is not supported yet is because it's very hard to do for local storage with the current provisioning architecture.  Namely, you could listen to the PVCs, but which node should be the one that provisions for that PVC?  To make a proper decision, the provisioning workflow should be integrated with pod scheduling.  Over the next few releases, we'll be working on in

[2017-07-24 16:44] wongma7 commented on #251
In the logs we found unmount failed with 'stale file handle.' I think the issue is the PVC and pod are deleted at the same time (`helm delete`) and this usually means the PVC directory gets deleted before pod Unmount goes through, so pod Unmount fails indefinitely on a folder that no longer exists hence 'stale file handle.'

the workaround is to always delete the pod before the pvc.

Since helm is

[2017-07-25 14:43] mmaquevice commented on #236
Thanks for your help.

I do not use any parameters in my storage class.

Inside my pod `mydata` belongs to `nobody nogroup` (UID and GUI 65534), whereas in my server the files belongs to `root`.

It's like there was a `root_squash` option enabled.

Thanks

[2017-07-26 10:29] rasheedamir opened #260 "aws-efs :: Error - no mount entry found?"
`efs-provisioner` fails to start with this error:

[code]

I followed all steps in the `README.md` but not sure what is missing though?

I have two nodes; and I manually mounted the EFS on both nodes and I can see files.

@wongma7 can you please guide?

[2017-07-28 14:14] mmaquevice opened #263 "nfs-provisioner fails with v.1.0.8"
When I upgrade from `quay.io/kubernetes_incubator/nfs-provisioner:v1.0.7` to `v.1.0.8`, I have the following error:

[code]

It works with `v1.0.7`.

I use kubeadm 1.7.

[2017-07-31 15:34] wongma7 commented on #260
Please post your deployment yaml, it must have something like this

      volumes:
        - name: pv-volume
          nfs:
            server: fs-c1518208.efs.eu-west-1.amazonaws.com
            path: /persistentvolumes

[2017-07-31 17:59] wongma7 commented on #263
Does the error keep repeating? And pod crashes?

[2017-08-01 19:53] samuelmanzer commented on #263
I see this too - working on a PR with fix

[2017-08-02 11:46] adrianliechti commented on #250
thank you super much for both of your feedbacks! that helped a lot!
(and sorry for the late answer due some vacation)

at this point we try to avoid introducing of gluster (or likewise) to easy the transition at our customer. also accessing the vsphere layer is sadly not possible due existing security and oss/bss processes in a timely manner...

we decided to go in this direction at this point:

w

[2017-08-02 17:08] msau42 commented on #250
Hi @adrianliechti, if you use the local volume external provisioner, it will automatically delete the data immediately when the PV is released (PVC is deleted), and it will automatically create the PV when it detects a new directory.  So if you use that, then your script just needs to monitor the disk usage and create new directories as needed.

As for timeline, 1.8 I plan to get a design out for

[2017-08-02 21:19] samuelmanzer commented on #263
Working off commit `1575bce47137af89aeb0d81c0a6306acf879b7eb`.

The issue is this part of `cmd/nfs-provisioner/main.go`:

[code]
In this copy of the `nfs-ganesha` source used by this repo ([https://github.com/nfs-ganesha/nfs-ganesha/archive/V2.4.0.3.tar.gz]) you can see where it daemonizes one of two ways:

[code]

In either case, the original (non-daemon) `nfs-ganesha` process terminates, so the

[2017-08-02 21:21] samuelmanzer commented on #263
However, the provisioner still works fine for me, because it ganesha is still running, the provisioner just can't see it running using `Wait`, and keeps trying to restart it.  The log file `/export/ganesha.log` shows this:

[code]

[2017-08-02 21:27] wongma7 commented on #263
ganesha writes to a pid file, the easiest solution may be to read it and watch that specific pid only. The `[-F]                the program stays in foreground` option would prevent that daemon code from executing altogether, we could also try that.

It's weird this issue is host specific because I don't see it.

[2017-08-02 21:29] wongma7 commented on #263
-F may be added here, I would try that first https://github.com/kubernetes-incubator/external-storage/blob/master/nfs/pkg/server/server.go#L125. Thanks!

[2017-08-03 16:34] #263 closed

[2017-08-07 15:11] satyamz opened #277 "Add initial support for openebs provisioner"
[OpenEBS](https://github.com/openebs/openebs) is containerized storage for containers. We want to add openebs provisioner for the kubernetes. We're currently pushing code to https://github.com/openebs/external-storage on`openebs-provisioner-init` branch. Looking forward to your thoughts.

Thanks!
Satyam

[2017-08-09 08:12] weiwei04 opened #280 "[local-volume] remove pv if disk/dir is unmounted/removed"
like #250 mentioned, local-volume current usage is like:

- you set up a hostdir for each storage-class (eg. /mnt/disks/)
- within that folder, you mount disks (vol1, vol2, whatever...)
- if an app requests a pvc using that class, one of the /mnt/disks/{volume} is bounded exclusively

Here I have a small questions:
Shall we delete a pv if the backing disk/dir for that pv is unmounted/deleted?
1. r

[2017-08-10 03:47] ianchakeres commented on #280
Extending this concept a little... I think it would be interesting if the underlying capacity of a backing disk changed, that the related unbound PV be updated. This could be achieved by a PV delete followed by a PV create.

[2017-08-11 07:10] weiwei04 commented on #280
@msau42 any comments on this issue? If it is a sound needs(to delete pv if the backing disk/dir is unmounted/deleted), I just have the time and needs to open a pr to implement this feature :)

[2017-08-11 19:00] msau42 commented on #280
I can see the use case, but I'm a little wary of automatically deleting the PV because of race conditions between deleting the PV and a PVC binding to it.  We would need to add a safeguard that you can't delete a PV if it's still bound to a PVC.  This is also something that no other volume plugin does.

If I understand correctly, you need this as a workaround until we have dynamic provisioning.  C

[2017-08-13 05:59] woopla opened #284 "[iscsci-provisioner] Need updated roles for Openshift 3.6"
Hello,

I'm following the [README for the iscsi-targetd provisioner](https://github.com/kubernetes-incubator/external-storage/blob/master/iscsi/targetd/README.md) on an Openshift Origin 3.6.0 install, and I cannot get past the provisioner pod install stage, because all the `system:pv-*` roles have been removed (see this [comment ](https://github.com/openshift/origin/issues/15752#issuecomment-32202

[2017-08-14 15:01] wongma7 commented on #284
Please try the new "persistent-volume-provisioner" role. It's still possible it's missing a permission that targetd needs, so if you run into troubles please post the provisoner logs.

[2017-08-14 18:56] woopla opened #288 "[iscsi-provisioner] Wrong JSON name for targetd API parameter intiator_wwn"
Hello,

In `iscsi/targetd/provisioner/iscsi-provisioner.go` the JSON name for the `InitiatorWwn` struct field (used in the `exportCreateArgs `, `exportDestroyArgs ` and `export` structs is not using the right naming scheme. It should be `intiator_wwn` per the `targetd` [API doc](https://github.com/open-iscsi/targetd/blob/master/API.md). A 'wrong parameters' error is showing up in my `targetd` logs

[2017-08-14 18:57] woopla commented on #284
thanks @wongma7! This seems to be working - I have another unrelated problem (see #288), so it can't be 100% sure.

The README needs an update I guess :)

Cheers,

Clément

[2017-08-14 21:32] #288 closed

[2017-08-16 06:29] jhou1 opened #297 "Error "failed to create volume: gluster block command failed""
While I was trying to use gluster block provisioner, the volume wasn't created, the console log of the `glusterblock-provisioner` container was:

[code]

As I was reading https://github.com/gluster/gluster-block, I thought the command should be `gluster-block` instead of `gluster block`?

[2017-08-16 06:30] jhou1 commented on #297
@humblec PTAL, thanks

[2017-08-16 15:20] regnignuj commented on #260
Hi

I'm getting the same error.

I used a modified version of https://raw.githubusercontent.com/kubernetes-incubator/external-storage/master/aws/efs/deploy/manifest.yaml

Here's the deployment part.

---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: efs-provisioner
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: efs-provis

[2017-08-16 17:36] wongma7 commented on #260
Does it work if you run the container privileged?

[2017-08-16 17:56] regnignuj commented on #260
I tried it (modified the yaml to this), but I still got the same error

[code]

[2017-08-16 18:00] wongma7 commented on #260
Can you double check the contents of the configmap match the server in the deployment manifest. Like  file.system.id==fs-88888888, aws.region==aa-aaaa-8

[2017-08-16 18:03] regnignuj commented on #260
file.system.id and aws.region match... (sorry I'm not sure if it's ok to show the actual values...)

[2017-08-16 18:53] humblec commented on #297
@jhou1 the issue is different, its a setup issue, we will work on this tomo.

[2017-08-16 18:53] humblec commented on #297
/assign @humblec

[2017-08-17 15:44] rasheedamir commented on #260
@wongma7 I can try again to mount EFS; currently I am doing this:

1. i mount EFS onto a node
2. i create a directory in the EFS
3. then I create a PV and reference the directory created in 2
4. and then in PVC i reference the PV

and would love to have the dynamic provisioning work.

[2017-08-17 17:56] wongma7 commented on #260
@rasheedamir so the PV created in 3 is a hostPath? The provisioner expects to have EFS directly bind mounted into it, it can't be "proxied" like that. This is safer, because then the provisioner knows for sure it's creating directories in EFS mounted by kubernetes, not just in a node directory which could be inadvertently unmounted by some non-kubernetes entity.

@regnignuj I have pushed a tag :v0

[2017-08-17 18:34] wongma7 commented on #260
No problem, thanks for your report, the new error message should clarify what "mount entry" the provisioner is looking for 👍

[2017-08-17 20:24] theikkila opened #300 "Kubeconfig argument is into dockerfile with glusterfs provisioner"
GlusterFS block provisioner Dockerfile contains kube-config as default argument effectively preventing it's usage straight away with provided example  deployment file (https://github.com/kubernetes-incubator/external-storage/blob/master/gluster/block/deploy/deployment.yaml).

This configuration panics the pod on start and takes it into crashloop.

I think it should be preferable to make it work wi

[2017-08-17 20:49] spdeshpande opened #301 "Workaround controller for unbinding pending pods' PVCs"
Hi @msau42, folks,

Is there a workaround controller available that unbinds PVCs for pods that are stuck in pending? Reference: https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume

[2017-08-17 21:08] wongma7 commented on #300
@humblec way I see it, we can either: remove Dockerfile's hardcoded CMD/args and let the documentation handle it, or modify the deployment manifest to override the CMD/args. Whichever you think is better UX

[2017-08-17 22:14] msau42 commented on #301
There was one started here, but not completed because it was low priority:
https://github.com/kubernetes-incubator/external-storage/pull/122

The challenge is how to distinguish between these two conditions:

1. This is the first time we try to launch the pod and we haven't used the PV yet.
2. The pod has mounted the PV before and has data on it, but the pod gets rescheduled for some reason.  We d

[2017-08-17 23:07] spdeshpande commented on #301
Thanks @msau42. Any chances this would be part of the 1.8 release?

[2017-08-17 23:27] msau42 commented on #301
We don't have anybody working on it.  If anyone wants to take it up, feel free.  It can be developed outside of the main kubernetes repo, so we are not tied to the release schedule.

However, I would still strongly warn any users of the limitation that we cannot distinguish between an unused PVC vs a used PVC, so there is the potential for data loss by using this controller.

[2017-08-18 05:44] rasheedamir commented on #260
@wongma7 what exactly do you need to help troubleshoot this issue?

[2017-08-18 10:23] humblec commented on #300
@theikkila @wongma7 yeah, I am planning to remove the CMD from dockerfile for now and will udpate the README. The patch is on the way. Thanks

[2017-08-18 10:23] humblec commented on #300
/assign @humblec

[2017-08-18 14:23] wongma7 commented on #260
@rasheedamir your deployment yaml and the output of `kubectl logs $efs_pod` please

[2017-08-18 18:06] humblec commented on #300
@wongma7 filed https://github.com/kubernetes-incubator/external-storage/pull/305

[2017-08-18 18:08] humblec commented on #277
@satyamz once its in a better shape and after sanity testing, make a WIP PR in this repo.  You can add me and Matthew as reviewers.

[2017-08-18 18:10] humblec commented on #207
@wongma7 yes, I need to reject that in gluster block

[2017-08-18 19:50] humblec commented on #207
https://github.com/kubernetes-incubator/external-storage/pull/306

[2017-08-18 19:50] humblec commented on #300
@wongma7 Can you please close this issue ?

[2017-08-18 19:51] humblec commented on #207
@wongma7 Can you please close this issue?

[2017-08-18 19:51] wongma7 commented on #207
I need to check other provisioners first

[2017-08-18 19:53] humblec commented on #207
ah.. yes :)

[2017-08-18 20:16] spdeshpande commented on #301
Talking out loud here....but instead of a controller, would a DaemonSet work, which:

1. watches for stateful pods stuck in pending state because of specific error predicates
2. finds out the corresponding pv (via pvc)
3. checks if that pv folder is empty (we can mount the parent folder on the daemonset, just like the provisioner)
4. unbind pvc only if #3 is true.

Thanks,
Sudeep

[2017-08-18 20:29] msau42 commented on #301
I think that could suffice as a workaround for now.  You can try it out and let us know how it goes.

[2017-08-18 21:46] theikkila commented on #300
Ok, resolved! Thanks everybody

[2017-08-18 21:46] #300 closed

[2017-08-19 06:57] satyamz commented on #277
@humblec  I have updated code as per comments were given by you. However, I am neither able to add label WIP nor able to add reviewer.
Thanks.

[2017-08-21 17:07] humblec commented on #277
@satyamz nm, I am on it. Thanks

[2017-08-21 17:08] humblec commented on #297
/assign @humblec

[2017-08-21 17:44] spdeshpande commented on #301
Sure @msau42

[2017-08-22 20:06] rootfs opened #309 "Ceph provisioner requires creating secrets in PVC namespaces"
Existing CephFS PV expects a secret exists in the Pod's (or Claim's) namespace, and thus tries to create secret in *any* namespace. This will bring risk if CephFS provisioner is compromised and overrides secrets used by kubernetes.

@liggitt

[2017-08-23 20:33] humblec commented on #124
I am closing this issue.

[2017-08-23 20:33] #124 closed

[2017-08-24 15:17] wongma7 commented on #223
Yes sorry, I’ve known about this for a bit but neglected to document. You
can try to use the mount option storage parameter in the storage class so
that all pvs get that set automatically

On Thu, Aug 24, 2017 at 11:03 AM Roman Sokolkov <notifications@github.com>
wrote:

[2017-08-24 15:18] r7vme commented on #223
just found it ;) https://github.com/kubernetes-incubator/external-
storage/blob/master/nfs/docs/usage.md#parameters

Thanks

[2017-08-24 17:19] aglitke opened #317 "Add new standalone cinder provisioner"
The builtin kubernetes cinder support expects that nodes are deployed on nova instances.  In order to use cinder as a standalone storage service I'd like to add an external provisioner.  This provisioner creates volumes in cinder and retrieves connection information.  It then translates this connection information into a native k8s PV (ie. iscsi or rbd are already implemented).  Initial working wi

[2017-08-24 17:19] aglitke commented on #317
@rootfs

[2017-08-24 17:28] j-griffith commented on #317
Might be worth looking at openstack/k8s-cloud-provider that @dims has and maybe we could consolidate some of the efforts if it makes sense and nobody objects.

[2017-08-25 14:21] aglitke commented on #317
@j-griffith sure!  I'm open to putting the code wherever it makes the most sense.  The external provisioner is a bit orthogonal to the cloud provider.  Originally I was using the cloud provider to make my cinder calls but we're also experimenting with alternative configurations for cinder that treat it as a stand-alone storage service.  In this case, it makes more sense for the provisioner to cons

[2017-08-27 21:30] klausenbusk opened #318 "Add DigitalOcean provisioner"
Hello

Would it be out-of-scope for this repo, to include a DigitalOcean provisioner/flexvolume? or is it too provider specific?

I'm just asking before starting working on a PR.

[2017-08-28 08:58] jenningsloy318 opened #319 "[local-volume] How to create a storage class to hold the disks provide by local-volume-provisioner"
Hi all,
I am using  local-volume-provisioner via `local-storage-daemonset.yaml`  to provide the local volumes, but how to create storage class to hold them, what 's the value of `provisioner:  ` in storage class spec ?

[2017-08-28 14:25] wongma7 commented on #318
Not out-of-scope, feel free

[2017-08-29 10:12] bonovoxly opened #320 "EFS provisioner does not work when in a different Availability Zone"
When either the provisioner or a pod requesting an EFS PVC is NOT in the same AZ as the EFS mount point, the DNS name will not resolve and will result in output similar to the following:

[code]

The DNS name for a mount point is `az.fs-aaaaaaaa.efs.us-east-1.amazonaws.com`, when attempting to reference it from another AZ (link http://docs.aws.amazon.com/efs/latest/ug/mounting-fs-mount-cmd-dns-nam

[2017-08-29 14:37] rootfs opened #321 "gluster-block provisioner creates CHAP secret in any namespace"
Since iSCSI PV references CHAP secret in the Pod's (or Claim's) namespace. gluster-block thus tries to create secret in [any namespace](https://github.com/kubernetes-incubator/external-storage/blob/master/gluster/block/cmd/glusterblock-provisioner/glusterblock-provisioner.go#L322). This will bring risk if gluster-block provisioner is compromised and overrides secrets used by kubernetes.

@liggitt

[2017-08-29 14:39] liggitt commented on #321
more importantly, it exposes and gives control over the CHAP secret to the PVC-creating user, when the details of that should be hidden from them

[2017-08-29 14:55] wongma7 commented on #320
It should work, Amazon claims that instances across zones can access it as long as they're in the same region and VPC. Is there a "mount target" in every AZ http://docs.aws.amazon.com/efs/latest/ug/accessing-fs.html?

[2017-08-29 15:26] bonovoxly commented on #320
Ugh.  apologies.  Closing the ticket.

@wongma7 thank you very much. I forgot to add mount targets to each subnet in the different AZ. Doh.

[2017-08-29 15:26] #320 closed

[2017-08-29 15:57] ianchakeres commented on #319
The configmap map defines the local-storage storageclasses, see https://github.com/kubernetes-incubator/external-storage/blob/master/local-volume/bootstrapper/README.md. @msau42 - please correct me if I'm wrong.

In the example below, the following storage classes exist: local-fast, local-slow, and local-storage.

[code]

[2017-08-29 17:14] humblec commented on #321
Thanks @rootfs , I will adopt the changes in the provisioner once the iscsi pv spec is in . Also reviewing your refactor ISCSI PV PR.

[2017-08-29 17:15] humblec commented on #321
/assign @rootfs

[2017-08-29 17:16] msau42 commented on #319
HI @jenningsloy318, you don't actually need to create a StorageClass object.  Just set the names in the static provisioner configmap, and your PVCs to match.

[2017-08-29 17:16] humblec commented on #321
/assign @humblec

[2017-08-29 17:54] humblec commented on #317
@aglitke can you point any design arch doc for this provisioner ?

[2017-08-29 20:15] snoby opened #323 "aws-efs efs volume claim "stuck in externalProvisioning""
Hi,
I have a cluster v1.5.4 installed with kops on aws. I'm trying to use the EFS external storage allocator, however I'm running into an issue.  After following the install procedures the efs pvc is stuck and the error message from a describe on the pvc is ` cannot find provisioner "example.com/aws-efs", expecting that a volume for the claim is provisioned either manually or via external software

[2017-08-29 20:21] wongma7 commented on #323
hi, could you please try attaching your manifest.yaml again, I don't see it. The StorageClass looks fine.

that `externalProvisioning` event on the PVC is normal, getting stuck there is not

[2017-08-29 20:23] snoby commented on #323
I will place the manifest here:
[code]

[2017-08-29 20:26] wongma7 commented on #323
Thanks. The `provisioner.name` in your ConfigMap should read `example.com/aws-efs` instead of `example/aws-efs`.  If the names don't match exactly, the provisioner can only ignore claims with mismatched names and output a blank log

[2017-08-29 20:27] wongma7 commented on #323
I think you will have to restart the pod after editing/recreating the configmap too.

[2017-08-29 20:32] snoby commented on #323
bollocks! I bet you see this all the time. it's always the interface between the chair and the keyboard causing the problems.
Seems to be working now, log from the pod
[code]

Thank you and please let me know how I can help you if at all in the future!
M

[2017-08-29 20:32] #323 closed

[2017-08-29 21:57] mattdornfeld opened #324 "k8s.io/client-go/pkg/api/v1 doesn't exist"
The hostpath [example](https://github.com/kubernetes-incubator/external-storage/tree/master/docs) for creating an external provisioner references a Goland package k8s.io/client-go/pkg/api/v1. This package doesn't seem to exist

[code]

Returns an error saying it can't find the package. I think the package was possibly moved? Maybe the example could also be updated?

[2017-08-29 22:14] wongma7 commented on #324
Yes, sorry the example has not been updated for some months and in that time kubernetes has split its code across many repos, like https://github.com/kubernetes/api. I will try to update it tomorrow.

[2017-08-30 00:07] msau42 opened #325 "[local-volume] Refactor ConfigMap processing"
Currently the local provisioner provisioner gets the ConfigMap object and parses the data field.  Instead, we should deploy the provisioner with the configmap mounted as a volume:
https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#add-configmap-data-to-a-volume

And then parse the file.  That way we don't need to make an API call to get the configmap, and also need c

[2017-08-30 01:16] mattdornfeld commented on #324
@wongma7 Thanks! I tried tracking down all of the packages myself but I keep getting errors. I appreciate it.

[2017-08-30 02:07] xingzhou opened #326 "External Controller should support `Retain` volume reclaim policy"
As patch https://github.com/kubernetes/kubernetes/pull/47987 is merged, I think we can support `Retain` policy in external-storage.

https://github.com/kubernetes-incubator/external-storage/blob/master/lib/controller/controller.go#L785

I'm working on a patch on this.

/cc @wongma7

[2017-08-30 06:57] xingzhou commented on #326
@wongma7, the kubernetes/api repo does not contain the latest for `ReclaimPolicy` field? is that possible to update that repo?

[2017-08-30 13:39] wongma7 commented on #326
Seems the sync is broken again https://github.com/kubernetes/test-infra/issues/4080. IMO we just have to wait, I'll keep an eye on it. The alternative is patching k8s.io/api ourselves which is a lot of work

[2017-08-30 14:02] aglitke commented on #317
@humblec I don't have one yet but it's on my list to create.

[2017-08-30 16:37] wongma7 commented on #324
Hm I'm debating postponing updating it some more because kubernetes 1.8 is around the corner and I can then update the whole repo in one go.

If you use glide https://github.com/kubernetes-incubator/external-storage/blob/master/docs/demo/hostpath-provisioner/Makefile#L23 (pretty much necessary when working with kube libraries) then it should find the old package and compile fine, is that okay?

[2017-08-30 17:09] snoby opened #328 "efs Provisioner and GID"
Using the documentation provided I have a working EFS provisioner.  When I go to use a pod that mounts the claim that has been created with the EFS provisioner I'm told that permission is denied.
( the pod that I'm running ins Consul)
[code]
When I mount the same claim in a pod that is running as root I can add and read files from the share, however as soon as I exec into this pod I'm greeted with

[2017-08-30 17:23] wongma7 commented on #328
Do you know where to find the dockerfile? What is the image tag?

The limitation of kubernetes per-container GID assignment is that the GID can only be "applied to the first process run in each Container" https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/#access-control so that's why it doesn't work for every container image, because some of them have wei

[2017-08-30 17:29] snoby commented on #328
Ah interesting, that is exactly what is happening with the processes... so I'm using this consul guide
(kube-vault-consul)[https://sqbu-github.cisco.com/tropo-operations/kube-vault-consul]
and the deployment is using this the official consul container: consul:0.7.2 with the following arguments:
[code]
and more importantly here is the image on dockerhub
https://hub.docker.com/_/consul/
and it clear

[2017-08-31 16:01] wongma7 commented on #328
As of `v0.1.2`/`latest` you may set `gidAllocate: "false"` in your storageClass parameters to disable GID allocation and give directories 777 permissions instead of the too-restrictive 771.

Good troubleshooting, let me know if this is a suitable workaround.

[2017-09-01 08:57] jenningsloy318 commented on #319
@msau42

But I use local-volume-provisioner  to create a daemonset to provide the local storage. how to achieve this.

[2017-09-01 15:07] msau42 commented on #319
The local storage provisioner does not work the same way as other provisioners.  It is a static provisioner, not a dynamic one.

You need to precreate the volumes on each node ahead of time.  Then launch the provisioner daemonset with the configmap that tells the provisioner where all your local disks are mounted.  The daemonset will automatically create PVs for the volumes it finds under those di

[2017-09-01 18:39] raffaelespazzoli opened #334 "iscsi-targetd: potential error when managed storage class is the default storage class"
I set the storage class managed by the iscsi provisioner to be the default one.
I started getting this error:

[code]

The problem seems to be related to these lines:
[code]
should there be a logic that says if the storage class is empty and this storage provisioner is serving the default storage class then accept the pvc?

[2017-09-01 18:49] wongma7 commented on #334
what is `kubectl get pvc prometheus/prometheus-data -o yaml`? The version of kubernetes?

[2017-09-01 19:11] raffaelespazzoli commented on #334
I'm using openshift 3.6, anyway in kubernetes terms:

[code]

[code]
[code]

[2017-09-01 19:22] wongma7 commented on #334
It must be a problem with the DefaultStorageClass plugin, it's supposed to automatically fill in the PVC's storageClass from blank to "iscsi". https://kubernetes.io/docs/admin/admission-controllers/#defaultstorageclass

The iscsi-targetd provisioner is correct to reject storageClass ""

[2017-09-01 19:50] raffaelespazzoli commented on #334
this pvc was created before there was a storageclass defined, maybe this is the issue. is it worthwhile to open an issue in the kubernetes repo?

[2017-09-01 20:01] wongma7 commented on #334
this is a limitation of admission plugins since it can only act at the time a PVC is created (i.e. can't do anything if storageclass doesn't exist yet). IMO the most we can do is update openshift and/or kube docs with this limitation, I will look into doing that.

[2017-09-03 00:26] sbezverk commented on #325
/assign @sbezverk

[2017-09-04 07:40] skornehl opened #340 "aws-efs "Error getting server version: the server has asked for the client to provide credentials""
Hey,

I'm trying to get the EFS provider running. My config ist this:

[code]

I'm pretty sure the credentials are right (using them with the CLI) but the container says otherwise:

kubectl logs efs-provisioner-753300497-r25xn
F0904 07:16:00.503006       1 efs-provisioner.go:281] Error getting server version: the server has asked for the client to provide credentials

Any way to get more debug inf

[2017-09-05 11:03] aglitke commented on #317
@humblec Please see https://github.com/aglitke/external-storage/blob/cinder-provisioner/openstack/cinder/README.md

[2017-09-05 17:42] wongma7 commented on #340
Yes, the AWS credentials are right but there''s something wrong with the kubernetes credentials. Is there anything special (non-default) about the way your apiserver authentication is set up? I would check the apiserver audit logs for errors around the time this `Error getting server version` gets reported by the provisioner

[2017-09-05 19:29] wongma7 commented on #326
@xingzhou kubernetes/api has been updated https://github.com/kubernetes/api/blob/f30e293246921de7f4ee46bb65b8762b2f890fc4/storage/v1/types.go#L51

[2017-09-05 22:37] #284 closed

[2017-09-06 06:28] skornehl commented on #340
You are absolutely right!

`E0830 09:21:45.093142       1 authentication.go:58] Unable to authenticate the request due to an error: [invalid bearer token, [invalid bearer token, [invalid bearer token, crypto/rsa: verification erro`

Thanks for pointing that out!

[2017-09-06 06:28] #340 closed

[2017-09-06 07:55] xingzhou commented on #326
yeap, thx @wongma7, I'll carry on the patch

[2017-09-06 16:58] #325 closed

[2017-09-06 20:04] sbezverk opened #343 "[local-volume] refactor format of local-volume-config"
Currently configuration for local volumes for the provisioner is stored in the configmap in json format.  @ianchakeres has suggested to switch to a more user friendly format.
Including @msau42  for the discussion.

[2017-09-06 20:21] msau42 commented on #343
@ianchakeres suggested to make the storage class mapping its own field so that you can add other global parameters.  I suggested to make it more user friendly by not using encoded json.  So I think the format could look something like this:

[code]

What do you guys think?

[2017-09-06 20:32] sbezverk commented on #343
@msau42 It looks more user friendly for sure but we need to evaluate how this structure will be represented in a mounted mode. Also before we were relaying on json decoding for syntax validation, with this approach we need to validate syntax of provided information in the code..

[2017-09-06 21:02] msau42 commented on #343
I believe each high level key is a file, and the value is the contents.

Yeah if the syntax validation and conversion is too complicated, then we can stick to encoded json.

[2017-09-06 22:37] sbezverk commented on #343
how about yaml? I think it is easier for eyes of user and there are library to parse it?

[2017-09-06 23:45] msau42 commented on #343
Yeah I guess it shouldn't be too bad to go from yaml -> json -> struct?

[2017-09-07 00:14] sbezverk commented on #343
We could do yaml to struct without intermediate json conversion.

[2017-09-07 16:04] wongma7 opened #344 "Ci test script should not exit on error"
Todo for myself. Think this means errnoexit or sth

[2017-09-07 23:59] ianchakeres commented on #343
Three comments:

1) I am fine with yaml or json.

2) How about making it look a little more like other kubernetes manifests for the list of directories that will be managed by the local provisioner. Here's what I'm thinking...

[code]

3) I'd also be fine with dropping everything into a single top level `config.file` so that we don't have to dive down into each directory for each of the different

[2017-09-08 00:36] sbezverk commented on #343
@ianchakeres I tried to create a configmap based on option 2 and it is failing, it does not like
"-name".
error: error converting YAML to JSON: yaml: line 9: mapping values are not allowed in this context
[code]

[2017-09-08 00:42] msau42 commented on #343
"-" indicates an array rather than a map

[2017-09-08 01:11] tmysl opened #345 "CephFS Provisioner Input/Output Error"
We are having issues with the cephfs provisioner against a few of our kube clusters:

The Provisioner runs correctly and I am able to create a PVC and mount it in my container but when i perform any operations against the mount I am presented with an I/O error.

`kubectl exec -it test-pod touch /mnt/test --namespace=sre
touch: cannot touch '/mnt/test': Input/output error`

The behavior is visible

[2017-09-08 18:32] sbezverk commented on #343
@msau42 could you please paste the configmap here how you see it should be?

[2017-09-08 18:36] msau42 commented on #343
I prefer the original method of using a map with key = storage class name, and values = hostDir, mountDir.  It's easier to convert to our internal representation, which is also a map.

[2017-09-08 19:03] sbezverk commented on #343
@msau42 I prefer original method too, as it keeps everything under the same key of StorageClassMap and it gives flexibility to add other configuration keys at the same level as StorageClassMap.

[2017-09-09 02:47] ianchakeres commented on #343
@msau42 - Can a map have the same key multiple times? For example, if I have two directories where I want local volumes mapped to the "gold" storageClass? If not, perhaps we should just add storageClassName: as an explicit key within each map entry.

[2017-09-09 03:10] msau42 commented on #343
A map cannot have the same key multiple times.  What is the use case for having multiple directories map to the same storage class?

[2017-09-10 04:44] kairen commented on #345
I also got the same error, more details as below:
[code]

[2017-09-10 14:28] satyamz commented on #277
Initial support for OpenEBS Provisioner has been added (PR #315). Therefore, closing this issue.

[2017-09-10 14:28] #277 closed

[2017-09-11 00:43] jurgenweber opened #355 "efs provisioner, nfs mount becomes unresponsive/super slow"
[code]

[code]

Using the Prometheus helm chart, I use the values:
[code]

This works but over time the share becomes slow and Prometheus starts to fail/become unresponsive. I expereinced this late last week and I found the share in the efs-provisioner container was responding fine but the mount in the prometheus server container was super slow but today.. both are super slow but inside the efs-pr

[2017-09-11 04:02] jurgenweber commented on #355
I have a feeling I am getting hampered by:

using a t2 instance with low networking.
my not realising that EFS has a burst system; http://docs.aws.amazon.com/efs/latest/ug/performance.html#performancemodes

my FileSystem is only 10gb or so, so I get a hour of burst. More to come as I discover more but any feedback is welcomed.

[2017-09-11 07:38] satyamz opened #356 "[OpenEBS] Update the prefix of pvName to openebs-volume for OpenEBS provisioned volumes"
We want to change the persistent volume name created by OpenEBS provisioner from `pvc-[unique-id]` to `openebs-volume-[unique-id]`
For example:
We want change NAME from
[code]
To

[code]

[2017-09-11 14:10] wongma7 commented on #355
Yes, I think it is burst credits at work. While you've mounted the efs share, the provisioner is not doing anything, you are interacting directly with aws efs.

[2017-09-11 14:32] aglitke commented on #317
Hi all.  I was wondering if others have an opinion about including this provisioner into the the kubernetes-incubator project.  @j-griffith do you have any further thoughts on my comments regarding the differences in scope between this provisioner and the existing openstack cloud provider interface?

Ideally, I'd like to merge this and work on it in a public place where others can contribute and i

[2017-09-11 14:43] rootfs commented on #317
@aglitke @j-griffith and @dims :
I'd love to see this work going into external-storage. It is independent of and complementary to other projects for similar purposes. Move importantly, this project enables Kubernetes cluster to consume backend storage directly without having to running on Nova. This is going to help expand the scope where Cinder can orchestrate storage.

[2017-09-11 21:29] dims commented on #317
+1 agree with @rootfs

[2017-09-11 21:59] rootfs commented on #317
@aglitke just to avoid confusion. There is already a Cinder provisioner in k8s tree. Would you rename your provisioner?

[2017-09-11 22:05] j-griffith commented on #317
@aglitke I'd love to see this merged and get folks behind it.  Agree with comments by @rootfs regarding the nature of the work.

[2017-09-12 13:02] tmysl commented on #345
@kairen the mount completes successfully on my end, the I/O errors are when I try to read/write to the mount dir. Historically when i've seen mount error 5 with ceph it was the result of a failure to access your MDS servers. check if you can reach them from within your container.

[2017-09-12 17:42] aglitke commented on #317
@rootfs Sure.  I will rename it.  Any suggestions?  Perhaps standalone-cinder would make it clearer.

[2017-09-12 17:52] rootfs commented on #317
@aglitke +1

[2017-09-14 15:42] wongma7 opened #369 "Need a consistent dynamic provisioner versioning strategy"
| provisioner  | current version |
| ------------- | ------------- |
| aws/efs  | v0.1.x |
| ceph/cephfs  | v0.1.x |
| ceph/rbd  | v0.1.x |
| gluster/block | v1.0.x |
| gluster/glusterfs | v0.1.x |
| iscsi/targetd | v0.0.x |
| nfs-client | v2.0.x |
| nfs | v1.0.x |
| openebs | n/a |

(local-volume/snapshot are not exclusively external dynamic provisioners and so not being discussed here)

The curr

[2017-09-14 15:43] wongma7 commented on #369
@childsb

[2017-09-14 16:08] wongma7 commented on #369
btw @jsafrane you had some thoughts somewhere I think the block storage proposal (it is too huge, I can't find your comment :( ) about how we should deal with kubernetes adding things like volumeType and external provisioners not being able to notice them, that is maybe relevant, so wdyt? IT's the same situation with storagecalss.reclaimpolicy and storageclass.mountoptions

[2017-09-14 16:15] jsafrane commented on #369
I probably need to submit a real proposal upstream how we're going to add new features to external provisioning like mount options.

[2017-09-14 16:16] wongma7 commented on #369
Ok sgtm, no rush :)))

[2017-09-14 16:25] jsafrane commented on #369
volumeType is in class.parameters so provisioners can start supporting it as they want. This leaves us only with mountOptions. There were no other PV/PVC/StorageClass changes, right?

[2017-09-14 16:28] wongma7 commented on #369
StorageClass reclaimpolicy the library needs to be updated and every
provisioner a new release

On Thu, Sep 14, 2017 at 12:25 PM Jan Šafránek <notifications@github.com>
wrote:

[2017-09-15 08:56] jsafrane opened #370 "local storage provisioner reads wrong capacity"
Let's pretend we have mount propagation in place and provisioner can see mounts that were mounted while the provisioner was running.

There is a race between admin mounting a volume and provisioner creating a PV for it:

1. admin creates /mnt/disks/new-volume1
2. admin mounts /dev/sdc to /mnt/disks/new-volume1

Provisioner will create a PV with wrong capacity when it scans /mnt/disks after step 1

[2017-09-15 14:55] ianchakeres commented on #370
Here are three possible solutions:

#1 - Admin use permissions

Have the provisioner ignore directories with specific restricted permissions and have the administrator set these permissions on any directory (/mnt/disks/new-volume1) that should be ignored by the provisioner.

When the mount operation is performed, the now mounted location's permissions (/dev/sdc) will take over the directory permis

[2017-09-15 18:13] humblec commented on #369
@wongme @jsafrane  other than the individual tagging of provisioners, what about having a release for this repo mapped to kube release from 1.8 onwards?

[2017-09-15 18:44] wongma7 commented on #369
I will still version the library using github releases. like right now we are at 2.0.0 and I will release 3.0.0 say next week with 1.8 updates

I think we will need to make an announcement of some sort on sig-storage about this

[2017-09-15 18:49] wongma7 commented on #370
IMO yes and yes, it would be good to mandate that every directory in /mnt/disks is a mountpoint. That requirement is clear, it doesn't require the admin to understand any new mechanism, and forcing the admin to do a bind mount to explicitly express that "this dir is ready to have a pv created for it" is less work than any of the other solutions.

[2017-09-15 21:33] msau42 commented on #370
Unfortunately as part of our user requirements, we also need to support directories, and not just mount points.  Another possibility is to only allow specific types of volumes per directory and add it to the configuration:

storageClass = "fast", hostDir = "/mnt/ssds", type = "mounts"
storageClass = "shared", hostDir = "/something/in/root", type = "directories"
storageClass = "ssds", hostDir = "/d

[2017-09-15 21:34] msau42 commented on #370
/cc @dhirajh

[2017-09-17 13:44] ddysher commented on #370
How do we handle config update if we add the new 'type' parameter? e.g. admin changed his mind and want to make /mnt/ssds to be shared directory.  The directory already have mount points and have corresponding PVs created in kubernetes, should we maintain these 'legacy' PVs?

[2017-09-18 08:09] jsafrane commented on #370
Anything that we choose must be 1) simple and 2) must not lead to wrong PVs being created.

@ianchakeres, all your proposal might lead to creation of wrong PV if the admin is careless (and they are careless). If they forgot to create .lock file or forgot that their umask is wrong or forgot to stop the provisioner the resulting PV would have wrong capacity, something may bind to it and put some dat

[2017-09-18 14:00] playworker commented on #345
I'm experiencing the same error as @kairen - externally from K8s I can mount all of the directory tree but not the final kubernetes-dynamic-pvc-... directory.  Ubuntu 16.04, Kernel 4.4.0

[2017-09-18 14:05] rootfs commented on #345
@tmysl @playworker can you mount manually the top level directory, i.e.

mount -o ceph 172.20.3.92:6789,172.20.3.93:6789,172.20.3.95:6789:/volumes/ /mnt -o name=kubernetes-dynamic-user-a468a63c-95e1-11e7-a436-fa8092874d5d,secret=AQBZwbRZtOLULhAAiFMjKIb8Q35OlS1cpJaSrw==

[2017-09-18 14:17] playworker commented on #345
@rootfs yes I can, same with the /volumes/kubernetes directory, it's only the final kubernetes-dynamic-pvc-... directory that I can't mount manually

[2017-09-18 14:26] rootfs commented on #345
@playworker there is a known limitation [3rd bullet here](https://github.com/kubernetes-incubator/external-storage/tree/master/ceph/cephfs#known-limitations)

I haven't tested newer kernel yet

[2017-09-18 14:40] playworker commented on #345
Thanks @rootfs, I'm not particularly familiar with CephFS - what does the 3rd bullet mean?  It reads to me like it's has security implications rather than functional implications.
I guess we're talking about this limitation:  "Currently each Ceph user created by the provisioner has allow r MDS cap to permit CephFS mount."?

[2017-09-18 14:44] rootfs commented on #345
see "Path Restriction" [here](https://access.redhat.com/documentation/en-us/red_hat_ceph_storage/2/html/ceph_file_system_guide_technology_preview/mounting_and_unmounting_ceph_file_systems)

[2017-09-18 14:52] playworker commented on #345
@rootfs I'm sorry, I still don't understand why you think that each user being given the "allow r" MDS cap limitation is the cause of my issue.  The mount command has the user specified, when the provisioner created that user I assume they have been given the "allow r" capability and therefore should be able to mount the path specified?

[2017-09-18 14:56] rootfs commented on #345
@playworker can you post your ceph auth for user kubernetes-dynamic-user-a468a63c-95e1-11e7-a436-fa8092874d5d

[2017-09-18 16:20] playworker commented on #345
My particular issue was to do with namespace support in the CephFS kernel driver, this wasn't introduced until kernel versions 4.7/4.8 (not sure exactly which), upgrading the Kubernetes workers to kernel version 4.10 has fixed the problem - thanks for your help everyone :)

[2017-09-19 06:03] satyamz opened #371 "Add optional method to rename the pvs to custom name"
Need the optional method to rename pvc to some useful/meaningful name.  More discussion on this https://github.com/kubernetes-incubator/external-storage/pull/357

[2017-09-19 22:18] tmysl commented on #345
Thanks Guys for all your comments - we were indeed running on centos 7/kernel 3.10.* - upon upgrading the kernel to mainline on one node and setting up a taint & toleration we were able to get the provisioner and accompanying test-pod to mount and allow us to manipulate the dir.

[2017-09-20 15:52] cnighojkar commented on #324
any update on this?

[2017-09-20 16:09] wongma7 commented on #324
You must use glide as documented for it to work. I will be updating
everything this or next week if you’d prefer to wait for that

On Wed, Sep 20, 2017 at 11:52 AM Chetan Nighojkar <notifications@github.com>
wrote:

[2017-09-21 10:49] cnighojkar commented on #324
@wongma7  Thanks for the Update , actually we use godep.
Also i am trying to unmarshal the pod json to an object so that i can pass the object(*v1.Pod) to the function  **clientset.CoreV1().Pods("default").Create(*v1.Pod)**
is there any other way i can achieve this?

[2017-09-21 14:38] wongma7 commented on #324
try ioutil.ReadFile() and json.Unmarshal

[2017-09-22 09:41] xiaoshengaimm opened #380 "LocalVolume not support Multiple VolumeClaims"
[code]
when there is more than one VolumeClaimTemplates and mount to the pod，k8s scheduler boud the claims to the pv on different nodes. so failed to startup.

hope support multiple pvcs.

[2017-09-22 12:24] ianchakeres commented on #380
@xiaoshengaimm - Local storage doesn't support multiple local PVC/PV yet.

From the [readme](https://github.com/kubernetes-incubator/external-storage/blob/master/local-volume/README.md):
[code]

[2017-09-22 12:50] pospispa commented on #242
@wongma7 my assumption is that running Kubernetes cluster keeps list of it's nodes. This information is available in Kubernetes API as [`NodeList`](https://kubernetes.io/docs/api-reference/v1.7/#nodelist-v1-core). So it should be possible to get the `NodeList` from Kubernetes API, parse information of individual [nodes](https://kubernetes.io/docs/api-reference/v1.7/#node-v1-core) and get labels fo

[2017-09-22 13:52] pospispa commented on #369
@wongma7 IMHO, both minimum and maximum supported K8s versions may be included in the tag, e.g. `v1.0.0-kube1.5-kube1.7`.

What about verification? Should an external provisioner be verified only against the latest K8s version or against all K8s versions it supports?

[2017-09-22 16:26] wongma7 commented on #369
verification is difficult. Currently the nfs provisioner, and so our library, is going through e2e tests both here (1.5, 1.6, and soon 1.8) and on kubernetes (all versions we run the dynamic provisioning tests), so any provisioners using our library are in a sense "verified" to interface correctly with kubernetes. This doesn't protect them from their own implementation bugs, which are the responsi

[2017-09-22 16:56] pospispa commented on #369
I agree.

This should make it obvious. I'm for it.

[2017-09-22 17:42] pospispa commented on #242
So AFAIK no other external provisioner supports multiple zones until now.

One of the Kubernetes features in [AWS](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#aws), [GCE](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#gce) and [Cinder](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#openstack-cinder) plugins is that if no zones are specified in

[2017-09-23 20:40] msau42 commented on #370
I'm fine with requiring filesystem volumes to be bind mounted, and block volumes to be symlinked.  For some reason I thought there was some concern about the extra step of bind mounting, but I misread.

I'm ok with the detection potentially taking a long time.  Discovery of local volumes doesn't need to be that performant.  We can at least cache the mounts for each iteration so that we don't need

[2017-09-23 20:45] msau42 commented on #380
Yes, we will try to address this in 1.9 with a [volume topology-aware scheduler](https://github.com/kubernetes/community/pull/1054)

[2017-09-23 20:46] msau42 commented on #380
/assign

[2017-09-23 20:52] msau42 commented on #250
/assign

[2017-09-23 20:52] msau42 commented on #132
@ddysher @ianchakeres can this be closed?

[2017-09-23 20:53] msau42 commented on #131
@ddysher can this be closed?

[2017-09-23 20:59] msau42 commented on #280
It's possible a disk could disappear temporarily and come back.  We don't want to just blindly delete the PV and potentially cause the application to lose their data unnecessarily.

Instead of directly deleting the PV, the approach I prefer to take is to have health monitoring on the PV and be able to mark a PV as unhealthy if there's a problem with the underlying disk, and let the user define pol

[2017-09-23 20:59] msau42 commented on #280
/assign

[2017-09-23 21:00] msau42 commented on #319
@jenningsloy318 were you able to figure out how to use the local storage static provisioner?

[2017-09-24 20:19] ianchakeres commented on #132
@msau42 @ddysher -  I think we can close this issue.

[2017-09-25 00:11] ddysher commented on #132
Yes, we can close it.

[2017-09-25 00:11] #132 closed

[2017-09-25 00:14] ddysher commented on #131
Yes, we can close this.  For future reference, there is another related [issue](https://github.com/kubernetes-incubator/external-storage/issues/343).

[2017-09-25 00:14] #131 closed

[2017-09-27 18:06] raffaelespazzoli commented on #334
we can close this

[2017-09-27 18:20] msau42 commented on #370
Matt has graciously offered to look into this. Thanks!

/assign @wongma7

[2017-09-27 22:08] #334 closed

[2017-09-28 00:37] msau42 commented on #319
/assign
/area local-volume

[2017-09-28 00:37] msau42 commented on #319
Please reopen if you still see an issue.

[2017-09-28 00:37] msau42 commented on #319
/close

[2017-09-28 00:39] msau42 commented on #343
/area local-volume

[2017-09-28 00:39] msau42 commented on #380
/area local-volume

[2017-09-28 00:39] msau42 commented on #280
/area local-volume

[2017-09-28 00:40] msau42 commented on #250
/area local-volume

[2017-09-28 00:47] msau42 opened #398 "Local provisioner can delete a volume while it's still in use"
If user deletes PVC, and PV becomes released, the provisioner will start the deletion process, regardless of if a pod is still using it.

Ideally, I would like to solve this by preventing PVC from being deleted in the first place because I don't think checking mounts is reliable.  You can check that no mounts exist, and start the deletion, but a Pod could mount in between that time.

/area local-v

[2017-09-28 12:47] ianchakeres commented on #370
I've got another idea...

Have the local-volume provisioner make two passes over the discovery directory before creating a PV for a new directory. The first pass would detect that there is a new directory (e.g /mnt/disks/vol1). The provisioner waits some period of time long enough for us to reasonably expect that an admin has completed configuration of the new directory (e.g. creating mount point

[2017-09-28 14:11] nak3 opened #399 "iscsi: use glog instead of Sirupsen/logrus"
Since `scsi/target` uses `Sirupsen/logrus` instead of `glog` for its logging library, users cannot adjust the log level of glog. This means that it is not possible to see info level log under `external-storage/lib/`. (I'm sorry if there is a secret trick to adjust.)

[code]

c.f rdb-provisioner
[code]

When debuging iscsi provisioner or when understanding the behavior of provisioner, I would like

[2017-09-28 19:53] ianchakeres commented on #398
This issue is related to https://github.com/kubernetes/kubernetes/issues/45143.

[2017-09-29 16:53] pospispa commented on #242
I'm sorry I failed to explain the problem. Please, let me explain it from scratch.

***

1. Let's assume there is a storage class that doesn't have any zone(s) specified as zone(s) parameter is optional.
2. Let's assume a user creates a PVC that references the storage class so a PV shall be provisioned dynamically.
3. In which zone should be such PV provisioned?
4. In a zone in which the K8s clust

[2017-09-29 17:03] msau42 commented on #242
We tried to go with this same approach for in-tree provisioning, but there were concerns brought up around whether we could really trust the Node's information, and layer violation.  See kubernetes/kubernetes#50115

[2017-09-29 18:21] wongma7 commented on #242
I understand the problem.

I don’t understand what is being expected of me here. It isn’t my concern how the attempted solution is implemented. I’ve simply expressed a reluctance to include cloud specific code in the library, because I think it is out of scope. Regardless of where the code lives, somebody is going to need to write it, and it won’t be me

[2017-09-30 05:32] ddysher commented on #370
How long is enough for admin to complete the mount operation?  I feel it only decreases the changes of race condition, the problem is inherently the same.  This also requires admin to be aware of how provisioner works internally.

[2017-10-02 10:43] pospispa commented on #242
I tried to think out loud how to approach this issue. I was wavering among several approaches, but currently I think that querying K8s API for [NodeList](https://kubernetes.io/docs/api-reference/v1.7/#nodelist-v1-core) is the right approach.

I'd like to get validation that this approach makes sense to others before actual implementation.

***

Regarding the implementation: extending the library i

[2017-10-02 13:08] pospispa commented on #242
@msau42 thank you for pointing me to the kubernetes/kubernetes#50115 issue.

It's useful for me to know that [PR #52322](https://github.com/kubernetes/kubernetes/pull/52322) tried the same approach but failed because of not enough access rights to K8s API. To see the follow-up discussion: [where is "the right source of true for zones"](https://github.com/kubernetes/kubernetes/issues/50115#issuecom

[2017-10-02 16:17] #319 closed

[2017-10-02 16:26] #343 closed

[2017-10-03 06:49] wongma7 commented on #242
Maybe you could mandate that the storageclass must have a zone parameter specified, at least until the issue is solved. If I’m reading the linked issue correctly, it’s mostly a problem because people use the default storage class which can’t possibly be populated with any zone information at cluster bootstrap time. I doubt zones change often enough that the solution has to be super good, but I don

[2017-10-03 13:27] msau42 commented on #242
Yes, the primary workaround is to define the zones in the StorageClass.  The main issue is that you can dynamically add/remove new zones to your cluster, so we can't just use the current zones at cluster creation time.

[2017-10-04 00:04] msau42 commented on #380
Closing the issue here because it will be handled in the scheduler, not in the local provisioner.

/close

[2017-10-04 00:04] #380 closed

[2017-10-04 06:37] cnighojkar commented on #324
Thanks , @wongma7  , it worked.
I realized later that this way i am recreating kubectl functionality . Somewhere in the kubectl code i can call direct methods to create Pod , ReplicationController , Services etc.
I am browsing the kubectl library but could not find the correct method to be called.

Any thing you can direct me towards?

[2017-10-04 10:07] pospispa commented on #242
There is [Generic Storage Topology solution that works well with CSI and Local Storage](https://docs.google.com/spreadsheets/d/1t4z5DYKjX2ZDlkTpCnp18icRAQqOE85C1T1r2gqJVck/edit#gid=1993207982) design targeted for K8s 1.9 in SIG storage tracking spreadsheet. I believe the design should work also for external provisioners. Currently, I'm not in a hurry so I can wait for the design.

[2017-10-09 09:44] dtschan opened #404 "glusterblock-provisioner: volume size incorrect in gluster-block mode"
The `glusterblock-provisioner` seems to calculate volume size incorrectly in `gluster-block` mode. I created a volume using the [provided pvc](/kubernetes-incubator/external-storage/blob/e611f9034e57d64859d09810186d1973263af246/gluster/block/examples/glusterblock-mode/claim1.yaml) and `gluster-block` 0.2.1. The resulting volume has a size of 2 bytes instead of 1 GiB (1024^3 bytes).
The cause seems

[2017-10-09 15:56] msau42 opened #405 "[local-volume] PV capacity is hard to read"
Can we round the capacity to the closest Mi or Gi?

[code]

[2017-10-09 15:56] msau42 commented on #405
/area local-volume

[2017-10-09 17:08] kfox1111 opened #406 "CephFS root path"
I would like to share one cephfs with multiple k8s instances. Currently, it places all pv's under /volumes/kubernetes/xxx

Could we make '/volumes/kubernetes/' specified on the cephfs-provisioner cli to be overridable so we can make directories non overlapping?

This is kind of the opposite of issue #245

[2017-10-10 14:45] ianchakeres commented on #405
/assign @ianchakeres

[2017-10-10 16:00] rootfs commented on #406
@kfox1111 do you have any use case for overriding the default top level directory?

[2017-10-10 16:02] rootfs commented on #404
@humblec

[2017-10-10 16:08] kfox1111 commented on #406
two k8s clusters sharing one cephfs?

[2017-10-10 17:37] adawolfs opened #407 "Capacity is not limited for PVC"
Hello
I'm actually testing your implementation for nfs-provisioner but I have issues exceeding limits for PV, causing that just one mount can consume all the storage

Can you let me know if it's currently supported and if it's help me to make it work?

[2017-10-10 20:24] wongma7 commented on #407
No, it's not supported, capacities and quotas must be enforced at the underlying filesystem level.

There is an extremely limited option to integrate with xfs project-level quotas, see the section on quotas here https://github.com/kubernetes-incubator/external-storage/blob/master/nfs/docs/deployment.md#outside-of-kubernetes---container

[2017-10-10 20:48] adawolfs commented on #407
Thanks @wongma7 I'll take a look!

[2017-10-11 09:47] wenjun1 commented on #317
@aglitke hi, is there any conflict with pv_controller inside controller-manager?  I mean when user created a pvc, how can I decided whether pv_controller or the standalone provisioner do the provision?

[2017-10-11 11:42] humblec commented on #404
@dtschan you are correct on your analysis, however in heketi mode this is not an issue because we append `G` when we send the command to `gluster-block` , however I missed to append `G` in `gluster-block` mode . Working on a patch

[2017-10-11 11:54] humblec commented on #404
/assign @humblec

[2017-10-11 13:59] aglitke commented on #317
@wenjun1 Great question.  Please correct me if I am wrong, but I think this should not be an issue due to storage classes.  The standalone provisioner should only handle PVCs that are assigned to a storage class that is annotated with this provisioner name.

[2017-10-12 12:40] wenjun1 commented on #317
@aglitke Thanks. I see after provisioning, volume is marked as reserved/attaching at cinder side, why not set the state to in-use? I think set cinder volume to `attaching` state all the time is weird IMHO.

[2017-10-13 17:09] dhirajh opened #409 "[local-volume] PVs created for local volume should inherit the node's region, zone and hostname information"
A Local PV has some of the same labelling needs as the node it resides on. In particular, having these labels inherited from the node would be very useful to the local PVs:

failure-domain.beta.kubernetes.io/zone
failure-domain.beta.kubernetes.io/region
kubernetes.io/hostname

[2017-10-13 18:24] mikegrass commented on #409
Can the set of labels to propagate from the node to the local PVs be configurable? Different environments may be using their own labeling strategy on nodes for identifying failure domains.

[2017-10-13 19:00] msau42 commented on #409
Sounds good to me.  Configurable is also better.

/cc @msau42

[2017-10-13 19:13] dhirajh commented on #409
Configurable would be a nice approach here. It would allow the default behavior to be the same as what we have today

[2017-10-13 19:13] dhirajh commented on #409
/assign @dhirajh

[2017-10-13 22:24] ianchakeres commented on #405
I'm planning to round down the capacity number put into the local volume's PV.

For volumes over 10Gi, I will round down to the nearest 1Gi.
For volumes smaller than 10Gi and larger than 10Mi, I will round down to the nearest 1Mi.
For volumes smaller than 10Mi, I will provide actual capacity. These volumes capacity will be displayed in displayed Ki.

[2017-10-14 12:59] ianchakeres opened #410 "[local-volume] make test for provisioner fails on mac"
`make test` fails on mac due to unix.BLKGETSIZE64 being undefined on darwin.

[code]

[2017-10-14 12:59] ianchakeres commented on #410
FYI: @msau42 @dhirajh
/assign @ianchakeres

[2017-10-16 05:59] humblec commented on #404
@dtschan This is fixed with above mentioned PR, I am closing this issue and please feel free to revert if its not fixed. Thanks for filing the issue and happy hacking.

[2017-10-16 05:59] #404 closed

[2017-10-16 13:35] aglitke commented on #317
@wenjun1 Agreed that "attaching" is a weird state to leave the volume in.  The problem is that a provisioned volume in this case is not yet attached to any host.  We could call the cinder attach verb with fake values for hostname and mountpoint but that also seems weird.  The way the provisioner creates PVs means that it will not be notified when the volume is attached because kubernetes handles t

[2017-10-17 15:14] msau42 commented on #409
Hey @dhirajh, what is the use case for putting selectors on the PVC?  I'm thinking instead that you would put selectors on your StatefulSet, and that would restrict the set of nodes (and therefore PVs) that we can bind the PVC to.

[2017-10-17 17:53] dhirajh commented on #409
@msau42 can you clarify this approach bit? I thought a pvc would bind to suitable pv first based on the constraints expressed in the pvc. In which case even if there are selectors on the stateful set it wouldn’t influence the pvc to pv binding. I thought this was a limitation in the current local volume implementation.

[2017-10-17 18:12] msau42 commented on #409
Yes, but the scheduler work I'm doing in 1.9 is going to flip that.  We will evaluate Pod and PVC constraints at the same time.  So once this change is in, then I think any workload placement constraints should be driven from the Pod

[2017-10-17 20:47] dhirajh commented on #409
@msau42 right, the use case for selectors is only for the interim between now and whenever the user community feels comfortable upgrading to 1.9. But setting that aside, for the long term, I think the ability to inherit labels from the node is valuable for management of local volumes. It will make the task of querying available storage in a given rack or zone or region quite easy with the right la

[2017-10-17 20:55] msau42 commented on #409
Ok yes, querying based on labels is useful.  Thanks!

[2017-10-18 03:31] tamalsaha commented on #15
Base don my conversation with @msau42 , it seems that the new Local PV will eventually address this use-case. I am looking forward to that. Closing this one.

[2017-10-18 03:31] #15 closed

[2017-10-18 15:20] #410 closed

[2017-10-18 19:11] nqbao opened #416 "[aws-efs] Deleting the volume does not delete the actual folder on EFS"
I notice that the folder on the EFS is not deleted after the PV is deleted, even if the reclaim policy is `Delete`. Is it a bug or a feature?

*Step to reproduce*:

Create a pvc and bound to a pod:

[code]

After applying the manifest, we will see the volume and the folder on efs

[code]

[code]

Now if i delete the claim and the pv

[code]

The folder is still there on the efs folder

[code]

[2017-10-18 19:17] wongma7 commented on #416
It is probably because you delete the PV immediately after the PVC. There is no need to delete the PV as the provisioner is watching for PVs to enter the `Released` state, and when it sees those it will delete the data then delete the PV for you.

[2017-10-18 19:19] nqbao commented on #416
So it's best to delete the pvc and pod. Then the PV will be recycled automatically. Is it correct?

[2017-10-18 19:20] wongma7 commented on #416
That's correct. You can try it to be sure.

THe idea is that a typical "user" might not have privileges to delete PVs.
So it should be the system's (provisioner's) responsibility to delete the
PV.

On Wed, Oct 18, 2017 at 3:19 PM, Bao Nguyen <notifications@github.com>
wrote:

[2017-10-18 19:21] nqbao commented on #416
Okie, i will give it a try

[2017-10-18 19:38] nqbao commented on #416
Do we know how long the PV will get deleted by the controller loop. Also, I notice that the PV state is still bound after i delete the PVC.

[code]

[2017-10-18 19:39] wongma7 commented on #416
It should take only 15 seconds to enter the next state.

[2017-10-18 19:40] nqbao commented on #416
Yeah, then something is wrong here. It has been 10m since i delete the PVC.

[2017-10-18 19:48] nqbao commented on #416
Oh, it does get deleted eventually. Maybe we should document this behavior somewhere?

[2017-10-18 20:03] nqbao commented on #416
Also, funny thing is now i see in the log of efs provisioner try to delete pvc-4ed82613-b439-11e7-97a4-12a022115dac. But it was deleted already. Is it the right behavior?

[code]

[2017-10-18 21:03] wongma7 commented on #416
The long time between Bound->Released is something wrong on the Kubernetes end, maybe a bug, 10m is excessive. I would search kubernetes/kubernetes issues for things like 'long resync period, bind time'

The repeated deletion is right, it will keep retrying if for some reason it didn't receive the success response the first time. Basically it has to assume the worst about the apiserver and simply

[2017-10-18 21:43] nqbao commented on #416
Actually, it has been trying to delete that PV for 1h.

[code]

I'm using kubernetes 1.6.8. Should I open this ticket to kubernetes repo? Is there anything I can do to debug this issue?

[2017-10-18 21:58] wongma7 commented on #416
Yeah I would open a ticket.

I would check controller manager args, there is one that configures pv
controller resume. Perhaps that was changed somehow.

The repeated deletions indicate something wrong with apiserver, because it
will only attempt to delete continuously if apiserver continuously tells it
the volume exists! When it obviously doesn’t anymore. In my experience I’ve
only seen bizarre b

[2017-10-18 22:04] nqbao commented on #416
Yes, i will open a ticket. Meanwhile, i'm using etcd 3.0.6. Is it too old?

[2017-10-18 22:30] wongma7 commented on #416
Yeah, 3.0.17 is recommended for 1.6: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.6.md#external-dependency-version-information

No guarantee it will fix it, but upgrade shouldn’t hurt.

[2017-10-18 22:41] nqbao commented on #416
Right, i upgrade to 3.0.17. Restart all kubelet and all works now! We can close the ticket.

Thank for your help!

[2017-10-18 22:46] wongma7 commented on #416
Nice 👍

[2017-10-18 22:46] #416 closed

[2017-10-20 17:07] #405 closed

[2017-10-24 17:47] sbezverk opened #418 "support for new api objects in external-storage"
Recently new objects were added to api, example SecretReference or RBDPersistentVolumeSource etc.. These objects are needed for RBD and CephFS provisioners.  When I bump up the apimachinery version to make these new objects available, the compile process fails with large number of errors.  I would appreciate any guidance here.

[2017-10-24 17:48] rootfs commented on #418
@wongma7

[2017-10-24 18:17] wongma7 commented on #418
Let’s merge https://github.com/kubernetes-incubator/external-storage/pull/392 first, it may make things easier for you

[2017-10-24 21:16] wongma7 commented on #418
I’m now continuing work in https://github.com/kubernetes-incubator/external-storage/pull/419

K8s repos have tags now so it will be much easier to avoid the “bump and all hell breaks loose” situation by ensuring all the repos have the same tag,

[2017-10-25 19:34] djdevin commented on #371
This would be great. Currently we name it based on the OpenShift project name and project names will never be re-used. Makes it easier for backups and auditing as well, also disaster recovery.

For a more public cloud though the current approach is fine, but it would be nice if it was configurable to omit any sort of randomly generated folder name.

[2017-10-25 20:48] djdevin opened #421 "aws-efs support IAM for credentials"
Pulling the credentials for the EFS reader from IAM will make testing across environments easier.

For our specific case, the infra node that the provisioner lives on has the permission to read EFS.

[2017-10-25 22:35] djdevin opened #422 "[aws-efs] allow mounting by DNS and not FSID"
We have a CNAME mapped to our EFS DNS name for ease of use and cross-environment usage (so nfs.ENVIRONMENT_HOST.com will always point to the correct place)

This might be a Linux or Openshift issue because it does something weird where even though we didn't pass the DNS name, the DNS name was mounted into this pod. I think it's going to use it because it was previously mounted somewhere on that ho

[2017-10-26 11:14] satyamz commented on #371
Yes! Waiting for @wongma7 's reply for next steps.

[2017-10-27 19:51] szesch commented on #251
I just ran into this. A PVC and a deploy are defined in the same file. `kubectl delete -f deploy.yaml` results in the pods never terminating. It doesn't look like there's much traction on that kubernetes ticket. Any suggestions for a workaround?

[2017-10-27 19:55] Rishka commented on #251
`kubectl delete po  --grace-period=0 --force POD_WITH_PVC` for the stuck ones is how I am handling it

[2017-10-27 21:23] bassam opened #423 "Proposal to break out lib/controller into separate repo"
The Rook project uses the provisioner in lib/controller and also takes dependencies on kubernetes projects directly (apis, apimachinery, client-go etc.). Managing dependencies between Rook --> Kubernetes and External-Storage--> Kubernetes has been challenging. Furthermore, the External-Storage project seems to be lagging a few versions behind upstream Kubernetes, and to get everything updated it r

[2017-10-28 00:18] wongma7 commented on #251
@szesch instead of deleting by file (-f) you can delete by pod name then pvc name.

[2017-10-28 01:13] wongma7 commented on #423
Yes, this would be good.

If we were not a monorepo https://github.com/kubernetes-incubator/external-storage/pull/392 would have merged and the lib would have been ready for 1.8.0 pre-release.

The idea behind the monorepo has always been to allow for both: A) I update the repo with every k8s release or upon request, or B) somebody updates the repo themselves when they need it, e.g. @humblec and @

[2017-10-28 01:17] bassam commented on #423
@wongma7 thanks! we'll get a PR going on this soon. who do we have to talk to get a new repo in the kuberenetes-incubator org?

[2017-10-28 01:19] wongma7 commented on #422
Yes, I will add a way for you to specify the DNS name. I guess via ENV var.

Idea behind this strict checking of the mount entry is paranoia that we don't touch something local d or some other nfs mount if the mount point was e.g. mistyped

[2017-10-28 01:22] wongma7 commented on #423
First we need the attention of @jsafrane / @childsb. After that the procedure I imagine will be something like when we  split off external-storage from nfs-provisioner, except this time we aren't abandoning the old repo. Don't recall exactly the steps, will need @childsb input first.

[2017-10-28 02:54] wongma7 commented on #423
BTW no need to get a PR, I'm almost done #419 .

[2017-10-28 16:43] bassam commented on #423
@wongma7 I think it makes sense to break out `lib/` into a separate repo even after #419 is merged. Are you suggesting otherwise with your last comment?

[2017-10-28 19:20] raffaelespazzoli commented on #399
//assign
please assign this to me.

[2017-10-29 11:55] mafzst opened #424 "[openebs] Changing maya-apiserver namespace crashes provisionner"
If we change the namespace of `maya-api-server-service` service in the deployment file, the provisionner pod won't start.

Here the log from the pod :
[code]

I think the namespace name is hardcoded in [`maya_api:59`](https://github.com/kubernetes-incubator/external-storage/blob/master/openebs/pkg/v1/maya_api.go#L59).

Should it be defined in an environment variable?

[2017-10-29 14:04] satyamz commented on #424
Hi @mafzst,
I have fixed the problem where `openebs-provisioner` will go into `Error` state in the https://github.com/openebs/openebs/issues/245 , I'll soon send PR here.
I'll also fix different `namespace` issue too. Thanks, for the suggestion. I will reference this issue in the PR.

[2017-10-29 14:08] satyamz commented on #424
/assign @satyamz

[2017-10-30 02:23] wongma7 commented on #423
No, I still agree with you bout a separate repo.

On Sat, Oct 28, 2017 at 12:43 PM Bassam Tabbara <notifications@github.com>
wrote:

[2017-10-30 02:30] bassam commented on #423
Thanks @wongma7.

@childsb @saad-ali would you guys support this? If so I'd like to create a new repo in kubernetes-incubator for it. Looking at the process here https://github.com/kubernetes/community/blob/master/incubator.md I'm going to need a champion and send off an email to kubernetes-dev.

[2017-10-30 03:01] wongma7 commented on #371
The next step is to add it. I promised to get it started a while ago but dropped the ball.

End of week after this at the latest is when it will be done and the next version of the library released.

[2017-10-30 21:00] mtanino opened #425 "New volumeMode and volumeDevices API enablement for block volume support"
Currently new volumeMode and volumeDevices API enablement for block volume support is ongoing toward Kubernetes v1.9. Once this feature will land, external-provisioner needs to handle these parameters to provision block volume.

I would appreciate any guidance to support these APIs.

- Block volume support
https://github.com/kubernetes/features/issues/351
https://github.com/kubernetes/community/pu

[2017-10-31 04:42] mtanino commented on #425
/cc @wongma7

[2017-10-31 14:44] mtanino commented on #425
@jsafrane

[2017-11-01 02:46] chestack opened #427 "WaitForAvailableCinderVolume only sleep 5 seconds instead of polling until volume in available"
https://github.com/kubernetes-incubator/external-storage/blob/master/openstack/standalone-cinder/pkg/volumeservice/actions.go#L110-L117

[2017-11-02 04:25] mtanino opened #431 "iSCSI external-provisioner returns empty string in Portals even if there isn't additional portals"
At the API Spec, iSCSI plugin expects that Portals is empty if there isn't no additional portals.
[code]

However, iscsi/targetd external-provisioner set empty string if there isn't additional portals.
As a result, iscsi plugin misunderstands that this empty string is actual second portal, then trying to connect ":3260" iscsi portal as shown in iscsi plugin error below.

- Provision() method in is

[2017-11-02 07:49] w9n opened #432 "nfs-provisioner: FSAL validation error with cri-containerd"
I followed the quickstart and get this from ```kubectl describe pvc nfs```

[code]
and this from /export/ganesha.log
[code]

Any idea whats wrong? the FSAL block doesnt look invalid. Not sure about the log content.

[2017-11-02 11:10] raffaelespazzoli commented on #431
@mtanino thanks. I created a PR to fix the issue as you suggested:
https://github.com/kubernetes-incubator/external-storage/pull/434

while it's getting merge you can find a docker image with the fix here:
`docker pull raffaelespazzoli/iscsi-controller`

[2017-11-02 11:33] mafzst commented on #424
Any news @satyamz?

[2017-11-02 14:53] j-griffith opened #436 "Cinder using V3 Auth (Keystone) needs DomainName or ID"
When connecting to a deployment using Keystone V3 Gophercloud will expect/require the Domain Name or ID.  This is in the openrc file for most deployments (ie RDO) however it's not read in from env variables in the connection code.

Add the parsing of OS_USER_DOMAIN_NAME to cinderConfig to fix this.

[2017-11-02 15:57] viktorchernov opened #439 "get errors with deployment.yaml"
Hello.
I am using:
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

I have started deployment.yaml with latest image for CephFS provision. Storge class,config map and secret had been created.
But I get error:
 Failed to watch *v1.StorageClass: unknown (get storageclasses.storage.k8s.io)
in storage class I used "apiVersion: storage.k8s.io/v1"

can you help me?

[2017-11-02 19:44] SneakyMax commented on #223
I could not get either NFS 4.1 or 4.0 working either unfortunately. A write as soon as the container started caused an `Invalid Argument` error and the container (redis) crashed. NFS 3 is working alright. (`vers=3`)

[2017-11-03 11:32] #439 closed

[2017-11-03 17:00] wongma7 commented on #432
what is the filesystem type of /export/? you are right the block is valid, the 'invalid' error is misleading, the 'not a directory' messages are more telling.

[2017-11-03 17:45] mcronce opened #441 "Clean up cephfs provider Docker image"
While exploring the cephfs storage provider for personal use, I noticed a couple things:

- The Dockerfile doesn't run a `yum clean all`, which (from testing) inflates the uncompressed image size by ~103MB
- The default `CMD` is set to `chmod o+x /usr/local/bin/cephfs_provisioner` - the Deployment manifest overrides the command, but I noted that `cephfs-provisioner.go` relies on being able to exec

[2017-11-03 18:17] wongma7 commented on #441
Sounds good to me, please submit a PR 👍 , it's best we follow convention.

[2017-11-03 18:20] mcronce commented on #441
Done - thanks!

[2017-11-03 19:21] w9n commented on #432
```/export``` is a HostPath mount on an ext4 disk.
[code]
I can add the ```/export/pvc-e9de1f6b-bf99-11e7-bb4e-0ae1ff7ff0a2``` manually as root in the container as what ganesha.nfsd and nfs-provisioner is running. I dont think its trying to create the dir as a different process?

I really dont get ```Could not open VFS mount point /etc/resolv.conf: rc = Not a directory (20)```, can edit the file a

[2017-11-03 21:49] w9n commented on #432
```Could not open VFS mount point``` gets thrown [here](https://github.com/nfs-ganesha/nfs-ganesha/blob/master/src/FSAL/FSAL_VFS/handle_syscalls.c#L105) and called from [here](https://github.com/nfs-ganesha/nfs-ganesha/blob/master/src/FSAL/FSAL_VFS/export.c#L445) which is the ```fsal_filesystem``` parameter in ```int vfs_claim_filesystem(struct fsal_filesystem *fs, struct fsal_export *exp)```.

Th

[2017-11-03 22:17] wongma7 commented on #432
is the container at the latest tag? there was a bug with containers like this that have `overlay` root /, but it was fixed with a patch on ganesha.

Other than that, I don't know what could be wrong as it will be a nfs-ganesha issue that is much harder to debug.

[2017-11-03 22:18] #441 closed

[2017-11-03 22:19] mtanino commented on #431
closed via #434

[2017-11-03 22:19] #431 closed

[2017-11-03 23:36] w9n commented on #432
im using nfs-provisioner:v1.0.8 which is latest from 6 month ago with ganesha.nfsd V2.4.0.3. V2.5 is released.

[2017-11-04 13:12] dippynark opened #443 "Snapshot requires refactored Makefile"
Currently the Makefile in /snapshot is only suitable for development on Linux machines. Running `make all` on OS X builds a container that will not run.

[2017-11-04 13:14] dippynark opened #444 "Snapshot requires GCE deployment example"
The examples in `/snapshot/deploy` only cover AWS and HostPath. An example is also needed for GCE.

[2017-11-04 13:16] w9n commented on #432
works on linuxkit/docker. I will come back to this one on containerd 1.0.

[2017-11-04 15:27] ianchakeres commented on #443
/assign @ianchakeres

[2017-11-06 12:55] humblec commented on #297
@jhou1 iic, this works with proper configuration. Can you please confirm ? accordingly I will close this or keep it open.

[2017-11-06 23:03] abrenneke opened #447 "NFS Provisioner - "Invalid Argument" errors with certain write patterns"
A little related to #223.

Kubenetes version: 1.8.1
NFS Provisioner version:  v1.0.8

Basically, I cannot use the [kube-registry](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/registry) with the NFS Provisioner. NFS 4.2, 4.1, 4.0, and 3.0 all error when pushing images to the registry. The exact error in the kube-registry logs:

[code]

`readdirent: invalid argument` is the on

[2017-11-07 02:19] jhou1 commented on #297
This works with proper configuration, I'll close it, thank you.

[2017-11-07 02:19] #297 closed

[2017-11-07 02:50] wenjun93 opened #448 "standalone-cinder: should not create secret for each iSCSI pvc"
As in current code, will create secret for each iSCSI pvc with connection data, however, the secret content is same for all pvc in most cases, so I think we may create only one secret for iSCSI volumetype pvc. I think we can get the connection data from cinder and compare with existing secrets, and use existing secret if they are same. Thought?@aglitke thanks.

[2017-11-07 11:15] wenjun93 commented on #448
Also, I'd like to add function of creating pv/pvc with existing cinder volume, instead of creating new cinder volume, for in some cases it's needed like provision pv with snapshot cinder volume. We can add annotation in pvc like "pv.kubernetes.io/provision-volume: false"

[2017-11-08 07:35] humblec opened #450 "Need a better name for Gluster Simple Provisioner"
GlusterFS simple provisioner is kind of confusing users and we would need to reconsider this name. Eventhough I started discussion on this before this  PR merge, somehow missed to get addressed. This name can invite confusion even when we move the provisioners out of kube source. @wongma7 @yuanying @jsafrane @rootfs  any thoughts on this ?

[2017-11-08 14:42] Adriien-M commented on #345
I tried to update my ubuntu's kernel from 4.4.0 to 4.10.0 (`sudo apt install linux-image-4.10.0-28-generic`) and after a reboot, the error is gone, everything's works fine from now on :)

[2017-11-08 19:40] aglitke commented on #448
Sure.  I think reuse of an existing secret is a good idea.  In that case we need to be careful about reference counting so that we remove a secret only after its last associated iscsi pv is removed.

[2017-11-08 19:42] aglitke commented on #448
The volumeID annotation is a fantastic idea!  Actually, I have it on my list to write a proposal for several related annotations to enable provisioning via clone and/or snapshot.  In those cases, the provisioner could clone an underlying volume to a new volume and use the created clone to satisfy the request.  What do you think?

[2017-11-09 01:45] #443 closed

[2017-11-09 09:47] satyamz commented on #424
Yes! Error handling is managed in the PR #451  along with some more refactoring.

[2017-11-09 10:56] mafzst commented on #424
Yes but what about changing Maya api server namespace?

[2017-11-09 12:39] rasheedamir commented on #260
I verified now its working as expected!

[2017-11-09 12:39] #260 closed

[2017-11-09 17:02] djdevin commented on #251
Using OpenShift and also seeing this on project deletion. It likely deletes the PVC before the pods.

[2017-11-11 18:48] farcaller opened #455 "cephfs provisioner leaks Secret objects"
The cephfs provisioner doesn't clean up Secret objects (doesn't re-use them either), and doesn't clean up the actual users from ceph, leaving them dangling with some permissions:

[code]

Instead the provisioner should return the storage to the same state it was before the PVC was created.

[2017-11-12 23:24] wongma7 commented on #455
/assign @rootfs
kind of related, we should no longer be creating secrets in same namespace as pvc anyhow: https://github.com/kubernetes-incubator/external-storage/issues/309

[2017-11-13 10:40] wenjun93 commented on #448
@aglitke
For the reusing of existing secret, I did some change in my test environment and tested it, PR link https://github.com/kubernetes-incubator/external-storage/pull/452. I change some interfaces in the code somehow, not sure if it's accepted : )
 For the volumeID annotation in pvc, it would be great to add volume clone/snapshot function into this, I think it may be like [external-storage/sna

[2017-11-13 11:38] wenjun93 commented on #448
Also, for the first question, after some testing, I think maybe it's not necessary to teardown secret each time, because handling secret reference may have some problems when standalone-cinder crashes or restarts. We may let standalone-cinder create an secret, and do not teardown when delete pvc, and newly created pvc will reuse the existing secret if the secret data is the same, otherwise it will

[2017-11-13 14:54] aglitke commented on #448
On Mon, Nov 13, 2017 at 6:38 AM, Gao, Wenjun <notifications@github.com>
wrote:

My main concern for handling of api objects such as secrets is that it
should try to be maintenance free as possible to the cluster admin.  I
would rather incur a bit of overhead by adding/removing a secret each time
if it would prevent us from leaking secret objects over time.  You have
said that we expect the same cr

[2017-11-13 17:23] klausenbusk commented on #318
@odacremolbap are @StackPointCloud planing upstreaming the [digitalocean-provisioner](https://github.com/StackPointCloud/external-storage/tree/digitalocean-flex-provisioner)?

[2017-11-13 18:59] rootfs commented on #455
the provisioner [deauthorize](https://github.com/kubernetes-incubator/external-storage/blob/master/ceph/cephfs/cephfs_provisioner/cephfs_provisioner.py#L229) the user when deleting the share.

Maybe the cap is not all that is expected in the library [here](https://github.com/ceph/ceph/blob/master/src/pybind/ceph_volume_client.py#L1193), since mds is given `allow r` [here](https://github.com/kubern

[2017-11-14 11:52] pastukhov opened #457 "Add RBACK for rbd provisioneer"
Please add rbac example for  rbd provisioneer. I'm getting:
[code]
on k8s 1.8 and  adding admin caps for system:serviceaccount:default:default doesn't looking reasonable.

@cofyc, @rootfs ?

[2017-11-14 13:43] rootfs commented on #455
@cofyc do you have a chance to look into this? thanks

[2017-11-14 15:41] satyamz commented on #424
Hi @mafzst , PR #456  will allow openebs-provisioner to read namespace as a env variable. If env variable is not set then it'll take `default` namespace.

[2017-11-14 17:05] rootfs commented on #457
those used by gluster block should work
https://github.com/kubernetes-incubator/external-storage/tree/master/gluster/block/deploy

[2017-11-14 22:35] mafzst commented on #424
@satyamz Perfect :+1:

[2017-11-15 02:22] cofyc commented on #455
@rootfs
OK, I will take a look at it.

[2017-11-15 12:21] wenjun93 commented on #448
@aglitke Thanks, for different backend volume types, the ways of credential are different, like ceph rbd, we create secret contains keyring manually, and for iSCSI volume types, it depends on the volume provider. I've confirmed, it depends on volume backend, for I'm using solidfire as volume provider, and for each project it returns same authentication, while for other volume provider, it may be d