[2017-11-16 00:20] kokhang opened #462 "[local-volume] Bootstrapper uses default path for PV local path"
I have setup three directories in the node to be used as local storage. The directories are `/mnt/sda1/disks/vol<n>`. But when i launch the bootstrapper, it detects the directories and creates a PV for each. But it incorrectly assigns the local path to be `/mnt/disks/vol<n>`. For some reason it is not using the path `/mnt/sda1/disks/vol<n>`.

This is seen in the provisioner logs:
[code]

This is w

[2017-11-16 00:26] kokhang opened #463 "[local-volume] Deleting PV fails. Cannot find the directory."
I am using minikube and i have setup 3 directories on the node to be used as local-storage. The directories are in `/mnt/sda1/disks/vol1...3`. I had an issue here described in https://github.com/kubernetes-incubator/external-storage/issues/462 but i have worked around it by editing the PV and correcting the path.

When I deploy an app and use one of these volume, it works well. However when i dele

[2017-11-16 00:30] msau42 commented on #462
Did you launch the bootstrapper with the argument to your configmap name?

[2017-11-16 00:35] kokhang commented on #462
i just created the bootstrapper.yaml. Im assuming this is passing the config name argument in https://github.com/kubernetes-incubator/external-storage/blob/master/local-volume/bootstrapper/deployment/kubernetes/bootstrapper.yaml#L23. Is that correct?

[2017-11-16 00:40] msau42 commented on #462
Oh are you using the latest version of the provisioner?  We recently made a change to convert the configmap from json to yaml.  So if you're using the latest configmap yaml, then the v1.0.x provisioner is going to fail parsing the configmap and fallback to the defaults.

[2017-11-16 00:42] msau42 commented on #462
So I would use the yaml examples from this tag:
https://github.com/kubernetes-incubator/external-storage/tree/local-volume-provisioner-v1.0.1

[2017-11-16 00:45] msau42 commented on #463
There's the path of the directory on the host, the "hostpath".  And the directory that the hostpath gets mounted at in the provisioner container, the "mountpath".

This problem might be related to the fallback on the default paths.  The hostpath and mountpath mappings need to be specified correctly in the configmap, so that we launch the provisioner with the correct hostpath volume config.

[2017-11-16 00:47] msau42 commented on #462
Regardless, we should improve this by failing the provisioner bootup if we fail to parse the configmap, instead of falling back to defaults.  Only fallback to defaults if the configmap doesn't exist.

/area local-volume
/assign

[2017-11-16 01:02] kokhang commented on #462
Ah OK ill try it with the json config map. Do you think #463 is also related to config map data not being correct? Thanks @msau42

[2017-11-16 01:02] msau42 commented on #462
yeah I think they're related

[2017-11-16 01:30] #424 closed

[2017-11-16 02:31] msau42 opened #464 "[local-volume] Update gce configmap with new local ssd naming scheme"
Now that kubernetes/kubernetes#53466, is merged, need to update the gce configmap with the new mount directories.  Also should create separate configmaps for different Kubernetes versions.

/area local-volume
/assign

[2017-11-16 07:52] venth opened #465 "Make efs-provisioner to respect custom DNS alias instead of dns name produced by efs service"
Hi,

I would like to use an alias DNS instead of dns name produced by efs. Unfortunately efs-provisioner combines `filesystemId` with `aws region` and a static part of the dns name to produce full FQDN.

Please consider to enhance efs-provisioner by an argument like: efs_dns_name which by default is empty. When this argument is provided then efs-provisioner uses it and if it's empty then combines

[2017-11-16 15:39] JrCs commented on #455
My PR #466 only remove ceph user if it's name start with `kubernetes-dynamic-user-`

[2017-11-16 16:12] adamcharnock commented on #223
It took me a while to figure out the above, but in the end my ``StorageClass`` looked like the following:

[code]

It seems there is [also a new](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#mount-options) ``mountOptions`` field which has been introduced to StorageClasses recently (rather then as a field under ``parameters``). This confused me for a bit, but hopefully the above

[2017-11-16 19:16] #457 closed

[2017-11-16 20:04] kokhang commented on #462
Hi @msau42, the bootstrapper is still not using the values in the configmaps. I deployed with bootstrapper v1.0.0 and v1.0.1 to no avail.

Here is my configmap named `local-volume-config`:
[code]

Logs from the bootstrapper pod:
[code]

Logs from the provisioner:
[code]

From the provisioner log, it seems that it is using the default HostDir.

I am using this to create the bootstrapper: https://gi

[2017-11-16 20:12] msau42 commented on #462
You should also use bootstrapper:v1.0.1

[2017-11-16 21:57] kokhang commented on #462
Thanks @msau42. Using `v1.0.1` instead of `latest` for both the bootstrapper and the provisioner did it for me. Feel free to close this issue.

[2017-11-16 21:58] kokhang commented on #463
This was a symptom of issue #462. Closing.

[2017-11-16 21:58] #463 closed

[2017-11-16 22:02] kokhang commented on #462
Btw, any plans of when local-volume would be promoted to alpha? Currently i have to enable it via the feature-gates and restart kube-api which is a bit of a hassle.

[2017-11-16 22:09] msau42 commented on #462
I'll keep this issue open to come up with some better way to maintain the yamls in terms of versioning, and also deal with compatibility with K8s versions too.

cc @dhirajh

[2017-11-16 22:10] msau42 commented on #462
Regarding local storage going to beta, I'm hoping 1.10 if I can get the scheduler work merged in 1.9.

[2017-11-16 22:12] msau42 commented on #462
Also, regarding feature gates, you cannot directly pass in the feature gate when you initially bring up the cluster?

[2017-11-16 22:17] msau42 commented on #462
to summarize, some action items from this issue:

* In provisioner bootup, fail if we can't parse the configmap, instead of falling back to defaults.  Maybe we should not even have defaults.
* Provide versioned yamls for the boostrapper and provisioner.
* Start a compatibility matrix for boostrapper/provisioner version vs K8s versions.

[2017-11-16 22:19] kokhang commented on #462
@msau42 i could pass the feature-gate when bringing up the cluster. But im more concerned with the case where k8s is setup and ready. Such as GKE, Azure Container Engine, CoreOS tectonic etc.

I am trying to integrate local-volume with Rook and ideally, i would like for Rook users to not have to do anything to their running k8s cluster to deploy Rook. It just should work like any other app :)

[2017-11-16 22:33] msau42 commented on #462
At least for GKE, you use the "--kubernetes-alpha" flag to bring up alpha clusters.  And because you don't have access to the master in GKE, the users can't enable specific alpha features after the fact.

[2017-11-16 22:34] msau42 commented on #462
Also for local volume, you need to enable the feature gate on all kubelets too, not just the master components.

[2017-11-16 22:35] dhirajh commented on #462
/assign

[2017-11-18 22:44] wongma7 commented on #465
yes, i agree this is needed, see also: https://github.com/kubernetes-incubator/external-storage/issues/422#issuecomment-340129702

[2017-11-19 12:05] venth commented on #465
It seems that I’ve created a duplicate.

[2017-11-20 06:44] #321 closed

[2017-11-20 16:18] dhirajh commented on #462
/assign

[2017-11-20 17:18] #455 closed

[2017-11-20 17:33] wongma7 opened #475 "Move from glide to dep"
dep is production-ready and supposedly better. it also has vendor pruning built in so we can use that instead of having people use the third-party glide-vc tool to keep the vendor dir size down

[2017-11-21 13:01] jsafrane commented on #423
Isn't the library mature enough to have non-incubator repo? @childsb had a separate repo on his TODO list.

[2017-11-21 17:59] wongma7 commented on #423
According to https://github.com/kubernetes/community/blob/master/incubator.md#exiting-incubation we need the champion's approval (we have @jsafrane/@childsb) and sponsor's (@smarterclayton) approval to "graduate". However since we only want to "graduate" a part of the repo the situation is not typical.

@smarterclayton what do you think about graduating the external provisioner library portion of

[2017-11-21 20:41] childsb commented on #423
I've brought this up with @bgrant0607 and how we should proceed with the external-storage incubator, the provisioner, libraries and dependencies.. especially graduating them from incubation..

I have a kubernetes-storage ORG where we could start hosting this stuff, but its all TBD.. Lets keep this as an agenda item for kubecon and hopefully get direction from Brian there.

[2017-11-23 07:33] dhirajh commented on #409
Fixed and merged in #414

[2017-11-23 07:33] #409 closed

[2017-11-23 07:58] dhirajh opened #479 "[local-volume] Enhance LV provisioner to allow use of kubeconfig file for API access"
Currently, the PV provisioner only allows in-cluster config mechanism to access API server. This is a request to enhance the provisioner and give it the option to use a kubeconfig file based access to the API.

[2017-11-23 07:58] dhirajh commented on #479
/assign

[2017-11-23 12:46] timbrandin commented on #318
can't wait for this!

[2017-11-23 13:10] klausenbusk commented on #318
Feel free to checkout https://github.com/kubernetes-incubator/external-storage/pull/470

[2017-11-23 13:15] timbrandin commented on #318
OMG!!!

2017-11-23 14:10 GMT+01:00 Kristian Klausen <notifications@github.com>:

--
Cheers,
// Tim Brandin @timbrandin <https://twitter.com/#!/timbrandin>
http://timbrandin.com
http://studiointeract.com

[2017-11-24 13:49] klausenbusk commented on #318
Please report back if you try it out :)

[2017-11-24 20:30] bryanlarsen opened #482 "[local-volume] How do you add a mount point atomically?"
If I do `sudo mkdir /mnt/disks/foo && sudo mount /mnt/disks/foo`, local-volume-provisioner is too quick, it finds the volume before it's mounted and sets its size to the free space of /mnt/disks rather than the free space of /mnt/disks/foo.    I have to prepend it with `kubectl delete pod local-volume-provisioner-4rk7v &&`.

I got it working, but it seems like an awkward workflow, so hopefully the

[2017-11-25 08:12] ianchakeres commented on #370
Another issue related to race condition when creating mountpoint for discovery, https://github.com/kubernetes-incubator/external-storage/issues/482.

[2017-11-25 08:28] ianchakeres commented on #370
@msau42 - I think the agreed upon the plan to handle the race condition was to check whether a discovered path is an actual mountpoint before creating a related local PV, based upon our offline conversation.

Do we have agreement on this solution?

@msau42 @jsafrane @ddysher @dhirajh @wongma7 WDYT?

If yes, I'll get started on a PR.

[2017-11-25 14:10] msau42 commented on #370
Yes, but before you can do that, you'll also have to enable and configure mount propagation in the daemonset hostpath volumes.

[2017-11-26 02:47] raffaelespazzoli commented on #399
hi @nak3
I have been looking at this issue. glog is initialized with go flags, while I'm using viper/cobra for my command line flag parsing. I am not familiar with these libraries and I don't see an easy way to read a flag as a viper flag and make it available to glog as a go flag. Do you know how this can be done?

[2017-11-26 05:37] nak3 commented on #399
I am thinking that _"an easy way to read a flag as a viper flag and make it available to glog as a go flag"_ is not possible.

However, if we take a similar approach, something like _"to make go flag available for the command line, and then add viper flag to make it also available"_ is possible with `pflag.CommandLine.AddGoFlagSet(flag.CommandLine)`. I wrote an example so how about this approach?

[2017-11-27 13:58] seb54000 opened #484 "standalone-cinder -- docker image on quay.io"
I want to give a try to the standalone-cinder provisioner but failed to pull image from `quay.io` repository
The image referenced in the `deployment.yaml`sample is not available : `quay.io/external_storage/standalone-cinder-provisioner:latest`

Is it possible to make this quay.io docker registry publicly available (again) ?
Thanks for your help.

[2017-11-27 13:58] rootfs opened #485 "Snapshot: support clone"
Currently snapshot controller and provisioner serve the use case where snapshot is a immutable data backup and PVs promoted from snapshots are new volumes from the backup.

Cinder and many storage backend support volume clone (creating volumes directly from another volume if solurce_volid is provided, see [Cinder API](https://developer.openstack.org/api-ref/block-storage/v3/index.html#volumes-volu

[2017-11-27 14:07] tsmetana commented on #485
I wonder if we could make this universal... Perhaps using again PVC with annotation (referencing the original PV/PVC): such claim would then be satisfied by the provisioner by creating a new clone PV. And we could "fake" this operation on backends that don't support the direct cloning. Would it make sense?

[2017-11-27 18:30] OverlordQ commented on #422
Need this to work with specifying IPs also.  We're not leveraging the Amazon provided DNS.

[2017-11-28 17:43] msau42 opened #487 "[local-volume] Replace bootstrapper with spec generation using templates"
The local provisioner daemonset spec is complex and error prone because hostpath volumes and discovery configuration have to be configured consistently.  The bootstrapper pod tried to simplify this by auto generating the daemonset spec and automatically launching it.  But this method somewhat hides the daemonset spec and makes it hard to customize and add enhancements.

Instead, I think a better a

[2017-11-28 17:43] msau42 commented on #487
/area local-volume

[2017-11-28 18:00] msau42 commented on #487
To be more precise, the inputs would be:
* a configuration file, perhaps yaml? i'm not very picky here
    * the config would include everything that the local volume configmap supports: storageclass mappings, node labels, etc.
    * also optional parameters for the service account that should be used for the provisioner

the generated specs should include:
* daemonset
* configmap

[2017-11-28 18:02] sbezverk commented on #487
as a possible solution for templating I would consider 'helm' which would generate daemonset and configmap specs based on user's input config in yaml format and on provided "standard" templates.

[2017-11-28 18:50] msau42 commented on #487
My only reservation about helm is the requirement to install the server-side tiller component.  Really, we just want the templating part and not the deployment.

Would this work? It looks like a client-side only helm templating plugin.
https://github.com/technosophos/helm-template

[2017-11-28 19:04] sbezverk commented on #487
@msau42 tiller is need only if you want to deploy rendered templates, if I remember right helm template command does not require tiller, but I will double check it.

[2017-11-28 19:06] msau42 commented on #487
Or this?
http://helm.readthedocs.io/en/latest/generate-and-template/

[2017-11-28 23:05] msau42 commented on #462
/close

[2017-11-28 23:05] #462 closed

[2017-11-30 03:25] davistran86 opened #491 "Cannot find provisioner "fuseim.pri/ifs", expecting that a volume for the claim is provisioned either manually or via external software"
Hi, I'm trying to use nfs-client as provisioner for my openshift cluster, I'm getting error "cannot find provisioner "fuseim.pri/ifs", expecting that a volume for the claim is provisioned either manually or via external software" when trying to claim the pv using test-claim.yaml provided here. Please help.

I already deploy deployment.yaml (changed nfs server to mine) and class.yaml.

In the pod n

[2017-11-30 04:08] #491 closed

[2017-11-30 04:24] davistran86 opened #492 "Nfs-client - Pod failed to mount Err: No such file or directory"
Hi guys, I'm having problem with deploy test-pod.yaml using nfs-client provisioner, the pod cannot create and mount volume.

I still can manually create a claim and success to mount using nfs-client provisioner.

[2017-11-30 15:36] davistran86 commented on #492
Srr for missing info, I'm running this with openshift, I saw that pvc has bound to pv successful but when I checked the shared folder there is no folder inside, nothing at all, maybe I'm missing something ? I did all the requirements :(

[2017-11-30 17:16] aglitke commented on #484
Hmm.  I thought the image would be pushed as part of the official build process.  You can still use it by building locally.

[2017-12-01 01:54] ianchakeres commented on #370
/assign @ianchakeres

[2017-12-01 01:55] ianchakeres commented on #482
/assign @ianchakeres

[2017-12-01 10:09] seb54000 commented on #484
Thanks for you reply and your help, not so much time at the moment to work on local build.
The on lys trange thing is that other quay.io repositories related to external-storage are all live (except the cinder one)
 https://github.com/kubernetes-incubator/external-storage
 https://quay.io/repository/kubernetes_incubator/nfs-provisioner?tag=latest&tab=tags
 https://quay.io/repository/external_stora

[2017-12-01 17:25] aglitke commented on #484
@rootfs Do you have any idea how the image pushing to quay.io works?  I copied the build machinations used by other provisioners but the images are not present.

[2017-12-04 09:27] #492 closed

[2017-12-04 10:08] davistran86 opened #501 "NFS-Client - Exceed requested capacity"
Hi guys, I'm using nfs-client provisioner for testing dynamic provisioning in openshift. I saw that even if I create a PVC with 1Mi, the pod still can create 1Gi file inside mount folder? is it a bug or not ? If not is there anyway to limit it ?

[2017-12-04 13:13] farcaller opened #504 "cephfs and rbd provisioners need an example RBAC"
Now that almost everyone is running with RBAC on, we need a sample RBAC file. The last time I checked `system:persistent-volume-provisioner` cluster role wasn't enough for cephfs to work.

[2017-12-04 14:05] rootfs commented on #504
@farcaller see https://github.com/kubernetes-incubator/external-storage/tree/master/ceph/rbd/deploy/rbac

[2017-12-04 16:08] msau42 commented on #501
Kubernetes does not enforce any capacity isolation.  It is up to the storage provider to provide that capability

[2017-12-04 16:08] farcaller commented on #504
Right, sorry, it's there for rbd, but not for cephfs.

[2017-12-04 18:20] rootfs commented on #504
it should work for both, making it at ceph directory makes more sense

[2017-12-05 02:29] davistran86 commented on #501
ok thanks 👍 then what's the point of putting requested capacity inside of a claim :(

[2017-12-05 03:18] msau42 commented on #501
There are other volume types that do provide capacity isolation so capacity is useful in those cases.  If your nfs server is provided as a service, then it can also be possible to dynamically launch an nfs server with the exact capacity you need.

[2017-12-05 16:18] davistran86 commented on #501
thanks a lot @msau42 :). I'm having issue with adding and replacing nodes in glusterfs with heketi so I thought nfs was good to do dynamic provisioning instead of glusterfs :(, I'll try to find other solution..

[2017-12-06 16:42] mickengland opened #506 "efs-provisioner pod error "rpc.statd is not running but is required for remote locking""
When trying to initialize the efs-provisioner pod I get the following error:

----
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.2", GitCommit:"bdaeafa71f6c7c04636251031f93464384d54963", GitTreeState:"clean", BuildDate:"2017-10-24T21:07:53Z", GoVersion:"go1.9.1", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"8+", GitV

[2017-12-07 06:46] #464 closed

[2017-12-07 06:52] wongma7 commented on #506
Try ` sudo systemctl start rpc-statd ` on the host. Not sure why it is defaulting to nfs v3 mount but that requires rpc.statd to be running on all the hosts/nodes

[2017-12-08 11:17] rpeltola opened #507 "nfs-client rbac example is out of date as of kubernetes 1.8"
https://github.com/kubernetes-incubator/external-storage/tree/master/nfs-client/deploy/auth

apiVersion needs to be rbac.authorization.k8s.io/v1 instead of rbac.authorization.k8s.io/v1alpha1

[2017-12-11 21:37] snoby opened #508 "[aws-efs] Clarification on how to set reclaim policy to "retain""
Hi,
I'm having difficulties understanding how to setup my Persistent volume claims to be of policy
`   persistentVolumeReclaimPolicy: Retain `
When I manually allocate the PV I put this tag in the PV, not the PVC.  However since i'm allowing efs-provisioner to dynamically allocate all my claims for me from one EFS PV I'm confused as to how I set this flag.  The Persistentvolume-v1-core seems to in

[2017-12-12 10:24] humblec opened #509 "Support volumeMode in pv spec."
Current API vendored in this repo is unaware of `volumeMode` field in PV spec . Can we please update apimachinery , api..etc to support volumeMode in PV spec?

[2017-12-12 10:24] humblec commented on #509
/assign @wongma7

[2017-12-15 22:15] boomshadow commented on #326
Greetings! First off, I love everything you all are doing. Thanks so much. I see that #304 and #331 are merged in. Any word on getting 'retain' added in? I'd love to add that in for my EFS provisioning :)

[2017-12-15 22:15] boomshadow commented on #508
See #326

[2017-12-19 13:58] loganasherjones opened #515 "cephfs-provisioner not respecting securityContext"
Hello. I'm not really sure if this is even supposed to work with the cephfs-provisioner or not, but I'm running into a problem that I _think_ should be solved by using the cephfs-provisioner.

**What Happened?** - I created a `StorageClass` and then created a `Pod` which set a `fsGroup` and `runAsUser` in its `securityContext` and then get a Permission Denied error when the pod starts up because t

[2017-12-19 21:22] gnitzan opened #516 "unable to provision with iscsi-targetd based on README.md"
Hi,

I am trying to use the iscsi-provisioner base on the tutorial but it fails with the following, complaining that the file **/var/run/secrets/iscsi-provisioner/session-chap-credential.properties** not found.

I guess I am missing something?

[code]

If I disable CHAP in storage class I get the following:

[code]

Any help would be appreciated.

Best,
Gal

[2017-12-20 09:18] NickrenREN opened #517 "Where can we place the monitor for local PV ?"
For now, we have no way to monitor PVs' health condition and i sent a proposal for it. https://github.com/kubernetes/community/pull/1484

The proposal includes two parts: monitor and reaction.
At the first phase, we want to focus on monitoring local storage PV, and i am not sure where we can place the local storage monitor.

There are two options:
1: Put monitor in the existing provisioner daemons

[2017-12-20 16:53] msau42 commented on #517
I would at least keep the reaction controller separate for both approaches.

I still lean towards putting the monitoring into the existing provisioner daemonset because it will benefit from when we redesign it to a master/worker model.  If you do it separately, then you will have to implement your own master/worker model, which will have a lot of repetitive work.  Another plus is that it's one few

[2017-12-20 21:24] klausenbusk commented on #318
Closed by: https://github.com/kubernetes-incubator/external-storage/pull/470

[2017-12-20 21:24] #318 closed

[2017-12-20 22:29] wongma7 commented on #507
yes, not only that but some others have outdated yamls.
/assign

[2017-12-20 23:37] wongma7 commented on #484
@aglitke currently it is triggered by git tag which then calls https://github.com/kubernetes-incubator/external-storage/blob/master/deploy.sh#L54. the problem is a repo maintainer has to write the git tag which was okay when there were only a few provisioners but  not really a scalable system.

We are lacking a way for provisioner OWNERS to trigger builds+pushes themselves. However if you register

[2017-12-21 03:37] NickrenREN commented on #517
Thanks for your comments @msau42.
`I would at least keep the reaction controller separate for both approaches.`
if we put the monitor into the existing provisioner daemonset, the node failure event should be watched by reaction controller, no matter whether we want to translate that into PV events or not, right ?

[2017-12-21 03:57] cofyc commented on #504
@farcaller @rootfs
CephFS provisioner RBAC files are provided in https://github.com/kubernetes-incubator/external-storage/pull/523/.

[2017-12-21 04:00] cofyc commented on #200
@wongma7  I'm guessing this issue can be closed now, [RBD provisioner](https://github.com/kubernetes-incubator/external-storage/tree/master/ceph/rbd) is already in external-storage.

[2017-12-21 07:49] ddysher commented on #517
agree with @msau42

reaction controller is orthogonal to node failure event IMO.  IIUC, your concern here is that when node goes down, services running on the node, i.e. monitor (provisioner), are not able to mark local PVs unhealthy.  There is still a monitoring problem, I don't know if the  new master/worker model will help here, but this is definitely different from reaction (even if it's tenta

[2017-12-22 19:45] mickengland commented on #506
Thanks that worked.

[2017-12-22 19:45] #506 closed

[2017-12-23 06:24] wenlxie commented on #517
Some comments for monitoring part: for different  HW, we need different tools  like megacli/megacli64/hpssacli/arcconf to check the disk or raid controller healthy status. This part should be easy to do customize.

[2017-12-25 04:02] tianhuil opened #527 "Digital Ocean Provisioning not working (provisioner unable to connect to internet)"
Hi, I'm trying to use the new DO provisioner.  I'm running into this problem:

1. I have followed the instructions in the [README.md](https://github.com/kubernetes-incubator/external-storage/tree/master/digitalocean).  Yet when I run the test commands
[code]

I get the error below (see **Error** below) which suggests that the provisioner is not allowed to speak with DO.  I know that the security t

[2017-12-25 13:30] NickrenREN commented on #517
@wenlxie yeah, the specific checking methods should be discussed further.

[2017-12-25 22:46] klausenbusk commented on #527
This sounds like cluster issue.

Some questions:
* Does networking work for regular pods?
* How was the cluster created?
* What do you use for pod networking? (flannel, calico, something else?)

[2017-12-26 00:26] tianhuil commented on #527
Thanks @klausenbusk.  This was a DNS issue.

1. In the provisioner pod, ip addresses work, but not not DNS.
2. In the flannel pod, both ip addresses and DNS work.

The difference seems to be the nameservers:
1. In the provisioner pod, only the k8s nameserver is there
2. In the flannel pod, the DO public nameservers are there:

[code]

Once I manually added in `nameserver 67.207.67.2` to the provis

[2017-12-26 01:15] klausenbusk commented on #527
Is `kube-dns` running? It could be this issue: https://github.com/kubernetes/kubeadm/issues/587

[2017-12-26 02:54] tianhuil commented on #527
Apparently, it's suppose to inherit the node's `nameserver`s (as the flannel pod does) but this is not happening in the provisioner.   See [this note](https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#inheriting-dns-from-the-node).  Not does it seem to be happening in the other pods I create.

[2017-12-26 02:57] tianhuil commented on #527
I believe `kube-dns` is running:
[code]

[2017-12-26 18:59] tianhuil commented on #527
To document, appending to nameservers to the `/etc/host`s appears to solve this problem.

[2017-12-26 18:59] #527 closed

[2017-12-26 19:26] tianhuil opened #529 "Digital Ocean external volume test failing"
I built a PV and connected to Digital Ocean as per the [README.md](https://github.com/kubernetes-incubator/external-storage/tree/master/digitalocean).  Aside from a small [DNS fix](https://github.com/kubernetes-incubator/external-storage/issues/527), this has worked.  However, I am unable to successfully complete the last two steps in the README.md

[code]

The PVC appears to successfully bind but

[2017-12-26 19:47] tianhuil commented on #529
And here is the message from
[code]

[2017-12-26 20:24] tianhuil commented on #529
And the logs on the node are telling me this:
[code]

[2017-12-26 20:56] klausenbusk commented on #527
Did you mean `/etc/resolv.conf`? It sounds like a workaround, you should fix the underlying issue.

[2017-12-26 20:58] klausenbusk commented on #529
Probably the same DNS issue as in #527, the flexplugin which is run by `kube-controller-manager` need a working network connection like the provisioner needs.

Please run: `kubectl get pods --namespace=kube-system | grep kube-dns` and `kubectl get services --namespace=kube-system`.

[2017-12-26 21:00] tianhuil commented on #527
Yes, sorry, `/etc/resolv.conf`.  And I fixed the earlier comment to avoid future confusion.  It's definitely a workaround.  According to [this](https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#inheriting-dns-from-the-node), pods are supposed to inherit their node's nameservers.  For some reason, that's not happening here.   I'll have to continue investigating.

[2017-12-26 21:04] tianhuil commented on #529
Thanks.  Here's the results of those two queries.
[code]

[2017-12-26 21:06] klausenbusk commented on #529
Ìs all pods in the `kube-system` namespace running? `kubectl get pods --namespace=kube-system`

[2017-12-26 21:11] klausenbusk commented on #527
Probably set by `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf`, as the scripts you used use `kubeadm`.  **Note:** Remove `--cluster-dns=<dns-service-ip>` is also a workaround, you should fix the underlying issue, which is probably related to flannel/kube-dns/kube-proxy.

[2017-12-26 21:20] tianhuil commented on #529
Hi @klausenbusk: thanks for the quick response.  They're all running quite hapily:

[code]

[2017-12-26 21:25] tianhuil commented on #529
And FYI, kube-controller-manager has public nameservers.
[code]

[2017-12-26 21:29] klausenbusk commented on #529
Is networking working inside that pod? Ex: curling `api.digitalocean.com`

[2017-12-26 21:32] tianhuil commented on #529
Yes, if the nameserver's work, I can get curl.  **Note:** even on the `digitalocean-flexplugin-deploy` and `digitalocean-provisioner`, ping always worked, but wget would only work if the public nameservers are listed in `/etc/resolv.conf`:

[code]

[2017-12-26 21:39] klausenbusk commented on #529
Hmm.. Please check the log of `kube-controller-manager-master`, it should show why the mounting is failing.
BTW: What version of k8s are you using?

[2017-12-26 21:57] tianhuil commented on #529
Sorry, I got a little lost and it took me a while to find where I was.  To answer your questions:
[code]
My client is OSX and the master and nodes are running Ubuntu 16.

Here are the last 30 lines from `kubectl logs kube-controller-manager-master -n kube-system`:
[code]

[2017-12-26 22:08] klausenbusk commented on #529
No problem..

Not anything useful, the errors is probably more than 50 lines back.

BTW: What version of flannel is you using? flannel v0.9.1 contain a fix, which could explain the DNS issue: https://github.com/coreos/flannel/pull/872

It would be a lot easier to help with direct access to the cluster..

[2017-12-26 22:20] tianhuil commented on #529
No problem: here are the last 200 lines

[code]
I'm running flannel `v0.9.0-rc1` but will redeploy the k8s network and try again.  If you send me your public key, I'll be happy to add you to k8s cluster's (the underlying DO boxes) and you can copy off the admin.conf and run whatever you need.

[2017-12-26 22:36] klausenbusk commented on #529
Still not anything interesting, weird.. hmm

Here you go, feel free to send IPs by mail (<github username>@hotmail.com), if you prefer not to share them with the whole world:

[2017-12-27 02:53] tianhuil commented on #529
@klausenbusk: I think I have the interesting error you've been looking for.  Upgraded the server to use flannel `v0.9.1`, got rid of the `/etc/resolv.conf` hack.

[code]

[2017-12-27 03:49] tianhuil commented on #527
This was fixed by upgraidng to flannel v0.9.1, which contains a fix to the DNS issue: coreos/flannel#872

[2017-12-27 14:57] klausenbusk commented on #529
Could you run `kubectl logs -n kube-system kube-controller-manager-master | grep -i flex`?

[2017-12-27 15:09] tianhuil commented on #529
Here it is:
[code]

[2017-12-27 15:25] klausenbusk commented on #529
Could you run `find /usr/libexec/kubernetes/kubelet-plugins/volume/exec/` on the master node and a regular node?

[2017-12-27 15:30] tianhuil commented on #529
Sure!  The results appear to be the same:

[code]

[2017-12-27 15:32] klausenbusk commented on #529
Could you run the same command inside the `kube-controller-manager-master` pod?

[2017-12-27 15:34] tianhuil commented on #529
And in case you're curious:
[code]

[2017-12-27 15:35] tianhuil commented on #529
And for your previous question:
[code]

[2017-12-27 15:42] klausenbusk commented on #529
Aha, that explain it.
Without access to the flexplugin, `kube-controller-manager` can't attach/detach thea volume. Try assding a `hostPath` mount to the manifest file (`/etc/kubernetes/manifests/kube-controller-manager.yaml`), look at `digitalocean-flexdeploy.yaml` for "inspiration".

[2017-12-27 16:01] tianhuil commented on #529
That works!

[code]
And the result of spinning up a pod with a PVC:
[code]

[2017-12-27 20:24] #529 closed

[2017-12-27 22:20] klausenbusk commented on #529
No problem.

It should definitely be documented to help users. Maybe as a Note under point 3: `Please ensure the flexvolume plugin dir path is accessible for kube-controller-manager` or something like that, feel free to open a PR.

I use [`bootkube`](https://github.com/kubernetes-incubator/bootkube) (on Container Linux) which work slightly different than `kubeadm`, but I also added the `hostPath`

[2017-12-27 22:24] klausenbusk opened #531 "digitalocean: Document common tweaks required for a working setup"
/area digitalocean

Per #529, for `kubeadm` and `bootkube` setups, the `flexvolume` dir need to be accessible for `kube-controller-manager` for a working setup (the volume won't attach if not).

`bootkube` also require adding a `DIGITALOCEAN_ACCESS_TOKEN` env variable to `kube-controller-manager`, as `kube-controller-manager` run as nobody and as so can't read the `do_token` file.

[2017-12-27 22:25] klausenbusk commented on #529
I have opened a issue to keep track of it: https://github.com/kubernetes-incubator/external-storage/issues/531 , as said before: feel free to open a PR.

[2017-12-30 00:54] #487 closed

[2018-01-01 21:22] tianhuil commented on #529
Done!

[2018-01-02 12:49] mattinsler commented on #527
@tianhuil did you have to make changes to your kube-controller-manager to make this work properly?

[2018-01-02 14:08] klausenbusk commented on #527
@mattinsler correct, please see https://github.com/kubernetes-incubator/external-storage/issues/529 for the final solution. I'm happy to help if you have any issues.

[2018-01-02 14:10] tianhuil commented on #527
@mattinsler: to be specific:
1. upgrading to flannel v0.9.1 fixed this specific issue with the DNS: coreos/flannel#872
2. I did have to do #529 to finally get it working (because of a volume visibility issue)

[2018-01-02 14:53] mattinsler commented on #527
Ahh OK. I'm stuck on how to execute 529. I'm still new to k8s... If you wouldn't mind, how would I (after using kubeadm to get a working cluster) add the correct config to the kube-controller-manager and restart it? Also, what exactly is the correct config? I've tried a bunch of things out and different ways to try to update or restart kube-controller-manager and I've just torn down and re-created

[2018-01-02 14:56] tianhuil commented on #527
Hi Matt,

No worries - the exact change depends on your system.  You need to ensure
your output looks like this:
https://github.com/kubernetes-incubator/external-storage/issues/529#issuecomment-354134381

Instructions are here
https://github.com/kubernetes-incubator/external-storage/issues/529#issuecomment-354131625

On Tue, Jan 2, 2018 at 9:53 AM Matt Insler <notifications@github.com> wrote:

--

[2018-01-02 16:53] #200 closed

[2018-01-02 16:58] kfox1111 commented on #200
Should it be kept open until the in tree version is removed? Right now, its a copy more then a move.

[2018-01-02 21:53] aglitke commented on #484
Thanks @wongma7!  I've created an account aglitke on quay.io.  Let me know if I need to do anything else to secure the manual push access.

[2018-01-03 02:43] mattinsler commented on #527
Sorry, I'm still really new. So I edited my `/etc/kubernetes/manifests/kube-controller-manager.yaml` file and the pod is now gone and has not come back again. How do I figure out what happened? How do I make it start up again?

[2018-01-03 03:47] tianhuil commented on #527
No worries -- so edits to the file automatically propagate to the pod.  If you made a mistake, I'm not sure what happens but it might kill the pod.

If you save a backup copy, will the pod re-appear?  You might also try `kubectl create -f /etc/kubernetes/manifests/kube-controller-manager.yaml` or just restart the cluster.

[2018-01-03 04:51] mattinsler commented on #527
Hmm, OK. I tried to create it and the mounts are successful, but the logs say:
[code]

Describing the pod shows:
[code]

There is definitely a file at `/etc/kubernetes/controller-manager.conf` on the master. Maybe the pod needs to be explicitly run on the master? Is it easy to do that?

[2018-01-03 05:19] tianhuil commented on #527
What version of k8s are you using?  I've been using `1.9.0`.  Are you on `1.7.12`?

[2018-01-03 05:46] junaid-ali opened #538 "Ceph RBD image creation fails - k8s 1.8.4"
I have an external ceph cluster:

[code]
Ceph client (ceph-common) is installed on k8s master and worker nodes.

PVC fails with the following error
[code]

[code]

**Environment Information:**
[code]

**Yaml files:**
[code]

[2018-01-03 05:50] mattinsler commented on #527
Yes. 1.7.12. I might just upgrade to 1.9 though if that’s easier.

On Wed, Jan 3, 2018 at 12:19 AM Michael Li <notifications@github.com> wrote:

[2018-01-03 08:28] seb54000 commented on #484
Thanks a lot for publishing manually a sample (latest). I am now able to try the provisionner.

[2018-01-03 13:55] mattinsler commented on #527
Got it working! I created a new cluster on 1.9 and made the changes to the kube-controller-manager.yaml file *before* adding any nodes. Things just worked that way.

[2018-01-03 14:01] klausenbusk commented on #527
FWIW, if `/usr/libexec/kubernetes/kubelet-plugins/volume/exec` exists `kubeadm` automatic add the required `hostPath` volume.

[2018-01-03 14:36] mattinsler commented on #527
Ahh, good to know!

[2018-01-03 16:00] ianchakeres commented on #538
This issue looks similar to https://github.com/kubernetes/kubernetes/issues/27758#issuecomment-227527857 &  https://github.com/kubernetes/kubernetes/issues/54941#issuecomment-342516091.

@junaid-ali  - I suspect the ceph secret key isn't base64 encoded.

[2018-01-04 13:28] nieldw opened #540 "Q: What is the expected memory usage of nfs-provisioner?"
I'm running nfs-provisioner:v1.0.8 as a daemonset. There is not a lot of load on this cluster, and without increasing it, I see the memory usage slowly but steadily increasing (running `kubectl top pod`). Most of the pods started with less than 200Mi usage, but some have been steadily growing over the past two days, now to over 400Mi.

*How much memory are nfs-provisioner pods expected to use? Can

[2018-01-04 18:13] whereisaaron commented on #244
Except note #328 that there is a limitation where the supplemental group only gets applies to the first process in each container. So while this is a good feature to have. It should be optional. `efs-provisioner` has this setting on the StorageClass parameters, so you can turn it on/off per StorageClass.

[2018-01-04 18:19] whereisaaron opened #541 "[efs-provisioner] gid ranges with multiple StorageClasses, how does it work?"
The gidAllocate and ginMin/gidMax ranges are per-StorageClass settings.

How does it work if two StorageClasses enable gidAllocate but specify overlapping gid ranges? Will the same gid get allocated twice? Or does the efs-provisioner avoid repeats globally?

[2018-01-04 20:47] wongma7 commented on #541
the same gid will get allocated twice, it does not avoid global repeats.

[2018-01-04 20:59] wongma7 commented on #540
To be honest I could not tell you as I have not performed real benchmarking. The app dutifully adds/remove exports using NFS-ganesha's provided methods, I don't know what reason the server would have to keep old exports/remnants of them in memory. It is not impossible there are some memory leak bugs in NFS-ganesha, however diagnosing those would not be easy https://github.com/nfs-ganesha/nfs-ganes

[2018-01-04 22:18] whereisaaron commented on #541
Makes sense. Thanks for clearing that up. I suggest you add a sentence to the 'parameters' discussion or FAQ.

[2018-01-04 22:25] whereisaaron commented on #541
Added PR #542 to add a FAQ covering this @wongma7, hope that's ok.

[2018-01-05 02:22] junaid-ali commented on #538
@ianchakeres indeed this was the error. I thought the key is already base64 encoded.

Thanks for the help :)

[2018-01-05 02:22] #538 closed

[2018-01-07 15:04] zcahana opened #546 "ProvisionController support for SharedInformers"
Hi,

I'd like to propose extending the [`ProvisionController`](https://github.com/kubernetes-incubator/external-storage/blob/master/lib/controller/controller.go#L69) to optionally use [`SharedInformers`](https://github.com/kubernetes/client-go/blob/master/tools/cache/shared_informer.go#L42) instead of "private" informers. This will support use-cases where other application components (e.g., the [`

[2018-01-08 13:10] karthik101 commented on #42
Is this still supported yet?

[2018-01-09 06:28] wenjun93 opened #547 "standalone-cinder: support rbd feature disable"
see [#57960](https://github.com/kubernetes/kubernetes/issues/57960), if cinder configuration of rbd feature is more than kernel can support, I'm thinking if it is necessary to disable the features after provisioning. thoughts? @aglitke

[2018-01-09 07:55] hubo2005 commented on #432
Actually I am having the similar issue, but my issue is with nfs as storage, the issue shows:

I0109 06:19:18.626210       1 main.go:82] Setting up NFS server!
I0109 06:19:18.744586       1 server.go:144] starting RLIMIT_NOFILE rlimit.Cur 65536, rlimit.Max 65536
I0109 06:19:18.744631       1 server.go:155] ending RLIMIT_NOFILE rlimit.Cur 1048576, rlimit.Max 1048576
I0109 06:19:18.770002       1 se

[2018-01-09 19:35] dmick opened #548 "openebs test broken"
with unittests.sh:

[code]

This appears to be because of 5987173052a4ea37225b1dbc2f414117c9f5719d, which changed the signature of an internal test function from
```EvaluateCreateVsm(ovi OpenEBSVolumeInterface, vname string, size string) (string, error)```
to
```EvaluateCreateVolume(ovi OpenEBSVolumeInterface, vs mayav1.VolumeSpec) (string, error)```

but did not change the call arguments:

```

[2018-01-11 01:32] wongma7 commented on #432
@hubo2005 nfs on top of nfs is not supported (basically, proxy mode). What you are looking for instead is something like https://github.com/kubernetes-incubator/external-storage/tree/master/nfs-client which will take your existing nas and make autocreate directories in it.

[2018-01-11 01:54] wongma7 commented on #546
yes, sounds good to me 👍

[2018-01-11 03:22] whereisaaron commented on #541
Sorted. Thanks for merging the PR @wongma7.

[2018-01-11 03:22] #541 closed

[2018-01-11 03:53] hubo2005 commented on #432
Thanks a lot @wongma7 , you clear my doubt and it works.  Really appreciate it!

[2018-01-11 04:43] aetimmes opened #551 "helm template generation for local storage provisioner fails"
I'm trying to follow the procedures for bare metal local storage provisioning detailed here: https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume.

I'm stuck on creating the provisioner resource. I run:
`helm template ./helm/provisioner --set engine=baremetal > ./provisioner/deployment/kubernetes/provisioner_generated.yaml`
and try to run
`kubectl create -f ./provision

[2018-01-11 04:44] aetimmes commented on #551
The above was detailed in #sig-storage on the k8s slack with @sbezverk and @msau42.

[2018-01-11 11:38] sbezverk commented on #551
/assign @sbezverk

[2018-01-11 12:34] sbezverk commented on #551
@aetimmes Please check proposed solution.

[2018-01-12 18:28] aetimmes commented on #551
Looks like it works! The provisioner is complaining that I don't have the LocalVolume feature gate enabled but it's definitely finding the volumes, at least:

```0112 18:21:30.577253       1 discovery.go:207] Found new volume of volumeType "file" at host path "/data/default/vol1" with capacity 8269524992, creating Local PV "local-pv-2b27b2b0"```

[2018-01-12 18:28] aetimmes commented on #551
I'll figure out the feature gating business on my own - feel free to close this. Thanks!

[2018-01-12 18:28] #551 closed

[2018-01-13 11:22] SacDin opened #555 "NFS provisioning "timeout expired waiting for volumes to attach/mount for pod""
- The NFS provisioner has been successfully deployed
- PVC and PV are created for requested volume
- But, pod is unable to mount volume throwing following error :
[code]

[2018-01-16 07:21] tsmetana commented on #485
We talked about this one a bit. Cloning is a different operation from snapshotting. So for the backends which support the clone operation natively there should exist a special controller allowing to clone the PV directly. Snapshots might come as part of a workaround solution for those storage backends not supporting cloning directly. Still there is nothing to do on the snapshot controller or provi

[2018-01-16 15:10] screeley44 opened #558 "Validation of AWS Snapshot example failing"
Env: single node K8 cluster created from local-up-cluster.sh (1.10 dirty) running on AWS us-east-1d

Following the Snapshot AWS example, using the latest deployment.yaml, the controller and provisioner from the deployment seem to run fine.

[code]

But when I get to the step where I actually create the snapshot (snapshot.yaml) from my PV/PVC, I don't think it is working and didn't find anything ob

[2018-01-16 18:21] screeley44 commented on #558
cc @tsmetana

[2018-01-17 10:16] tsmetana commented on #558
I had some problems running the deployment in AWS too and I suspect there is a problem with cloud provider. It's possible to get the output from the controller with 'docker logs' -- the snapshot binaries are quite verbose.

Thanks for reporting -- I will take a look at it.

[2018-01-17 10:18] #485 closed

[2018-01-17 10:21] tsmetana commented on #444
OK. There are some issues reported about the current examples. I will have to re-test with the newer version of kubernetes. I'll try to add GCE on the list too.

[2018-01-18 05:22] #504 closed

[2018-01-18 10:30] JinsYin opened #560 "StorageClass does not support fstype parameter in rbd-provisioner"
Kubernetes 1.8.2

[code]

If I add `fsType: xfs` parameter, I will not be able to run PVC properly.

[code]

[code]

@cofyc

[2018-01-18 10:54] cofyc commented on #560
Thanks for reporting this bug! I will fix it soon.

[2018-01-18 18:57] #309 closed

[2018-01-18 18:58] #560 closed

[2018-01-19 08:56] gaurang1988 opened #562 "hostpath provisioner is not getting compiled"
I'm not able to compile the hostpath provisioner with the latest version of go i/e 1.9.2.
Is it broken?

[root@kubernetes hostpath-provisioner]# make
CGO_ENABLED=0 go build -a -ldflags '-extldflags "-static"' -o hostpath-provisioner .
# external-storage/docs/demo/hostpath-provisioner
./hostpath-provisioner.go:57:11: cannot use hostPathProvisioner literal (type *hostPathProvisioner) as type control

[2018-01-22 10:46] spicku opened #568 "NFS demo does not work with kubernetes 1.4.0"
I followed the NFS provisioner demo, and I'm facing following issue. I'm using k8s version 1.4.0 and nfs provisioner image - quay.io/kubernetes_incubator/nfs-provisioner:v1.0.8
I am using host path volume for testing -> hostPath:
                                                path: /tmp/hostpath-nfs-storage

Here are details -->

Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4

[2018-01-23 17:32] kfox1111 opened #570 "rbd support for secret namespace"
Upstream fixed rbd to support specifying a namespace where the rbd secrets can be read in the created PV's. The external provisioner here needs to support the same option to fully finish the functionality. We would much rather use an external provisioner then the internal one.

[2018-01-23 17:33] kfox1111 commented on #570
The relevant upstream issue: https://github.com/kubernetes/kubernetes/issues/54432

[2018-01-23 17:57] sbezverk commented on #570
@wongma7 Any chance you could push latest API changes? We are still missing RBDPersistentVolumeSource definition.

[2018-01-23 21:15] sbezverk commented on #570
/assign @sbezverk

[2018-01-24 09:07] cofyc commented on #570
I created a PR (https://github.com/kubernetes-incubator/external-storage/pull/552) few days ago. It requires k8s.io/api@1.9.

[2018-01-24 13:01] lloeki opened #571 "Digital Ocean external volume test failing (again)"
This is kind of a followup to #529 and may provide additional info to add to #531.

Basically I am faced with a variation of the issue encountered by @tianhuil and proceeded to diagnose it further using the fantastic @klausenbusk feedback provided in that issue.

Situation: a fairly standard `kubeadm` cluster on Digital Ocean using kube v1.9.2 on CoreOS Container Linux, together with flannel 0.9.1

[2018-01-24 13:13] klausenbusk commented on #571
You is probably missing a RBAC policy, so the external provisioner can access the PVCs (and a few other things).

So create a serviceAccount, configure a RBAC policy for that serviceAccount with the correct permissions, add `serviceAccountName: <service account name>` to `digitalocean-provisioner.yaml`, and it should probably work.

Some of the other provisioners contain a RBAC policy, ex: https:/

[2018-01-24 13:13] klausenbusk commented on #571
/area digitalocean

[2018-01-24 14:48] lloeki commented on #571
@klausenbusk Thanks a lot for your support, it's been invaluable!

Looks like some SSL issues when the node's kubelet is calling the plugin's attach command. I'm not entirely sure in which context the attach command is being called though.

[2018-01-24 15:04] klausenbusk commented on #571
The `attach` command is called by `kube-controller-manager`. Could you try running `curl https://api.digitalocean.com/v2/droplets` or `wget https://api.digitalocean.com/v2/droplets` inside the `kube-controller-manager` pod and see if it success? From the error (`failed to load system roots and no roots provided`) i suspect, that `kube-controller-manager` lacks a CA root.

[2018-01-24 15:09] klausenbusk commented on #571
You could use the host root with a `hostPath` volume (`bootkube` does that).

See: https://github.com/kubernetes-incubator/bootkube/blob/master/pkg/asset/internal/templates.go#L443-L445 and https://github.com/kubernetes-incubator/bootkube/blob/master/pkg/asset/internal/templates.go#L460-L462

[2018-01-24 15:14] lloeki commented on #571
That's what I reckoned but things seem to be in order:

[code]

[code]

[2018-01-24 15:18] lloeki commented on #571
One that fails though is:

[code]

[2018-01-24 15:41] klausenbusk commented on #571
I don't thing `wget` check the certificate. `wget https://wrong.host.badssl.com/` is working without any issue inside a `gcr.io/google-containers/kube-controller-manager:v1.9.2` container.

[2018-01-24 15:45] klausenbusk commented on #571
Oh, `/etc/ssl/certs` on CoreOS contains symlinks to `/usr/share/ca-certificates` which isn't accessible inside the `kube-controller-manager` pod. Could you confirm that? If that the case, then try changing the `hostPath` `/etc/ssl/certs` to `/usr/share/ca-certificates`

[2018-01-24 15:52] lloeki commented on #571
Indeed, good catch!

That one threw me off and since there are *relative* symlinks for cert hashes I did not notice that even proper ones were symlinks to outside.

[code]

And now `kubectl describe pod busy-pod` succeeds!

[code]

[2018-01-24 16:01] lloeki commented on #571
BTW for the record I "fixed" that wget error by `sh`ing into the container and running `apk update` and `apk add openssl`. Not that it's really needed since I suppose the provisioner uses Go's crypto/tls, but I thought I'd point it out in case it wasn't intentional.

[2018-01-24 16:52] kfox1111 commented on #570
@wongma7 any idea when the updated kubeapi will land?

[2018-01-24 19:08] prateekpandey14 commented on #548
Thanks @dmick for raising the issue, i will raise a PR to fix this the test.

[2018-01-25 07:15] klausenbusk opened #572 "digitalocean: Add RBAC policy"
/area digitalocean

Needed for `kubeadm` setups and probably more.

See: https://github.com/kubernetes-incubator/external-storage/issues/571

[2018-01-25 07:18] klausenbusk commented on #531
Per: https://github.com/kubernetes-incubator/external-storage/issues/571

* Document CoreOS required change (change of flexvolume dir)
  * Document that `kube-controller-manager` (`kubeadm` only?) need to use the `/usr/share/ca-certificates` instead of `/etc/ssl/certs` due to symlinks.
* Add RBAC policy (see https://github.com/kubernetes-incubator/external-storage/issues/572)

cc @lloeki

[2018-01-25 07:19] klausenbusk commented on #571
Lets close this issue.

I have opened a new issue about adding a RBAC policy (https://github.com/kubernetes-incubator/external-storage/issues/572), and added a comment to the `common tweaks` issue (https://github.com/kubernetes-incubator/external-storage/issues/531#issuecomment-360381927).

[2018-01-25 07:39] adrianliechti commented on #250
we created a small PoC using a provisioner and flexvolume plugin to achive dynamic local volumes:
[/k8s-localflex-provisioner](https://github.com/monostream/k8s-localflex-provisioner)

it replaces a bash-script on each node to permanently ensure 10 fresh local-volumes to get claimed by pods - and brings the positive effects that volumes are getting deleted as well :)

[2018-01-25 08:52] klausenbusk commented on #571
I have opened a `kubeadm` issue to track that: https://github.com/kubernetes/kubeadm/issues/671

[2018-01-25 11:59] klausenbusk commented on #529
/area digitalocean

Just for the record.

[2018-01-25 12:00] klausenbusk commented on #527
/area digitalocean

Just for the record.

[2018-01-25 14:59] lloeki commented on #571
Agreed.

[2018-01-25 14:59] #571 closed

[2018-01-25 15:48] prateekpandey14 opened #574 "Snapshot API support for external providers"
Currently Snapshot API only supports In-tree `VolumeSource` providers to determine the plugin name.
means there is no way to determine the out-tree providers, where PV is dynamically provisioned by external-provisioners.
/area snapshot

/cc @tsmetana @rootfs @msau42 @xing-yang

[2018-01-25 15:56] xing-yang commented on #574
Thanks @prateekpandey14 for opening this issue.  We are investigating this issue and will be addressing it.

[2018-01-25 18:59] xing-yang commented on #574
/assign

[2018-01-26 07:43] deerjoe opened #576 "create nfs-client-provisioner with RBAC, still Got cannot list persistentvolumeclaims error"
k8s vision: 1.8.1
I have adapted yaml to k8s 1.8.1,but still got error like that,after i create pvc.

here is my yamls
[code]

[2018-01-26 09:23] nseyvet opened #577 "local-volume missing serviceaccount and serviceroles in helm/templates directory"
The helm chart for the local-volume provisioner refers to service accounts that are not part of the templates.

See https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume/helm/provisioner/templates.

Add service-account and cluster-role-bindings as defined under https://github.com/kubernetes-incubator/external-storage/blob/master/local-volume/provisioner/deployment/kuber

[2018-01-30 13:34] tsmetana commented on #558
I think I found the problem: the upstream images don't contain valid CA certificates. Either I will use some bigger base image or copy the CA files manually from the system. Whichever is lesser evil.

[2018-01-30 21:24] msau42 commented on #432
@Random-Liu is seeing this issue on the e2e test using containerd.  The e2e test uses EmptyDir as /export.

[2018-01-31 00:10] Random-Liu commented on #432
More details about this issue:
[code]

[2018-01-31 11:09] Paxa commented on #447
Having same problem, how did you switch to NFS 3?

[2018-01-31 15:51] lloeki commented on #531
I was faced with a silent mount failure. The only available log was on the pod:

[code]

Volume was attaching correctly, just not mounting. Took me *two hours* before I thought about looking into the node's kubelet logs:

[code]

Turns out I forgot to set `--volume-plugin-dir=` on a node's kubelet args.

It's a bit more general than digitalocean, but I thought that may be worth mentioning somewher

[2018-01-31 18:28] SneakyMax commented on #447
@Paxa by editing the `StorageClass` like so:

[code]

[2018-02-01 15:11] utkarshmani1997 opened #585 "Need support for endpoint /metrics"
There is need of endpoint `/metrics` such that provisioner pods can be monitored via Prometheus.Currently after discovering pods in target (Prometheus browser) it shows status as down.There should be endpoint metrics so that it can be discovered in Prometheus's target.

[2018-02-01 19:04] w9n commented on #432
`Could not open VFS mount point /etc/resolv.conf` doesnt make sense, this should be `/export/pvc-e9de1f6b-bf99-11e7-bb4e-0ae1ff7ff0a2` or something if i remember correctly. But im clueless where it gets `/etc/resolv.conf` from.

[2018-02-02 11:38] cyinll opened #587 "[local-volume] pv and pod are in different node"
kubernetesVersion: 1.9.2
local-volume-provisioner: v2.0.0
--feature-gates=AllAlpha=true

the pod hostname is db213242098.gtj, but the pv hostname is db213242100.gtj, they are different, So, the pod get the wrong pv
However, the dirname is same between db213242098.gtj and db213242100.gtj, it can run it.
when i delete pvc, because of its wrong pv, the files can't be deleted.

the detail is follow
[c

[2018-02-02 16:32] msau42 commented on #587
Do you have the volume bind predicate enabled in your scheduler?

Also, do you have the feature gate enabled on all kubelets?  Kubelet is supposed to fail mounting the volume if the node affinity does not match.

[2018-02-03 16:46] cyinll commented on #587
@msau42 thanks!  It work fine, when i open kube-scheduler feature gate.

[2018-02-03 16:46] #587 closed

[2018-02-05 04:28] #572 closed

[2018-02-05 11:08] ZhaokunQiu commented on #562
the same...have you resolved it?

[2018-02-05 13:31] ianchakeres commented on #562
I was unable to reproduce this error. I successfully built the hostpath-provisioner on two different macs, one with go 1.9.2 and the other with go 1.9.3.

[2018-02-05 13:43] ianchakeres commented on #562
Is hostpath-provisioner located at the following path: ${GOPATH}/src/github.com/kubernetes-incubator/external-storage/docs/demo/hostpath-provisioner?

I was unable to make the hostpath-provisioner successfully when it was located at a different path.

[2018-02-05 16:04] Kiura commented on #531
@lloeki, could you please tell me how you added --volume-plugin-dir and where/which config?

[2018-02-06 01:51] ZhaokunQiu commented on #562
@ianchakeres Thanks a lot !!! I resolved the problem by changing the path eventually!

[2018-02-06 03:07] larryck opened #589 "CephFS share name with '-' failed with Operation not permitted"
Hi,  I'm using Kubernetes v1.6.7 with the cephfs storageclass on arm64 servers. My ceph version is 10.1.2.  I create a pvc provisioned with the cephfs storageclass and mount it with ceph fuse ( I backported it from the latest kubernetes version), but the pv keeps mount-failed. I test the following case:

but when I change the dir-name from "test-kubernetes" to "test_kubernetes", it works ok.

so I

[2018-02-06 03:49] ianchakeres commented on #562
@ZhaokunQiu - I'm glad that you got things working.

@gaurang1988 - Any luck on your side? If you also got things working, let's close this issue.

[2018-02-06 06:32] gaurang1988 commented on #562
Hi,

@ianchakeres I'm able to build the code when the hostpath-provisioner is located at the path you mentioned. Thanks for your help.

[2018-02-06 06:32] #562 closed

[2018-02-06 12:37] pszreder opened #591 "iscsi/targetd - race condition while getting available LUN number (multiple PVCs at the same time)"
Hi,

I'm using Kubernetes 1.9.2, latest version of the iscsi-provisioner image.

I create 2 PVCs which use this provisioner simultaneously (at the same time). It looks like some race condition happens according to next available LUN number fetching. Both of them (provisioning tasks) acquire the same LUN number, so in the next steps, one of them failed:

[code]

When I wait with creating the second

[2018-02-06 13:40] lloeki commented on #531
@kiura the systemd service file. If you're using kubeadm:

[code]

[2018-02-06 21:29] lpabon opened #593 "Possible update to snapshot apis crd needed"
Getting this error from my project when I vendor in this one:

[code]

Does this need to be regenerated?

[2018-02-07 08:11] tsmetana commented on #593
The root of the problem (I think) is that your project vendors incompatible version of apimachinery. I suppose we would need to upgrade apimachinery in snapshots before regenerating the files to fix the issue.

[2018-02-07 09:22] ZhaokunQiu opened #594 "NFS doesn't provision a pv for pvc request"
I practice create pvc absolutely as the guide given.
Things went well when I created the deployment, service and storage class, but the state of pvc is always pending.
And here is some output-information:

Did I forget anything or is there any config file need to be edit?

[2018-02-07 10:15] wzhliang commented on #594
Sounds like you missed the RBAC part

[2018-02-07 10:27] ZhaokunQiu commented on #594
@wzhliang yeah you're right! Many thanks!!!

[2018-02-07 10:36] #594 closed

[2018-02-07 15:39] #427 closed

[2018-02-07 18:34] rootfs commented on #593
@lpabon k8s.io vendor pkg just updated, rebase and try again.

[2018-02-08 04:15] larryck commented on #589
/area ceph/cephfs

[2018-02-08 14:53] rootfs commented on #589
cc @zhangxiaoyu-zidif for ceph-fuse

[2018-02-09 02:39] jgreat opened #596 "NFS-Client "reclaimPolicy: Delete" doesn't delete."
I was expecting `reclaimPolicy: Delete` to actually delete the created directory on my nfs server.

Unless I'm missing something the current behavior for Delete is to actually move the directory to an "archive" directory leaving old data laying around.

Is there a process that comes and cleans up these archive directories?

Would you accept a PR to configure this behavior with a ENV var or somethi

[2018-02-09 19:34] #546 closed

[2018-02-10 01:38] klynch opened #598 "Release new RBD provisioner version"
Now that the `userSecretNamespace` field for the RBD provisioner has been added can a release be cut?

Referencing: c33ba9cd6473ee3bd7053edcc670031ea1fc1502

[2018-02-16 18:47] whereisaaron opened #606 "[aws-efs] Helm chart for efs-provisioner"
Hi @wongma7, thank you very much for your work on EFS Provisioner. It has been working great for me.

I could not find a good `helm` chart for deploying `efs-provisioner` to clusters, so I [prepared one](https://github.com/whereisaaron/charts/tree/master/incubator/efs-provisioner) that deploys `efs-provisioner` and optionally a StorageClass.

I guess the right place for this is the 'kubernetes/cha

[2018-02-16 19:33] msau42 opened #607 "[local-volume] Need example configmap"
Now that configmap is required, the daemonset spec needs to be updated to also include a configmap example.

/area local-volume

[2018-02-16 19:33] msau42 commented on #577
This can be closed now?

[2018-02-16 20:12] nseyvet commented on #577
Yes

On Fri, 16 Feb 2018 at 20:33, Michelle Au <notifications@github.com> wrote:

[2018-02-19 11:58] NicolaiSchmid opened #608 "New Release for RBD"
Hey,
could we build and push a new release for Ceph RBD?
I'm on Kubernetes 1.9.2 and I'd like to use it for provisioning my PVCs.
Also, are the images still pushed to quay.io/external_storage?
Cheers,
Nicolai

[2018-02-19 19:15] rootfs commented on #608
@childsb @wongma7 can you make a new release image?

[2018-02-20 20:54] bhack commented on #241
Can we specify where we can pass `mountOptions`?

[2018-02-21 15:10] AnatolyRugalev commented on #608
I really stuck because of this issue, so I decided to make temporary image in docker hub to use it in my cluster.

https://hub.docker.com/r/anatolyrugalev/rbd-provisioner/

Hope it helps.

[2018-02-21 19:15] d-mcd commented on #326
Any movement on this one? Just began using EFS provisioning a few days ago and today realized there did not appear to be a way to retain; after pvc deleteition. Thx Guys!

[2018-02-22 01:56] msau42 opened #616 "Evaluate blkdiscard cleaning for gce local SSD"
Once #605 is merged, look into changing gce block cleaning options to blkdiscard by default.

/assign

[2018-02-22 01:56] msau42 commented on #616
/area local-volume

[2018-02-22 07:51] xingzhou commented on #326
@d-mcd and @boomshadow, just saw your comments, sorry for the late response. Please take a look at my latest comments in the PR.

The main code for supporting retain policy has been merged in another PR, and this feature only support K8s higher than v1.8. Would you please take a trial on this feature and let me know if anything not work correctly? thx

[2018-02-22 12:14] jsafrane commented on #370
/close

Fixed by #499

[2018-02-22 12:14] #370 closed

[2018-02-22 12:15] jsafrane commented on #482
/close

Fixed by #499

[2018-02-22 12:15] #482 closed

[2018-02-22 15:57] msau42 opened #618 "Add utility to upgrade local volume PVs"
One time controller or script that can be run to update local PV objects using aloha annotation to the node affinity beta field

/area local-volume

[2018-02-22 16:13] msau42 commented on #398
This is solved in 1.10 with PVC and PV finalizers

/close

[2018-02-22 16:13] #398 closed

[2018-02-22 16:15] msau42 commented on #280
Now that we have PVC and PV finalizers in 1.10, I think this logic can be implemented.  Anyone interested in working on this?

[2018-02-22 16:18] msau42 commented on #280
Need to walk through the scenario of what will happen if we hit the race condition of deleting a PV after it gets bound

[2018-02-22 16:19] msau42 commented on #280
Some of this might be covered by @nickrenren health monitoring proposal

[2018-02-22 16:21] msau42 commented on #479
Can this be closed?

[2018-02-22 18:00] dhirajh commented on #479
Yes. It has been fixed with the pr #480

[2018-02-22 18:00] #479 closed

[2018-02-22 21:18] NicolaiSchmid commented on #608
Thank you!
I'm currently using your image, but I still get an error mounting my PV to a pod:
[code]
Do you think this is related to the provisioner or some other problem? I have absolutely no idea since the PVC gets satisfied, an image is created and tried to mount. Inside the RBD container, it can connect to Ceph and provision the image without any challenges. There are no error logs inside the p

[2018-02-23 07:59] timn commented on #608
I made the experience yesterday that the ClusterRole does not give all the permissions necessary. In particular, the rbd-provisioner needs to resolve the kube-dns service to pass on the IP of the ceph monitor. If that fails it seems to not do some important steps afterwards (check the output of rbd-provisioner, look for a permission denial). You could see this since the volume does not create in t

[2018-02-23 15:39] timn commented on #608
Pushed #620 with more explicit restrictions now. @NicolaiSchmid, you could close your PR.

[2018-02-24 19:52] etsangsplk opened #621 "Does EFS provisioner support "rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2" as documented by AWS ?"
AWS EFS Doc recommends certain settings (see below), where does efs provisioner gets its settings to align with AWS recommendation? Or in case user need to change, how to?

e.g.:

$  sudo mount -t nfs -o **nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2** mount-target-DNS:/mike  /home/mike
doc:
https://docs.aws.amazon.com/efs/latest/ug/accessing-fs-nfs-permissions-per-user-subdirs

[2018-02-25 10:06] wongma7 commented on #596
yeah it should delete I don't remember why I approved the 'archive' behavior, it sounds plain wrong. Since it would be dangerous to change it now yes a PR to configure it would be acceptable

[2018-02-25 14:07] bruce2409 opened #622 "Not all permissions granted in rbd RBAC deploy"
When using the rbac deployment as stock, you get the following error:

"failed to get admin secret from [\"kube-system\"/\"ceph-admin-secret\"]: secrets \"ceph-admin-secret\" is forbidden: User \"system:serviceaccount:default:rbd-provisioner\" cannot get secrets in the namespace \"kube-system\"".

To fix this I had to edit deploy/rbac/clusterrole.yaml to add:

[code]

[2018-02-25 20:17] klynch commented on #608
Any way we could get a release cut?

[2018-02-26 07:24] cofyc commented on #622
hi, @bruce2409

It's because rbac files on master branch is for latest rbd-provisioner. The latest rbd-provisioner does not require cluster-level secrets permissions.

[2018-02-27 06:01] vijayboopathy opened #626 "Error getting server version - NFS Provisioner"
Kubernetes Version: v1.9.3
NFS Version: v1.0.8

I keep on getting the following error
`kubectl logs -f nfs-provisioner-79d9ff47cb-9gltj`
[code]

Deployment file of NFS Provisioner
[code]

Control Plane components
`kubectl get pods -n kube-system`
[code]

[2018-02-27 08:41] vijayboopathy commented on #626
Fixed
-------
This is a networking issue related to the CNI. Switched from Calico to Weave solved the issue.

[2018-02-27 08:41] #626 closed

[2018-02-27 21:06] JasperZ opened #629 "MountOptions ignored in nfs-client-provisioner"
Hey,
I'm currently working with the nfs-client(-provisioner). I deployed it as described in the readme and i can see the created folder for the PersistentVolume on the NFS server. My problem is that I have to use NFS version 3. Therefore I tried adding the mountOptions for the StorageClass:
[code]
Since I wasn't sure I tried it under parameters and directly, but both attemts lead to a PersistantVo

[2018-02-28 12:05] ZhaokunQiu opened #630 "[local-volume]Deleter won't delete PV when the real path has been removed."
Is this a bug to be fixed?
Or is there anything vital preventing us to do so?

[2018-02-28 14:47] msau42 commented on #630
Duplicate of #280.  I think this can be considered now that we have PV protection feature in 1.10.

/assign

[2018-02-28 14:48] msau42 commented on #630
/close

[2018-02-28 14:48] #630 closed

[2018-03-01 08:06] rangapv opened #632 "dynamic provisioning of storage"
I am trying to install concourse ci on kuberenetes GCE with kuebadm init install......

Which method and how to enable Dynamic provisioning....

My current state of mind...

There is

1. kubernetes-incubator/external-storage/local-volume/provisioner/deployment/kubernetes/
with...
 gce
 admin_account.yaml
 example-storage.yaml
 provisioner-daemonset.yaml

2. in the same direcory there is external-s

[2018-03-01 17:32] msau42 commented on #632
Do you want to use GCE local SSDs or GCE Persistent Disks?

[2018-03-02 05:08] rangapv commented on #632
For Dynamic volume provisioning I want to use GCE localSSDs and for static I want to use GCE Persistent disk, basically both.. :-)
Regards
Ranga

[2018-03-02 06:23] msau42 commented on #632
So local storage does not support dynamic provisioning yet, only static provisioning.  What this means is that the local storage provisioner will detect each local SSD on each node, and create one PV per local SSD.  It cannot dynamically carve out smaller chunks of local SSD. We are trying to target alpha support for dynamic provisioning in 1.11.

In the meantime, if you need smaller chunks, then

[2018-03-03 01:23] msau42 opened #636 "[local-volume] Add option to use node name instead of node uid for provisioner name"
Until we get can move away from using non-unique disk naming in GKE, we need an option to make the provisioner name based off of node name instead of node uid, to avoid the scenario outined in kubernetes/kubernetes#51431 where a 2nd PV for the same path on the "same" node name is created.

/assign

[2018-03-03 01:39] msau42 commented on #636
actually nevermind, only PV name is used for determining if PV already exists, and PV name uses node name, not node uid.

Only issue will be that PV cleanup won't happen, because that's based off of provisioner name, which includes node uid.

[2018-03-03 14:25] NickrenREN opened #638 "Using beta api: promote NodeAffinity"
Since we promoted volume scheduling and local storage to beta in kubernetes core repo, see: https://github.com/kubernetes/kubernetes/pull/59391
Here we need to update local storage provisioner to use beta api;

tasks:

- [x] upgrade kubernetes dependencies (PR: https://github.com/kubernetes-incubator/external-storage/pull/631)
- [x] promote NodeAffinity (both alpha and beta, specified by configMap

[2018-03-04 21:39] timn commented on #608
@rootfs, anything you can do to get a release pushed?
@AnatolyRugalev, would you mind to give some advice on building the image. The release Dockerfile doesn't work for me and "make" errors out.

[2018-03-04 23:48] disrani-px opened #640 "SnapshotCreate should pass in annotations from the spec"
Currently, the SnapshotCreate API only passes in the PV spec and some hardcoded tags. It would be helpful to pass in annotations from the Snapshot Spec (or even the entire spec) to the plugin as a way to pass in options to the plugin when taking snapshots.

/area snapshot

[2018-03-05 00:02] disrani-px opened #641 "Snapshot controller can silently fail to start if cache sync takes time"
There is a 1 second wait in the snapshot controller startup sequence for the cache to sync. It can sometimes take longer to sync the cache causing the startup sequence to silently return midway.

/area snapshot

[2018-03-05 00:20] disrani-px opened #643 "Snapshot plugin Init() parameter should be more generic"
Right now it takes cloudprovider.Interface as a param. But snapshots can be taken for non-cloud providers too. So can that be changed to interface{} type or something more generic?

/area snapshot

[2018-03-05 07:02] wackxu opened #644 "refactor snapshot to use shared infromer and versioned client"
Snapshot uses CRD to define resources such as `VolumeSnapshot` and  `VolumeSnapshotData` .  We should follow the pattern https://github.com/kubernetes/sample-controller to implement our code and make it more readable and clear.

[2018-03-06 03:33] disrani-px opened #646 "Snapshot controller: Race in delete/create"
The cache uses the name of the snapshot as the key for the maps when maintaining the actual and desired states. This leads to a race when objects are deleted and then created quickly especially when the delete fails initially.

Observed behavior:
1. Delete a snapshot. volumesnapshot object is deleted.
2. Delete from the plugin fails for some reason and is being retried continuously with a backoff

[2018-03-06 07:10] edify42 commented on #555
Kube version?

[2018-03-06 18:25] rootfs commented on #643
do you have a use case for that?

[2018-03-06 21:03] disrani-px commented on #643
The use case is for non-cloud storage providers which want to take local snapshots.

[2018-03-06 21:19] mtanino commented on #425
/close

[2018-03-06 21:19] #425 closed

[2018-03-07 09:22] nrobert13 commented on #629
same here, as long as I can see in the client-provisioner source, the mountoptions is not passed to the persistentvolume structure created by provisioner:
line 72-89 : https://github.com/kubernetes-incubator/external-storage/blob/master/nfs-client/cmd/nfs-client-provisioner/provisioner.go
should pass MountOptions like in line 464 : https://github.com/kubernetes/kubernetes/blob/060a66ae20393c66f703

[2018-03-07 09:24] nrobert13 commented on #326
not sure if we should discuss this further here or in the PR, so will paste a link to my comment in the PR , https://github.com/kubernetes-incubator/external-storage/pull/392#issuecomment-370848257

[2018-03-08 20:24] cdrage commented on #576
I'm getting this too despite following the auth guide :( any ideas?

[2018-03-08 20:31] cdrage opened #649 "NFS provisioning better documentation"
Had major difficulty following the example due to `ServiceAccount` not being in the default `nfs/deploy/kubernetes/deployment.yaml` file.

This wasn't outlined in the `Quickstart` guide, and only here:

https://github.com/kubernetes-incubator/external-storage/blob/master/nfs/docs/deployment.md

Within an in-line paragraph.

The `deployment.md` also only describes how to deploy the actual deploymen

[2018-03-08 22:50] disrani-px commented on #640
I took a stab at this and sent out a PR

[2018-03-08 23:21] NicolasT opened #651 "[local-volume] Design of LVM-based dynamic provisioning"
I've been struggling to figure out how to properly do (dynamic) provisioning of local volumes for some time now, already using `local-volume` for static provisioning, and thought of using LVM volumes to implement dynamic provisioning somehow. I now noticed this is in the TODO list of said module.

While thinking about how to implement this, I fail to see how a certain situation can be handled. Sin

[2018-03-09 00:40] msau42 commented on #651
@lichuqiang is working on a design for lvm dynamic provisioner.  It has to leverage changes from https://github.com/kubernetes/community/pull/1857 to get a node that the scheduler has picked for the pod.

[2018-03-09 02:18] lichuqiang commented on #651
Hi @NicolasT , I‘ve just posted a [PR on the design](https://github.com/kubernetes/community/pull/1914), which is still in progress though.
please feel free to give your opinion :)

[2018-03-09 03:20] cdrage opened #652 "Better documentation for nfs-client"
Currently the README is quite bare-bones and I'd like to contribute in improving it. It's hard to tell what is exactly happening. It was only by chance did I realize and discover that this is indeed regarding dynamic provisioning of an NFS server.

One of the other reasons too is that the current example does not work due to RBAC and:

[code]

Not being provided in `deployment.yaml`. Resulting in

[2018-03-09 16:48] musse commented on #507
@wongma7 I fixed the outdated manifests with #656.

[2018-03-12 04:28] imesh commented on #355
@jurgenweber Thanks for sharing your experience with this. I also found the same issue on AWS while trying to use Kubernetes EFS provisioner. May I know whether you were able to resolve this problem by changing the instance type to a one which has higher network bandwidth?

[2018-03-12 05:04] jurgenweber commented on #355
Changing the node did not help, basically you need filesystems over a TB in size for EFS to be useful it is all about its burst system. I abandoned this approach for just using EBS/gp2 and fixing applications to an AZ.

[2018-03-12 15:45] deitch opened #666 "Document required IAM permissions"
When running the provisioner, I get:

[code]

I dug through the code, and it appears to use the AWS API to see if it can get to the filesystem [here](https://github.com/kubernetes-incubator/external-storage/blob/master/aws/efs/cmd/efs-provisioner/efs-provisioner.go#L84)

The documentation doesn't list that this is a requirement. It is fine as a requirement - actually makes sense - but needs to be

[2018-03-12 16:02] tsmetana commented on #643
We already have a hostpath plugin... It basically ignores the Init() parameter. I would also be curious about a specific use-case that would need this. Not that I'm against: just want to figure out what should the interface look like. We should not make the interface more complicated.

[2018-03-13 15:45] NicolasT commented on #651
Thanks, following up there now. As such, closing this one. Thanks for the pointers @msau42 @lichuqiang!

[2018-03-13 15:45] #651 closed

[2018-03-13 17:16] maha-v commented on #555
I am also running into the same issue. Any found a root cause ?

[2018-03-13 19:24] wongma7 commented on #666
It is not technically a requirement, only a warning just as a sanity check that it's actually working in an efs-mounted directory vs local. the docs are quite long now so it's somewhat hidden at the bottom since it's optional https://github.com/kubernetes-incubator/external-storage/tree/master/aws/efs#optional-aws-credentials-secret

[2018-03-13 19:24] wongma7 commented on #666
either way I'd be open to rewording the warning so it's less scary

[2018-03-13 20:36] eddiewang opened #668 "How to provision an already existing Block Storage PersistentVolume on DigitalOcean?"
Hi there,

I've been experimenting with the DigitalOcean provisioner, and it's been working pretty well for me (other than occasionally not deleting the Volume on reclaim).

I have an image with persistent data, that I would like to attach to a new k8 cluster. Is there a way to provision an existing PVC by passing the name of the volume?

Thanks for the help.

[2018-03-13 21:21] eddiewang commented on #668
/area digitalocean

[2018-03-13 22:11] disrani-px commented on #643
Actually, the hostpath ignoring the parameter is a good example. Passing in cloudprovider info for that doesn't really serve a purpose.
My use case is using this for snapshots in Portworx, which doesn't need the cloudprovider parameters interface either to take local snapshots.

Maybe pass in an interface{} type so that out of tree plugins can pass in arbitrary parameters according to their need?

[2018-03-13 22:15] amoskyler commented on #355
I just ran into this problem I believe. I'm not using external-storage, but have simply created a PV and PVC, attaching my EFS as NFS.

The mount essentially stalls completely, to the point my influxdb instance errors out and quits.

I'm a bit confused what exactly might be causing this issue.

[2018-03-14 03:56] cofyc commented on #570
@childsb @kfox1111 This can be closed, https://github.com/kubernetes-incubator/external-storage/pull/552 was merged.

[2018-03-14 07:36] deitch commented on #666
Ah, got it. I had misunderstood. I had thought of it as an error, but looking now, I see that it is a warning `W0312`. I also see that despite the message, it works just fine.

Yeah, I think some doc rewording would be helpful.

In theory, since I am running it on ec2, and I have the right IAM roles and policies set up, should it not just pick them up? I am unsure how the aws sdk for go figures ou

[2018-03-14 08:10] tsmetana commented on #644
Yes, the controller needs to be refactored. I'm only afraid it's not so urgent yet, especially with the CSI proposal under way.

[2018-03-14 08:15] wackxu commented on #644
@tsmetana I was working on it and almost finish it. I like to post a pr since `Add Snapshot Support in CSI Spec` is in review.

[2018-03-14 09:16] tsmetana commented on #643
If it buys us Portworx plugin... Let's do the interface{} and give it some pretty name to make it more readable. @rootfs what do you think?

[2018-03-14 09:34] JinsYin commented on #576
@deerjoe @cdrage I solved the problem. I think it is a compatibility issue.

Change `ClusterRole.apiVersion` to `rbac.authorization.k8s.io/v1beta1`

[2018-03-14 15:34] kfox1111 commented on #570
@cofyc awesome. thank you. Did it make it into a release yet, or are we still waiting on that?

Thanks,
Kevin

[2018-03-15 09:40] shenshouer opened #670 "cannot get volumeMode for volume"
I used `quay.io/external_storage/rbd-provisioner:latest` in k8s v1.9.3 and v1.9.4, got the error:
[code]

worked for k8s v1.8.2

Anyone who know how to do ?

[2018-03-15 14:22] ianchakeres commented on #670
@shenshouer - `volumeMode` is part of the alpha feature-gate `BlockVolume`. Have you purposely enabled this feature-gate or all alpha feature-gates?

FYI: @jsafrane

[2018-03-16 15:43] klausenbusk commented on #668
That sounds like a bug, does the log show anything? (`kubectl -n kube-system logs -l app=digitalocean-provisioner`)

It is possible but a bit tricky. You would need to create the PVC and PV manually, ensure the PV name match the volume name and set the `digitalocean.external-storage.incubator.kubernetes.io/VolumeID` annotation correctly in the PV.

It is probably easier just creating a new PVC and

[2018-03-19 00:31] shenshouer commented on #670
@ianchakeres Tks, It worked fine for me when  I enabled the feature-gates on apiserver and kubelet

[2018-03-19 00:31] #670 closed

[2018-03-19 02:13] #607 closed

[2018-03-19 02:13] #507 closed

[2018-03-21 17:36] klynch commented on #608
@childsb @wongma7 @rootfs any progress on this?

[2018-03-22 09:11] dunv-viosoft opened #678 "Ceph rbd: Unable to mount volumes for pod "test-pod_default(70d0fcd8-2db0-11e8-9e47-ecf4bbdbf21c)": timeout expired waiting for volumes to attach/mount for pod "default"/"test-pod". list of unattached/unmounted volumes=[pvc]"

[2018-03-22 09:15] dunv-viosoft commented on #678
I am trying to create pod on kuberenetes

[2018-03-22 09:58] nagapavan commented on #678
I believe you have configured DNS name with following Syntax.
`yourEFSsystemID.efs.yourEFSregion.amazonaws.com`
Please confirm: `yourEFSsystemID` value follows the syntax "availabilityZone.fileSystemId"
I had the problem resolved by suffixing availabilityZone

[2018-03-22 10:04] dunv-viosoft commented on #678
Hi nagapavan,  I used kubernetes and ceph storages on bare metal

[2018-03-22 21:54] raviada opened #681 "aws-efs provisioner not working"
efs-provisioner Container is not starting up, I see the following error. I used deploy/manifest.yaml by replacing the appropriate values. When I was searching for this error, it was suggested to install ```nfs-utils```. Is this package missing?

```MountVolume.SetUp failed for volume "pv-volume" : mount failed: exit status 32 Mounting command: systemd-run Mounting arguments: --description=Kubernet

[2018-03-23 00:50] nachimehta commented on #681
run `sudo apt-get install nfs-common` on your nodes

[2018-03-23 05:59] raviada commented on #681
Thank you nachimehta, I was able to run that command on all the nodes in my cluster. Now I am not getting that error, however I am not able to mount the efs.

```Unable to mount volumes for pod "efs-provisioner-68f565bd75-tx4wk_wso2(665d35f1-2e55-11e8-8502-0a6cd68e025e)": timeout expired waiting for volumes to attach/mount for pod "wso2"/"efs-provisioner-68f565bd75-tx4wk". list of unattached/unmou

[2018-03-23 06:18] nachimehta commented on #681
You also need to have the right ElasticFileStorage policy assigned to your cluster. That might be your problem. I haven't encountered this error.

I also have a problem where the VolumeClaims won't bind, they are just stuck in "pending" state.

[2018-03-23 06:53] raviada commented on #681
I added an inbound rule for NFS on the security group
```aws ec2 authorize-security-group-ingress --group-id {SecurityGroupId} --protocol tcp --port 2049 --source-group {SecurityGroupId} --group-owner {OwnerId}```

where as securitygroupid is the sg of EFS.

that got rid the above error.

now efs-provisioner container starts, but when I look at the container logs I am seeing this.

```E0323 06:47:

[2018-03-23 07:03] nachimehta commented on #681
Yes that looks like a policy problem. Try logging into your node and manually mounting on the box itself first.

[2018-03-23 14:06] raviada commented on #681
Hi nachimehta, I got the provisioner working now, but PVC status is still says pending. Any ideas?

[2018-03-23 15:33] nachimehta commented on #681
That’s exactly the place I’m stuck. I’ll let you know if I make any progress today.

[2018-03-23 15:46] Wylan commented on #608
@timn If it helps at all I also had trouble building the image I finally succeeded by doing the following:

[code]

Inside that container I ran `make`

Then back on my machine I built the docker image:

`docker build -t repo/image .` and pushed it

Kind of convoluted! But I wasn't able to get it to build using the `Docker.release` file for whatever reason.

CI pushing the images would be awesome.

[2018-03-23 18:38] nachimehta commented on #681
Can you post your manifest.yml? I think I've found the answer. The provisioner name needs to match in both the PVC and the Storage-Class

[2018-03-23 23:33] raviada commented on #681
Thank you, that was it. I changed the name in one place but not in the claim, I corrected it, its working now.

[2018-03-24 01:51] msau42 commented on #618
@NickrenREN just checking if you will have time to work on this?

[2018-03-24 07:02] NickrenREN commented on #618
Sorry for the delay. and yes, i will work on this

[2018-03-24 07:11] nachimehta commented on #681
Great, glad it worked for you. You should close the PR then.

[2018-03-24 15:56] ghubcoder opened #683 "DigitalOcean not mounting volume in pod"
Edit  - please removed, raised in error.

[2018-03-24 16:02] #683 closed

[2018-03-25 12:39] raviada commented on #681
thanks for all the help

[2018-03-25 12:39] #681 closed

[2018-03-25 18:32] humblec opened #684 "glide up -v` is failing with error "'kubernetes-1.10.0-beta.1 is not valid""
[code]

[2018-03-25 18:32] humblec commented on #684
@childsb @rootfs @wongma7

[2018-03-26 03:19] deerjoe commented on #576
谢了兄弟，我试试。@JinsYin

[2018-03-26 07:13] deerjoe commented on #576
@JinsYin 可否贴出rbac.yaml，我修改成v1beta1，还是出错。

[2018-03-26 12:03] rootfs commented on #684
can you clean your glide cache and try again?

[2018-03-26 12:57] cdrage commented on #576
@JinsYin @deerjoe I pushed a fix here: https://github.com/kubernetes-incubator/external-storage/pull/653

[2018-03-26 16:18] tobiajo opened #685 "local-volume: provisioner image v2.1.0: User Guide fails"
Using k8s 1.9 on baremetal.

When generating manifests according to the User Guide example: https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume#user-guide

And then deploying the provisioner, there is some error in the PV:s automatically created for found volumes. I get the following error with provisioner image `v2.1.0`:
[code]
That is a failed call to `APIUtil.Creat

[2018-03-26 16:26] msau42 commented on #685
Hi, v2.1 0 uses the beta nodeAffinity API by default, which is only available starting 1.10.  You need to pass the alpha API flag into the provisioner if you want to use v2.1.0 against an older cluster.

Unfortunately my readme updates have not been merged yet.
https://github.com/kubernetes-incubator/external-storage/pull/613

[2018-03-26 21:01] disrani-px commented on #641
Fix was merged, closing.

[2018-03-26 21:01] #641 closed

[2018-03-27 07:12] nagapavan commented on #678
@dunv-viosoft Ok. The error suggests the connectivity problem. I am not familiary with Ceph Storage.

[2018-03-27 07:56] dunv-viosoft commented on #678
Ok, Thanks @nagapavan

[2018-03-27 15:43] klausenbusk commented on #668
@eddiewang Did you solve the probme?/Can we close this issue?

[2018-03-27 17:36] msau42 opened #688 "Reduce node permissions in local provisioner"
Right now the example specs bind to the "system:node" role, but the provisioner really only needs Read permissions on Node objects.

/area local-volume

[2018-03-27 17:41] msau42 commented on #685
@tobiajo Updated README and CHANGELOG for v2.1.0 has been merged.  Could you try those new instructions and see if it works?

[2018-03-27 18:11] tobiajo commented on #685
@msau42 I don't understand what the following implies:

What configMap?

[2018-03-27 18:12] msau42 opened #689 "Remove manual PV instructions from local provisioner README"
The README should only be about how to use the local provisioner.  For manual PV creation, can refer to K8s docs

[2018-03-27 18:12] msau42 commented on #689
/area local-volume

[2018-03-27 18:36] msau42 commented on #685
When you deploy the provisioner, you also have to specify the configmap it uses.  That configmap needs to set the useAlphaAPI flag to get the provisioner to work on K8s < 1.10.

The other alternative I am thinking, which probably will be a lot easier to document and understand, is to say provisioner v2.1.0 only works with K8s >= 1.10

[2018-03-27 18:42] tobiajo commented on #685
IMO that depends on if the Helm chart aspires to be backwards compatible. Since we in this case needs to manually modify a manifest templated with Helm.

[2018-03-27 18:49] msau42 commented on #685
Yeah, I'm thinking in general, it's going to get too difficult to document all the different compatibility behaviors between provisioner version and K8s versions.  The local pv feature in general depends on many other independent features with their own timelines, and I think trying to support all the permutations is going to be difficult for developers to maintain and document, and also for users

[2018-03-27 19:40] tobiajo commented on #685
I agree, but is there any reason why the `useAlphaAPI` flag is not included in the Helm chart? It would also be good to include the StorageClass in the chart. I think the README can be cut back in favour for an up-to-date Helm chart.

[2018-03-27 20:03] msau42 commented on #685
Ah I see what you mean.  @NickrenREN or @sbezverk could one of you look into adding the new `useAlphaAPI` flag and an example StorageClass into the helm chart?

[2018-03-27 21:12] msau42 commented on #689
/assign

[2018-03-27 21:22] msau42 commented on #685
Cleaning up the README here: https://github.com/kubernetes-incubator/external-storage/pull/690

But let's still update the helm chart too for the new options and StorageClass.

[2018-03-28 05:34] mlmhl opened #691 "Set quota size for dynamic provisioned cephfs volume"
Kubernetes v1.10 supports using ceph-fuse to mount cephfs volumes, see this [PR](https://github.com/kubernetes/kubernetes/pull/55866), so we can set the volume's quota to PVC's capacity to make it work.

[2018-03-28 05:35] mlmhl commented on #691
/area ceph/cephfs

[2018-03-28 10:33] nagapavan opened #694 "[efs-provisioner] Is it possible to customise "Persistent Volume" name"
I have configured an "efs-provisioner" on my cluster. I am wondering if there is a way to customize the name of "Persistent Volume" that gets created on applying the following config.
By default a random name like "pvc-8d4a5079-3272-11e8-9838-0ac28eb2d996" being generated.

I want to make this name pre-configured, so that I can avoid to get a list of Volumes for the Namespace and get the ID/name o

[2018-03-28 15:51] deerjoe commented on #576
thx a lot @cdrage it help，i use the wrong sa name in deployment。

[2018-03-28 15:51] #576 closed

[2018-03-28 17:09] #689 closed

[2018-03-28 21:13] agustinvinao commented on #652
Same problem following the docs https://github.com/kubernetes-incubator/external-storage/blob/master/nfs/docs/deployment.md and trying to use de daemonset

[2018-03-28 21:56] agustinvinao commented on #555
Kubernetes 1.9.5

[2018-03-28 22:47] cdrage commented on #652
PR here: https://github.com/kubernetes-incubator/external-storage/pull/687

[2018-03-29 08:49] ZhaokunQiu commented on #694
Remember that the name is produced randomly in the provisioner's code...So seems impossible

[2018-03-29 12:58] jamstar commented on #622
where is the latest rdb-provisioner available at?  the latest listed in the deployment file is from 8 months ago.

[2018-03-29 13:13] jamstar commented on #608
i would love to see an updated image.

[2018-03-30 01:38] klausenbusk commented on #668
You could export the existing PVC/PV and create them in the new cluster. That should solve the "new cluster/migration" use case.

Something like:
[code]

[2018-03-30 01:56] klausenbusk commented on #668
Try this:
First create the PV:
[code]

Then create the PVC (with the exact same name):
[code]

[2018-03-30 16:26] ianchakeres commented on #688
/assign @ianchakeres

[2018-03-31 15:17] ianchakeres opened #701 "[local-volume] Documentation and easier way to update provisioner version throughout the repo"
We should simplify the process of updating documentation, configuration, and examples when we update the local-volume provisioner version

For example, we recently moved from v2.0.0 to v2.1.0 and yet some of our input for code generation and example code referenced the wrong version or `latest`.

This issue could be resolved with documentation, refactoring (e.g. making image versions configurable

[2018-03-31 17:11] feluxe commented on #668
Thanks so much! I'll give the different approaches a shot.

[2018-04-02 20:24] #688 closed

[2018-04-02 20:52] KnicKnic opened #703 "Provisioner interface does not pass StorageClass parameters to Delete"
The provisioner interface passes the StorageClass parameters into Provision, but does not pass them into delete. Is there a reason for this? Is there a case where sometimes there is not the ability to pass the StorageClass parameters into delete?

What is the recommendation if these parameters are needed?

1. Put the parameters you need to delete in the volume object during provisioning?
2. Query

[2018-04-02 21:00] msau42 commented on #703
Can you comment on your use case for what StorageClass parameters you need at delete time?  StorageClass parameters have primarily been used to specifying creation options.  During deletion, all the information necessary should be in the PV object.

[2018-04-02 21:00] KnicKnic opened #704 "Flex Provisioner interface not rich enough"
The following are problems I encountered when trying to use the Flex provisioner.
1. My provisioner could only provision for one type of volume
2. I could not specify all types of fields for the volume that was created, I couldn't provision a NFS volume for example.
3. Not all information was given to the deleter it is useful to just give the whole volume object if we are breaking compatibility.
4

[2018-04-02 23:08] KnicKnic commented on #703
When carving out storage on a remote server I need to know the local path on the server to carve it out from. So I put that in the StorageClass, I also need to know that same local path to remove the resource from the pool when freeing the data.

I assumed since the data was already available on the storage class to just pass it again during delete. But I can instead duplicate it on the PV.

This

[2018-04-02 23:08] #703 closed

[2018-04-03 00:19] disrani-px opened #705 "Restore from snapshot fails if PVC is deleted"
After deleting the PVC, restoring from its snapshot fails as it can't find the PVC anymore.

Steps to reproduce:
1. Create PVC
2. Take a snapshot of PVC
3. Delete PVC created in (1)
4. Try to create a clone PVC from snapshot in (2)
5. Create of the PVC fails since the PVC in (1) has been deleted

Logs:
[code]

/area snapshot

[2018-04-03 21:17] klausenbusk commented on #668
[StackPointCloud/digitalocean-flex-volume](https://github.com/StackPointCloud/digitalocean-flex-volume) is just the flexplugin, the provisioner is located here: https://github.com/StackPointCloud/external-storage/tree/digitalocean-flex-provisioner.

The PVC/PV manifest should look similar regardless of which provisioner you is using, so :)

[2018-04-04 07:08] dhirajh opened #710 "Support Jobs based cleaning for block devices in local volume provisioner"
Currently we support cleaning of block devices using a child process that is forked from the local volume provisioner. This request is for optionally allowing a Jobs based execution of the same cleaning process. The advantages of this approach are as follows

1. Greater transparency as the admin can check on the status of these long running jobs simply by using kubectl commands.
2. Admins can take

[2018-04-04 07:09] dhirajh commented on #710
/assign dhirajh

[2018-04-04 07:09] dhirajh commented on #710
/area local-volume

[2018-04-04 09:24] SFHfeihong opened #713 "The container local-volume-provisioner run well, but it doesn't autocreate pv."
Kubernetes version: 1.9.3
Docker version:  17.03.2-ce
Local-volume-provisioner version: v2.0.0

The config files are as follow:
configmap file:

apiVersion: v1
kind: ConfigMap
metadata:
  name: local-provisioner-config
  namespace: default
data:
  storageClassMap: |
    local-storage:
       hostDir: /mnt/disks/vol1
       mountDir:  /mnt/disks/vol1

local-volume-provisioner-create.yaml

apiVersio

[2018-04-05 23:11] msau42 opened #715 "[local-volume] Move block util code to linux file"
Block util code is using linux specific apis, so it should be in the linux specific file:
https://github.com/kubernetes-incubator/external-storage/blob/master/local-volume/provisioner/pkg/util/volume_util.go#L79

/area local-volume

[2018-04-05 23:12] msau42 commented on #715
cc @dhirajh

[2018-04-06 03:46] dhirajh commented on #715
/assign  dhirajh

[2018-04-06 03:47] dhirajh commented on #715
/assign @dhirajh

[2018-04-06 20:38] qbast opened #717 "Digital Ocean default storage class is not actually default"
sc.yaml creates a storage class named 'default' . But since it is missing `storageclass.kubernetes.io/is-default-class: "true"` annotation, it is not actually treated as default by DefaultStorageClass admission controller.

[2018-04-08 01:06] SFHfeihong commented on #713
@msau42 I have used /mnt/disks as the discovery directory, but the result is not well. It still doesn't autocreate pvs.

[2018-04-08 01:38] wenlxie commented on #713
@SFHfeihong  You need enable Local volume feature (`PersistentLocalVolumes=true` ) at your cluster
link: `https://kubernetes.io/docs/reference/feature-gates/`

[2018-04-08 02:02] SFHfeihong commented on #713
@wenlxie  Thanks.  The problem has been solved.

[2018-04-08 02:08] ianchakeres commented on #713
/close

[2018-04-08 02:08] #713 closed

[2018-04-08 06:57] SFHfeihong opened #720 "[local-volume] pod and pv are created on different nodes"
Kubernetes version: 1.9.3
Docker version: 17.03.2-ce
Local-volume-provisioner version: v2.0.0

The problem is pod and pv are created on the different nodes, so  there is the following error.
Error:
operationExecutor.MountVolume failed (controllerAttachDetachEnabled true) for volume "local-pv-8b4ff45" (UniqueName: "kubernetes.io/local-volume/3f849e8b-3af4-11e8-97c2-000c29c0dc1a-local-pv-8b4ff45") p

[2018-04-08 07:10] SFHfeihong commented on #720
If the setting is feature-gates=PersistentLocalVolumes=true,MountPropagation=true,VolumeScheduling=true, it works well.

[2018-04-08 14:07] ianchakeres commented on #720
/close

[2018-04-08 14:07] #720 closed

[2018-04-09 08:06] glennschmidt commented on #328
It would be good if the storage GID was also exposed to the container as an environment variable. Then people building their own containers could choose to add other users to the group at runtime (eg. using an init container or an entrypoint script)

[2018-04-09 18:51] #618 closed

[2018-04-09 18:51] #638 closed

[2018-04-10 08:54] gtie opened #725 "[efs-provisioner] Support TLS encryption"
AWS have released an EFS mount helper that enables encryption in transit - https://aws.amazon.com/blogs/aws/new-encryption-of-data-in-transit-for-amazon-efs/

Using the "tls" option (where supported) be implemented and documented.

[2018-04-10 16:07] lwsanty opened #726 "[local-volume] running cockroach cluster in GKE local volumes fails"
**aim** I want to run a cockroach cluster in GKE using nodes local volumes as datadirs
**steps**
1) create cluster in GKE
- api version `1.9.6-gke.0`
- nodes number: 3
- local SSDs per node: 1
2) create cluster role binding for rbac
[code]
3) create provisioner (from readme)
[code]
4) run cockroach statefulset
[code]
you can watch config here https://raw.githubusercontent.com/cockroachdb/cockroach

[2018-04-10 16:32] msau42 commented on #726
Hi, thanks for trying out the feature on gke.  I got a few questions:
* Are you bringing up the cluster with "--kubernetes-alpha" flag? In 1.9 the feature is still alpha
* You probably need to use the ssd_count version of the instructions and specs.  The ssd_volumes option is only available in gke via whitelisting (send me an email if you want to be whitelisted)

[2018-04-10 17:51] msau42 commented on #726
The ssd_count option only supports scsi local SSDs.  We added nvme support to the ssd_volumes option (which is whitelist only).  So you will need to bring up your GKE cluster with "--ssd_count" for now.

Can you delete the existing provisioner ConfigMap and provisioner DaemonSet, and use the ssd_count version of the deployment + configmap specs?

[2018-04-10 21:13] nachimehta commented on #139
I'm experiencing this issue now as well. CentOS 7, Docker 1.18 and Kubernetes v1.10. We're using devicemapper as storage driver for docker.

Pod logs read:

`F0410 21:00:22.901315       1 efs-provisioner.go:71] no mount entry found for fs-cc1ad184.efs.us-east-1.amazonaws.com among entries /dev/mapper/docker-202:1-92359617-ae0e3e779155bdd4fd3bdca26c0296dc5c8f8e7649fdaeaee6cda73f5acbae1e:/, proc:/pr

[2018-04-11 07:47] wongma7 commented on #139
@nachimehta we need https://github.com/kubernetes-incubator/external-storage/issues/422 since you have mounted via this IP 10.227.205.73:/:/persistentvolumes

[2018-04-11 09:49] lwsanty commented on #726
@msau42 ok, I'll do it running cluster from the scratch
0) create binding
[code]
1) according to https://cloud.google.com/kubernetes-engine/docs/concepts/local-ssd
I create cluster with alpha features and local ssd count of1 per node
![dfdsfsdfsdf](https://user-images.githubusercontent.com/10910699/38608413-f0bc97ba-3d83-11e8-88ec-657295f3b766.png)
2) create storage class
[code]
3) provisioner
[co

[2018-04-11 14:38] msau42 commented on #726
Can you run `kubectl logs` on one of the provisioner pods to see if it had any errors?

[2018-04-11 15:37] lwsanty commented on #726
@msau42
ouch, there's an error down here
[code]

[2018-04-11 15:39] msau42 commented on #726
Oh for k8s version 1.9, you should be using provisioner version 2.0.0

2.1.0 uses the new beta api for k8s 1.10

[2018-04-11 16:39] lwsanty commented on #726
@msau42 Yep, that was the reason, thank you for your help!
I've got one more thing to mention, the manual for GKE here https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume is a bit wrong

there're also steps from GCE section should be mentioned
[code]
should I better create new issue or create a pull request?

[2018-04-11 16:39] #726 closed

[2018-04-11 16:56] msau42 commented on #726
Hi @lwsanty yes, right now the link to the GKE official documentation does not contain instructions for using this feature because 1.10 is not available on GKE yet and only beta/GA features are documented.

If you look at the v2.0.0 version of the README, you'll find the GKE instructions for alpha clusters [here](https://github.com/kubernetes-incubator/external-storage/tree/local-volume-provisione

[2018-04-11 21:58] klausenbusk commented on #717
Good catch :)

[2018-04-12 09:28] dshkliaiev commented on #555
Any update?

[2018-04-13 06:59] singhwx opened #729 "[glusterfs-simple-provisioner] docker image has a problem."
Docker version is 1.13.1.
Docker images is [quay.io/external_storage/glusterfs-simple-provisioner:latest].
I used the docker image to find the error.The error is as follows：
standard_init_linux.go:178: exec user process caused "no such file or directory"

[2018-04-13 12:39] ianchakeres commented on #729
FYI: @yuanying

[2018-04-13 16:34] natcho commented on #555
I have also seen this problem sporadically in k8s 1.8.2. What I have found so far is that the directory that should back the provisioned volume was not created, therefore it cannot be mounted.

[2018-04-13 16:36] wydwww commented on #555
I tried nfs client provisioner and everything worked fine.

[2018-04-13 16:43] natcho commented on #555
As I wrote, this happens sporadically, it works as expected most of the time.

[2018-04-16 02:02] yuanying commented on #729
I already fixed this issue, but docker image isn't updated. https://github.com/kubernetes-incubator/external-storage/pull/314

[2018-04-16 11:26] lwsanty opened #730 "[local-volume] how to trigger local volumes supply ability during cluster init via kubeadm?"
I'm trying to setup local kubernetes cluster via kubeadm v1.10.1
How can I enable local-volumes feature during cluster init?

[2018-04-16 12:25] ianchakeres commented on #730
Local-volumes are in beta in k8s v1.10+. Therefore, you don't need to enable any alpha feature-gates to get the basic functionality.

If you want to use block volumes, then you'll need to [enable the `BlockVolume` alpha feature-gate](https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume#110).

[2018-04-16 12:27] ianchakeres commented on #730
More instructions on using local-volumes can be found [here](https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume#local-persistent-storage-user-guide), as well as instructions on how to use the local-volume provisioner.

[2018-04-16 12:29] ianchakeres commented on #729
@wongma7 - can you please update the docker image?

[2018-04-17 09:17] singhwang opened #731 "[glusterblock-provisioner] gluster-block mode has a problem."
This is what it says in the document:
gluster-block mode : This is an experimental or test mode on which the provisioner will directly talk to gluster-block utility or command line interface of gluster-block.

Preliminary judgment, gluster-block utility is not installed in the docker image [quay.io/external_storage/glusterblock-provisioner:latest]. I found the following wrong information in my use

[2018-04-18 13:18] ikamman commented on #678
I have the same problem using DigitalOcean Block Storage and version Kubernetes 1.10.0
The volume itself has been created but there is a problem with attaching it to the node.

[2018-04-18 14:22] ikamman opened #732 "Unable to mount volumes for pod"
I have problem with attaching volume to the pod, error:

` Unable to mount volumes for pod "task-pv-pod_default(ce5880a5-430c-11e8-88ae-1a7ea0a0c4c3)": timeout expired waiting for volumes to attach or mount for pod "default"/"task-pv-pod". list of unmounted volumes=[task-pv-storage]. list of unattached volumes=[task-pv-storage default-token-vdjnp]`

I use DigitalOcean BS and Kubernates 1.10.0. The

[2018-04-20 10:01] Nefelim4ag opened #733 "Does possible to restrict concurrent provision operations started by controller?"
I use your lib/controller for writing own flex-provisioner, all works,
but one problem exist - memory usage.

While deploy apps with PVC to K8S, many not bound pvc can be created at one time.
That causes to spike memory usage by provisioner, because controller try run provision operation for **every one** not bound pvc at one time.

Example:
For one pvc at time, provisioner use ~60-80 Mb of RAM, f

[2018-04-23 10:52] jsafrane opened #736 "OpenEBS node-disk-manager"
What's our opinion about OpenEBS node disk manager (NDM)?

https://github.com/openebs/node-disk-manager
https://github.com/openebs/node-disk-manager/pull/1
https://docs.google.com/presentation/d/1XcCWQL_WfhGzNjIlnL1b0kpiCvqKaUtEh9XXU2gypn4/

We could probably save some effort on both sides if we cooperate. For example, NDM's StoragePool idea looks like our LVM-based dynamic provisioner. And I pers

[2018-04-23 12:00] humblec commented on #736
@jsafrane I have a very good opinion about node disk manager effort from openebs. Thats one of the reason for me to actually involve in some discussions around this with OpenEBS folks so the mentions about gluster operator and such in the design proposal. In reality node disk discovery and  handling of these components  is a `common problem`. Different vendors solve this issue in different manner.

[2018-04-23 16:49] msau42 opened #737 "[local-volume] Provide async fs clean option"
Similar to how block cleanup is async, fs cleanup can also be asynchronous for very large filesystems.

/area local-volume
cc @dhirajh

[2018-04-23 17:10] dhirajh commented on #737
/assign @dhirajh

[2018-04-23 20:52] msau42 commented on #736
I took a quick glance and it looks promising at providing an end to end disk management solution for distributed storage applications.  The metrics and health monitoring aspects look very useful, and it should solve the issue of managing disks for DaemonSet-based providers.

I'm trying to think about how this could be integrated with the local-pv-provisioner from two angles:
* simplify the disk di

[2018-04-24 05:00] kmova commented on #736
@msau42 @jsafrane Thanks for the review and inputs!

@humblec and I have been discussing on how to keep the disk inventory and storage pool implementation generic so it can be used in multiple scenarios. We have made some progress on the following (will shortly update the design PR):
- ndm creates a Disk object for every block device in the system.
- ndm can track if the block device moved from on

[2018-04-24 17:40] dhirajh commented on #736
@kmova @msau42 I am trying to understand the slide titled "Complementing Local PV". Currently the local provisioner crawls through the discovery directory to find volumes to create PVs for. It appears that with NDM one could add another form of discovery where NDM uses its own discovery mechanism to create local PVs. This seems like a useful enhancement to me assuming its adding another mechanism

[2018-04-24 18:25] kmova commented on #736
@msau42 - Using PV in place of a new Disk CR, I was getting into the following challenges:
- In some usecases, we would want to replace the disk without having to restart the pod. In these cases, the pods can run with /dev mount and can take a configuration (say configmap) with the list of disks they can operate on. (https://github.com/kubernetes/kubernetes/issues/58569)
- Representing partitioned

[2018-04-24 18:37] kmova commented on #736
@dhirajh   This disk CR can store details like:

[code]

In addition, as part of dynamic attributes or monitored metrics:
[code]

[2018-04-24 19:34] msau42 commented on #736
@kmova I think it's still possible to use PVs for inventory management.  You don't necessarily have to mount PVC directly in the spec.  If it's in your future roadmap to support all kinds of volume types, such as cloud block storage, then using the PVC abstraction could be used to provide dynamic provisioning and disk attachment capabilities as well.

[2018-04-24 20:40] msau42 commented on #736
Getting the PVs attached to the node is the hard part because it is tied to Pod scheduling.  Having a Pod per PV is probably not going to scale, and you have to handle cases like the pod getting evicted.  I'm not sure if leveraging the VolumeAttachement object would work, it may conflict/confuse the Attach/Detach controller.

[2018-04-24 21:45] disrani-px opened #738 "Labels added to snapshot object are lost"
The labels for the volumesnapshot object are replaced with tags when updating the metadata in updateVolumeSnapshotMetadata(). User-defined labels should be retained when adding these tags instead of replacing them

/area snapshot

[2018-04-24 21:56] dhirajh opened #739 "Local volume provisioner should persist local PV states on the node as a safety measure"
**Motivation**
The metadata stored in Kubernetes w.r.t local PVs is critical in keeping track of local volumes that are in use. They effectively hold the keys to potentially petabytes of critical data. Any loss of data in etcd due to admin or config errors (this has actually happened) of that metadata effectively causes loss of data in disks at scale. While one could argue this issue exists with o

[2018-04-24 21:56] dhirajh commented on #739
/area local-volume

[2018-04-24 22:06] dhirajh commented on #739
cc @msau42

[2018-04-24 22:37] dhirajh commented on #739
Yes, it will have an in-memory copy, as we assume that LC provisioner is the only write. The disk access will mostly be to persist changes.

[2018-04-24 22:37] dhirajh commented on #739
/assign @dhirajh

[2018-04-25 07:43] humblec commented on #736
@msau42 I do think, expanding volumeattachment object for local storage/disk handling could complex things. Its good to have it on other/new api object or some custom CRDs like ndm currently has. If custom CRD for a disk object is not optimal , we may think about a new api object for disk/local storage handling IMO.

@kmova  I feel,  we should also have `node` mapping in Disk CRD. That will help u

[2018-04-25 09:41] smiddleton1 opened #741 "Snapshot Controller - Failed to initialize cloudprovider AWS"
Env: Single node K8S cluster running in AWS, deployed from KOPS.

Using the Snapshot AWS example I've deployed the snapshot controller and provisioner successfully in my environment but when I inspect the logs for the controllers I've come across the following issue with AWS cloudprovider

Logs:

Consequently I'm unable to take a working snapshot of a persistent volume. It appears it might be some

[2018-04-25 10:11] kmova commented on #736
@humblec - yes we can get the topology labels from the node where the disks are discovered and attach them to the Disk objects.

Example:
[code]

In addition, I have included based on feedback to be able to fetch additional information that can describe how disks are attached - via internal bus, HBA, or SAS expanders etc., This information can be used while provisioning latency sensitive pools.

[2018-04-25 14:31] msau42 commented on #736
Agree, I don't see a great way to handle attached disk types without always forcing some Pod to be on the node.  I think Disk CRD could work fine if you only plan on supporting local disks.  But since other volume types were mentioned in the roadmap, I was trying to envision how things like provisioning and attaching could be supported without having to reimplement volume plugins and much of the K

[2018-04-25 14:50] rootfs commented on #736
cc @travisn @bassam for rook and @jcsp for ceph

I'd like see some convergence on disk object schemas

[2018-04-25 20:00] msau42 commented on #736
As an alternative datapoint, I spoke a bit with @dhirajh about how they deploy Ceph in their datacenter.  He mentioned that they use StatefulSets, and each replica (OSD) manages just one local PV.  All replicas use the same class and capacity of disk, and instead, there is a higher level operator that manages multiple StatefulSets and balances them across fault domains (ie rack).  This operator is

[2018-04-26 05:36] eexe1 opened #742 "[Standalone-cinder external provisioner] unable to mount volume due to iSCSI"
The environment is k8s 1.10 and a cloud platform Nectar based on OpenStack.
The OS image of nodes is Cent OS 7

The provisioner was able to create the cinder volumes, but it cannot mount volumes.
The status of volumes showed "Attaching". I assume the volume was successfully reserved by the provisioner.
Then it is able to retrieve the iSCSI information after I installed Open-iSCSI on nodes, however

[2018-04-26 14:36] kmova commented on #736
Thanks @msau42 thats a good data point. I will add this into the design document. Along with this I will also gather additional details on usecases where the storage pods need multiple PVs and the expected behaviour with using SPDK to access disks.

[2018-04-26 17:55] mr-yaky opened #745 "Can't compile rbd-provisioner:: Cannot use clientset"
Hi,

I try to compile rbd-provisioner and always get following error:

`# go get -d -v ./...

# make build
CGO_ENABLED=0 GOOS=linux go build -a -ldflags '-extldflags "-static"' -o rbd-provisioner ./cmd/rbd-provisioner
# _/tmp/cmd/rbd-provisioner
cmd/rbd-provisioner/main.go:85:47: cannot use clientset (type *"k8s.io/client-go/kubernetes".Clientset) as type "github.com/kubernetes-incubator/external-

[2018-04-27 00:29] ianchakeres commented on #745
I've seen these types of errors before. Is the source code for `github.com/kubernetes-incubator/external-storage` located at `$GOPATH/src/github.com/kubernetes-incubator/external-storage`?

[2018-04-27 12:49] mr-yaky commented on #745
Checked path of $GOPATH/src/github.com/kubernetes-incubator/external-storage:

`
root@ee1d01a34056:/tmp# ls -l $GOPATH/src/github.com/kubernetes-incubator/external-storage
total 152
-rw-r--r--. 1 root root  1463 Apr 27 12:35 CONTRIBUTING.md
-rw-r--r--. 1 root root 11357 Apr 27 12:35 LICENSE
-rw-r--r--. 1 root root  5613 Apr 27 12:35 Makefile
-rw-r--r--. 1 root root    36 Apr 27 12:35 OWNERS
-rw-r-

[2018-04-27 13:05] mr-yaky commented on #745
Maybe someone from maintainers can update docker image for https://quay.io/repository/external_storage/rbd-provisioner ? If they know how compile rbd-provisioner (unfortunately this part is not in Dockerfile). Because some people start using Luminous Ceph version but https://quay.io/repository/external_storage/rbd-provisioner is still using Jewel Ceph. Can you add different docker tags for each ve

[2018-04-27 14:37] jarrpa commented on #736
In Gluster's case, also, it would be fairly heavy-weight to have one GlusterFS pod per device on a node. Nevermind that it would also limit per-node scale-out expansion, which is one of the core features of Gluster.

[2018-04-30 06:33] halkeye opened #746 "timeout expired waiting for volumes to attach or mount for pod"
II'm not sure what info is useful for a bug report so I'm going to include a whole lot. I've setup a kubernetes cluster using typhoon - https://typhoon.psdn.io/cl/digital-ocean/

I was eventually able to get this working by --enable-attach-detach-controller on kubelet, then modifying kube-controller-manager to add the DIGITALOCEAN_ACCESS_TOKEN env variable, and adding
the plugins directory to volu

[2018-05-01 01:02] bgrant0607 commented on #423
(Yes, this is how far behind on email I am.)

In case you missed it, the new-ish repo policy:
https://github.com/kubernetes/community/blob/master/kubernetes-repositories.md

[2018-05-02 07:12] 13567436138 opened #749 "unable to find a keyring on /etc/ceph/ceph.client.admin.keyring,/etc/ceph/ceph.keyring,/etc/ceph/keyring,/etc/ceph/keyring.bin: (2"
Bug Report

What happened:

 Warning  ProvisioningFailed  1m    ceph.com/rbd rbd-provisioner-bc956f5b4-r2vg4 01c62837-4db5-11e8-b4c7-0a580af4040f  Failed to provision volume with StorageClass "ceph-storage": failed to create rbd image: exit status 2, command output: 2018-05-02 05:58:08.149335 7f58a112ad80 -1 did not load config file, using default settings.
2018-05-02 05:58:08.213998 7f58a112ad80

[2018-05-02 07:52] 13567436138 opened #750 "fail to check rbd image status with: (executable file not found in $PATH), rbd output: ()"
[code]

[2018-05-02 11:54] ianchakeres commented on #750
Is `rbd` installed on the host? [install-link](http://docs.ceph.com/docs/master/install/)

[2018-05-02 14:54] jamstar commented on #608
*Poke* any update on an offical image?

[2018-05-03 01:00] 13567436138 commented on #750
# [root@node1 rook]# kubectl get pod -n ceph
NAME                              READY     STATUS    RESTARTS   AGE
rbd-provisioner-bc956f5b4-r2vg4   1/1       Running   0          22h

I installed rdb provisioner,do I still need to install rbd

[2018-05-03 01:01] 13567436138 commented on #750
[root@node1 rook]# kubectl get pod -n rook-system
NAME                             READY     STATUS    RESTARTS   AGE
rook-agent-7d2tc                 1/1       Running   0          4d
rook-agent-cqfzp                 1/1       Running   0          4d
rook-agent-qjmlc                 1/1       Running   0          4d
rook-operator-5c89ff9496-fc454   1/1       Running   0          4d

[root@node1 r

[2018-05-03 06:25] 13567436138 commented on #750
use rook instead

[2018-05-03 06:25] #750 closed

[2018-05-03 20:38] klausenbusk commented on #746
/area digitalocean

Sounds like a issue with the flexvolume driver. Could you check the `kubelet` log?

[2018-05-04 05:29] disrani-px opened #751 "Snapshot controller silently stops running"
Noticed that sometimes the snapshot controller silently stops watching for new objects. This causes new snapshots to be stuck in pending state until the snapshotter pod is restarted.

/area snapshot

[2018-05-04 18:57] halkeye commented on #746
journalctl -f -u kubelet.service

imported the external storage:
[code]

When I check the directory manually on the worker afterwards:
[code]

So i think its all installed. Donno if i need a sleep or something in my script between steps.

[code]
nothing in kubelet log

[code]
Log:
[code]

[2018-05-04 18:59] halkeye commented on #746
On the controller node
[code]

[2018-05-04 19:35] klausenbusk commented on #746
[code]
Do you have other flexvolume installed? https://github.com/kubernetes/kubernetes/issues/63088

Does the attach success? (check kube-controller-manager log)

[2018-05-04 19:54] halkeye commented on #746
[code]

nope just the one, its a completely fresh install

[code]
 …/github.com/halkeye/terraform-digitalocean  kubectl get pvc
NAME      STATUS    VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS   AGE
pv1       Bound     pvc-cc9d38d2-4fcc-11e8-8fcf-7ac73da28f81   1Gi        RWO            default        55m
[code]

[2018-05-04 21:11] klausenbusk commented on #746
I just spun up a cluster in tor1 and everything is working as expected, the only required change was adding `DIGITALOCEAN_ACCESS_TOKEN` to `kube-controller-manager`. I'm wondering if it could be a bug in `v1.10.0`? The cluster I spun up was `v1.10.2`.

I did run `kubectl -n kube-system delete pod -l app=digitalocean-flexplugin-deploy` for other reason, could you try the same?

[2018-05-04 21:27] klausenbusk commented on #746
It looks correct, but I just did `kubectl -n kube-system edit deploy kube-controller-manager` and then copy-paste (under `containers`, remember to remove `-` from `- command`):
https://github.com/kubernetes-incubator/external-storage/blob/c01d6a39bab6ecf6c7724d112d695ce70e3314bc/digitalocean/manifests/digitalocean-flexplugin-deploy.yaml#L19-L24

[2018-05-04 21:43] halkeye commented on #746
new 1.10.2 cluster, running storage.sh (the init script posted above) gave me the same errors about skipping th flex plugin

Running `kubectl -n kube-system delete pod -l app=digitalocean-flexplugin-deploy` gave me:

[code]

tried create pvc and pod-application examples:

[code]

`kubectl --namespace=kube-system patch deployment kube-controller-manager -p '{"spec": { "template": { "spec": { "conta

[2018-05-04 21:43] halkeye commented on #746
so I think it works after adding the secrets to the pod controller.

[2018-05-04 21:46] halkeye commented on #746
The pod started up \o/

[code]

As far as I can tell this is working.

Does the kubectl patch step need to be added to docs somewhere?

[2018-05-04 21:58] klausenbusk commented on #746
I have a tracking issue for required changes for different setups, but haven't got time to update the README. https://github.com/kubernetes-incubator/external-storage/issues/531

Ideally people should just run `kubectl apply -f manifests/bootkube.yaml` and it should work with `bootkube`.

[2018-05-04 22:00] halkeye commented on #746
is that manifests/bootkube.yaml file somewhere? (i tried but didn't see it in this repo)

So far I have a working repeatable cluster, which is super exciting, I can use the kubectl patch thing, but but i rather script it the right way.

[2018-05-04 22:10] klausenbusk commented on #746
Sorry, it was just a idea, but I suppose the following could work:
[code]
Save as `bootkube-patch.yaml` and run `kubectl -n kube-system patch deploy kube-controller-manager -p "$(<bootkube-patch.yaml)"`

[2018-05-05 17:46] halkeye opened #752 "Volume was remounted as read only after error"
So i'm kinda poking around trying to break things. I took my existing 3 node cluster and removed a node. My mysql pod (stable/mysql helm) was apparently on that node. I ended up deleting the pod and re-creating it, and it attempted to re-claim the earlier persistent volume (<3) but ran into a slight problem where the volume would only mount read only.

Is outside the normal use case? or is this so

[2018-05-07 06:52] klausenbusk commented on #752
Could you check `dmesg`? Maybe the filesystem is corrupt, that would explain why it was mounted RO.

[2018-05-07 08:56] diewuq opened #754 "[nfs-client-provisioner]PVC pending state"
Hi,

Currently I'm trying to get the nfs-client-provisioner running on k8s v1.10.1, and use your giving yaml for testing with rbac. As I deploy test-claim.yaml, PVC always pending with below info:

Normal  ExternalProvisioning  2m (x143 over 37m)  persistentvolume-controller  waiting for a volume to be created, either by external provisioner "fuserim.pri/ifs" or manually created by system administ

[2018-05-07 16:26] michaelajr commented on #606
Looking fo this as well! Would be great to have!

[2018-05-07 17:58] kmova opened #755 "Import older PVs into Kubernetes cluster"
During the KubeCon EU Storage sessions, there were some questions/requests to enable PV recovery functionality, under the following conditions:
- Stateful applications in the cluster write the data into Persistent Volumes (that live beyond the life of the cluster)
- The cluster gets re-created for one of several ways, maybe as part of the CI/CD pipeline or ondemand job setup. However, when the clu

[2018-05-07 18:04] msau42 commented on #755
CSI has a ListVolumes call that may work for this purpose

[2018-05-07 18:06] msau42 commented on #755
One problem to think about though is the disks probably have data on them.  How do we associate them to specific PVCs and storageclasses so that they don't get accidentally used by some other workload?

[2018-05-08 00:16] msau42 commented on #715
@dhirajh can this be closed?

[2018-05-08 04:34] dhirajh commented on #715
@msau42 Yes, it was fixed along with #711

[2018-05-08 04:36] dhirajh commented on #715
close #715

[2018-05-08 04:40] #710 closed

[2018-05-08 04:44] dhirajh commented on #715
I don't seem to have the access to close it.

[2018-05-08 22:16] s0komma opened #756 "CEPH rbd provisioner error"
using k8s version `1.9.4`
while using rbd provisioner getting below error
`Error: invalid option "userSecretNamespace" for ceph.com/rbd provisioner`

so i just as a test i commented out userSecretNamespace and moved the userSecret default namespace. After doing so started to see below error
`E0508 22:11:01.687205       1 goroutinemap.go:166] Operation for "provision-default/myclaim[96adaad0-530c-1

[2018-05-09 04:45] s0komma commented on #756
@cofyc helped with new image which fixed the `usernamespace` issue and then added below things to clusterrole.yaml and then everything looked good.

`  - apiGroups: [""]
    resources: ["services"]
    verbs: ["list", "get"]`

but after cerated PVC it stuck at below logs for almost 15 min

`I0509 04:26:13.260180       1 leaderelection.go:156] attempting to acquire leader lease...
I0509 04:26:13.26

[2018-05-09 08:41] gman0 opened #757 "[OpenStack Manila] Add support for other kinds of shares"
Currently, the [Manila external-provisioner](https://github.com/kubernetes-incubator/external-storage/tree/master/openstack-sharedfilesystems) only supports NFS shares and this support is hard-coded. I'd propose doing a refactoring, making it easier to accommodate other kinds of shares.

I already have working code that creates a Ceph share, and the resulting PV is then passed to [CSI CephFS drive

[2018-05-09 08:41] gman0 opened #758 "[vendor] Update gophercloud library"
Related to https://github.com/kubernetes-incubator/external-storage/issues/757
The currently vendored version of `gophercloud` library lacks the ability to list access rules of a share. This is a problem when provisioning a Manila Ceph share, since the response from the Manila service doesn't contain the Ceph key secret - it has to be queried for separately, by listing the access rules. The listin

[2018-05-09 12:34] futurama92 commented on #754
Hi, mee too i'm stuck here, the pvc is pending state. I try both quick start and the normal mode

[2018-05-11 04:40] hcabnettek commented on #527
@klausenbusk @tianhuil I think I am having this same issue. I install a fresh cluster 1.10.2 on a Digital Ocean droplet, etc... Following the tutorials ... Eventually led me here. The provisioner pods don't have the nameserver records either. I had to manually add them to /etc/resolv.conf. Even after doing that no volumes are ever created. When I kubectl describe pvc/pv1 I see `Failed to provision

[2018-05-11 08:44] simmessa commented on #223
@adamcharnock Thanks a lot man! Your suggestion about using the parameters / mountOptions field saved the day :)

[2018-05-11 12:13] tsmetana commented on #751
Is there some logs or some action preceding the failure?

[2018-05-11 12:16] tsmetana commented on #741
Hello. I assume you start the controller and provisioner from the command line, right? Do you have the CA certificates installed correctly?

[2018-05-11 16:07] hcabnettek opened #761 "Can't provision a drive: Invalid character 'U'"
If I kubectl describe the pvc, I get this error mesaage.
`Failed to provision volume with StorageClass "default": invalid character 'U' looking for beginning of value`
I used kubeadm to set up the cluster and I used flannel. I tried with and without the flannel RBAC. Same error either way. I have used `doctl` to create volumes with the same api key. I also manually added the nameserver to /etc/res

[2018-05-11 16:12] hcabnettek commented on #761
/area digitalocean
for clarity

[2018-05-11 19:17] sv01a commented on #555
Try to restart nfs provisioner pod. Works for me

[2018-05-11 22:30] klausenbusk commented on #527
Which tool did you use?

[2018-05-12 13:36] Pneumaticat opened #762 "[nfs-provisioner] Segfault after extended usage, Ganesha restarts but NFS shares remain stuck"
`ganesha.nfsd` periodically segfaults on my machine, using nfs-provisioner v1.0.8/v1.0.9. Ganesha then restarts (thanks to #91), but it doesn't appear to restart serving old shares - all other containers using the disk get stuck.

Relevant logs from nfs-provisioner container:

[code]

Using `vers=4.1` in mount options because it was the only way I could get writing to shares working without "inval

[2018-05-12 13:38] Pneumaticat commented on #762
Might be helped if some bugs have been fixed in later Ganesha versions (a la #168, though it seems Ganesha is at 2.6.2 now).

[2018-05-14 08:33] dosmachko commented on #515
@loganasherjones I've faced same issue. Were you able to find any workaround on this issue ?
I was also thinking on moving to rook.io but seems it's not a production ready solutions.

Thanks.

[2018-05-14 23:12] disrani-px commented on #751
No, there were no messages in the log apart from the startup logs. The controller seems to start goroutines which aren't monitored and doesn't seem to log when they fail.

[2018-05-15 06:41] holgpar opened #764 "status of snapshot volume object does not get updated"
I am trying out the AWS example for the snapshot controller. The controller is able to talk to AWS and snapshots do get created.

However, the controller does not update the status part of the volumesnapshot resource. Also, I am seeing error message in the controller log:

[code]

[2018-05-15 10:31] tsmetana commented on #764
Tested with the current master and everything seems to be working OK. Do you have the AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY exported in the controller's environment? Can the controller access CA certificates? The most frequent problems are usually hinted by the controller logs on the start, make sure it doesn't complain about anything. If not, please post exact steps you used and yaml files

[2018-05-15 11:47] Adriien-M commented on #515
I have the same issue, and for now, the only solution is to run the container with root user :
[code]

[2018-05-15 12:14] holgpar commented on #764
Hi tsmetana,

thanks for looking into this. The connection to aws seems to work fine, even the snapshots get created. To phrase the problem more precisely:  the VolumeSnapshotData object is not created.

Here is the complete log of the controller:

[code]

I followed https://blog.jetstack.io/blog/volume-snapshotting/ to get it running. The yaml files I took over almost literally, only changing he

[2018-05-15 13:51] loganasherjones commented on #515
Yeah @dosmachko, @Adriien-M's suggestion is the only way I know we can get around it. We had several problems with the ceph-fs provisioner though, so we use static volume mounts a lot more now.

[2018-05-15 17:50] mr-yaky commented on #745
you welcome ;)

[2018-05-15 19:26] jamstar commented on #608
For those of you who want to make your own image,  i found https://github.com/kubernetes-incubator/external-storage/issues/745#issuecomment-385030482 which has the steps for building your own image.    The only thing i changed in the Makefile is the REGISTRY and VERSION to ones of my own choosing.

[2018-05-15 21:45] hcabnettek commented on #527
@klausenbusk I used kubeadm. Sorry I just saw your reply. I can't get past this error no matter what I try. =(

[2018-05-16 02:22] #749 closed

[2018-05-16 06:37] cofyc opened #766 "Keep images on quay.io/external_storage up to date"
hi,

Currently, cephfs/rbd provisioner (at least I know) images on `quay.io/external_storage` are too old to use. If users want to use new features they need to build image themself. And users setup provisioners according to docs in master branch, will encounter problems because `latest` tag images not updated months ago.

So I request:

- [x] tag a new version for rbd provisioner and push image t

[2018-05-16 07:04] cofyc commented on #756
@igajsin The latest image at `quay.io/external_storage` is months ago, so I built and pushed a new image to my personal repo (https://quay.io/repository/cofyc/rbd-provisioner?tab=tags) for him.
https://github.com/kubernetes-incubator/external-storage/issues/766 tracks this issue.

[2018-05-16 15:40] tsmetana commented on #764
OK. I see the problem now. The first errors are actually harmless: due to the asynchronous nature of the controller it takes time for the actions to "settle" so the controller re-tries and spits error messages... I will take a look at improving the error handling.

As for the status updates: there really looks to be a bug. In my test the VolumeSnapshotData status conditions don't seem to be update

[2018-05-16 19:49] wstrange commented on #251
Just ran into this with the nfs-provisioner as well.  Kube 1.9.7 / GKE

[2018-05-16 21:00] klausenbusk commented on #752
`mount` only list the mount options, it does not list why these mount options was chosen.

[code]
So the EXT4 filesystem seems to be corrupt for whatever reason and the kernel decide to mount it RO. You should unmount the filesystem and run `e2fsck` on it.

[2018-05-16 21:05] klausenbusk commented on #761
Could you try running `kubectl get pvc`? I'm wondering if it has something to do with the `StorageClass`? Also could you try with the SC from this PR: https://github.com/kubernetes-incubator/external-storage/pull/718

[2018-05-16 21:13] klausenbusk commented on #527
Lets continue the discussion in https://github.com/kubernetes-incubator/external-storage/issues/761

[2018-05-16 21:13] klausenbusk commented on #668
@eddiewang would you mind closing this issue?

[2018-05-16 21:14] klausenbusk commented on #746
@halkeye would you mind closing this issue?

[2018-05-16 21:15] #746 closed

[2018-05-17 18:01] Pneumaticat opened #767 "[nfs-provisioner] No longer compiles on master"
Error:

[code]

Based on my limited knowledge of go, it appears that Kubernetes has changed its API slightly? I would fix it myself, but I'm too inexperienced to do so.

[2018-05-21 18:22] childsb commented on #766
@wongma7 pushed the images last time, i'll see if i can get credentials from him.

[2018-05-22 02:18] dragon9783 commented on #754
same issue to me, i also deploy openebs provisioner, and it work well

[2018-05-23 03:06] gmflau opened #771 "Is there a way to set RECLAIM POLICY to "RETAIN" in the helm chart implementation?"
I was running the following commands to deploy the provisioner:

$ helm template ./helm/provisioner --set engine=gke > ./provisioner/deployment/kubernetes/provisioner_generated.yaml
$ kubectl apply --username=admin --password=xxxxxx -f provisioner/deployment/kubernetes/provisioner_generated.yaml

This set my pv(s)'s Reclaim Policy to "Delete".

[2018-05-23 10:12] andor44 opened #772 "RBD provisioner monitor lookup is wonky"
The way the RBD provisioner looks up monitors from the storage class has multiple issues. Relevant code is [here](https://github.com/kubernetes-incubator/external-storage/blob/fd1946598363284474dd664cc75eaa905f9c0679/ceph/rbd/pkg/provision/provision.go#L262-L287).

1. First of all, the code has a hardcoded dependency on a `kube-dns` service. This is wrong, because while it is the convention to hav

[2018-05-23 13:18] Dremor opened #774 "[NFS] Cannot write to PV from pod"
I tried to use the NFS provisioner to provide persistent storage for my cluster, everything is fine, except that i cannot write inside the volume mounted directories.

Chart version : `0.1.3`
Settings: all default

I tried "many nodes read-write" as well as "single node read-write".

Here is my pod root:

[code]

I tried to create a file in both directories, without success:

[code]

I also tried

[2018-05-23 13:21] humblec commented on #772
/assign @rootfs

[2018-05-23 18:08] msau42 commented on #771
There currently isn't but it should not be difficult to add
/assign

[2018-05-24 02:28] msau42 commented on #771
@cofyc would you have time to look into this? I think we can just look at reclaimPolicy set in the storageclass

[2018-05-24 02:31] cofyc commented on #771
@msau42 OK, I'll take this.

[2018-05-24 09:46] feresberbeche commented on #516
I have this problem too,

[2018-05-24 14:47] jessfraz opened #777 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-25 06:54] knfoo opened #778 "rbd-provisioner: missing Ceph monitors"
Kubernetes version:
Client Version: v1.10.2
Server Version: v1.10.2

OS version
PRETTY_NAME="Debian GNU/Linux 9 (stretch)"
NAME="Debian GNU/Linux"

Ceph version
Luminous 12.2.5

rbd-provisioner version
quay.io/external_storage/rbd-provisioner     latest              dcc584102b93

storage class:
[code]
pvc:
[code]

But the pvc is stuck in pending with the error message from the rbd-provisioner pod:

[2018-05-25 06:54] gmflau opened #779 "pvc deletion failed to release claim to pv for local volume (local ssd)"
$ kubectl delete pvc [some-name] (managed to remove the pvc resource)

$ kubectl get pv (was showing FAILED to remove the claim)
NAME                CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS      CLAIM                    STORAGECLASS    REASON    AGE
local-ssd-pv-jtlx   375Gi      RWO            Delete           Failed      default/dse-data-dse-2   local-storage             20m
local-ssd-p

[2018-05-25 07:08] slpcat opened #780 "need support coredns"
kubernetes with coredns
external-storage/ceph/rbd/pkg/provision/provision.go
E0525 14:54:28.285170       1 provision.go:199] error getting kube-dns service: services "kube-dns" not found
I0525 14:54:28.502789       1 leaderelection.go:178] successfully acquired lease to provision for pvc default/romping-guppy-gitlab-ce-data
I0525 14:54:28.502847       1 controller.go:1167] scheduleOperation[provis

[2018-05-25 09:19] knfoo commented on #778
seems related to issue  https://github.com/kubernetes-incubator/external-storage/issues/772 as I have upgraded to coredns recently

[2018-05-25 12:43] huang-jy commented on #764
I also encountered this same issue, but wasn't sure if it was something I was doing or not.

Point to note that the snapshot never even _started_ on the AWS console, even though the keys were being picked up by the controller and those keys have full/admin access.

[2018-05-25 13:26] msau42 commented on #779
Hi, are you using the local static provisioner to manage your local PVs? If not, and you are manually creating the local PVs, then you will need to manually clean up the PV when you delete the PVC.

If you are running on gke, try out the instructions here for running the static provisioner: https://cloud.google.com/kubernetes-engine/docs/concepts/local-ssd

[2018-05-25 14:33] gmflau commented on #779
Do you mean I need to do the following if my PVs are created manually?

[2018-05-25 14:40] msau42 commented on #779
You also need to remove any data on the local ssd before you recreate the PV if you don't want the next workload to use that data.

[2018-05-25 14:52] gmflau opened #782 "local-volume (local-ssd) does not support "DELETE" as RECLAIM POLICY?"
My stateful was using a manually provisioned local-ssd volume using "DELETE" reclaim policy through dynamic storage provisioning.  When I was trying to remove its PVC resource, the PVC resource got removed but the underlying pv (on the local-ssd)'s deletion failed with the following error message:

$ kubectl describe pv local-ssd-pv-jtlx (showing no deletable volume plugin matched)
Name: local-ssd

[2018-05-25 15:11] msau42 commented on #782
Correct the docs mention that if you manually create a local PV, only Retain policy is supported.

[2018-05-25 15:37] gmflau commented on #782
Thanks! Can you point me to the doc?

[2018-05-25 16:35] gmflau commented on #782
The example showed "RETAIN".  However, the docs do not specifically call out "RETAIN" is the only policy supported.  Can you confirm if "RECYCLE" is supported?  The reason I am asking is that my StatefulSet is dynamically claiming the local ssd(s).  I would like to "recycle" the PVs (local SSDs) during my StatefulSet's decommission so that the PVs (local SSDs) will be freed up again for other work

[2018-05-25 16:40] msau42 commented on #782
Delete and Recycle are not supported if you manually create the PV.  If you want a recycle-like behavior, I recommend using the local static provisioner, which supports Delete and will manage the PV lifecycle for you.

The GKE docs have this note:
Note: If you delete the PersistentVolume, you need to manually erase the data from the disk.

And Kubernetes docs have this note:
Note: The local Persis

[2018-05-25 18:05] gmflau commented on #782
We have another thread here - https://github.com/kubernetes-incubator/external-storage/issues/771  .  Wonder if you are going to add "RECYCLE" policy support for the local static provisioner.  Pls confirm.

[2018-05-25 18:15] msau42 commented on #782
The local static provisioner will not explicilty support the recycle policy.  But if the reclaim policy is Delete, it will do something very similar to recycle.  It will rm -rf the data on the disk, delete the PV, and then create a new PV.

[2018-05-25 18:18] gmflau commented on #782
Sounds good!  I will give a try using "DELETE" for my test.  Thx!

[2018-05-25 18:20] msau42 commented on #782
Thanks, let me know if you have any more issues.  The GKE documentation has the all the steps needed to run the provisioner on a GKE cluster.

[2018-05-25 18:34] msau42 opened #783 "[local-volume] Add /dev to volume mount in helm template"
To support raw local block, we recommend creating a symlink to the device in the discovery directory.  The provisioner daemonset spec needs a hostpath mount to /dev to be able to resolve the symlinks.
/area local-volume

[2018-05-26 00:33] msau42 commented on #577
/assign
/close

[2018-05-26 00:33] #577 closed

[2018-05-26 00:33] msau42 commented on #301
As of 1.9, this is not needed anymore.
/assign
/close

[2018-05-26 00:33] #301 closed

[2018-05-26 15:48] cofyc commented on #783
hi, in which scenario provisioner cannot access device under `/dev`?

Provisioner runs in privileged mode by using helm chart, in my test, provisioner does not need `/dev` hostpath mount to access devices under `/dev`.

[code]

[2018-05-26 15:55] msau42 commented on #783
cc @jsafrane

[2018-05-28 15:27] huang-jy commented on #764
Ah, that makes sense now, thanks @holgpar

[2018-05-29 22:24] #685 closed

[2018-05-30 04:32] jody-kpw opened #785 "[nfs-client] nfs-client-provisioner create folder with 755, not 777"
Hi Could you make new docker image Fix issue 149 - nfs-client-provisioner create folder with 755, not 777?

fullPath := filepath.Join(mountPath, pvName)
	glog.V(4).Infof("creating path %s", fullPath)
	if err := os.MkdirAll(fullPath, 0777); err != nil {
		return nil, errors.New("unable to create directory to provision new pv: " + err.Error())
	}
os.Chmod(fullPath, 0777)

[2018-05-30 10:16] cofyc opened #786 "Remove FakeAPIUtil"
In local-volume, we are using a custom fake implementation `FakeAPIUtil` for testing. Perhaps, we can simply use `APIUtil` with `fake.Clientset`.

@msau42 What do you think?

[2018-05-30 10:57] cofyc commented on #786
/area local-volume

[2018-05-31 08:24] gman0 opened #788 "Manila provisioner in cloud-provider-openstack"
There is a more up-to-date version of Manila external provisioner in [kubernetes/cloud-provider-openstack](https://github.com/kubernetes/cloud-provider-openstack)

[source code](https://github.com/kubernetes/cloud-provider-openstack/tree/master/pkg/share/manila)
[manifests](https://github.com/kubernetes/cloud-provider-openstack/tree/master/manifests/manila-provisioner)
[examples](https://github.co

[2018-06-01 09:33] jsafrane commented on #783
Interesting, I did not know about /dev/ in privileged containers. Is is something new? Do all container runtimes support it?

[2018-06-04 08:20] tsmetana commented on #788
@gman0 thanks a lot for the work. I will deprecate the Manila provisioner from this repository.

[2018-06-04 09:09] gman0 commented on #788
Thanks!

[2018-06-04 17:02] msau42 commented on #786
Yes this sounds fine if you can still keep the API tracking that FakeAPI does

[2018-06-05 05:36] cofyc commented on #786
/assign

[2018-06-05 05:37] cofyc commented on #783
not sure yet, i'll investigate it
/assign

[2018-06-05 13:33] #771 closed

[2018-06-06 09:23] jsafrane commented on #783
I stumbled upon this today when testing containerized mounts.

`privileged` will give a snapshot of `/dev` to your container at the time when the container is created. Devices created after the container has started are not reflected there. That's not what we want.

[2018-06-06 09:54] cofyc commented on #783
tested locally, you're right!

without `-v /dev:/dev`

[code]

with `-v /dev:dev`:

[code]

I'll add /dev to volume mount.

[2018-06-06 22:00] nielsole commented on #766
I see @wongma7 has been inactive for quite some time. Is there someone else who could help with this?

[2018-06-13 08:51] cofyc opened #795 "Use non-zero resync period as last insurance in local volume provisioner"
See discussion: https://github.com/kubernetes-incubator/external-storage/pull/776#issuecomment-393748758

[2018-06-13 08:52] cofyc commented on #795
/area local-volume
/assign

[2018-06-13 09:51] hasonhai commented on #540
hello @wongma7,
what is the main different between nfs-provisioner and nfs-client-provisioner? I saw there is too little documents on this. I only guess that the former acts as a NFS server and provides dynamic volumes to the pods while the latter is just a linker connecting the pods to an NFS server outside K8S cluster (that's why they have to provide the config for NFS server in ENV in the deplo

[2018-06-13 13:45] discordianfish commented on #705
Just ran into the same issue. This kinda defeats the purpose of using this for backup and recovery purposes.

@wongma7 @jsafrane This seems to be a design issue I guess, correct? The provisioner needs to know things like the actual storage class that was used. I guess this should be copied to the snapshot or snapshotdata instead? Are there plans or general refactoring planned or is this something

[2018-06-13 16:36] disrani-px commented on #705
I actually have a simple fix for this. Will submit a PR in the next few days.

[2018-06-14 11:53] wongma7 commented on #766
I will work on this later today. Most of the images have permissions shared with their respective owners (we are a community :)) ), some don't. I will provide permissions to @cofyc . Also, quay will always be the authority on releases, git tags may or may not exist, hopefully each project maintains a changelog somewhere though.

[2018-06-14 15:34] jjo commented on #778
For those wanting to use `ceph-mon`s by IPs, a nasty workaround (that works): create `externalName` resources pointing to each monitor, using e.g. `xip.io` service to get hostnames (as naked IPs are not supported by `externalName` services):

[code]
Then pass
[code]

[2018-06-14 15:51] #788 closed

[2018-06-14 16:53] wongma7 opened #801 "helm test does not work on osx"
cd local-volume/helm; \
	./test/run.sh
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0tar: Must specify one of -c, -r, -t, -u, -x
  0 11.6M    0 26643    0     0   162k      0  0:01:12 --:--:--  0:01:12  163k
cu

[2018-06-14 17:28] wongma7 commented on #540
@hasonhai yes you are correct. nfs-provisioner is an all-in-one demo type of provisioner, nfs-client is a simple "proxy"

RE: memory usage, we are going to need to overhaul the external provisioner code soon for performance reasons anyway, it is based on outdated 'kubernetes controller' code, so stay tuned.

[2018-06-14 17:28] #540 closed

[2018-06-14 17:55] #406 closed

[2018-06-14 18:09] wongma7 commented on #801
Well it's not just the order of arguments but it's trying to install helm for linux, for now I will remove the helm test from osx suite

[2018-06-14 22:17] disrani-px commented on #738
Fixed with PR #740

[2018-06-14 22:17] #738 closed

[2018-06-14 22:18] disrani-px commented on #646
Fixed with #647

[2018-06-14 22:18] #646 closed

[2018-06-14 22:18] disrani-px commented on #640
Fixed with #650

[2018-06-14 22:18] #640 closed

[2018-06-15 11:59] wongma7 commented on #801
fixed by https://github.com/kubernetes-incubator/external-storage/pull/806

[2018-06-15 11:59] #801 closed

[2018-06-15 12:54] #783 closed

[2018-06-15 15:23] wongma7 commented on #774
this is a bug with the ganesha server when the share is mounted with nfs >= v4.2 (can't remember the exact #). Unfortunately there's not much we can do to fix it so I would recommend you set up a simple nfs server your cluster can access and use the nfs-client provisioner

[2018-06-15 17:43] wongma7 commented on #81
https://github.com/kubernetes-incubator/external-storage/pull/796

[2018-06-15 17:44] #165 closed

[2018-06-15 17:44] #151 closed

[2018-06-15 17:44] #187 closed

[2018-06-15 17:44] #207 closed

[2018-06-15 17:45] #4 closed

[2018-06-15 17:46] wongma7 commented on #241
@bhack try storageclass.mountoptions, may need to update your efs-provisioner image

[2018-06-15 17:46] #241 closed

[2018-06-15 17:46] #242 closed

[2018-06-15 17:59] wongma7 commented on #236
ftr there's a rootsquash parameter
/area nfs

[2018-06-15 17:59] #236 closed

[2018-06-15 18:02] wongma7 commented on #204
there will be support on openshift side for local volume soon (1yr later)
/area local-volume

[2018-06-15 18:02] #204 closed

[2018-06-15 18:03] wongma7 commented on #245
there is now an option to make the shares deterministic, pls open a new issue if you've any questions

[2018-06-15 18:03] #245 closed

[2018-06-15 18:06] wongma7 commented on #317
done

[2018-06-15 18:06] #317 closed

[2018-06-15 18:06] wongma7 commented on #326
done. (late...but done)

[2018-06-15 18:06] #326 closed

[2018-06-15 18:16] wongma7 commented on #450
now there's both glusterfs and gluster file

[2018-06-15 18:17] wongma7 commented on #465
close as dupe, work on it there

[2018-06-15 18:17] #465 closed

[2018-06-15 18:19] wongma7 commented on #324
not sure, closing issue for now, tutorial is quite outdated but should always work because glide

[2018-06-15 18:19] #324 closed

[2018-06-15 18:23] wongma7 commented on #328
imo all configuration should be via storage class but I'm not sure, feel free to open an rfe issue
/area aws/efs

[2018-06-15 18:23] #328 closed

[2018-06-15 18:28] wongma7 commented on #371
that last comment did not age well

https://github.com/kubernetes-incubator/external-storage/pull/612 seems to be what we want, needs review

/area lib

[2018-06-15 18:47] #407 closed

[2018-06-15 18:47] #418 closed

[2018-06-15 19:00] wongma7 commented on #432
The bug must be in nfs ganesha, iirc it cannot deal with weird filesystems existing anywhere because as part of its attempt to determine the root file system of /export/ it scans the whole tree and blows up when it sees this /etc/resolv.conf which I assume is atypical in some way (is it just a bind mounted file?)

Unfortunately there is not much we can do, as I said I have fixed a bug in nfs ganes

[2018-06-15 19:06] #436 closed

[2018-06-15 19:14] wongma7 commented on #762
Yeah there is not much we can do but maybe update ganesha and hope it gets fixed. Unstable as it is running in this environment, containerized kernel nfs is not without its own problems :]. Theoretically ganesha have no problem restarting old shares since they're all still in its config file and they all have unique fsid but I have no idea.

My recommendation for anyone who's used nfs provisioner

[2018-06-15 19:15] wongma7 commented on #447
See https://github.com/kubernetes-incubator/external-storage/issues/762#issuecomment-397717051 for my comment on these hard-to-debug problems

[2018-06-15 19:16] #501 closed

[2018-06-15 19:27] wongma7 commented on #515
What we need is supplemental groups similar to how it is implemented in the efs provisioner. It creates volumes with a special gid annotation such that when a pod uses a volume it automatically is added to that gid.

To explain why seemingly nothing happens with fsgroup and runasid:
kubernetes ignores fsgroup here because cephfs is shared storage potentially read by multiple pods & it doesn't make

[2018-06-15 19:28] wongma7 commented on #515
@cofyc is it still true that pods cannot read from cephfs provisioned shares unless they run as root? we actually have an internal bug to that effect, want to confirm that with the changes over the last month this issue still persists.

[2018-06-15 19:40] wongma7 commented on #629
@nrobert13 you are correct, there needs to be a line copying mountoptions from storageclass.mountoptions to pv.mountoptions

[2018-06-15 19:42] wongma7 opened #810 "MountOptions ignored in efs-provisioner"
nfs-client equivalent: https://github.com/kubernetes-incubator/external-storage/issues/629
issue brought up here: https://github.com/kubernetes-incubator/external-storage/issues/241#issuecomment-367115636

[2018-06-15 19:42] wongma7 commented on #241
@bhack actually mount options is not implemented yet, creating new issue https://github.com/kubernetes-incubator/external-storage/issues/810

[2018-06-15 19:43] wongma7 commented on #516
@raffaelespazzoli may be able to help
/area iscsi/targetd

[2018-06-15 19:45] wongma7 commented on #585
similar issue: https://github.com/kubernetes-incubator/external-storage/issues/81

https://github.com/kubernetes-incubator/external-storage/pull/796 will solve this, needs review

[2018-06-15 19:49] wongma7 commented on #589
what if /volumes/kubernetes/test-kubernetes is in quotes, could it be a bug in ceph-fuse cli? Looks strange to me.

[2018-06-15 19:51] wongma7 commented on #508
should work now

[2018-06-15 19:51] #508 closed

[2018-06-15 19:52] wongma7 commented on #596
open to PRs, will need to tread carefully in case anybody relies on this (nonstandard) behavior

[2018-06-15 19:53] wongma7 commented on #598
see https://github.com/kubernetes-incubator/external-storage/issues/766 , sorry for the long delay

[2018-06-15 19:53] #598 closed

[2018-06-15 19:56] wongma7 commented on #766
I have pushed https://quay.io/repository/external_storage/rbd-provisioner?tab=tags and https://quay.io/repository/external_storage/cephfs-provisioner?tab=tags . Keep in mind these include many months of changes at once. Again, apologies for the delay, having this long a period between releases kind of contradicts the supposed benefits of external provisioners. Anyway let's discuss "update latest i

[2018-06-15 19:56] wongma7 commented on #608
I have pushed https://quay.io/repository/external_storage/rbd-provisioner?tab=tags and https://quay.io/repository/external_storage/cephfs-provisioner?tab=tags . Keep in mind these include many months of changes at once. Again, apologies for the delay, having this long a period between releases kind of contradicts the supposed benefits of external provisioners.

Continuing discussion in https://git

[2018-06-15 19:56] #608 closed

[2018-06-15 19:57] wongma7 commented on #622
should be fixed, see #766

[2018-06-15 19:57] #622 closed

[2018-06-15 19:59] wongma7 commented on #591
@raffaelespazzoli if you have a chance. Seems the problem is well defined, I guess it should choose a random LUN but I don't know much about iscsi

[2018-06-15 20:00] #509 closed

[2018-06-15 20:00] #593 closed

[2018-06-15 20:04] wongma7 commented on #621
the latest version should have nfsvers=4.1 at least, the rest I'm told will be default https://github.com/kubernetes-incubator/external-storage/pull/807

You can't change it right now but there is an issue open to let you do it with StorageClass.mountOptions https://github.com/kubernetes-incubator/external-storage/issues/810 let's talk about it there

/area aws/efs

[2018-06-15 20:04] #621 closed

[2018-06-15 20:05] #632 closed

[2018-06-15 20:08] wongma7 commented on #729
updated today, https://quay.io/repository/external_storage/glusterfs-simple-provisioner?tab=tags

[2018-06-15 20:08] #729 closed

[2018-06-15 20:09] wongma7 commented on #731
@humblec strange error '"gluster-block": executable file not found in $PATH'

/area gluster/block

[2018-06-15 20:11] wongma7 commented on #568
No, you're not missing anything. The only potential fix is to try different NFS versions and you did that. Sorry, these issues are difficult to debug. I recommend you stand up a simple nfs server and use the nfs-client provisioner, it is more stable

/area nfs

[2018-06-15 20:11] #568 closed

[2018-06-15 20:12] #570 closed

[2018-06-15 20:13] wongma7 commented on #547
reopen if still an issue, seems it's hard to solve https://github.com/kubernetes/kubernetes/issues/57960#issuecomment-366254208

[2018-06-15 20:13] #547 closed

[2018-06-15 20:16] wongma7 commented on #555
sorry these issues are hard to debug. If this occurs again please open a new issue or contact me on slack @mawong and try to preserve logs of the kubelet the pod is running on, it may have more information about why the mount call failed.

The directory not being created is especially weird as the provisioner should always do that long before it creates a PV

Generally I recommend setting up a sim

[2018-06-15 20:16] #555 closed

[2018-06-15 20:17] wongma7 commented on #558
fixed

[2018-06-15 20:17] #558 closed

[2018-06-15 20:18] wongma7 commented on #649
It is hard. I am not a good technical writer. PR's welcome. I don't disagree about putting the sa and deployment in the same file

/area nfs

[2018-06-15 20:20] wongma7 commented on #652
Thank you again. Docs PRs are always very welcome.

/area nfs-client

[2018-06-15 20:20] #652 closed

[2018-06-15 20:20] #668 closed

[2018-06-15 20:23] wongma7 commented on #678
If possible, when you see this error preserve kubelet logs (of the kubelet the pod is running on) and controller manager logs, those may have more information on why mount it timed out, otherwise it is hard to debug.

/area ceph/rbd

[2018-06-15 20:23] #678 closed

[2018-06-15 20:29] wongma7 commented on #694
Above is correct. No, sorry, according to the spec we need to make the names of the Persistent Volumes correspond exactly to the random IDs of their Persistent Volume Claims to avoid problems

Maybe filtering your volumes by the storage class "aws-efs" will help a little.

[2018-06-15 20:29] #694 closed

[2018-06-15 20:30] wongma7 opened #811 "Clean up beta annotations"
like the storageclass one or mountoptions that are littered throughout the repo

[2018-06-15 20:31] wongma7 opened #812 "Rewrite controller"
I will fill this in later. Basically it should be rewritten to reflect current best practices

[2018-06-15 20:34] wongma7 commented on #733
No, it's not possible and you're right it is not optimized. Scaling is a problem. Let's track general improvements here https://github.com/kubernetes-incubator/external-storage/issues/812

[2018-06-15 20:34] #733 closed

[2018-06-15 20:37] wongma7 commented on #754
Is that the full log of the provisioner? Can you provide it if not

/area nfs-client

[2018-06-15 20:37] #684 closed

[2018-06-15 20:39] wongma7 commented on #666
PR for rewording is welcome, I'm not sure how myself. You are right, the provisioner needs quite a bit of info to figure it out, which is why this stuff is optional and downgraded to a warning

/area aws/efs

[2018-06-15 20:39] #666 closed

[2018-06-15 20:42] #756 closed

[2018-06-15 20:44] wongma7 commented on #767
it seems to have fixed itself, compile works for me as of today

[2018-06-15 20:44] #767 closed

[2018-06-15 20:46] #782 closed

[2018-06-15 20:46] wongma7 commented on #785
image has been pushed https://quay.io/repository/external_storage/nfs-client-provisioner?tab=tags sorry for the delay

/area nfs-client

[2018-06-15 20:46] #785 closed

[2018-06-15 20:52] wongma7 opened #813 "deploy.sh should not run on osx"
It fails and it's redundant

[2018-06-15 21:04] klausenbusk commented on #717
We can close this now. @qbast

[2018-06-15 21:08] klausenbusk commented on #732
Sure. (BTW: We should add a issue template, so people remember to add the correct label and tag the owner).

@ikamman How did you create the k8s cluster? As @wongma7 mentioned, it is probably related to the flexvolume driver.

[2018-06-16 02:04] cofyc commented on #812
I'm glad to help.

[2018-06-16 09:34] agasbzj commented on #223
@adamcharnock You saved my life!    mountOptions: "vers=4.1" resolves everything! Thank you so much!

[2018-06-16 20:05] sunho opened #815 "nfs-client "unable to set extended attributes on directory""
I deployed nfs-client following guide and encountered this error in nfs-client-provisioner pod.
[code]

I use centos and my nfs server supports nfsv4.

My /etc/exports is
[code]

And grep nfs /proc/mounts showed me
[code]

[2018-06-17 19:08] dshakey commented on #42
i am interested too, as need to set  no_root_squash

[2018-06-17 19:09] dshakey commented on #815
having this issue too.

[2018-06-17 21:20] dshakey commented on #815
ive done some more troubleshooting and believe the issues is cause of xattr on the NFS.
testing this by running - setfattr on the NFS on the master node

[2018-06-17 22:31] dshakey commented on #815
Wonder could I rebuild the image and remove the below from the nfs-client-provisioner code? As don't see the meta data being used anywhere else.

if err := xattr.Set(fullPath, "namespace", []byte(pvcNamespace)); err != nil {
		return nil, errors.New("unable to set extended attributes on directory to provision new pv: " + err.Error())
	}

[2018-06-18 11:55] sunho commented on #815
#671 is related to this issue. It seems like nfs doesn't support xattr officially. Were there some changes recently?

[2018-06-18 12:36] #717 closed

[2018-06-18 12:39] wongma7 commented on #42
It is a storageclass parameter instead of the storageclass field (I got impatient and added it as a parameter before storageclass.mountoptions existed) https://github.com/kubernetes-incubator/external-storage/blob/master/nfs/docs/usage.md#parameters

In a future update I will add storageclass.mountoptions support and if that is set it will take priority over the parameter

[2018-06-18 12:40] wongma7 commented on #42
@dshakey also if you need root squash there is a parameter specifically for that as well, see my link.

[2018-06-18 12:41] wongma7 commented on #815
Yes, I merged a PR about setting extended attributes on Friday. Please downgrade in the meantime. I will revert the change today.

[2018-06-18 14:31] wongma7 commented on #815
image pushed, should be fixed
/area nfs-client

[2018-06-18 14:31] #815 closed

[2018-06-18 14:31] wongma7 commented on #815
https://quay.io/repository/external_storage/nfs-client-provisioner?tab=tags

[2018-06-18 17:14] msau42 opened #817 "[local-volume] New controller to handle node deletion"
Extension to https://github.com/kubernetes/community/pull/1484

In cloud environments, nodes can be deleted and recreated fairly often.  When nodes are deleted, the local disks are also deleted along with them, however local PVs remain and pods will get stuck scheduling because they are bound to a node that no longer exists.

For workloads that tolerate data loss and can recover with a brand new d

[2018-06-18 17:16] msau42 commented on #817
/area local-volume

[2018-06-18 17:52] wongma7 opened #819 "Provisioner versioning can be confusing: create compatibility table"
I have started to add a "-k8sv1.10" suffix to image tags. This can be a source of confusion. The suffix only indicates what version of the kubernetes API the image was built against. I don't know whether this is more helpful or confusing to users. It does not say whether the image is backwards-compatible with older versions. But neither would a tag of just 'v#.#.#'. **To anyone confused whether an

[2018-06-18 17:54] #369 closed

[2018-06-18 18:10] msau42 commented on #819
For local volumes, I added a [compatibility table](https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume#version-compatibility) and didn't include backwards compatibility for simplicity + testing matrix.  So using a newer provisioner version against an older Kubernetes version is at your own risk.

[2018-06-18 18:19] msau42 commented on #817
Thinking about it a little more, the scenario where node is recreated with the same name could be handled by kubernetes/community#1484, which can detect that the path/disk no longer exists on the node.

So maybe there are actually 3 controllers involved here:
1. Daemonset that monitors disks on each node: kubernetes/community#1484
2. Single controller that monitors deletion of node objects
3. Sing

[2018-06-18 19:05] #777 closed

[2018-06-18 23:27] ianseyer opened #821 "EFS-Provisioner option to not create subdir for each volume"
My goal is to create a statefulset where each member of the set has access to a single shared ReadOnlyMany volume, that gets prepopulated by a deployment before using.

I have turned to NFS, as aws ebs does not support ReadOnlyMany. However, using the efs-provisioner provisions a new directory in the nfs for each member of the set. However, I would like it to simply mount the nfs as a volume witho

[2018-06-18 23:55] msau42 commented on #821
If you use a PVC in the StatefulSet *outside* of the PVC template, then all StatefulSet instances will share the same volume.  Your initial attempt should have worked, so it may be worth further triaging that.

[2018-06-19 01:18] disrani-px commented on #705
Fixed with #803

[2018-06-19 01:18] #705 closed

[2018-06-19 07:18] NickrenREN commented on #817
1 and 2 are being implemented here in https://github.com/caicloud/kube-storage-monitor

[2018-06-19 08:12] raffaelespazzoli commented on #591
@wongma7 the algorithm right now chooses the first available LUN. Sorting out the race condition will probably involve creating a lock. It's going to take me a while to figure out how to do that in Go. but I will eventually get to that.
Choosing a random LUN is probably not a good idea because there are only 256 LUNs and the chances of hitting a taken one are too high.

[2018-06-19 08:48] dove-young opened #823 "Scale deployment, Pod instances are assigned to same PV"
When I deploy a Nginx to using local storage through storage class and local provisioner, it works as expecetd and is assign to a node with local volume, for example, `/mnt/disks/vol3`.

But when I scale the Nginx deployment to 5 replicas, I noticed that  all the 5 replicas share the same volume, for example, `/mnt/disks/vol3`, and are reside on the same node.

[code]

I do have multiple volumes a

[2018-06-19 12:35] #795 closed

[2018-06-19 14:06] msau42 commented on #823
I think you'll want to use Statefulset instead of deployment.  Statefulset will create a PVC per replica.  While deployment will share the same PVC.

[2018-06-19 14:52] wongma7 commented on #812
doing a li'l audit of the code, here are some tasks:
* I'm not convinced the informers need changing, as far as I can tell we are using shared informers correctly, only we are initializing them ourselves instead of using the free constructed versions at e.g. coreinformers.PersistentVolumeInformer. Of course we should move to using those versions anyway just for future proof & verbosity purposes. A

[2018-06-19 14:53] wongma7 commented on #812
Actually I'm just going to work on resync period and retry for now.

[2018-06-19 16:22] jody-kpw commented on #785
sorry, tried it with image: quay.io/external_storage/nfs-client-provisioner:latest

still 777.
drwxrwxrwx.  2 root      root      4096 Jun 20 00:19 default-test-claim-pvc-75df3431-73dc-11e8-9a18-f4b52003bfa2

[2018-06-19 16:31] jody-kpw commented on #785
sorry, I want to use 755.

[2018-06-19 16:37] wongma7 commented on #785
the problem is people whose containers are not allowed to run as root by cluster policy (e.g. OpenShift default) then cannot write to the share. So we can't use 755 as the default

[2018-06-19 16:44] jody-kpw commented on #785
no problem, can't manually change it thank :)

[2018-06-19 18:41] msau42 opened #824 "Investigate CSI driver for local volume"
1. Controller service would need to be run as a DaemonSet, instead of as a single Deployment.  It may need to run an custom external provisioner sidecar that filters on node.  Or maybe it can be generically extended to filter on a plugin's reported topology.
2. There is a [proposal](https://github.com/kubernetes/community/pull/2273) to allow CSI volumes to be specified inline instead of only throu

[2018-06-19 18:41] msau42 commented on #824
/area local-volume

[2018-06-20 03:49] dove-young commented on #823
@msau42  Thanks for your help. It works for me.

[2018-06-20 03:49] #823 closed

[2018-06-20 07:47] lichuqiang commented on #824
Yeah, we need fast fail for volumes that not belong to a node.
I noticed that in the provisioner controller lib, we already have `Qualifier` interface to tell if a claim should get provisioned. So, is it possible to add related interface in CSI, and fulfill it in the csi external-provisioner? As I think it a quite common demand, but not limited to local volume.

Maybe a new volume plugin interface

[2018-06-20 08:13] tsmetana commented on #764
Fixed by the PR #775.

[2018-06-20 08:13] #764 closed

[2018-06-20 08:14] tsmetana commented on #741
I'm unable to reproduce the issue, closing.

[2018-06-20 08:14] #741 closed

[2018-06-20 08:18] tsmetana commented on #444
I think we forgot to close this one -- the GCE deployment has been added quite some time ago...

[2018-06-20 08:18] #444 closed

[2018-06-20 08:35] lichuqiang commented on #824
A downside is that we cannot support multi backends (SSD, HHD...) in a same provisioner.
We'll have to deploy a set of components (provisioner, attacher and driver) for each of them.

[2018-06-20 11:43] dippynark commented on #444
@tsmetana thanks, sorry for my lack of replies on this one

[2018-06-20 16:56] msau42 commented on #824
For 1), we may be able to use the [GetNodeInfo call](https://github.com/container-storage-interface/spec/blob/master/spec.md#nodegetinfo) + a flag to csi-external-provisioner to indicate that we're running the provisioner per topology instance, so CreateVolume should be filtered.

For 5), here's the CSI [call](https://github.com/container-storage-interface/spec/blob/master/spec.md#getcapacity).  F

[2018-06-20 16:58] msau42 commented on #824
Why is this?  The provisioner calls based on provisioner name, not storageclass, so a single plugin should be able to handle both ssds and hdds.

[2018-06-21 01:52] msau42 commented on #824
Ugh... That limitation might have been an oversight. Let's see if we can add it to csi

[2018-06-21 02:02] lichuqiang commented on #824
I like the idea, the only concern is that people may get confused about the usage of topology in claims(SCs).
Normally the topology tells where a pv can be accessed from, but not where it can be provisioned :(

The two are same only for local volume. So I guess it not so common.

[2018-06-21 16:00] msau42 commented on #824
Here is the CSI issue to add storageclass info to GetCapacity: https://github.com/container-storage-interface/spec/issues/55#issuecomment-399153658

For 1), it may be sufficient enough for the first phase to run a special external-provisioner only for local volumes.  If more plugins need such a feature, we can consider a generic method later.

[2018-06-21 17:18] msau42 commented on #824
StorageClass parameters are available in CSI GetCapacity arguments already: https://github.com/container-storage-interface/spec/blob/master/spec.md#getcapacity

[2018-06-22 11:27] knfoo commented on #778
That seems to be working for me @jjo thanks for the tip :+1:

[2018-06-22 12:28] YiannisGkoufas opened #827 "Should vendor directory be committed?"
More of a question, and less an issue.
I was trying to follow the guide here https://github.com/kubernetes-incubator/external-storage/tree/master/docs/demo/hostpath-provisioner but got stuck because the k8.io/api was included both in 2 vendors folders (the parent of my project and the one under this repo)
So I had to create a fork ( https://github.com/YiannisGkoufas/external-storage/tree/v3.2 ) fr

[2018-06-22 13:20] wongma7 commented on #827
the hostpath provisioner has its own glide.yaml, if you run glide install -v in that directory then the generated vendor should take precedence over any other. The guide might be outdated is the main problem, what versions specifically are in conflict? I don't think it is needed to replace references, I believe you should be able to just delete the problematic dependencies like k8s.io/api from the

[2018-06-22 13:45] Dremor commented on #774
It is the 4.2 version which is broken.
I'm working on a fix (working internally, cleanup atm).

[2018-06-22 17:16] wongma7 opened #828 "Add SupportsMountOption to Provisioner interface"
It makes sense to test it in the controller BEFORE we call provision. Many/all of the provisioners in this repo are out-of-date wrt how they treat mount options, this will be an opportunity to clean it up

[2018-06-22 17:16] wongma7 commented on #828
see also https://github.com/kubernetes-incubator/external-storage/issues/810

[2018-06-22 17:20] wongma7 opened #829 "Add GetAccessModes to Provisioner interface"
Upstream does NOT have this function in the Provisioner interface and instead it calls this function in `Provision`, however I want us to differ from upstream and call this function in the provision controller, in order to ensure uniform error messages and to suggest, but not force, authors to consider what accessmodes they support. Suggest but not force means there will be a default implementatio

[2018-06-22 17:20] wongma7 commented on #828
It will default false with a nice error message.

[2018-06-22 20:35] saad-ali commented on #824
@jieyu has started an CSI compatible LVM Local Storage driver here: https://github.com/mesosphere/csilvm

He's open to adding a Kubernetes directory for k8s specific deployment configs to that. In the future, we can consider moving that to the CSI org.

[2018-06-24 05:57] raffaelespazzoli commented on #591
@wongma7 I have been thinking about this. Maybe we have an opportunity here to add a feature to the dynamic provisioner framework.
The feature would be a flag that allows to choose whether provisioning requests should be processed in parallel or serially. I can see other provisioners potentially benefit from this.
Please let me know what you think.

[2018-06-25 13:09] jrfeenst commented on #754
I have the same issue. The log (-v 4) shows nothing interesting:

I0625 13:00:02.214122       1 controller.go:492] Starting provisioner controller ac4f591d-7877-11e8-8e50-0a58c0a80305!
I0625 13:00:02.214962       1 reflector.go:202] Starting reflector *v1.PersistentVolumeClaim (15s) from github.com/kubernetes-incubator/external-storage/lib/controller/controller.go:496
I0625 13:00:02.215061       1

[2018-06-25 14:06] wongma7 commented on #591
@raffaelespazzoli yeah it would be good, work queues should give us this https://github.com/kubernetes-incubator/external-storage/pull/825. you could set threadiness to 1 to make it serial

[2018-06-27 15:06] jsafrane opened #833 "Automatic discovery of local volumes"
There should be a way how to automatically detect a device on a node usable as a local volume without going to the node and manually mounting / symlinking it.

Users should configure used devices globally, for whole cluster, instead locally on every node.

@msau42 @ianchakeres @cofyc @dubuc @NickrenREN @dhirajh (do I miss anyone?)

[2018-06-27 15:21] jsafrane commented on #833
I have an idea: udev already has fairly flexible matching capabilities and it can create symlinks in `/dev`. E.g. `/dev/disk/by-id` is created by udev automatically when machine boots or a new device appears.

Can we re-use these capabilities to create symlinks in say `/dev/disk/kubernetes/local`? Our "provisioner" DaemonSet could install udev rules from a ConfigMap (configured by the user) and th

[2018-06-27 15:36] msau42 commented on #833
We already have in tree plugins calling udevadm trigger although I'm not sure if safety was thoroughly evaluated when it was added.

[2018-06-27 15:37] jsafrane commented on #833
volume plugins typically don't run in containers (and if they do they run via nsenter?)

[2018-06-27 15:39] msau42 commented on #833
If the CSI replacement for in tree needs to still call udevadm, then this issue still needs to be solved

[2018-06-27 15:41] msau42 commented on #833
The only thing that concerns me about automatic discovery is that if you don't craft the rules correctly, you can easily expose/corrupt data you didn't intend to.  For example, if you run multiple storage plugins on one node and don't take into account the device naming for each plugin

[2018-06-27 18:46] davidz627 commented on #833
/cc

[2018-06-28 09:47] mostlyAtNight commented on #754
Hello - I have the same issue (PVC stuck in Pending state).

Logs (for the pod) do not show much:

[code]

How can I get further information to help debugging this issue?

One other thing:  I;m running on Amazon EKS (quite new) and had to install nfs-utils on the nodes as it was not installed by default.  Perhaps the issue is related and there is some other missing software there?

Kind regards, P

[2018-06-28 10:38] mostlyAtNight commented on #754
Strangely it's now working as expected, things I changed:

- Set up everything (ConfigMap, Deployment, StorageClass) via a single manifest file
  - I modified the manifest file to contain the serviceAccount patch mentioned in the docs
- Did the above after deleting any leftovers from previous attempts (with the exception of the RBAC permissions modifications)
- Applied the manifest file

The PVCs

[2018-06-28 13:30] wongma7 commented on #754
If it were a serviceAccount misconfiguration I would expect to see many permission denied errors in the log. So I am still perplexed!

[2018-06-29 07:07] Dremor commented on #774
Got it working here : https://gitlab.com/egeorget/rancher2-charts/tree/devel/nfs-provisioner/v0.1.2-rc1

[2018-06-29 14:08] jsafrane commented on #833
Just for the record, `udevadm trigger` from a container is possible with these volumes:

[code]

* `/etc/udev`, `/lib/udev`: use host's rules during `trigger`
* `/run/udev`: access host's udev socket
* `/dev`, `/sys`: access devices and their information is /sys

And udev-image is just:
[code]

[2018-06-29 15:46] jsafrane commented on #833
Yes, that's correct. We need strong guidance and examples to match only the necessary drives, e.g. by matching non-partitioned ATA drives only, these are always local.

[2018-06-30 11:25] patrickdk77 opened #836 "Upgrade to use nfs 4.1"
I upgraded to quay.io/external_storage/efs-provisioner:v1.0.0-k8s1.10
Then rebooted a node.
But my efs mounts are still using 4.0
How do I go about upgrading correctly so that I get the 4.1 mount, or verify that it is mounted with 4.1
So far the mount options still show vers=4.0

[2018-07-02 07:14] cofyc commented on #783
/assign

[2018-07-02 09:24] bjg2 opened #838 "[DigitalOcean] After node holding persistent volume gets down, PV doesn't get recycled"
/area digitalocean

I created 3-node k8s (version 1.9.4) cluster on DO, all 3 nodes are masters and they accept pods as well, with DO block storage as persistent volume. PVs were not created by k8s but reused:
[code]

I use this PV for database, I spin up the cluster, volume gets claimed and everything works. But after I bring one node down by simply turning droplet off in DO, things get messy. Af

[2018-07-02 12:39] lichuqiang commented on #824
I looked into the LVM driver @saad-ali mentioned above, it's overall a great job.
But also has several points that cannot satisfy us from the perspective of k8:

1. The driver takes a volume group name as input, and doesn't support multi vgs in a same driver. But for local volume, we expect to support multi storage backend (hdd, ssd...that exist as different vgs) in a same driver.

2. In `GetCapac

[2018-07-02 13:01] lichuqiang commented on #824
To support file path as input, I can think of two ways:

1. The first is to bind mount the path to global path in `NodeStageVolume`. Thus, the whole process would be more smooth, only `NodeStageVolume` will need to handle the two kinds of source specially, and other interfaces will be exactly the same. Downside is that we'll have an extra bind mount.
2. Do nothing in `NodeStageVolume`, and in `Nod

[2018-07-02 13:19] TamasKormendiMAT opened #839 "Add Azure managed disk snapshot functionality"
Snapshot functionality for Azure managed disks is not implemented yet. As far as I can tell similar functionality was planned in rootfs/snapshot#4 but could not find any other forks/issues/PRs that would have dealt with Azure snapshot support, so I am planning to implement it myself. Any advice and suggestions are more than welcome!

/area snapshot

[2018-07-02 20:35] fabiorauber commented on #629
Just noticed the same behavior trying to mount NFS version 3 volumes.

[2018-07-02 21:03] travisghansen commented on #629
Out of curiosity, does anyone know if the mount options provided are supposed to **replace** entirely, or be **appended** to mount options by the provisioners?

[2018-07-02 23:14] msau42 commented on #824
@jieyu, would you be open if we made changes to the lvm driver to address the 3 requirements listed above?

[2018-07-03 03:08] jieyu commented on #824
cc @gpaul, @jdef

We're open to those suggestions.

For 2), that's what specified in CSI spec.
For 3), can you guys elaborate a bit? We're definitely open to use `NodeStageVolume` if that makes the plugin logic simpler.
For 1), I'm open to it. One question: have you guys thought about using one instance of the CSI plugin per volume group?

[2018-07-03 04:17] lichuqiang commented on #824
That's what I cared about most. If the field is designed for free capacity left, then it's not in line with our expectations. @msau42. maybe we can push the capacity response definition forward to include both total capacity and free capacity?

For 3), in k8s, we have the case that multi pods are in need of a same volume. Thus, we need to mount the source path to a global path in `NodeStageVolume`

[2018-07-03 08:38] bjg2 commented on #838
If I change to ReadWriteMany, I get the issue with storage already being bound to droplet id X. Can I somehow give the storage to newly created pod?

[2018-07-03 15:18] Dremor commented on #774
I've read the code for a bit. I don't understand Go very well, but the following codepath seems to be the cause:
[code]

"mountOptions" is initialized as an empty string, before being filled by the "Parameters.mountoptions" option. Thus, in order to make it work, we have to set the  "Parameters.mountoptions" option to "vers=4.1" in order to make it work.

Changing the `mountOptions := ""` line to

[2018-07-03 15:24] wongma7 commented on #836
I believe any pod using a pv created pre-upgrade will need to be restarted else they'll keep the same mounts with vers=4.0 from before the upgrade

[2018-07-03 15:41] wongma7 commented on #774
yes we should default to 4.1, this has been an issue for a while so apologies for that https://github.com/kubernetes-incubator/external-storage/issues/223#issuecomment-344972640. The code be something like
mountOptions := "vers=4.1" then
mountOptions = mountOptions + "," + v
the only reason we can't use strings.Join is because mountOptions is not an array

[2018-07-03 16:13] wongma7 commented on #838
In DO does the node need to be on for disks to be detached from it? The disk can only be attached to one node at a time so maybe kubernetes is trying to detach then re-attach the disk but failing, is there any indication of that? I am not too familiar with k8s attach/detach logic, I am not sure what it does when a pod enters state 'Unknown', maybe it thinks it is too dangerous to detach the disk e

[2018-07-03 16:24] klausenbusk commented on #838
Correct, k8s won't detach the PV as long it is in "use" by some pod.

Similar issue: https://github.com/rook/rook/issues/1507

[2018-07-03 18:34] fspaniol opened #840 "Broken link in /nfs/docs/authorization"
The `PSP and/or RBAC` link is broken.

It is currently: `* [PSP and/or RBAC](#rbac)`

It should be: `* [PSP and/or RBAC](#psp-andor-rbac)`

[2018-07-03 18:51] bjg2 commented on #838
Is that exclusively k8s decision or DO flex plugin has anything to say to it? Is there any configuration to any of those two to change this behavior?

If that's official k8s code, can you point me to the place where I can make official feature request for configuration that makes this possible, as it really hard for me to believe that this is intended usage, and that there's not even way to change

[2018-07-03 19:20] klausenbusk commented on #838
It is k8s decision (https://github.com/kubernetes/kubernetes/issues/57531#issuecomment-355139769). The flex plugin only do what it told.

According to https://groups.google.com/forum/m/#!topic/kubernetes-sig-storage/GlVxSM4tD34 a solution could be `TaintBasedEvictions`.

I'm pretty sure it is the intended behaviour at the moment. You can report issues here: https://github.com/kubernetes/kubernetes

[2018-07-03 19:46] Dremor commented on #774
What kind of data is it ?

[2018-07-03 19:47] wongma7 commented on #774
it is a plain old comma-separated string e.g. "ro,blah,a=b"

[2018-07-03 19:57] Dremor commented on #774
I see. I hope this will be fixed a soon as possible. ;)

[2018-07-03 20:28] Dremor commented on #774
In another hand, would `mountOptions := options.mountOptions` be possible ? If we support directly mountOptions, there would be no need for supporting an additional parameter.

[2018-07-04 02:57] lichuqiang commented on #824
Hmm, have you a overall implementation besides the driver? i.e. provisioner, attacher. etc.

For k8s implementation, I think if we have each driver handle a group, we'll have to deploy a provisioner and attacher for they each accordingly.

And for failure recovery, the drivers will probably be deployed as pods(containers), rather than simply install and launch. So I think we'll have multi instance

[2018-07-04 09:02] orainxiong commented on #812
@wongma7

I have created a PR #837 to do two following major works:
* Modify the implementation of leader election from `per-PVC` to `per-Class`
* Leverage informer cache rather than talking directly against `API Server`

In my scenario, those are the root which cause 'external-provisioner' getting throttling.

I have no idea which is a right way to fix the problem. If any problems, please let me

[2018-07-04 09:55] bjg2 commented on #838
Thank you very much for your help! Closing issue now.

[2018-07-04 09:55] #838 closed

[2018-07-04 10:43] gpaul commented on #824
In Mesos each instance of a CSI plugin is corresponds to a Storage Local Resource Provider (SLRP) which takes care of managing that plugin instance's lifecycle and communicates with the plugin according to the CSI spec. I believe the SLRP corresponds to both and provisioner/attacher, but I'm not very familiar with k8s.

That sounds likely, given that today we launch a SLRP per volume group (per CS

[2018-07-04 11:18] ivanmp91 opened #842 "Can't take snapshots from multiple zones on GKE"
Running a k8s cluster on GKE with a master in a single zone (europe-west1-b) and nodes in multiple zones, I get the following error when try to take a snapshot of a volume where the disk zone is different than k8s master:

[code]

Seems like [multizone](https://github.com/kubernetes-incubator/external-storage/blob/master/snapshot/pkg/cloudprovider/providers/gce/gce.go#L110) setting for k8s nodes i

[2018-07-04 11:18] ivanmp91 commented on #842
/area snapshot

[2018-07-05 09:03] kevin-zhaoshuai opened #843 "nfs-provider could not be built with latest."
Use latest version of external-storage.
[code]
With Golang version: go version go1.10.1 linux/arm64

[2018-07-05 23:55] jieyu commented on #824
@gpaul @lichuqiang i got a bit lost here. What's the concrete proposed changes regarding csilvm repo?

[2018-07-06 01:56] lichuqiang commented on #824
The [3 points above](https://github.com/kubernetes-incubator/external-storage/issues/824#issuecomment-402008443)

[2018-07-06 10:36] gpaul commented on #824
@lichuqiang

re: (2.), if i understand correctly you agree that the plugin implements (2.) correctly? (From https://github.com/kubernetes-incubator/external-storage/issues/824#issuecomment-402008443)

re: (3.), that sounds very cool. I'd be happy for any help on this.

re: (1.), I'm not yet convinced that this is necessary and it adds significant complexity to the plugin. I'm currently opposed to

[2018-07-06 13:07] jwpark74 opened #844 "[flex-provisioner] PVC pending state in Retain"
Hello,

I have been testing the creation and deletion of pv several times using the flex provisioner.

There is no problem when the reclaimPolicy value of the StorageClase is set to Delete,
With Retain, the PVC is pending for several tens of minutes

If you look at the flex provisioner container log when you are in the pending state
The following logs are still visible

I0706 12:18:09.042984

[2018-07-06 16:28] alpe commented on #842
I had the same issue today.

[2018-07-06 16:33] wongma7 commented on #842
Is there a cloud config readable by the controller? https://github.com/kubernetes-incubator/external-storage/blob/f86d0d998159dbf6908c4ef67376ce5b49da983e/snapshot/cmd/snapshot-controller/snapshot-controller.go#L54

[2018-07-06 16:43] alpe commented on #842
no, I was following the config examples in https://blog.jetstack.io/blog/volume-snapshotting/

[2018-07-06 16:49] wongma7 commented on #842
I believe the controller will need access to the same cloud config file that is passed to kube-controller-manager. I would create a configmap and mount it into the controller pod. We don't document how to do this anywhere so I'm not 100% sure this is the ideal way. @tsmetana will know, he is away for a while though.

[2018-07-06 16:54] alpe commented on #842
Thank you for your quick reply. 💐 I will find my way through the code now.

[2018-07-06 17:05] smanpathak opened #845 "local volume provisioner does not scrub data on pvc deletion"
Cluster details:
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.2", GitCommit:"5fa2db2bd46ac79e5e00a4e6ed24191080aa463b", GitTreeState:"clean", BuildDate:"2018-01-18T21:12:46Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.6", GitCommit:"9f8ebd171479bec0ada837d7ee641dec2f8c6dd

[2018-07-06 17:12] wongma7 commented on #845
Please provide logs from the provisioner & output of `kubectl describe $PV`. It should not recreate a PV unless cleaning of the Released one succeeded
/area local-volume

[2018-07-06 21:10] wongma7 opened #847 "Investigate Operator Framework?"
CoreOS has come up with this "operator" concept. https://coreos.com/operators/. What do we think about it? Should we use their SDK, which is pre-alpha in our library? Immediate benefits I see are:
- simplify our codebase. (I am not sure about this one, we have enough expertise as it is, the controller is really not that complicated being ~1000 lines, and it is not that different from upstream cont

[2018-07-06 21:54] #836 closed

[2018-07-06 22:10] wongma7 opened #848 "Clean up deploy YAMLs"
Combine YAMLs where possible. Delete YAMLs that e.g. don't have a serviceaccount and were created when RBAC was not on by default

[2018-07-06 22:11] wongma7 commented on #848
See also: https://github.com/kubernetes-incubator/external-storage/issues/649

[2018-07-07 05:56] alpe commented on #842
It works with `multizone=true` flag set in the cfg file for me now.
This is my configmap mounted into the container:
[code]
Container arguments:
[code]
Thanks again!

[2018-07-07 07:03] nagapavan commented on #754
stuck for me too. Describe log for PVC:
[code]
Looks like the functionality from Documentation: `When you create a claim that asks for the class, a volume will be automatically created.`  is no longer working.

[2018-07-07 09:12] lichuqiang commented on #824
Take is as a compatible CSI driver, I can understand your concern.
But at least for the k8s case, I can see several reasons that we are longing for the change (let the driver handle multi groups). Besides the deployment convenience it brings, here is another issue about the pvovisioner:

In a cluster with multiple types of storage (CSI and other storages that not implemented via CSI), the provisio

[2018-07-07 15:00] matthieudolci commented on #754
We had the same issue with efs and eks using the aws eks Ami for the nodes, we solved it by using `amazon-efs-utils` instead of `nfs-utils`

[2018-07-07 18:06] gpaul commented on #824
Those are good points, thanks for explaining. In that case I'm leaning towards adding this according to the preliminary design I outlined in my comment:

Is this work something you would consider contributing? I would love to have good k8s support in the CSILVM plugin.

[2018-07-09 04:03] lichuqiang commented on #824
Sounds good to me.

[2018-07-09 09:44] ivanmp91 commented on #842
Thanks a lot @wongma7 and @alpe for your replies. Tried the same workaround, using a specific configmap with the cloud config and mounted to volume controller and works like a charm.

I guess there is a better way to do it, since this flag is already setup on the cluster. kube-controller-manager is not visible in k8s managed clusters like GKE, AKS or EKS, so I'm not sure which cloud config is pass