[2018-07-09 16:11] stiller-leser opened #850 "Cross project usage of snapshots on GCP"
Hi everybody,

I just wanted to ask if it will be or already is possible to use snapshots from one project in a K8S cluster in another project? The scenario would - for example - be a CI/CD project where the snapshots are stored and a production project, in whose clusters the snapshots from the CI/CD project will be used? I could not find any documentation for this in the GCE examples.

Using the

[2018-07-09 16:36] msau42 commented on #824
One more detail to iron out.  IIUC, the lvmcsi driver accepts a list of devices and creates the vg for them.  Can it handle situations like:
- disks are dynamically added/removed from the node
- different nodes have different numbers of disks at different paths

[2018-07-09 16:39] msau42 commented on #824
Also regarding 2), I think we need to have two capacities reported in CSI, currently available and total (including used).  In general, Kubernetes does not use currently available capacity because it adds significant scheduling latency to have to wait for the available capacity to be updated.

[2018-07-09 16:41] msau42 commented on #850
cc @jingxu97

[2018-07-09 17:45] jieyu commented on #824
xref some relevant discussion regarding total vs. available capacity from `GetCapacity` call.
https://github.com/container-storage-interface/spec/pull/85#issuecomment-323154817

[2018-07-09 17:53] msau42 commented on #824
The problem I see with only reporting available capacity, is that you will need to call GetCapacity before every CreateVolume request, and you won't have accurate available capacity reported if you have multiple CreateVolume requests outstanding in parallel.  So I think we need to add back a total_capacity field so that COs have the option to be smarter with capacity tracking.

[2018-07-09 18:05] gpaul commented on #824
The `csilvm` plugin is a simple layer on top of `lvm2`'s command-line utilities. If the disks are present when the volume group is created and lvm2 can see their associated devices, then there shouldn't be a problem.

Similarly, disks that break or devices that disappear from a lvm2 volume group should show the same failure behaviour that would normally expected from a lvm2 volume group and the br

[2018-07-10 03:14] lichuqiang commented on #824
+1

[2018-07-10 10:41] happyyangyuan commented on #516
Same problem. Any solutions?

[2018-07-10 10:43] Youhana-Hana commented on #754
I have the same pvc pending issue

Name:          efs
Namespace:     default
StorageClass:  aws-efs
Status:        Pending
Volume:
Labels:        <none>
Annotations:   kubectl.kubernetes.io/last-applied-configuration={"apiVersion":"v1","kind":"PersistentVolumeClaim","metadata":{"annotations":{"volume.beta.kubernetes.io/storage-class":"aws-efs"},"name":"efs","namespa..
               volume.beta.ku

[2018-07-10 12:08] pictolearn commented on #844
I came across the same issue using KOPS.  I have followed whatever was specified here https://medium.com/@while1eq1/using-amazon-efs-in-a-multiaz-kubernetes-setup-57922e032776 but my pod file look different with an nginx instance trying to mount to the EFS cluster

[code]
here is a sample nginx yaml which i used to test
[code]

[2018-07-10 12:10] pictolearn opened #851 "PVC stuck in pending for NFS/EFS storage class. Corresponding PV is not automatically created"
I came across the same issue using KOPS.  I have followed whatever was specified in the docs and also used the following as a reference https://medium.com/@while1eq1/using-amazon-efs-in-a-multiaz-kubernetes-setup-57922e032776 but my pod file look different with an nginx instance trying to mount to the EFS cluster

[code]
here is a sample nginx yaml which i used to test
[code]
[code]

[2018-07-10 12:28] pictolearn commented on #754
I came across the same issue using KOPS.  I have followed whatever was specified in the docs and also used the following as a reference https://medium.com/@while1eq1/using-amazon-efs-in-a-multiaz-kubernetes-setup-57922e032776 but my pod file look different with an nginx instance trying to mount to the EFS cluster

[code]
here is a sample nginx yaml which i used to test
[code]
[code]

[2018-07-10 14:39] wongma7 commented on #754
Can you confirm the provisioner log looks the same as above (i.e. it is basically empty) https://github.com/kubernetes-incubator/external-storage/issues/754#issuecomment-399945726 ? What if you try a newer/older image? https://quay.io/repository/external_storage/efs-provisioner?tab=tags (What version are you using now?)

[2018-07-10 15:35] nagapavan commented on #754
I resolved the problem by creating PV volume before PVC.

[2018-07-10 16:36] wongma7 opened #852 "Release a new "lib" tag"
- [x] Audit changes & write release notes
- [x] Update vendor/dependencies https://github.com/kubernetes-incubator/external-storage/pull/826 https://github.com/kubernetes-incubator/external-storage/pull/846 to k8s 1.10 GA, etc.
- [x] Make a tag and email sig-storage

[2018-07-11 06:48] pictolearn commented on #754
I tried the same to create a PV before a PVC, did not work. Not sure if it has anything to do with the order.

[2018-07-11 09:46] kevin-zhaoshuai commented on #843
On Amd64 it is the same.

stack@kevin-xenial:~/work/src/github.com/kubernetes-incubator/external-storage/nfs$ make build
GOOS=linux go build ./cmd/nfs-provisioner
# github.com/kubernetes-incubator/external-storage/lib/controller
../lib/controller/controller.go:854:53: cannot use claim (type *"github.com/kubernetes-incubator/external-storage/vendor/k8s.io/api/core/v1".PersistentVolumeClaim) as type

[2018-07-11 11:18] tsmetana commented on #839
I don't have an Azure account and have no experience with it either. Any contributions would be welcome.

[2018-07-11 13:44] TamasKormendiMAT commented on #839
Work is ongoing, however, instead of (unmanaged) page blobs focus has shifted to managed disks, which is the recommended and more up-to-date way of using Azure Disks. Look here for more info: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/faq-for-disks and https://docs.microsoft.com/en-us/azure/virtual-machines/linux/about-disks-and-vhds#managed-disks

Updated the issue name and m

[2018-07-11 15:33] cat5 commented on #516
I feel I have to do a me too in here as well. Got NFS provisioner working, but I need block storage, so trying to get up and running, and have the save issue when trying to provision a PVC:

`Name:          iscsi-test
Namespace:     default
StorageClass:  iscsi-targetd-vg-targetd
Status:        Pending
Volume:
Labels:        <none>
Annotations:   control-plane.alpha.kubernetes.io/leader={"holderId

[2018-07-11 16:17] wongma7 opened #853 "Don't test image building in CI"
I don't think we need to test Dockerfiles anymore, building just go code should be fine.

[2018-07-11 16:22] #853 closed

[2018-07-11 17:20] wongma7 opened #854 "controller tests are flaky/racy"
just in case anybody creates a pr in the next few weeks and tests fail at `+go test ./controller` please ignore it. I introduced the problem with work queues and don't care to fix it because I think there is a high chance it will be obsolete soon anyway

[2018-07-11 18:44] #852 closed

[2018-07-12 11:04] moonek opened #855 "[nfs-provisioner] Quota not working"
Hi,

I'm testing nfs-provisioner quota feature.
Through the document below.

- `enable-xfs-quota` - If the provisioner will set xfs quotas for each volume it provisions. Requires that the directory it creates volumes in ('/export') is xfs mounted with option prjquota/pquota, and that it has the privilege to run xfs_quota. Default false.

I've tested it to make sure that quota is guaranteed in PV u

[2018-07-12 13:22] wongma7 commented on #591
I'm going to set threadiness to 1 as a workaround for now.

[2018-07-12 13:55] wongma7 commented on #855
Thanks for your detailed logs.
What's the output of `xfs_quota -x -c 'report /mnt/moon-test'` from the nfs-server?
What if you manually manipulate the quota from nfs-server? e.g. run commands like (I'm sorry, I"m not sure if these exact commands are correct) to enable the project quota
`xfs_quota -x -c 'project -s -p /export/pvc-e8a8e853-85be-11e8-bb88-00505623ebd7 1' /mnt/moon-test` or to change

[2018-07-12 14:14] msau42 commented on #842
Another challenge is that a cluster may not start with a multizone config.  It may add new zones later.

[2018-07-12 18:46] SamolazovRoman opened #856 "Unable to mount volumes"
[code]

[2018-07-12 18:48] SamolazovRoman commented on #856
[code]

[2018-07-12 20:41] wongma7 commented on #847
I still am not sure what the heck an operator is tbh. But the result of my "investigation" is we are going to do this regardless :))

[2018-07-12 20:41] #847 closed

[2018-07-13 01:48] moonek commented on #855
Thank you for quick response.
I also don't know `xfs_quota`, but it seems to be manual.
I made a new volume. (`pvc-d22fc16e-8639-11e8-9a0e-005056151053`)
[code]

I did the command you gave me, but the `/export` directory is a directory inside the container, so host did not recognize it.
[code]

So when I created the project with the host path, I saw that the project was added.
[code]

After manual

[2018-07-13 03:14] kevin-zhaoshuai commented on #843
Could build with Go 1.10.3
Close

[2018-07-13 03:14] #843 closed

[2018-07-13 13:18] wongma7 commented on #855
Hm, yeah I mixed my commands and they have 1/2 container paths mixed with 1/2 host paths. What if we try running commands from the container?
`xfs_quota -x -c 'project -s -p /export/pvc-d22fc16e-8639-11e8-9a0e-005056151053 1' /export`
Is it mounted with the prjquota option inside the container? `mount | grep export`

A privileged container should have no problems manipulating the quota. None of th

[2018-07-13 14:13] #591 closed

[2018-07-13 17:11] wongma7 commented on #856
Do you have the flex plugin installed?

[2018-07-13 19:50] SamolazovRoman commented on #856
i think me need just run manifests from https://github.com/kubernetes-incubator/external-storage/tree/master/digitalocean

[2018-07-13 19:52] SamolazovRoman commented on #856
[code]

[2018-07-13 19:54] wongma7 commented on #856
OK, so since your pod/digitalocean-flexplugin-deploy are Running successfully I assume you changed the hostpath to e.g. /usr/libexec/kubernetes/kubelet-plugins/volume/exec/ https://github.com/kubernetes-incubator/external-storage/blob/master/digitalocean/manifests/digitalocean-flexplugin-deploy.yaml#L42?

Can you check your kubelet log for lines containing "no volume plugin matched" and post the l

[2018-07-13 19:56] SamolazovRoman commented on #856
where can i check?

[2018-07-13 20:01] wongma7 commented on #856
It depends how kubernetes is installed. SSH into a node & the kubelet logs may be under /var/log/kubelet or managed by `journalctl -u kubelet`

[2018-07-13 20:03] SamolazovRoman commented on #856
i have created volume in DO
[code]

[2018-07-13 20:06] SamolazovRoman commented on #856
[code]

[2018-07-13 20:10] wongma7 commented on #856
OK so PV was never created?
here is the error:
Failed to provision volume with StorageClass "default": invalid character 'U' looking for beginning of value
can you post the storageclass? `kubectl describe sc`

[2018-07-13 20:34] SamolazovRoman commented on #856
[code]

[2018-07-13 20:36] wongma7 commented on #856
@klausenbusk do you have any ideas about this error `Failed to provision volume with StorageClass "default": invalid character 'U' looking for beginning of value`? Lots of specs/logs provided.

[2018-07-13 20:45] SamolazovRoman commented on #856
some time before
[code]

[2018-07-13 20:46] wongma7 commented on #856
what if you `kubectl logs` one of the pods in the digitalocean-provisioner deployment?

[2018-07-13 20:48] SamolazovRoman commented on #856
[code]

[2018-07-13 20:50] SamolazovRoman commented on #856
in DO volume pvc-bb994a75-8605-11e8-a28c-6e99e845e05e existing

[2018-07-13 22:11] klausenbusk commented on #856
What tool did you use to setup k8s? and could I get the log from the provisioner pods? (`kubectl -n kube-system logs -l app=digitalocean-provisioner`)

I assume (?) the provisioner is returning a non-json error, which explain the weird error.

[2018-07-14 03:14] SamolazovRoman commented on #856
[code]

[2018-07-14 13:42] orainxiong commented on #847
[`kubebuilder`](https://github.com/kubernetes-sigs/kubebuilder) may be another not bad option. IMO you'd better have a look at it if possible.

[2018-07-14 19:29] klausenbusk commented on #856
The token is either invalid or revoken. Did you create a RW (read-write) token? and did you remember to base64 encode it before inserting it into manifests/digitalocean-secret.yaml ?

[2018-07-14 19:31] SamolazovRoman commented on #856
token is valid, it create volume pvc-bb994a75-8605-11e8-a28c-6e99e845e05e

[2018-07-14 19:50] klausenbusk commented on #761
Please either close this issue or provide more information.

`Failed to provision volume with StorageClass "default": invalid character 'U' looking for beginning of value` is probably due to https://github.com/digitalocean/godo/issues/142 which I will fix shortly.

[2018-07-14 19:56] klausenbusk commented on #856
So the token was valid at some point. Note `pvc-bb994a75-8605-11e8-a28c-6e99e845e05e` != `pv1` (at least according to the log).
Please delete all the the digitalocean-provisioner pods and provide me with new logs:
[code]

[2018-07-14 20:09] SamolazovRoman commented on #856
[code]

[2018-07-14 20:10] SamolazovRoman commented on #856
[code]

[2018-07-14 20:15] klausenbusk commented on #856
I assume vol1 has been provisioned (`kubectl get pvc vol1`)? What tool did you use to create the cluster?

[2018-07-14 20:16] SamolazovRoman commented on #856
[code]

[2018-07-14 20:18] SamolazovRoman commented on #856
[code]

myself terraform

[2018-07-14 20:20] SamolazovRoman commented on #856
[code]

[code]

[2018-07-14 20:32] klausenbusk commented on #856
Sorry my bad. `kubectl get pvc pv1`.

[2018-07-14 20:33] SamolazovRoman commented on #856
[code]

[2018-07-14 20:34] SamolazovRoman commented on #856
[code]

[2018-07-14 20:36] SamolazovRoman commented on #856
[code]

[2018-07-14 20:38] SamolazovRoman commented on #856
maybe problem in old docker?

[2018-07-14 21:02] klausenbusk commented on #856
Probably not.
Does `kube-controller-manager` and `kubelet` has access to the flexvolume plugin?

[2018-07-16 01:50] moonek commented on #855
If I run it inside a container, it looks like this:
[code]
Mount is printed as `prjquota`.
However, nothing is printed with the `xfs_quota` command.
[code]

The deployment yaml is in the body and the container runtime is also privileged.
[code]

[2018-07-16 12:54] klausenbusk commented on #856
@SamolazovRoman Please try the official [DigitalOcean CSI driver](https://github.com/digitalocean/csi-digitalocean). It is [now](https://github.com/kubernetes-incubator/external-storage/pull/858) recommended for new clusters.

[2018-07-16 12:56] klausenbusk commented on #732
@wongma7 could you close this issue?

@ikamman Please try the official [DigitalOcean CSI driver](https://github.com/digitalocean/csi-digitalocean), if you still have issues. It is [recommended](https://github.com/kubernetes-incubator/external-storage/pull/858) for new clusters.

[2018-07-16 12:57] #732 closed

[2018-07-16 13:01] klausenbusk commented on #761
@wongma7 This issue also seems to be "stuck". Could you close it?

The `invalid character 'U' looking for beginning of value` error was due to a bug in godo which has been fixed (https://github.com/digitalocean/godo/pull/156). I did push a fixed version yesterday.

[2018-07-16 13:08] #761 closed

[2018-07-16 21:08] whereisaaron commented on #606
Hi @michaelajr @wongma7, the EFS Provisioner Helm chart has just gone stable

  https://github.com/kubernetes/charts/tree/master/stable/efs-provisioner

So you can now deploy efs-provisioner to a cluster with as little as:
[code]
and all currently available configuration options can be set using Helm [deployment values](https://github.com/kubernetes/charts/tree/master/stable/efs-provisioner#config

[2018-07-17 02:11] Mattsky opened #860 "cephfs in GKE: PV / PVCs not being deleted"
PVs and PVCs are being created properly using the provisioner, but once the hosting namespace is deleted, the cleanup fails. Logs follow:

`E0717 01:49:33.363126       1 cephfs-provisioner.go:261] failed to delete share "kubernetes-dynamic-pvc-ccaa8dc9-8959-11e8-8e61-625c2d54d0bc" for "kubernetes-dynamic-user-ccaa8e64-8959-11e8-8e61-625c2d54d0bc", err: exit status 1, output: Traceback (most recent

[2018-07-17 17:42] Mattsky commented on #860
Followup: did some checking, it seems this release is geared for Mimic, where the cluster is Luminous. Going to try upgrading the cluster and see if that resolves the issue.

[2018-07-18 17:10] SeanTurner026 commented on #856
@SamolazovRoman  were you ever able to get your volumes to mount? I'm encountering exactly the same problem and haven't found a resolution. I explored DigitalOcean CSI, REX-RAY, and probably another solution. I'll give CSI another try I suppose.

[2018-07-18 20:04] SamolazovRoman commented on #856
@SeanTurner026 i use AWS EBS volumes and i think DO equally.
but i have k8s cluster 1.9.3 and don't use recommendation @klausenbusk DigitalOcean CSI driver.

[2018-07-18 20:19] klausenbusk commented on #856
@SeanTurner026 Have you checked that both `kube-controller-manager` and `kubelet` has access to the flexvolume plugin? and has registered it successful?

[2018-07-18 20:30] Mattsky commented on #860
Cluster's upgraded to Mimic, and the problem persists.

[2018-07-18 20:59] Mattsky commented on #860
I've tried getting a shell into the provisioner container, and have confirmed it can talk to the cluster. I've also tried deleting the PV / PVC only before deleting the namespace and get the same error as originally:

`[root@cephfs-provisioner-6bfb6d6467-x2kmw ceph]# CEPH_AUTH_KEY=<KEY_HERE> CEPH_AUTH_ID=<ADMIN_USER_HERE> CEPH_MON=<MONITOR_IP> python /usr/local/bin/cephfs_provisioner -r -n kuberne

[2018-07-18 21:20] Mattsky commented on #860
More info: this has only started happening since updating the container image from:

`quay.io/external_storage/cephfs-provisioner@sha256:d3be97e4f67632b5d3daed7fb38c5dbb160eeae34fc9fa79a03590a9bf7cc0d3`

[2018-07-18 21:37] Mattsky commented on #860
Another update - I reverted the container back to the version I listed in the previous comment and tried the ops again. This time, I got the following:

`$ k logs -f cephfs-provisioner-78c9b8f54c-d4zz4 -n cephfs
I0718 21:32:44.120905       1 cephfs-provisioner.go:403] Creating CephFS provisioner ceph.com/cephfs with identity: cephfs-provisioner-1, secret namespace:
I0718 21:32:44.138002       1 co

[2018-07-19 02:17] cofyc commented on #737
/assign

[2018-07-19 07:41] cofyc commented on #737
Related issues and prs: #710, #711.

[2018-07-19 09:46] sdkfzv opened #862 "[nfs-provisioner] Find some errors in "/export/ganesha.log" and the ganesha failed to start."
I create the nfs-provisioner with the "statefulset.yaml" in
kubernetes-incubator/external-storage/nfs/deploy/kubernetes/statefulset.yaml

Here is the  "/export/ganesha.log":
[code]
Seems the "path /nonexistent" is wrong?
But I still got error if I set the path to "/".

[2018-07-19 11:35] MartinForReal commented on #475
I'm glad to help

[2018-07-19 12:36] wongma7 commented on #860
Have you configured the class parameter `adminSecretNamespace`? https://github.com/kubernetes-incubator/external-storage/blob/master/ceph/cephfs/example/class.yaml#L10 IIRC it was implemented to isolate secrets from user's namespace because they shouldn't have access to them & in case they delete them like here.

[2018-07-19 14:18] wongma7 commented on #862
The error can be ignored. Does provisioning work? What is the output of `kubectl log $PROVISIONER_POD`?
/area nfs

[2018-07-19 16:12] wongma7 commented on #475
fyi @MartinForReal https://github.com/kubernetes-incubator/external-storage/pull/533/files was WIP but nobody was around to review it. ping @hzxuzhonghu sorry nobody could review it, we can continue working on it now as I will be available.

[2018-07-19 16:23] Mattsky commented on #860
Yep:

`
$ k get sc cephfs -o yaml
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: | BLAH
  creationTimestamp: 2018-04-26T17:27:15Z
  name: cephfs
  resourceVersion: "33017023"
  selfLink: /apis/storage.k8s.io/v1/storageclasses/cephfs
  uid: 0ff4a76c-4977-11e8-ad73-42010a800046
parameters:
  adminId: ADMIN_ID
  adminSec

[2018-07-20 05:46] moonek opened #865 "[flex] Build failed."
Can I find out why the `flex-provisioner` build is not working?

[code]

[2018-07-20 06:21] moonek commented on #865
It was built in GOPATH.
[code]

I will close the issue.

[2018-07-20 06:21] #865 closed

[2018-07-20 14:28] killfill opened #867 "Local Volume Provisioner requires 'mount --bind' after a mount is successfully mounted from inside pod"
Hello all,

Im trying to use local volumes with the static provisioner, looks like a great thing!
But not sure if im missing something or not.

When creating a mount on the host, like this:
```mount -t tmpfs vol /disks/vol```

then the log shows this, and stays in that this 'state':

```discovery.go:201] Path "/disks/vol" is not an actual mountpoint```

When entering inside the pod where the stati

[2018-07-20 20:03] msau42 commented on #867
Hi @killfill, are you running the local static provisioner with "HostToContainer" mount propagation, like in the example spec?

[2018-07-20 21:11] #737 closed

[2018-07-23 02:20] moonek opened #868 "[flex-provisioner] How can interface from flex-provision.sh?"
If I print `$*` from the `doprovision()` function, there is only `kubernetes.io/pvOrVolumeName` and `parameters` of `StorageClass`.

Can't get pvc `capacity` information from `doprovision()`?

And Can I set the value of the parameter in the `doprovision()` function and return it?

[2018-07-23 04:27] dove-young opened #869 "deployment and pod YAML file format error under gluster/file/deploy/ directory"
These two YAML file cannot be applied into K8S. The expected container and env variables would be array but they were mistakenly given as map data type

[code]

[code]

[2018-07-23 13:40] deniskril opened #871 "Cephfs: Dynamyc provisioning not working"
Hello.

Please help, I deploy cephfs storageclass, add admin secret, but when i create claim i receive error:
`I0723 13:11:56.004099       1 leaderelection.go:156] attempting to acquire leader lease...
I0723 13:11:56.010280       1 leaderelection.go:178] successfully acquired lease to provision for pvc kube-test/claim1
I0723 13:11:56.012589       1 event.go:218] Event(v1.ObjectReference{Kind:"Pers

[2018-07-23 14:10] wongma7 commented on #868
https://github.com/kubernetes-incubator/external-storage/blob/master/flex/pkg/volume/provision.go#L110 only passes `PVName`, we will need to make it pass capacity as well, manually

For return value, I think the only thing you can do is return some json stdout and change the code to parse it https://github.com/kubernetes-incubator/external-storage/blob/master/flex/pkg/volume/provision.go#L114 .

I

[2018-07-23 15:35] mrnicoco commented on #772
We could check if the monitor is already an IP address otherwise resolving through DNS. Now we need to create (and maintain) NS A entries ...

A check with something like https://golang.org/pkg/net/#ParseIP

[2018-07-23 17:01] killfill commented on #867
Hi @msau42,

Yes, i triple checked, and the manifest im using does include the "HostToContainer" value, like this:

[code]

But i noticed that when asking for that data to kubeapi, there is no registry about that.
[code]

im using v1.10.1:
[code]

I noticed, in the begining of the readme, it tells about some feature flags that need to be enabled, like
`export KUBE_FEATURE_GATES="BlockVolume=true"`

[2018-07-23 17:11] msau42 commented on #867
You shouldn't need the BlockVolume feature gate, and the MountPropagation feature should be on by default in 1.10.

I think there may be an issue with your volumeMount config.  The spec you pasted shows the mountPath as "/storage/local-disk", but the logs are referring to "/disks" as the discovery directory path.  The provisioner spec is a bit tricky to craft and it requires the volumeMounts.mount

[2018-07-23 17:35] killfill commented on #867
@msau42 Yes sorry.

I changed the directory a couple of hours ago.
Just for clarity, here is the manifest im using:

https://pastebin.com/raw/sux5FuUE

The logs shows this, when i do a new mount in /storage/local-disk/vol-01, inside the Host:

```E0723 17:29:32.362064       1 discovery.go:201] Path "/storage/local-disk/vol-01" is not an actual mountpoint```

Docker mount options looks like this:

[2018-07-23 17:50] msau42 commented on #867
Yes, it should say rslave.  So for some reason it seems like the mount propagation setting is not getting passed through.  Can you double check the "feature-gate" arguments passed to your kube-apiserver and kubelets?

cc @jsafrane

[2018-07-23 17:52] killfill commented on #867
OMG, it contains this:

```--feature-gates=MountPropagation=false```

8|

[2018-07-23 17:59] msau42 commented on #867
The MountPropagation feature originally changed the default mode for all volume mounts to rslave, which caused regressions in certain environments (maybe that's why it was disabled for you).

In 1.10.3, the default mode was changed back to private: https://github.com/kubernetes/kubernetes/pull/62462

[2018-07-23 18:01] wongma7 commented on #772
problem 1 should be fixed by adding coredns support https://github.com/kubernetes-incubator/external-storage/pull/861
The rest I will fix/review
/assign

[2018-07-23 18:20] andor44 commented on #772
I'm curious, why hardcode DNS resolution? Why not just use general system/pod-provided DNS resolution?

[2018-07-23 19:06] andor44 commented on #772
The former. The second, I can understand although I'd never do it myself. I see no reason to do DNS by hand like it is being done right now. Just use `net.LookupHost` and let the underlying infrastructure worry about how DNS resolution happens. This also gives users of the provisioner more control, as they can use whatever resolution they want (in cluster or external etc.)

[2018-07-23 20:02] deniskril commented on #871
when I create a manual pv, then everything works
`apiVersion: v1
kind: PersistentVolume
metadata:
  name: cephfs-test
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteMany
  storageClassName: cephfs
  cephfs:
    monitors:
      - 10.1.1.1:6789
      - 10.1.1.2:6789
      - 10.1.1.3:6789
    user: kubetnetes
    secretRef:
      name: cephfs-secret
    readOnly: false
  persistent

[2018-07-23 20:09] wongma7 commented on #871
No, it doesn't look like it creates the directory for you. The code says it only sets the environment variable CEPH_VOLUME_ROOT=/volumes/kubernetes. I am not familiar with ceph fs but it seems like you need to create /volumes/kubernetes beforehand, if that makes sense.

[2018-07-23 20:19] wongma7 commented on #475
thank you again to @MartinForReal for your offer and @hzxuzhonghu for writing and updating the gopkg.toml, this is done!

[2018-07-23 20:19] #475 closed

[2018-07-23 20:20] wongma7 opened #873 "Update README and docs in docs/"
I doubt anybody is reading too much of it but it's outdated so it needs to be updated or better, removed/made more concise

[2018-07-23 20:22] deniskril commented on #871
How can i fix this problem?

[2018-07-23 20:32] wongma7 commented on #871
Actually I was wrong, it looks like the Ceph client creates the path for you https://github.com/ceph/ceph/blob/master/src/pybind/ceph_volume_client.py#L620 so /volumes/kubernetes is automatically created.

We need to see logs from the server/monitor side to find out what is wrong and fix it IMO, because the client is just silently timing out.

[2018-07-23 20:32] wongma7 commented on #871
You can also ask in kubernetes slack, #sig-storage maybe, maybe somebody there has some ceph fs expertise they can share...

[2018-07-23 20:47] deniskril commented on #871
`2018-07-23 22:44:59.128728 7f00186f3700  1 mon.ceph-0@0(leader).mds e1 Client subscribed for legacy filesystem but none is configured
2018-07-23 22:45:06.292339 7f0018ef4700  0 mon.ceph-0@0(leader).data_health(6) update_stats avail 85% total 29101 MB, used 2745 MB, avail 24855 MB
2018-07-23 22:45:29.298417 7f00186f3700  1 mon.ceph-0@0(leader).mds e1 Client subscribed for legacy filesystem but non

[2018-07-23 20:58] wongma7 commented on #871
@cofyc do you know what "Client subscribed for legacy filesystem but none is configured" means? ty~

[2018-07-23 21:00] killfill commented on #867
Manage to turn that flag to true, and things seems to be working fine!

Thanks!!

[2018-07-23 21:00] #867 closed

[2018-07-23 21:13] deniskril commented on #871
log from kube-node:
`Jul 23 23:12:21 kube-node6 ceph-create-keys[12319]: admin_socket: exception getting command descriptions: [Errno 2] No such file or directory
Jul 23 23:12:21 kube-node6 ceph-create-keys[12319]: INFO:ceph-create-keys:ceph-mon admin socket not ready yet.
Jul 23 23:12:22 kube-node6 ceph-create-keys[12319]: admin_socket: exception getting command descriptions: [Errno 2] No such fi

[2018-07-24 00:49] moonek commented on #868
OK, After all, I knew I had to modify the `provision.go`.
I was able to import it in any way I wanted by referring to other sources.

Like this..
[code]
I felt that I needed to study golang.
Thank you.

[2018-07-24 00:49] #868 closed

[2018-07-24 02:38] cofyc commented on #871
I don't know either

[2018-07-24 07:54] Overv opened #874 "hostpath-provisioner does not compile"
After running `glide up` and `make` in the `hostpath-provisioner` directory I get the following compile errors:

[code]

[2018-07-24 08:18] Overv commented on #874
Never mind, I built it on a different system and it worked fine there.

[2018-07-24 08:18] #874 closed

[2018-07-24 10:21] alpe opened #875 "Implementation of `LabelSelector` for snapshots"
This is more a question why they are [disabled](https://github.com/kubernetes-incubator/external-storage/blob/master/snapshot/cmd/snapshot-pv-provisioner/snapshot-pv-provisioner.go#L98)? And is there an alternative solution to this?

In my scenario I create snapshots on GCP by a `cronjob` every x hours. These snapshots are supposed to be used by a **StatefulSet** `volumeClaimTemplates` when spanni

[2018-07-24 11:16] Arau opened #876 "Can't build nfs provisioner"
Hi,

I'm trying to build the nfs provisioner but it results in the following error.

I tried compiling with GO 1.10 and 1.9 resulting in the same compilation error.

[code]

Any help would be appreciated as I'm trying to edit where the pvc name in /export is created so I can map persistent volumes with an external provisioner to /export/MY_NEW_LOCATION_PERSISTED/pvc-nfs-id

[2018-07-24 13:05] wongma7 commented on #876
it has something to do with $GOPATH, k8s-incubator-storage-forked/ is not in your $GOPATH, you need to clone the repo into $GOPATH/src/github.com/kubernetes-incubator/external-storag

[2018-07-24 22:19] killfill commented on #867
Hi @msau42,

Just for clarity, and if it helps someone else that could be hitting a similar problem, im seeing this, when trying to make a pod mount the local-volume:

https://github.com/rancher/rke/issues/500

Should kubelet really have access to the directory where the mounts are?

[2018-07-24 22:21] killfill commented on #867
Oh i take it back :P

I guess the 'defaults' kubelet deployment's run in the host, not as a container, so this is not really needed.

Thanks

[2018-07-25 07:52] camrossi opened #878 "rbd-provisioner is not being used"
Hello,

I have deployed a CEPH cluster and followed the installation guide for the external-storage and everything seems to be working fine until a POD tries to use the PVC. I then get the "fail to check rbd image status with: (executable file not found in $PATH), rbd output: ()"

This error points to the fact that kube-controller-manager does not have rbd installed but I should not be using this

[2018-07-25 09:17] joshisumit opened #879 "StorageClass does not support fstype parameter in snapshot-promoter Provisioner"
Kubernetes v1.9.5

[code]

If I add fsType: xfs parameter, I will not be able to run PVC properly.

[code]

PVC creation fails with an error:
`Warning  ProvisioningFailed    9s (x4 over 51s)  volumesnapshot.external-storage.k8s.io/snapshot-promoter Failed to provision volume with StorageClass "snapshot-promoter": invalid option "fsType" for volumesnapshot.external-storage.k8s.io/snapshot-promoter`

[2018-07-25 09:47] Arau commented on #876
Thank you very much! Sorry my ignorance regarding golang.

[2018-07-25 09:47] #876 closed

[2018-07-25 14:47] wongma7 commented on #878
the provisioner has created a volume but I think kubelets still need the rbd binary to verify that an rbd volume has been attached.
/area ceph/rbd

[2018-07-25 16:06] SeanTurner026 commented on #856
@samolazov I was able to get up and running with the DigitalOcean CSI driver using a one master one worker configuration. Getting things working with multiple workers is now the source of confusion for me however.

[2018-07-25 17:30] Mattsky commented on #860
I've done a little more investigation and restarted the pod just to see what happened. The following output seems to indicate the secret namespace is blank:

[code]

I'm assuming that's the secret namespace for each dynamic user secret as opposed to the admin one? I'm going to try setting this in the container env and see if this sidesteps the issue.

[2018-07-25 17:59] Mattsky commented on #860
After trying that, the provisioner still doesn't clean up the PV after the namespace is deleted. No errors are thrown, at least.

[2018-07-25 18:43] #860 closed

[2018-07-25 21:47] camrossi commented on #878
That was it thank you so much!
I did not see it documented anywhere that you had to install rbd on the K8S node itself but maybe I missed it.

[2018-07-25 21:47] #878 closed

[2018-07-26 05:20] sdkfzv commented on #862
It's ok now, thanks

[2018-07-26 05:20] #862 closed

[2018-07-26 06:44] npu21 opened #884 "the difference between provisioner kubernetes.io/cinder from openstack.org/standalone-cinder"
maybe it's not the right place to ask here，but could any one tell me what's the difference in provisioner kubernetes.io/cinder from openstack.org/standalone-cinder
as we all know there are two kinds of provisioner in kubernetes storageclass one is：

kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
name: hdd1
provisioner: kubernetes.io/cinder
parameters:
type: HDD1 # change for your cloud

[2018-07-26 15:52] wongma7 commented on #884
The up-to-date cinder provisioner lives here now https://github.com/kubernetes/cloud-provider-openstack/tree/master/pkg/volume/cinder , you may have better luck asking there.
kubernetes.io/cinder refers to the in-tree (built-in to kubernetes) plugin and openstack.org/standalone-cinder to the external/out-of-tree at the place I linked, I am not sure what is different between them other than that

[2018-07-27 01:46] kuops opened #885 "pod mount volume failed"
[code]

[code]

[code]

[2018-07-27 09:11] jonaskello opened #887 "[nfs-client] Missing setup step in docs"
The readme for nfs-client has these setup steps:

1. Editing
2. Authorization

AFAICS there is no step or commands listed that creates the objects for the deployment, but there are commands to create the authorization objects under step 2.

So I think it should be something like this:

1. Editing
2. Create deployment & storage class
3. Authorization

Where step 2 "Create deployment & storage class

[2018-07-27 13:18] wongma7 commented on #885
It sounds like the "keyring" needs to be present on the host? So that the kubelet can read it.
/area ceph/rbd

[2018-07-28 01:37] kuops commented on #885
thanks，when i add the /etc/ceph/keyring file to node，pod is runing，but how to change /etc/ceph/keyring path to /etc/ceph/ceph.client.admin.keyring

[2018-07-28 01:45] kuops commented on #885
why node need  /etc/ceph/keyring  , secret is exists key

[2018-07-28 12:39] gargankur74 commented on #754
I am using EKS and installed amazon-efs-utils on each individual host but still getting timeout error with mount. Attached are the logs:
`$ kubectl version
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3", GitCommit:"2bba0127d85d5a46ab4b778548be28623b32d0b0", GitTreeState:"clean", BuildDate:"2018-05-28T20:16:17Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}

[2018-07-28 12:43] gargankur74 commented on #754
I am using EKS and getting timeout error while mounting pv-volume. Attached are the logs:

[code]

[2018-07-28 16:06] platten opened #889 "Unable to provision PVC using nfs-client provisioner (read-only file system)"
Hello,

I have installed the nfs-client provisioner and am running into problems when trying to provision a new PVC for the test pod. Any ideas?

`I0728 15:48:45.979529       1 controller.go:615] Starting provisioner controller b6259031-927d-11e8-80f3-7ee6eeadc776!
I0728 15:48:45.989298       1 controller.go:652] Started provisioner controller b6259031-927d-11e8-80f3-7ee6eeadc776!
I0728 15:53:16.9

[2018-07-30 08:53] cofyc opened #890 "Failures not saved in queue"
[code]

[2018-07-30 13:35] wongma7 commented on #885
It seems like a bug in the provisioner, it should set one of secret or keyring, not both.
upstream: https://github.com/kubernetes/kubernetes/blob/69176615e54468f0f43d08ffe0956c67f0706d78/pkg/volume/rbd/rbd.go#L682
@cofyc

[2018-07-30 13:37] wongma7 commented on #889
the provisioner doesn't have write access to /persistentvolumes/. What are the permissions on this directory?

[2018-07-30 13:42] wongma7 commented on #890
Even when exponentialBackOffOnError is false I guess there should be some other kind of `FailureRateLimiter`

[2018-07-30 17:41] aglitke commented on #884
Hi!  The standalone-cinder is designed for using cinder when the k8s nodes
are not part of an openstack cloud.  It works without requiring Nova for
handling volume attachment.  You can configure the standalone-cinder
provisioner to communicate with an existing Keystone instance or directly
with Cinder using noauth.  The other provisioner IIUC is associated with
the Openstack cloud provider and exp

[2018-07-30 20:45] wongma7 commented on #890
The fix is to make a NewItemExponentialFailureRateLimiter with maxDelay == baseDelay

[2018-07-31 00:04] omalley commented on #889
I had a related problem with nfs-client. In particular, I had changed the

[code]

which created the new PVCs in /persistentvolumes, but the nfs mount point was /my-path. Changing the mountPath to /persistentvolumes fixed the problem.

[2018-07-31 01:40] cofyc commented on #885
/assign
I'll take a look at later.

[2018-07-31 02:34] cofyc commented on #885
hi, `keyring` file does not need to be present on the host.

`rbd-provisioner` only set `secretRef` filed. `/etc/ceph/keyring` is [default value of `RBDPersistentVolumeSource`](https://github.com/kubernetes/kubernetes/blob/69176615e54468f0f43d08ffe0956c67f0706d78/pkg/apis/core/v1/defaults.go#L381). If `secretRef` field is set, `keyring` is ignored.

Could you paste output of `ceph auth get client.

[2018-07-31 04:47] cofyc opened #895 "rbd-provisioner: cannot create image in format 1 against jewel cluster with mimic rbd"
I am running a ceph cluster of jewel cluster.
rbd-provisioner is able to create image in format 1 with luminous rbd, after [upgrading to mimic](https://github.com/kubernetes-incubator/external-storage/pull/841), it fails to create image in format 1.

[code]

From [minic docs](http://docs.ceph.com/docs/mimic/man/8/rbd/), image format 1 is supported (although deprecated).

I don't know if this is bu

[2018-07-31 13:14] #890 closed

[2018-07-31 13:16] wongma7 commented on #895
sure, let's do it, we just need 3 dockerfiles. And I guess I will write some script so i don't have to build-push each on my local machine and I can make travis do it instead

[2018-07-31 13:43] kuops commented on #885
[code]

[2018-08-01 02:11] npu21 commented on #884
get it,really thank you both! @wongma7 @aglitke

[2018-08-01 02:14] cofyc commented on #885
Secret auth is right, my guess is wrong.

Could you clean all files under /etc/ceph and then run this command to test your rbd client on that node can connect to ceph cluster?

[code]

If this does not work, run following command to view kernel logs:

[code]

and paste ceph/rbd/rados related messages here.

And run following commands both on your k8s worker node and ceph server:

[code]

[2018-08-01 02:49] ktpktr0 commented on #345
I also encountered this problem, but I don't know how to solve this problem. Is it necessary to upgrade the ceph version to mimic? I am using "quay.io/external_storage/cephfs-provisioner:latest", I see someone modifying cephfs_provisoner.py to remove the namespace part, I don't know if it can be solved, and I don't know how to modify this image

[2018-08-01 03:15] ktpktr0 opened #897 "About CephFS Provisioner input/output errors"
I also encountered this problem, but I don't know how to solve this problem. Is it necessary to upgrade the ceph version to mimic? I am using "quay.io/external_storage/cephfs-provisioner:latest", I see someone modifying cephfs_provisoner.py to remove the namespace part, I don't know if it can be solved, and I don't know how to modify this image

My k8s version is 1.10.3, the ceph version is lumino

[2018-08-01 08:02] ktpktr0 commented on #345
@tmysl Hello, can you tell me the specific steps? Thank you

[2018-08-01 08:09] michaeleino opened #898 "[nfs-provisioner] Update storageClassName definition"
switch the storageClassName definition to adapt kubernetes changes..

[As Docs here](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#class):--

the yaml files is working... but the resulting volumes doesn't have the StorageClass field.
![screenshot from 2018-08-01 09-56-46](https://user-images.githubusercontent.com/6287237/43509046-dd9dab6a-9571-11e8-8c76-bb3adcfdf804.png)

Should

[2018-08-01 11:06] kuops commented on #885
is cleaning,the result
[code]

[2018-08-01 11:11] cofyc commented on #885
Your `rbd ls` command is run successfully. Please try `rbd map`, probably because "feature set mismatch" issue.

[code]

BTW, your ceph client version is `12.2.7`, what's your ceph server version? Could you run `ceph --version` on your ceph server node?

[2018-08-01 11:31] kuops commented on #885
ceph version the same as client
[code]

[2018-08-01 11:42] cofyc commented on #885
`rbd map` is run successfully too, that means kubelet on your node `k8s-node-1` should be able to map rbd image on the host (kubelet rbd plugin executes `rbd map` with monitors and secrets from PV to map rbd image).
Could you create a pod on your `k8s-node-1` to test it again? (you can set `pod.Spec.nodeName` to `k8s-node-1`, then it will be started on `k8s-node-1`).
If it still failed to mount vo

[2018-08-02 07:42] szamuboy commented on #885
I'm not sure whether it helps or not but I used to get the very same error message when I mess up the content of the ceph secrets. The error message is rather misleading.
@cofyc, please note, that the README.md for ceph/rbac was wrong before #899. If you followed the wrong instructions, you got a wrong `client.kube` secret. Please check the updated docs and pay attention to this line when you crea

[2018-08-02 08:46] tsmetana commented on #879
I'm not sure it's possible to restore the volume from snapshot and change the filesystem along with it -- so adding fsType parameter support to the snapsht provisioner class might not make sense. However there is definitely a bug here: AWS uses the original volume's filesystem when restoring a volume and since we hard-code "ext4", the new PV fails to mount. I will try to fix this first.

Thanks fo

[2018-08-02 12:03] kuops commented on #885
@cofyc  now, pod is running
[code]

[2018-08-02 20:39] rafael-azevedo opened #901 "In transit encryption"
Hello,

I dug through the documentation and do not see this referenced anywhere. Does this support in transit encryption for EFS mounts on the pods ?

[2018-08-02 20:53] wongma7 commented on #901
No, not at the moment. We won't be able to use the "mount helper" that does `mount -t efs...` (which must be a recent development...) but the stunnel method may be feasible. https://docs.aws.amazon.com/efs/latest/ug/encryption.html
/area aws/efs

[2018-08-02 21:46] rafael-azevedo commented on #901
Thanks for the info !

[2018-08-02 21:46] #901 closed

[2018-08-04 03:27] gokulpch opened #903 "[RBD Volume Provisioner] Ceph Volumes Unmount fails with reboot of the node and pods fail due to already claimed PV that has not been released"
#### Environment:

* Kubernetes HA Cluster with three Masters and the same serving as Nodes (tainted-master)

[code]
* Kubernetes Version: 1.11.1-0
* Rbd_Provisioner version:  rbd-provisioner:v0.1.1(Jewel - quay.io/external_storage/rbd-provisioner:v0.1.1)
* OS: RHEL Enterprise

#### Issue:

As part of failover testing whenever a node in the cluster is rebooted, Kubernetes tries to schedule/shift t

[2018-08-06 01:05] #897 closed

[2018-08-06 01:07] ktpktr0 commented on #345
Upgrade the linux kernel to 4.10 and above or upgrade the ceph to mimic version

[2018-08-06 01:07] ktpktr0 commented on #897
Upgrade the linux kernel to 4.10 and above or upgrade the ceph to mimic version

[2018-08-07 01:11] patrickdk77 commented on #836
I'm still not having any luck with this. All my mounts still exist as vers=4.0
I have deleted and recreate my pods, I have rebooted all my nodes, still every pod, even new pods I bring up, mount as 4.0

Name:           efs-provisioner-769f48695b-hdr7m
Namespace:      default
Start Time:     Mon, 30 Jul 2018 18:34:14 +0000
Labels:         app=efs-provisioner
                pod-template-hash=325904

[2018-08-07 06:32] ktpktr0 opened #904 "Some test results about cephfs-provisioner"
1, storageclass does not seem to support the default command space
2, storageclass does not support ordinary users.

Test steps:
(1) Create a ceph common user and authorize and copy the ceph.client.k8s.keyring file to each node of k8s.
Ceph auth get-or-create client.k8s mon 'allow r' osd 'allow rwx pool=k8s, allow rw pool=cephfs_data' mds 'allow rw' -o ceph.client.k8s.keyring

(2), create ceph-sec

[2018-08-07 13:51] wongma7 commented on #903
kubernetes won't be able to delete the original pod or detach the volume when the node is in `NodeLost` because it can't know if the pod is still running and reading/writing to the volume. I would raise this issue with upstream kubernetes/kubernetes because you are not the first to encounter this problem and it might be possible for kubernetes to be more intelligent about this, or at least they/we

[2018-08-07 20:00] gmorse81 commented on #596
Hello,

I would be willing to take this on since i need it, but im not sure how to handle the current behavior. Since the default reclaim policy for a storage class is "delete", if i were to honor that it would change the default behavior for anyone who installed this previously. especially since the image reference in the deployment is "latest".

any thoughts on approach?

[2018-08-07 22:01] travisghansen commented on #596
I would introduce it as a `parameter` to the storage class.

[2018-08-07 23:09] gmorse81 commented on #596
The issue is backward compatibility. By default, the reclaimPolicy on a storage class is "delete". Right now anyone who has installed this likely has that on their storage class, but the current behavior is to create this archive directory. so... if i were to simply implement the reclaimPolicy enforcement, it may cause unexpected behavior for those who upgrade their container image in the deployme

[2018-08-07 23:37] gmorse81 commented on #596
guess i should have read your one line a little closer, lol. you are suggesting using a parameter on the storageclass to determine if "delete" should either delete or archive. that makes sense.

so how about:

parameters:
  delete-archive: true //or false

This would default to false for backwards compat.

[2018-08-08 00:00] wongma7 commented on #596
sgtm, though should be camelcase. I can't think of a better name but it doesn't matter much because people will only be able to discover it by reading our docs/yamls anyway. I am thinking it would be safe to edit our class.yaml to set it this true, so anybody starting anew will get the expected "Delete is actually delete" behavior and anyone already running will continue to get "Delete is archive"

[2018-08-08 02:09] gokulpch commented on #903
@wongma7 Thanks for the detailed information. Need your expertise in understanding this :  Kubernetes-Controller Manager has certain flags that prompt faster discovery of nodes that are in NodeLost state (node-monitor-period, node-monitor-grace-period, pod-eviction-timeout )and when the same was observed, Kubernetes tries to schedule the pods that are in Unknown state to the other active nodes on

[2018-08-08 11:19] TamasKormendiMAT commented on #839
Update for @wongma7 and @tsmetana: snapshots for managed disks on our Azure cluster have been up and running for a few weeks now, I'll try to prepare a formal pull request shortly.

[2018-08-08 12:57] travisghansen commented on #596
`respectReclaimPolicy` maybe?  If the reclaim policy on the PV gets updated to retain even if the new parameter is true you'd still want to archive yeah?

[2018-08-08 13:47] wongma7 commented on #596
No, the "archiving" is non-standard behaviour that can't be represented with either Retain or Delete. Anyway, a PV with Retain will never make it to the provisioner because we ignore it at the controller https://github.com/kubernetes-incubator/external-storage/blob/master/lib/controller/controller.go#L887

[2018-08-08 13:53] gmorse81 commented on #596
Thanks. Yeah, i realized that when i started digging into the code.

unless there are objections, I've landed on "archiveOnDelete:"

[2018-08-08 14:08] wongma7 commented on #903
if kubernetes deletes the pods then yeah it should tell rbd to detach the volumes.

I am not aware of one. What kubernetes is supposed to do (disclaimer: from briefly looking at code, not from my own experience) is delete all the pods when/before evicting them. But I am not sure what it means for a pod to be in Unknown state, maybe that prevents the pod from being fully deleted, since its containe

[2018-08-08 21:30] travisghansen commented on #596
@wongma7 Yep.  I realized that after I commented earlier.  Thanks for clearing it up!

[2018-08-09 02:53] patrickdk77 opened #906 "NFS PVC created pre upgrade to 4.1, always mount as 4.0"
Only new PVC's created after upgrading external-storage pod, get created and mounted using nfs 4.1
All PVC's created prior to the upgrade, continue to mount using NFS 4.0, even after all nodes and pods have been shutdown, deleted and recreated.

Do we have to recreate all the PVC's, or is there a way to upgrade the mount options? @

[2018-08-09 09:51] twelfthdoctor opened #907 "Build error"
Hello. I've build your local-volume provisioner, but after that I can't build push(make push)
[code]

[2018-08-09 13:57] krzwalko opened #908 "[nfs] Add support for specifying NFS clients in exports file"
By default nfs-provisioner uses * as NFS clients allowed to mount NFS shares.
For some outside-cluster installation it would be nice to specify NFS clients allowed to mount shares instead of world.

This could be done by adding new option -export-subnet to nfs-provisioner binary (with default value *).

[2018-08-09 16:12] #596 closed

[2018-08-09 16:19] wongma7 commented on #906
The PVs need to be edited so that their spec.mountOptions includes "vers=4.1" but IDK if the field is even mutable. And on top of that the pods need to be restarted. (I said somewhere else that pods restarting was sufficient to get them to remount v4.1, that's wrong and if I can find that comment I will edit it...)

/area aws/efs

[2018-08-09 16:24] wongma7 commented on #907
it is trying to push it to the official quay.io/external_storage registry, try editing the makefile and push it to somewhere you have write access

[2018-08-09 21:38] AMelacini opened #910 "efs-provisioner keeps crashing and restarting"
Running on AWS
Using EKS for to access Kubernetes - hence RBAC for authorisation

I follow the instructions on readme: efs-provisioner keeps crashing and re-starting.

Events messages:

Successfully assigned efs-provisioner-56b989b4db-wjsnc to ip-192-168-236-223.ec2.internal
MountVolume.SetUp succeeded for volume "efs-provisioner-token-sc6f5"
MountVolume.SetUp succeeded for volume "pv-volume"
pull

[2018-08-09 21:58] wongma7 commented on #910
Try to catch/watch its logs “kubectl logs $PODNAME”

[2018-08-09 22:43] wongma7 commented on #910
it will insta crash if:
1) FILE_SYSTEM_ID is not set
2) AWS_REGION is not set
3) it cannot find the nfs mountpoint where you mounted EFS into the pod
all should leave a log message though.

We can check the deployment yaml for errors

[2018-08-09 22:54] AMelacini commented on #910
This is the entire deployed objects

The interesting fact is that when the container is up, I can log into efs-provisioner pod and see that efs has been mounted correctly!
Then the container crashes.... :-(

  Thanx
---
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: efs-provisioner
data:
  file.system.id: fs-xxxxxxxx
  aws.region: us-east-1
  provisioner.name: example.com/aws-efs
---
kind: D

[2018-08-10 17:50] #854 closed

[2018-08-10 18:36] verult opened #912 "Cache Node objects in external PVController library"
#902 introduces topology plumbing through the library, which includes a Node get call for every volume provision operation. Since CSI depends on this library and all volumes will go through CSI in the future, we need to consider caching Node objects.

https://github.com/kubernetes-incubator/external-storage/blob/2db4446614545ef4ca87fd69ba81d24b1de390ca/lib/controller/controller.go#L1002

/assign

[2018-08-10 18:38] wongma7 commented on #912
would a (shared)informer be overkill or do you intend to roll your own caching?

[2018-08-10 18:47] verult commented on #912
Yeah it would probably just be an informer

[2018-08-11 01:36] Queuecumber opened #913 "[nfs-provisioner] Current Deployment Appears Broken"
The yaml files for deploying the NFS provisioner appear to be broken as of d46083d75be3c046c5313c03c0b4b5f29d9b2ec2 by @wongma7 . Unless I am missing something there are many references to a service account called `nfs-provisioner` which saw its yaml file deleted and instructions for its creation removed in this commit. Indeed upon doing a fresh redeploy with these instructions I have the error me

[2018-08-11 01:38] Queuecumber commented on #913
OK I think this was an out-of-date or cached on my end, the service account was moved to the top of `deployment.yaml`. This seems like a rather arbitrary place to keep it.

[2018-08-11 01:49] wongma7 commented on #913
It is a bit arbitrary, I considered putting it with the clusterroles but it doesn’t make much difference. Somebody said they’d prefer it this way and I’ve seen other yamls distributed like this. Less “kubectl create” commands to run I guess

Re: daemonset the short answer is that as of that pr it will no longer work as advertised so I went ahead and removed it. I’ll maybe add a little note explain

[2018-08-11 01:57] Queuecumber commented on #913
Fair enough, thanks for the response, my current config uses the daemonset which I downloaded and customized the paths for so I'd like to hear why it wont work (in the middle of a redeploy as I type this)

[2018-08-11 11:02] FerronN opened #914 "[nfs-provisioner] error syncing claim "default/test-claim": events is forbidden"
Hello,

I've deployed the test pod to test my configuration. When I describe the pod it says that it has a unbound pvc.

I looked at the logs of the nfs-provisioner, but I've no clue what I should do.

``W0811 10:54:09.248483       1 controller.go:686] retrying syncing claim "default/test-claim" because failures 0 < threshold 15
E0811 10:54:09.248581       1 controller.go:701] error syncing claim

[2018-08-11 16:12] joshkelly opened #915 "[nfs-client-provisioner] cannot start watcher for PVC default/test-claim: unknown (get events)"
I was getting the following output from the nfs-client-provisioner logs:
[code]

To fix the issues I updated events in the cluster role to:
[code]

[2018-08-11 19:49] wongma7 commented on #915
Sorry, I merged the yaml changes without also pushing new images. I will do it Monday.

Please anybody having trouble use yamls in this for now https://github.com/kubernetes-incubator/external-storage/tree/bcecfe28c6efae3e2845efd03e0c0d0e6ce98b36

The change is going to cause problems regardless but this was preventable, so sorry for that. Naive to think people would not be browsing this repo on t

[2018-08-11 20:48] Queuecumber commented on #447
It might be a good idea to add this to the official storage class yaml (https://github.com/kubernetes-incubator/external-storage/blob/master/nfs/deploy/kubernetes/class.yaml). None of my pods were able to write until I added `vers=3` to the mount options

[2018-08-12 00:43] orainxiong opened #916 "AlreadyExists error cause repeated provisioning a volume"
@wongma7

For more details, please visit :   https://github.com/kubernetes-csi/external-provisioner/issues/124

Looking forward to your comments.

[2018-08-13 09:36] preetampvp opened #918 "[nfs-client] Pod fails to mount nfs volume"
Hi,

When I run the test pod - test-pod.yml in nfs-client, the PVC and PV are created successfully and I do not see any errors in the nfs-client-provisioner. The nfs-client-provisioner is pointing to an external nfs server and Kubernetes is deployed on prem VMs.

The pod fails to start and when I do a kubctl describe <test-pod-name> I see the below error.  I am able to successfully mount the nfs o

[2018-08-13 15:25] wongma7 commented on #918
The mount is executed by kubelet and happening on the node/VM where the pod using "pvc-83851ef3-9eb9-11e8-826f-005056aeaadc" was scheduled. Does manually mounting by sshing into this VM work? Sounds like there may be some server configuration issue

[2018-08-13 17:42] wongma7 commented on #432
at least I need to document this limitation.

[2018-08-13 18:04] Random-Liu commented on #432
@wongma7 Does ganesha scans the whole container root file system or host root file system?

`/etc/revolv.conf` inside container root filesystem is a bind mount from a host file.

[2018-08-13 18:47] preetampvp commented on #918
@wongma7 : Thanks for the response. Yep I am able to mount the nfs volume on to the node where the pod is being scheduled. I also added securityContext:  fsGroup: 0 (as suggested in one of the stackoverflow questions) to the pod manifest but still get the same error.

The node is running RHEL with selinux enabled, not sure if this is causing an issue.

[2018-08-13 19:35] preetampvp commented on #918
@wongma7

If I run the below command (the one I see when I do describe pod) directly on the node with -v flag set

`mount -t nfs 10.32.202.179:/NaaS-Tools/default-test-claim-pvc-6a56cd5d-9edd-11e8-826f-005056aeaadc /var/lib/kubelet/pods/cf3604b0-9f2e-11e8-826f-005056aeaadc/volumes/kubernetes.io~nfs/ -v`

I get the below.

[code]

Also wondering do I need some package installed on the Node for NFS

[2018-08-13 19:45] wongma7 commented on #918
as long as you have something like nfs-common/nfs-client it should work.

Is your server exporting the path /NaaS-Tools/default-test-claim-pvc-6a56cd5d-9edd-11e8-826f-005056aeaadc? `No such file or directory` is interesting. In my experience, for some NFS servers it is not sufficient to just export `/NaaS-Tools` then create a subpath `/NaaS-Tools/x` in it. Sometimes you have to explicitly export `

[2018-08-13 21:59] Random-Liu commented on #432
@wongma7 Do you think https://github.com/containerd/containerd/issues/2419 may cause this problem? That is the biggest difference I see between container rootfs created by containerd and docker.

Another difference is that Docker has a readonly init layer for each container, and then the rw layer on top of it. As for containerd, we only have one rw layer on top of the shared image. I'm not sure wh

[2018-08-13 23:03] preetampvp commented on #918
@wongma7 : Thanks again!

https://github.com/kubernetes-incubator/external-storage/tree/master/nfs-client - this is the one I am using.. is this the right one when you say nfs-common/nfs-client?

**More info:**

* I can create a folder in the nfs and I am able to mount it on the node

* If I manually create the folder in nfs being used by the PV and PVC and then deploy the Pod.. is works fine.. Bu

[2018-08-13 23:12] wongma7 commented on #918
Do you have logs of the provisioners? Kubectl logs $provisionerpodname. You’re right about the workflow: you create a pvc, the provisioner creates a unique directory on the server, then it creates a pv. Then your pod should be able to consume the pv. The provisioner is skipping the “create a subdir” step right? It should be reporting an error rather than proceeding to create a pv, the log may have

[2018-08-13 23:31] preetampvp commented on #918
@wongma7:

Good to know how it works.. Yep it looks like it is skipping the create sub dir bit.

below are the logs for the provisioner and I do not see any errors in the log.

[code]

Thanks!

[2018-08-13 23:42] preetampvp commented on #918
Just for reference below is the manifest I am using to deploy the nfs-client.. may be I am missing something here that is causing the issue

`lx-ohbnaas-mdl-01jkn01.in.telstra.com.au:5000/nfs-client-provisioner:latest` image is just a local copy of - `quay.io/external_storage/nfs-client-provisioner:latest`

*nfs-manifest.yml*
[code]

[2018-08-14 05:41] princerachit opened #921 "Plugin interface contract not fulfilled for SnapshotDelete"
The `Plugin` interface in `snapshot/pkg/volume/interface.go` must be implemented by a snapshot plugin.
The interface contains method `SnapshotDelete(*crdv1.VolumeSnapshotDataSource, *v1.PersistentVolume) error` which should be called when snapshot has to be deleted. However, the [snapshotter code](https://github.com/kubernetes-incubator/external-storage/blob/63c3df76fa4beca1f07cb12170e390e8d58211b

[2018-08-14 06:10] kinzess commented on #345
Already upgrade ceph to mimic,but no help.
# ceph version
ceph version 13.2.1 (5533ecdc0fda920179d7ad84e0aa65a127b20d77) mimic (stable)

i will try upgrade the kernel to 4.10 now.

[2018-08-14 14:33] wongma7 commented on #432
/etc/resolv.conf and /export have the same FSID. on containerd, the order is such that /etc/resolv.conf gets added first and /export discarded as a duplicate. On docker, it's the opposite. I don't know why the order is different nor why they have the same "FSID" in the first place (nor do I recall what exactly FSID means...), but this is promising :) I'll keep digging.

The worst-case scenario if

[2018-08-14 18:36] wongma7 commented on #432
order of mounts in /etc/mtab on containerd:

...
**/dev/mapper/fedora_localhost--live-root /etc/resolv.conf ext4 rw,seclabel,relatime 0 0**
shm /dev/shm tmpfs rw,seclabel,nosuid,nodev,noexec,relatime,size=65536k 0 0
**/dev/mapper/fedora_localhost--live-root /export ext4 rw,seclabel,relatime 0 0**
tmpfs /run/secrets/kubernetes.io/serviceaccount tmpfs ro,seclabel,relatime 0 0
/dev/mapper/fedora_loca

[2018-08-14 20:06] wongma7 commented on #432
@Random-Liu do you think there should be any guarantee by cri-containerd about the order of mounts? For example, docker/moby sorts mounts in lexicographic which explains the difference we are observing. https://github.com/moby/moby/blob/a9bd60d674f85c2161bb702404b23501d6b746c3/daemon/volumes_unix.go#L94 Supposedly they do this because of https://github.com/moby/moby/issues/7792 (very old issue)

(

[2018-08-15 00:15] Queuecumber opened #924 "[nfs-client] Error receiving resource lock"
When starting the latest image of the nfs-client-provisioner, I get

[code]

over and over in my logs and it doesn't work. Pretty sure it is because of:

https://github.com/kubernetes-incubator/external-storage/blob/8052cf737caaf2a701f0caad491e08b8ac21573c/lib/controller/controller.go#L651

I don't use the kube-system namespace, do you need to assume kube-system?

[2018-08-15 00:25] Queuecumber commented on #924
As far as I can tell this was actually due to a changing in the RBAC role. However now my volumes arent getting deleted. Will go over the config files again before posting an issue on it

[2018-08-15 00:25] #924 closed

[2018-08-15 00:26] #913 closed

[2018-08-15 00:41] Queuecumber opened #925 "[nfs-client] Old Volumes Not Being Deleted"
Since latest pull, my volumes are not being deleted when the claims are deleted with the following error message:

[code]

There is definitely an issue with the use of ParsePool, I see it quite often in my logs now

[2018-08-15 01:00] wongma7 commented on #925
ParseBool does not like empty string, I’ll fix tomorrow.

[2018-08-15 03:20] zouyee opened #927 "The func `info` not mistake, instead of Infof"
`
I0815 11:01:08.390755   24494 snapshot.go:74] snapshot %v created successfullyvol_da5621b7c6e854beb24d86063c3cd1e5_37c0f11b-1278-4d52-87f2-21c734664a82
`
1、The func `info` not mistake, instead of Infof
2、insert command args for detect

[2018-08-15 08:42] preetampvp commented on #918
@wongma7 : Sorry to annoy you again.

I pulled the latest image from: https://quay.io/repository/external_storage/nfs-client-provisioner?tab=tags and still have the same issue.

when I exec into the nfs-provisioner pod I see a `/nfs` folder where the nfs is mounted too and I see a `/persistentvolumes` where I can see a subfolder for the PVC created. Wondering if the /nfs and /persistentvolumes sho

[2018-08-15 15:26] wongma7 commented on #918
@preetampvp double sorry. Obviously our documentation is deficient if even I cannot figure out what ish appening without reading the code! Please read my last comment edited: spec.containers.volumesmounts.mountPath must be /persistentvolumes as it is hardcoded, everything else in your spec looks okay to me.

[2018-08-15 15:29] lordfolken opened #928 "[NFS-Client] nfs-provisioner refuses to mount more than one nfs mount when running on the same worker"
Hello

I'm having funky issues with the nfs-client-provisioner.  When I make a pvc and hook it to a pod all is fine. This works well, as long as i have one pod per worker. As soon as i have more pods per worker, it works fine on all the workers that are not running the nfs-client-provisoner container. The one worker with the nfs-client-provisioner mounts 1 pod. But all other pods on that node are

[2018-08-15 16:37] wongma7 commented on #928
What is the output with `-v` added to your mount command?

[2018-08-15 17:59] #925 closed

[2018-08-15 22:56] bodom0015 opened #931 "GlusterFS Simple Provisioner is missing RBAC resources"
Hiya, folks :)

I've been working through using the GlusterFS Simple Provisioner, and so far it has been working great! I did get a few permissions-related complaints from the provisioner:
[code]
[code]
[code]
[code]

After building up the necessary RBAC roles, everything seemed to work just fine:
[code]

I would be happy to submit a PR for the RBAC template(s) in question, if that's something you

[2018-08-15 22:56] preetampvp commented on #918
@wongma7 : Awesome!! thanks for that.. that works!!

Just on a different note.. what happens if I scale the nfs-client deployment to 2 or more pods.. will that still work? or will that cause issue with all the pods trying to create the same PV?

Thanks again for the help.. much appreciated!!

[2018-08-15 22:58] wongma7 commented on #918
As of the latest version (3.x.x) the replicas will do leader election so only one is active at a time. In previous versions they randomly raced to lock pvc then only one would try to create a pv

[2018-08-15 23:14] preetampvp commented on #918
Sweet thanks for the info.

[2018-08-15 23:14] #918 closed

[2018-08-16 05:46] lyyao09 commented on #516
I have this problem too, and solved it by create a file **session-chap-credential.properties** manually just like this:
`node.session.auth.username: YWRtaW4=`
`node.session.auth.password= Y2lhbw==`
`node.session.auth.username_in=             `
`node.session.auth.password_in=             `

then, put this file to /var/run/secrets/iscsi-provisioner/ directory inside iscsi-provisioner pod, or volume

[2018-08-16 10:39] FengyunPan2 commented on #871
I encountered the same issue too.

[2018-08-16 10:39] FengyunPan2 commented on #871
E0816 08:01:25.213297       1 cephfs-provisioner.go:155] failed to provision share "kubernetes-dynamic-pvc-df710873-a129-11e8-87d5-02420a643e1a" for "kubernetes-dynamic-user-df7108e0-a129-11e8-87d5-02420a643e1a", err: exit status 1, output: Traceback (most recent call last):
  File "/usr/local/bin/cephfs_provisioner", line 336, in <module>
    main()
  File "/usr/local/bin/cephfs_provisioner", lin

[2018-08-16 13:06] wongma7 commented on #931
yes please

[2018-08-16 14:46] #432 closed

[2018-08-16 14:48] wongma7 commented on #927
thanks, merged

[2018-08-16 14:48] #927 closed

[2018-08-16 19:08] #931 closed

[2018-08-17 02:40] mgxian opened #934 "cephfs storage class create pvc error"
the erro message is as followed
[code]

I think the cluster rule should add secret resource operate permission
[code]
modify the clusterrole.yaml

I get my test pass

[2018-08-17 02:51] MartinForReal commented on #934
+1

[2018-08-17 14:03] wongma7 commented on #934
the idea is to configure secretNamespace and create a role/rolebinding so that the secret permissions are limited to that namespace: https://github.com/kubernetes-incubator/external-storage/pull/523

Documentation might need updating.

/area ceph/cephfs

[2018-08-17 15:50] IlanStark commented on #928
Here the error message with the mount command and option -v:

valcaasworker03:~ # mount -v -t nfs 10.16.80.27:/k8spoc/default-nfs-viohello-claim-pvc-dcb481e9-a095-11e8-b25b-506b8dd6140b /mnt/
mount.nfs: timeout set for Fri Aug 17 15:49:11 2018
mount.nfs: trying text-based options 'vers=4,addr=10.16.80.27,clientaddr=10.16.80.149'
mount.nfs: mount(2): Unknown error 521
mount.nfs: Unknown error 521

[2018-08-17 16:01] wongma7 commented on #928
Hm, nothing useful unfortunately.

Could you share info about the nfs server config? Is it a typical /etc/exports? What settings does the /k8spoc export have?

There is nothing different about *how* the nfs shares are mounted, in either case kubelet is doing the same thing. The only difference is the path. So something in the nfs server config OR some setting on the worker is preventing
/a
and any

[2018-08-18 02:17] MartinForReal commented on #934
Newly created secret is used for pvc mounting. And it is very convenient for end user to use cephfs pv

[2018-08-19 09:43] orainxiong commented on #916
#940

[2018-08-20 02:27] ktpktr0 commented on #934
I have tested that it is possible to create a pv in the default namespace.

The following files need to be modified to default to namespace.
Ceph-secret.yaml
Cephfs-storageclass.yaml

[2018-08-20 02:35] ktpktr0 opened #941 "Cephfs-provisioner cannot create a pv using a user other than admin"
For example: k8s
step:
1, create k8s users and authorize
Ceph auth get-or-create client.k8s mon 'allow r' osd 'allow rwx pool=k8s, allow rw pool=cephfs_data' mds 'allow rw' -o ceph.client.k8s.keyring

2. Copy ceph.client.k8s.keyring to the k8s node

3, create ceph-k8s-secret.yaml

4, modify cephfs-storageclass.yaml for k8s users

Have the following logs:

[root@k8s-master1 ~]# kubectl describe pvc

[2018-08-20 06:43] mgxian commented on #934
I deploy the `cephfs provisioner` in the `kube-system` namespace, then create pvc in `default` namespace, if I did not add permission of `secrets` in the cluster role yaml file, I got the error that I describe before

[2018-08-20 06:48] ktpktr0 commented on #934
Add a secret at the end of ClusterRole.yaml，You can successfully create

- apiGroups: [""]
     Resources: ["secrets"]
     Verbs: ["create", "get", "delete"]

[2018-08-20 06:50] mgxian commented on #934
got it. thanks !

[2018-08-20 09:44] ygqygq2 opened #942 "missing Ceph monitors"
I deploy with the latest documentation, and use the example file. The error log like this:

`kubectl logs -f rbd-provisioner-857866b5b7-hwx79`

[code]

[2018-08-20 11:34] wongma7 commented on #942
Please try these steps https://github.com/kubernetes-incubator/external-storage/blob/master/ceph/rbd/deploy/README.md#install-with-rbac-roles

[2018-08-20 11:36] wongma7 commented on #941
is that where the pod logs end?

[2018-08-20 11:37] wongma7 commented on #934
would these steps work instead https://github.com/kubernetes-incubator/external-storage/tree/master/ceph/cephfs/deploy#install-with-rbac-roles

[2018-08-20 12:44] weekface opened #944 "Can anyone release a new version with `Retain` Reclaim Policy support?"
With this [pr](https://github.com/kubernetes-incubator/external-storage/pull/776), we can use `Retain` reclaim policy. But there is no docker image released in [quay.io](https://quay.io/repository/external_storage/local-volume-provisioner?tab=tags).

Can anyone release a new version image with this feature support?

[2018-08-20 12:46] weekface commented on #944
@wongma7

[2018-08-20 12:47] wongma7 commented on #944
@msau42 time for `v2.2.0`?

[2018-08-20 14:18] chz8494 commented on #924
facing same error here, v2.1.1-k8s1.10 doesn't have this problem, definitely something related to the changes in v3.0

[2018-08-20 14:20] wongma7 commented on #924
@chz8494 please try editing your clusterrole so it has these permissions https://github.com/kubernetes-incubator/external-storage/blob/master/nfs-client/deploy/auth/clusterrole.yaml#L19

[2018-08-20 14:26] dwilliams782 opened #945 "GKE Node upgrades causes repeat "PV exists" error"
When upgrading a GKE node pool configured with local SSDs, the nodes are drained, deleted and recreated. When they come back up, the rescheduled Pod errors with "persistentvolumes x already exists"; this will loop continuously until the PV is manually deleted.

Deleting a bound PVC has no affect on the PV; the PV will remain in a "Released" state until manually deleted.

Is this a known issue?

[2018-08-20 14:32] wongma7 commented on #945
what pod is giving that error?

[2018-08-20 14:38] dwilliams782 commented on #945
The DaemonSet pod for the Local Volume Static Provisioner:

![image](https://user-images.githubusercontent.com/42545485/44347090-e9d28780-a48e-11e8-959b-44bdf0a3ef4b.png)

Workflow:

*Pod is scheduled, PV is successfully created
*StatefulSet using volumeClaimTemplates creates a PVC and binds to our PV
*Trigger a Node Pool upgrade
*Node is restarted, pod is rescheduled
*Pod tries to create PV with

[2018-08-20 14:46] msau42 commented on #944
/assign

[2018-08-20 14:48] chz8494 commented on #924
@wongma7 thanks for quick reply, adding new permission works!

[2018-08-20 14:49] wongma7 commented on #945
/area local-volume
Does the node UID remain the same before/after upgrade? The name does, right? A different UID would explain this error.

[2018-08-20 17:13] msau42 commented on #945
Yes, I think there is at least one issue here.

In 1.10 (and below), when a node upgrade or repair was done, the Kubernetes Node object would be recreated (and therefore get a new Node.UID).  The local volume provisioner filters out local PV objects that were not created by the provisioner on its current Node UID, which is inconsistent with local PV naming scheme, which only uses Node.Name.  I ope

[2018-08-20 18:49] msau42 opened #946 "[local-volume] Enhancements to helm template"
* Change DaemonSet template to use apps/v1
* Add Daemonset option for a node selector
* Add script to regenerate test/expected files from examples
* Rename test/expected to generated_examples

/area local-volume

[2018-08-20 19:17] wongma7 opened #948 "RBAC: tell people to use upstream system: bindings+roles when possible, limit endpoints permissions"
I added endpoints permissions to clusterroles. These are excessive. Since the endpoints object is hardcoded to live in kube-system, better would be to copy upstream's "leader-lock-" role+rolebinding pattern to limit the permissions to kube-system https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/namespace-roles.yaml#L57

Moreover, once th

[2018-08-20 19:18] #636 closed

[2018-08-20 19:20] wongma7 commented on #948
maybe make the namespace for the endpoints object configurable eventually. That would be even more secure, in some sense, since we could isolate the provisioner's permissions over endpoints to its own namespace.

[2018-08-20 20:27] msau42 commented on #944
"latest" image has been pushed, validating e2e before tagging 2.2.0

[2018-08-20 20:30] msau42 opened #949 "[local-volume] Add containerized build process"
/area local-volume

To reduce dependency on local tools and libraries, we should support containerized builds.  Here's an [example](https://github.com/kubernetes-sigs/gcp-filestore-csi-driver/blob/master/Dockerfile)

[2018-08-20 20:34] msau42 opened #950 "[local-volume] Add e2es against local cluster"
Similar to the nfs provisioner tests, we should add some e2es for the local volume provisioner to make it easier to validate changes without needing to update the kubernetes/kubernetes e2e tests every time.  We may even want to consider moving the provisioner tests there to this repo.

/area local-volume

[2018-08-20 20:35] msau42 commented on #950
/help

[2018-08-20 20:43] wongma7 commented on #950
Happy to help with this. Until https://github.com/kubernetes/kubernetes/issues/66649 is resolved, running tests out of tree will be a pain. Travis is good enough for basic validation, <20 mins to build and run e2e tests

[2018-08-20 21:32] tonybranfort commented on #754
For those getting
[code]
If you're using rbac (which it seems kops does by default), make sure you've created a serviceAccount.  Look at the [deployment.yaml](https://github.com/kubernetes-incubator/external-storage/blob/master/aws/efs/deploy/deployment.yaml) rather than the [manifest.yaml](https://github.com/kubernetes-incubator/external-storage/blob/master/aws/efs/deploy/manifest.yaml).

You'll

[2018-08-20 22:37] msau42 commented on #946
One more:
* If non-default namespace is specified, also create the namespace

[2018-08-20 22:44] msau42 commented on #944
2.2.0 has been tagged

[2018-08-20 22:47] msau42 commented on #944
@wongma7 can you tag "local-volume-provisioner-v2.1.0" in github after these have been merged:
https://github.com/kubernetes-incubator/external-storage/pull/951
https://github.com/kubernetes-incubator/external-storage/pull/952

[2018-08-20 23:55] ygqygq2 commented on #942
@wongma7
I used the RBAC, also the error.

[2018-08-21 01:30] ktpktr0 commented on #941
Cephfs-provisioner and pvc logs。
When I set this permission, it succeeded.

client.k8s
        key: AQAvF2hbVTeJLRAAMiJo36aXvnWHtK0qA39LLQ==
        caps: [mds] allow *
        caps: [mon] allow *
        caps: [osd] allow rwx pool=k8s, allow rwx pool=cephfs_data

But this is not safe for ceph

[2018-08-21 03:23] rafaelmagu opened #953 "Cannot provision EFS volumes with efs-provisioner"
I recently deployed efs-provisioner with the stable Helm chart to the `kube-system` namespace. However, it is failing to provision a PVC in another namespace. Is this expected? The docs don't mention this limitation.

[code]

[2018-08-21 03:37] ygqygq2 commented on #942
My env:
CEPH: "luminous"
Kubeadmin: 1.11
System: CentOS7

[2018-08-21 12:40] ShaneMalachow commented on #887
for Openshift the following commands need run as well
[code]

[2018-08-21 13:02] ShaneMalachow commented on #887
I added the commands to the nfs-client/readme.md in PR #954

https://github.com/kubernetes-incubator/external-storage/pull/954

[2018-08-21 14:12] wongma7 opened #955 "nfs e2e statefulset update race"
Expected error:
        <*errors.StatusError | 0xc420a693b0>: {
            ErrStatus: {
                TypeMeta: {Kind: "", APIVersion: ""},
                ListMeta: {SelfLink: "", ResourceVersion: "", Continue: ""},
                Status: "Failure",
                Message: "Operation cannot be fulfilled on statefulsets.apps \"nfs-provisioner\": the object has been modified; please apply your

[2018-08-21 16:17] #955 closed

[2018-08-22 00:28] majorinche commented on #345
@kinzess how about the result now?

[2018-08-22 02:50] kinzess commented on #345
@majorinche first i upgrade my centos7 kernel from  3.10.* to 4.17.*(kernel-ml-4.17.14-1.el7.elrepo.x86_64.rpm), all PGs lost.
then upgrade to 4.18.*(kernel-ml-4.18.3-1.el7.elrepo.x86_64.rpm), all PGs back.
everything works fine now.

[2018-08-22 02:59] majorinche commented on #345
ok, i just add -disable-ceph-namespace-isolation=true in the deployment, Input/output error just gone
        - args:
            - '-id=cephfs-provisioner-1'
            - '-disable-ceph-namespace-isolation=true'
          command:
            - /usr/local/bin/cephfs-provisioner

[2018-08-22 03:58] ygqygq2 commented on #942
I rebuild the docker image, but have a new problem:

[code]

[2018-08-22 10:16] ygqygq2 commented on #942
I modified the `pkg/provision/provision.go`. Is that the solution?

[code]

[root@lab1 rbd]# sh local-start.sh
I0822 18:12:31.616033 1231887 main.go:85] Creating RBD provisioner ceph.com/rbd with identity: rbd-provisioner-1
I0822 18:12:31.617319 1231887 leaderelection.go:185] attempting to acquire leader lease  kube-system/ceph.com-rbd...
I0822 18:12:49.027920 1231887 leaderelection.go:194] succes

[2018-08-22 16:15] albarki commented on #778
Not working for CEPH IPV6 nodes

[2018-08-22 23:49] msau42 commented on #944
new container image has been push, and github has been tagged. Thanks!

/close

[2018-08-22 23:49] #944 closed

[2018-08-22 23:54] msau42 commented on #945
HI @dwilliams782, we added an option to not use Node UID in the provisioner name in #947, and I updated the GKE provisioner spec to use it in #952.  This won't solve the problem with Local PVs created by the older version of the provisioner, so you will have to delete those PVs when after deleting the PVCs, or update all of the PVs with the correct provisioner name in the "provisioned-by" annotati

[2018-08-22 23:55] msau42 commented on #945
Let me know if you are still seeing issues.

[2018-08-22 23:57] msau42 opened #958 "Consolidate local provisioner spec examples with helm examples"
After #946 is done.

Also requires coordination to update the GKE docs to point to the new location.

/assign
/area local-volume

[2018-08-23 01:58] ygqygq2 commented on #778
@jjo Why that? Is brd-provisioner must be to lookup the monitor name?

[2018-08-23 11:45] jjo commented on #778
I recall needing the `monitors` to be resolvable (i.e. not naked IPs), you
could just add e.g. `192.168.0.1.xip.io` and so -- I put an `ExternalName` in
the middle to be able to more ~easily update it while keeping an stable
`monitors` list  (tho not strictly needed really)

[2018-08-23 11:49] jjo commented on #778
Wonder if it would work via `ip6.name` ~equivalent hack:
[code]
, maybe putting the above fqdns directly into `monitors` list.

[2018-08-23 14:06] stevebingsoo opened #959 "Troubleshooting Local Volume Provisioner"
I'm trying to test out the local volume provisioner and am not seeing any PVs created.  What can I look at or do to troubleshoot?

[2018-08-23 14:13] wongma7 commented on #959
try doing `kubectl logs $LOCAL_PROVISIONER_POD`

[2018-08-23 14:33] stevebingsoo commented on #959
OK I see in the logs:
Path "/mnt/ramdisk/vol1" is not an actual mountpoint

I had done this to mount a tmpfs volume:
mount -t tmpfs -o size=100m tmpfs /mnt/ramdisk/vol1

Is there something wrong with that?

[2018-08-23 14:35] msau42 commented on #959
What version of k8s are you using? Does your local provisioner spec set mount propagation?

[2018-08-23 14:38] stevebingsoo commented on #959
Version 1.10.4
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.4", GitCommit:"5ca598b4ba5abb89bb773071ce452e33fb66339d", GitTreeState:"clean", BuildDate:"2018-06-06T08:00:59Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.4", GitCommit:"5ca598b4ba5abb89bb773071ce452e33fb66339d", GitTreeState:

[2018-08-23 16:03] albarki commented on #778
@jjo i added them like you said, but still complaining about missing monitors IPs

[2018-08-23 18:25] stevebingsoo commented on #959
Also, I see the listing in my /proc/mounts on the worker node where I mounted my tmpfs:
`tmpfs /mnt/ramdisk/vol1 tmpfs rw,relatime,size=102400k 0 0`

So it looks like it's mounted properly.  The error message I get is from discovery.go line 246 which is checking the mounts based on the content of /proc/mounts so I can't figure out what's wrong.

[2018-08-23 19:40] wongma7 commented on #959
it uses some "heuristics" so being in proc/mounts alone isn't enough. I think it compares the device field when you `stat` `/mnt/ramdisk/vol1` and `/mnt/ramdisk`, and different means it is a mount point. i would expect the device field for this tmpfs to be different so I'm not sure what is wrong.

[2018-08-23 21:57] msau42 commented on #959
That's really odd.  I just tested it out on my system and it is working for me:
Provisioner logs:
[code]

On the host:
$ sudo mount -t tmpfs -o size=100m tmpfs /mnt/disks/vol1

[2018-08-23 21:58] msau42 commented on #959
Can you double check the kubelet's feature gates on that node?  And make sure mount propagation is not disabled?

[2018-08-24 01:39] lizhiyong2000 opened #960 "nfs-client-provisioner mount failed"
Hello

I'm having issues with the nfs-client-provisioner. When a POD with a PVC created with the NFS storage, the PV status is bound, but the POD
is always in pending status for mounting failure.

PV status:

pvc-7d6877db-a73c-11e8-ac32-64006a90f782   1Mi        RWX            Delete           Bound     default/test-claim

Pod :

  Warning  FailedMount       13s (x6 over 30s)  kubelet, lizhiyong-p

[2018-08-26 21:07] Zer0-bit commented on #960
Hi, same for me, i download the manifest file,add the fs-id, aws zone and the DNS to the appropriate fields and kubectl apply the file.
The pod fails to mount the volume, the bellow msg is thrown after a bit:

Tried multiple times with different EFS volumes as well, i always make sure the EFS volume is in the same zone as the pod.

[2018-08-27 01:16] lizhiyong2000 commented on #960
yaml files for your information, it worked previously, directory like storage-mongo-persistent-storage-mongodb-2-pvc-d15762d0-a73a-11e8-ac32-64006a90f782 was automatically created ever, but now it was not created.

[NFS.zip](https://github.com/kubernetes-incubator/external-storage/files/2322081/NFS.zip)

[2018-08-27 01:17] rafaelmagu commented on #953
The chart is here: https://github.com/helm/charts/tree/master/stable/efs-provisioner

But the RBAC resources provided in that diff do not address the issue.

[2018-08-27 17:47] wongma7 commented on #960
@lizhiyong2000 can you try changing
[code]
to
[code]
because the path is hardcoded. I cannot explain from looking at git history why it worked previously and not now but I think that is what's wrong.

[2018-08-28 01:07] lizhiyong2000 commented on #960
@wongma7  I tried and it worked, thanks for your help

[2018-08-28 06:06] digitalassembly commented on #953
Having the same issue as reported by rafaelmagu

[2018-08-28 11:45] rafaelmagu commented on #953
I have overriden the Helm chart's `image.tag` to use `v1.0.0-k8s1.10`.

[2018-08-28 12:41] Damien9527 commented on #749
@13567436138     同样碰到这个问题，  我的是使用的外部ceph。 你的问题解决了吗？

[2018-08-28 19:47] blandman commented on #694
This makes it tricky for cluster re-creation or pointing another cluster to the same efs volume. If re-creating a cluster, you have to manually mount the efs volume and rsync the files. Would be nice to have a field as a pvc identifier so the subpaths aren't random.

[2018-08-29 06:01] JaneWangQuest commented on #516
@lyyao09 how can you put the file into /var/run/secrets/iscsi-provisioner? Inside this container? I cannot create the missing folder iscsi-provisioner.

[2018-08-29 08:27] alpe commented on #875
Any chance to get an answer on this? I am running the provisioner with a label selector for some time now and I would like to contribute back to the project if it makes sense.

[2018-08-29 13:56] wongma7 commented on #875
@tsmetana ping, do you recall why? IMO there is no harm in propagating the claim.selector to the pv.labels. IIRC we disabled it at the time because of troubles re: how to reconcile labelselector & storageclass being set at the same time but that conversation ended a long time ago

[2018-08-30 09:54] wufenglinux commented on #942
我也是这个问题，但是我尝试过无数种方法。
我发现了一个让人很生气的问题
我修改了storageclass中的配置参数，这个参数
parameters:
    monitors: 这个参数即使乱写 storage依然可以创建出来，并且provisioner也是报 StorageClass "rbd": missing Ceph monitors

这个错误真的很误导人，其实并不是没有ceph monitor
我到现在还没有解决这个问题。
这个问题误导了我快1个月了

[2018-08-30 10:05] wufenglinux commented on #778
我也是这个问题，但是我尝试过无数种方法。
我发现了一个让人很生气的问题
我修改了storageclass中的配置参数，这个参数
parameters:
monitors: 这个参数即使乱写 storage依然可以创建出来，并且provisioner也是报 StorageClass "rbd": missing Ceph monitors

这个错误真的很误导人，其实并不是没有ceph monitor
我到现在还没有解决这个问题。
这个问题误导了我快1个月了

[2018-08-31 00:30] Random-Liu commented on #432
@wongma7 Thanks a lot for fixing this! Sorry, I missed your comment before, feel free to ping me on slack if you need me. :)

For containerd, the mounts are specified by kubelet, currently we follow the order kubelet passes the mounts to us. :)

[2018-08-31 00:32] Random-Liu commented on #432
Hm... This seems pretty fragile. Even though we order it the mount, it is possible that there is a mount started with `a`.

[2018-08-31 01:46] ygqygq2 commented on #942
@wufenglinux 其实是他源代码中不管你写的monitor是什么，它都会去解析，当你使用外部ceph的时候，k8s dns肯定是解析不到的，所以变通方法就是给他增加解析。https://github.com/kubernetes-incubator/external-storage/issues/778

[2018-08-31 01:48] #942 closed

[2018-08-31 08:39] wufenglinux commented on #942
我即使 增加了解析也还是不行
有人说是secret的问题，怀疑不是base64的，我尝试过重新加密。
但是发现依然报错，还是原来的错，所以排除了secret的问题。
到现在我这个问题依然没有解决，实在不行，我也只能重装k8s集群了。不用kubeadm安装了，
用2进制安装来解决这个问题。

[2018-08-31 11:02] wufenglinux commented on #778
![image](https://user-images.githubusercontent.com/25784458/44909055-7400d280-ad50-11e8-96dc-c9af68339f51.png)

[2018-08-31 14:05] wongma7 commented on #903
FYI @gokulpch upstream is working on this issue where volumes can't get detached from shutdown nodes. If you are in the sig-storage google group you can view https://docs.google.com/document/d/1P5dpcmqbl98z8k4Y9xM5BGTdzrsG9ZH0MPIN_wSHC-E/edit?usp=sharing_eil&ts=5b886840

[2018-09-01 17:30] cuisongliu opened #964 "NFS client ,test-pod.yaml not running."
[code]

the 172.16.3.254 is my nfs server.But,the pvc(test-claim) is **Pending**,and the pod tall me "pod has unbound PersistentVolumeClaims (repeated 6 times)"
I need create the PV ?And the param " mountPath: /persistentvolumes " means i need to create the Folder the name is '/persistentvolumes' in my nfs server and mount to nfs ?

[2018-09-02 06:06] asakapab0i opened #965 "AliCloud Provisioner"
I can't help but noticed there is no provisioner for Alicloud? Can we add this? Is there a way I can help in adding this feature?

[2018-09-03 03:12] cuisongliu commented on #964
the nfs provisioner is error for:

error retrieving resource lock default/jerry.com-kubernetes: endpoints "jerry.com-kubernetes" is forbidden: User "system:serviceaccount:default:nfs-client-provisioner" cannot get endpoints in the namespace "default

[2018-09-03 07:01] ramene commented on #964
I'm stuck at the same frustrating issue, even after making changes to the RBAC noted here: https://github.com/kubernetes-incubator/external-storage/issues/953

[2018-09-03 07:08] cuisongliu commented on #964
@ramene  ohh,thank u very much. I'm find this error and fix it.This mistake is due to my carelessness. Look my rbac config find the rbac and sc is not the same namespace. In the dashboard the Deployment log is find it.

[2018-09-03 07:09] #964 closed

[2018-09-03 07:13] ramene commented on #964
I've found that using the helm chart here does in fact work, as noted here: https://github.com/kubernetes-incubator/external-storage/issues/953

[code]

You have the create the PVC separately... _**after running the helm chart**_

[code]

[2018-09-03 09:31] jia-jerry commented on #965
I happened to find this repo https://github.com/AliyunContainerService/alicloud-storage-provisioner. It seems to be opensourced several days ago.

[2018-09-03 11:06] IlanStark commented on #928
Hi
We found the root cause. It was the configuration of the nfs server.
Thanks for your advice.

[2018-09-03 11:52] ram4ibm opened #966 "ISCSI volume metrics"
I am On Kubernetes 1.9.7, the ISCSI PVC metrics are not visible as kubelet_volume_stats under http://node:10255/metrics. The kubelet_volume_stats is available from kubelet > 1.8. I am not sure if this is a miss from the iscsi interface or from the kubelet. However, I have not seen any error reported on this issues page. Hence, raising it to confirm if any other team is actually seeing the kubelet_

[2018-09-03 21:53] asakapab0i commented on #965
Awesome thanks!

[2018-09-03 21:53] #965 closed

[2018-09-04 00:08] ParaSwarm commented on #754
Sigh. This took me all day to figure out. I hope this helps someone save some time:

The issue, for me, was the default service account. It didn't have access to get endpoints. Mind you, this is a fresh EKS cluster install, not running anything special yet.

You can confirm this by exec'ing into your efs-provisioner pod with a shell (you will have to install bash since it's alpine, run "apk add --

[2018-09-04 00:59] ktpktr0 commented on #941
I solved this problem

The StorageClass method requires the following permissions due to the need to authorize dynamically created users:
Ceph auth caps client.k8s mon 'allow rwx' osd 'allow rw pool=cephfs_data' mds 'allow rwp'
which is:
Client.k8s
Caps: [mds] allow rwp
Caps: [mon] allow rwx
Caps: [osd] allow rw pool=cephfs_data

But still feels that the permissions are relatively large

[2018-09-04 11:03] iawia002 opened #967 "ProvisionController: refactoring using SharedInformers"
Hi, I'd like to propose refactoring `ProvisionController` using `SharedInformers` totally.

As mentioned in the controller's Guidelines:

If this sounds reasonable, I'd be happy to work on this.

/cc @wongma7

[2018-09-04 18:00] kfox1111 opened #968 "local provisioner zero size"
I'm trying to deploy the local provisioner via helm chart. I'm almost there, but have run into an issue where:
[code]

It fails to create the pv's.

I made the volumes like:
[code]
And deployed with these values:
[code]

[2018-09-04 18:06] kfox1111 commented on #968
Hmm... I was testing in minikube, and root is actually tempfs and returns 0. I set it to live in /data, and it is happy now. sorry for the noise.

[2018-09-04 18:06] #968 closed

[2018-09-05 06:46] kaybinwong commented on #941
@ktpktr0 i still cannot fix this problem. what had i done wrongly? plz help.
here is the pod logs.
[code]

[2018-09-05 06:59] ktpktr0 commented on #941
@kaybinwong If the permissions are correct, delete the pvc and storageclass, and the storageclass namespace must be the same as the secret.

[2018-09-05 09:20] SolarisYan commented on #515
@wongma7 Yes, it's still true that pods cannot read from cephfs provisioned shares unless they run as root,
 I've faced same issue now

[2018-09-05 13:49] deitch commented on #953
Aha. I just stumbled across this. I do believe that our `Role` and `ClusterRole` (and `*Binding` of course) are set correctly, but still getting it.

[code]

And still:

[code]

Did I miss something?

[2018-09-05 13:57] deitch commented on #953
Ah, interesting. The `Role` and `RoleBinding` seem to be insufficient, you need them as a `ClusterRole` instead. I removed the `Role*` and updated `ClusterRole` to:

[code]

Happy now.

[2018-09-06 03:02] kaybinwong commented on #941
@ktpktr0 ns & secret are already in the same namespace, but still got the same error.
here is my yaml config  https://github.com/kaybinwong/k8s-cephfs

[2018-09-06 03:08] ktpktr0 commented on #941
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: cephfs-provisioner
  namespace: cephfs
rules:
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["get", "list", "watch", "create", "delete"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get", "list", "watch", "update"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["stora

[2018-09-06 03:40] kaybinwong commented on #941
the same. logs are below.
[code]

[2018-09-06 03:50] kaybinwong commented on #941
with rbd by using the ceph osd pool k8s is working. dose the sc.yaml should use the pool ?

[2018-09-06 05:44] kaybinwong commented on #941
in the end, i create the ceph pool manually. and it works.
[code]

[2018-09-06 06:29] ktpktr0 commented on #941
The mds service is a necessary condition for cephfs, and the next step is to create a cephfs file system. You have not done the necessary steps before, of course, you can't succeed.

[2018-09-06 09:02] mjura commented on #928
@IlanStark: can please explain what was root cause of this problem? Was it secure option in `/etc/exports` ?

[2018-09-06 10:05] IlanStark commented on #928
We use Nutanix AFS as a nfs Server. Here you have no access to the file "exports". We use the Nutanix Prism Web Console and here we missunderstood the settings. You can chouse between two option
non-sharded-Directories (this we set bevor) and
Sharded-Directories (is now the correct setting)

[2018-09-06 10:56] joshisumit opened #971 "Snapshot creation fails with: Failed to get volume plugin. Failed to retrieve PVC gce-pvc from the API server: "persistentvolumeclaims \"gce-pvc\" not found""
Kubernetes v1.9.5

With below definition I am trying to create VolumeSnapshot:
[code]

But it fails with following logs:
[code]

PV and PVC are working fine ( Used AWS EBS as PV )

Below is the StorageClass definition used for creating PV in AWS:
[code]
@tsmetana

[2018-09-06 11:03] joshisumit commented on #971
@tsmetana, May be culprit is failure of aws provider:
[code]

How to correct this one ?

[2018-09-06 13:32] tsmetana commented on #971
@joshisumit make sure the AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY environment variables are set in the controller's environment.

[2018-09-07 02:47] nyurik opened #972 "Not clear how data could be pre-loaded to a local PV"
I described this issue in the [stackoverflow post](https://stackoverflow.com/questions/52214353/pre-populating-local-ssd-disk-in-gcp-kubernetes-for-readonly-multipods-usage):

There seems to be no easy way to have multiple pods (could be multiple instances of the same pod, or different), share the same local SSD drive in a read-only mode. The drive would need to be initialized somehow with a large

[2018-09-07 06:57] lichuqiang opened #973 "[local-volume] support fs volumes on block"
External local provisioner should be aware of the in-tree change of https://github.com/kubernetes/kubernetes/pull/63011.
Desire volume mode does not have to be same to that of volume source.
Users should be able to specify desire volume mode in config (per storageClass).

/assign

/cc @msau42

[2018-09-07 06:58] lichuqiang commented on #973
/area local-volume
/kind feature

[2018-09-07 08:50] kuznero opened #975 "How to create a hostPath with specific uid:gid with local-volume-provisioner?"
If it is not currently possible through configuration, can you please guide me in the local-volume code base such that I properly determine where I can change it to achieve `chown -R uid:gid $host_path` effect.

[2018-09-07 17:18] rhugga opened #976 "Problems building the go stuff"
I'm new to go and trying to build this on OEL7 and getting this error:

[root@2c0a6a0a01eb flex]# make
CGO_ENABLED=0 GOOS=linux go build -a -ldflags '-extldflags "-static"' -o flex-provisioner ./cmd/flex-provisioner
_/root/external-storage/flex/cmd/flex-provisioner
cmd/flex-provisioner/main.go:86:43: cannot use clientset (type *"k8s.io/client-go/kubernetes".Clientset) as type "github.com/kubernete

[2018-09-08 05:33] jrabary opened #978 "[nfs-client] Unable to start nfs-client-provisionner"
We have a local k8s cluster and want to use an external NFS server as a persistance storage.
On every node of this cluster we are able to mount manually the NFS share with

[code]

Here are the configurations we use to deploy the nfs-client-provisioner

[code]

The deployment fails to create the `nfs-client-provionner` pod and outputs the following error

[code]

Any idea on what might go wrong he

[2018-09-10 05:41] joshisumit commented on #971
@tsmetana Both the enviornment variables are set properly in controllers pod (created secret for them, able to access AWS using those creds). I guess problem lies here: `error finding instance i-08a9f5ecf2f621d96: error listing AWS instances: UnauthorizedOperation: You are not authorized to perform this operation.`

snapshot-controller IAM user requires which AWS permissions ? (`DescribeEC2Instanc

[2018-09-10 09:49] joshisumit commented on #971
@tsmetana, I tried by giving following permissions to IAM user and plugin successfully initialized:

[code]

However, still I am getting below error:
[code]

Below are the full logs of `snapshot-controller`:
[code]

Below are the `snapshot-provisioner` logs:

[code]

[2018-09-10 17:06] leakingtapan commented on #971
@joshisumit To clarify things a bit, did you setup k8s cluster on AWS EC2 instead of using AWS EKS?

[2018-09-10 18:57] leakingtapan commented on #971
/sig aws

[2018-09-10 18:59] leakingtapan commented on #971
/assign leakingtapan

[2018-09-12 15:42] wongma7 commented on #967
Yes this is okay with me, thank you for your help. I thought briefly about it. Like, we create a SharedInormer instead of NewInformer here, maybe using those factory functions provided by client-go https://github.com/kubernetes-incubator/external-storage/blob/master/lib/controller/controller.go#L504

I am skeptical of the savings for us though: the controller is not "sharing" the informers with an

[2018-09-12 17:49] wongma7 commented on #976
have you cloned the repository into your GOPATH?

[2018-09-12 17:54] wongma7 commented on #978
Is k8s containerized?
/area nfs-client

[2018-09-12 17:55] msau42 commented on #975
Hi can you clarify the issue you are seeing?  Is it that you're running the local-volume-provisioner as a non-root user and so it doesn't have permissions to read the discovery directories?

[2018-09-12 19:42] wongma7 commented on #828
it should work, please share your class.mountOptions... the same mountOptions should appear on every PV

[2018-09-12 19:55] kuznero commented on #975
@msau42 no, the scenario is typical in the sense that local-volume-provisioner is actually running as root (which is typical). But as a result it create folders with `root:root` ownership attributes. Now, imagine you are trying to run Elasticsearch cluster that is not running as root, but as `1000:1000`. It will simply be unable to right to the folder with `root:root` attributes.

[2018-09-12 20:27] msau42 commented on #975
The local volume provisioner does not create folders for use by local PVs.  It only discovers mount points that have been placed underneath the discovery directories.  So it shouldn't matter to the workload what permissions the discovery directory has, only the permissions of the mounts inside them will matter.

[2018-09-12 21:02] kuznero commented on #975
It actually does create folders. Tested.

[2018-09-12 21:03] msau42 commented on #975
Can you give an example your local PV spec and the config of your local provisioner?

[2018-09-12 21:14] kuznero commented on #975
PV is not created at the time when `local-volume-provisioner` is deployed. The point was to auto-create required directories before deploying app definitions, including PVs, etc.

[2018-09-12 21:27] kuznero commented on #975
Sounds interesting! That was a long path to figure this out :) Is it possible for you to give an example for `hostPath` volume that will create the folder if it does not exist? Last time I tested PV that points to non-existing path it complained.

[2018-09-12 21:30] msau42 commented on #975
Here's an example of a pod using hostpath volumes:
https://kubernetes.io/docs/concepts/storage/volumes/#example-pod-2

[2018-09-12 21:36] kuznero commented on #975
[code]

Excellent! Thanks a lot! Will stop (mis-)using `local-volume-provisioner` for that.

[2018-09-12 21:37] kuznero commented on #975
But perhaps I was a bit too fast. Will `hostPath` allow to specify `uid:gid` for the path to be created?

[2018-09-12 21:51] msau42 commented on #975
No, hostpath volumes do not perform any permissions management.  You can use an init container to set the appropriate permissions as needed.

[2018-09-12 21:54] kuznero commented on #975
That is a much better option! Thanks for help, @msau42! Closing.

[2018-09-12 21:54] #975 closed

[2018-09-13 00:57] iawia002 commented on #967
Thanks for the explanation, I'll submit a PR soon

[2018-09-14 09:34] manishg4 commented on #5
Did someone figure out how to have a quota setup on the new directory being created for the container such that the container which gets linked with the directory has only access to the size specified in the PV and not the size of the entire NFS share ?

[2018-09-14 20:11] pablojmarti opened #987 "[nfs-client] RBAC rules causing failures upon creation"
Working on setting up the provisoner and when I create some of the rbac rules I'm getting the following failures

`Error from server (Forbidden): error when creating "fs01-rbac.yml": clusterroles.rbac.authorization.k8s.io "nfs-client-provisioner-runner" is forbidden: attempt to grant extra privileges: [PolicyRule{Resources:["persistentvolumes"], APIGroups:[""], Verbs:["get"]} PolicyRule{Resources:

[2018-09-14 20:15] wongma7 commented on #987
it's with your permissions. The ability to create/delete clusterrwide resources like PVs and StorageClasses is typically reserved for admins.

[2018-09-15 05:43] lyyao09 commented on #516
@JaneWangQuest For test, I just use command docker cp SRC_PATH CONTAINER:DEST_PATH to copy host file into container.
ps: directory /var/run/secrets/iscsi-provisioner/ must already exist before cp file.

[2018-09-16 06:16] deitch commented on #953
Happy to help @dannyvargas23 .

[2018-09-16 09:31] mshivanna commented on #953
@dannyvargas23 would you mind to share your manifest yml file i have the same issue i added the endpoints permissions to the clusterrole but i still see the error.

[2018-09-16 11:45] mshivanna commented on #953
This works for me: except a warning ```couldn't confirm that the EFS file system exists: AccessDeniedException: User: arn:aws:sts::xxxxxx:assumed-role/ROLENAME/xxxxxx is not authorized to perform``` which you can resolve by adding your access and secret key as environment variable in your deployment.
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: efs-provisioner
data:
  file.system.id: {repl

[2018-09-16 11:46] mshivanna commented on #953
`This works for me: except a warning couldn't confirm that the EFS file system exists: AccessDeniedException: User: arn:aws:sts::xxxxxx:assumed-role/ROLENAME/xxxxxx is not authorized to perform which you can resolve by adding your access and secret key as environment variable in your deployment.
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: efs-provisioner
data:
  file.system.id: {replaceyo

[2018-09-16 11:49] mshivanna commented on #953
This works for me `
apiVersion: v1
kind: ConfigMap
metadata:
  name: efs-provisioner
data:
  file.system.id: replaceyourfsid
  aws.region: your region
  provisioner.name: example.com/aws-efs

kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: efs-provisioner-runner
rules:
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["get", "list", "watch", "create"

[2018-09-17 11:34] mustafaakin commented on #754
There is also RBAC configuration in the repo: https://github.com/kubernetes-incubator/external-storage/blob/master/aws/efs/deploy/rbac.yaml

[2018-09-17 13:01] innovia commented on #944
label should be `v2.1.0-k8s1.11`
https://quay.io/repository/external_storage/efs-provisioner?tab=tags

[2018-09-17 14:44] aclowkey opened #989 "NFS client Provisioner ignores storage"
The client provisioner seems to ignore PVC's storage.

I have set up an NFS server with 10Gi files, and requests 50,000Gi, and successfully got them.

`helm install --name nfs-client-provisioner --set nfs.server=0.0.0.0 --set nfs.path=/ stable/nfs-client-provisioner `

[code]

[code]

[2018-09-17 16:47] msau42 commented on #944
The fix for the local volume provisioner is tagged at: local-volume-provisioner-v2.2.0

[2018-09-18 18:40] unteem opened #992 "Ceph RBD resize volume"
Hi
I'm trying to resize a volume provisioned with ceph rbd provisioner.

Here is the error I get:
`Error expanding volume "indie-host/minio-indie-host" of plugin kubernetes.io/rbd : rbd info failed, error: executable file not found in $PATH`

Is it possible to resize a volume when using ceph rbd provisioner ?
kubernetes version: 1.10.3

[2018-09-21 11:55] LuckySB commented on #515
workaround: use initcontainer for chown mountpoint

https://github.com/helm/charts/pull/7870

@wongma7
cephfs-provisioner may chown RunAsUser:fsgroup,when create directory in cephfs for volume ?
only when created. If directory exists - do nothing

[2018-09-21 21:00] flah00 opened #998 "reclaimPolicy Retain leads to deletion"
When I [create](https://gist.github.com/flah00/a5e35357529ceac782b6220c0ca4f21e) an efs-provisioner, I set the `reclaimPolicy` to `Retain`. However, when I delete my PVCs, the directories are deleted. Am I misunderstanding the intent or is this a bug?

[2018-09-23 19:08] briantopping opened #999 "rbd-provisioner: Monitor connection fail when FQDN has multiple A records"
When the provided monitor FQDNs return multiple A records, the Ceph monitor port may be firewalled on some of the addresses. In this case, the provisioner should try all the addresses that are returned rather than hang when the first one does not work.

May be related to #778.

The solution I used is to explicitly list the IP addresses of the monitor nodes that are known not to be firewalled.

[2018-09-23 19:13] briantopping opened #1000 "rbd-provisioner: `rbd` command hangs with insufficient configuration, no log output"
When the provisioner calls `rbd`, if the configuration is incorrect, the command hangs and no logs are generated. Without logging into the container, it is difficult to determine what is going on.

It may be helpful if the exec could timeout and report the failure rather than simply hang.

Similarly, at a higher verbosity level, it would be helpful to print the full `rbd` command so that it could

[2018-09-24 11:33] lbernail opened #1001 "When a node is recreated with same name but different uid, local-volume-provisioner fails"
Hello

We been facing the issue described in  #945
The solution proposed in the issue suggests to not use the node UID in the `pv.kubernetes.io/provisioned-by`
However the local-volume is actually a different one (the new local-volume will be empty). I was wondering if we could include the node-uid in the pv name hash function (https://github.com/kubernetes-incubator/external-storage/blob/784da098

[2018-09-24 16:56] msau42 commented on #1001
Hi @lbernail, when a node gets recreated but the disks are actually different, then I would actually suggest you setup those disks with a uuid built into the path.  Here's some background discussion on the issue: https://github.com/kubernetes/kubernetes/issues/51431.  In GKE, we have an option (available through whitelist) that will use unique UUIDs as the disk name for this exact issue.

The dang

[2018-09-24 18:04] msau42 commented on #972
Hi @nyurik does the init container approach mentioned in that post work?  Instead of using a hostpath volume, just replace it with a local PV.

[2018-09-24 18:32] nyurik commented on #972
@msau42 the init container approach would work, but has one issue - I cannot get multiple-read-only persisted google disks mounted "temporarily", so that I can copy their data to the local SSD and detach them.  Despite marking it as "readonly" everywhere, and requesting pvc to attach as readonlymany, the system is extremelly unstable. It seems like despite the settings, it attaches it as RW to the

[2018-09-24 18:48] msau42 commented on #972
Have you tried these instructions to mount GCE PDs as read only many?
https://cloud.google.com/kubernetes-engine/docs/how-to/persistent-volumes/readonlymany-disks

[2018-09-24 18:49] msau42 commented on #972
Note that for GCE PDs, all users of the PD have to mount it as read only.  Even if you have one user mount it as writable, then nobody else can mount it.

[2018-09-24 18:53] nyurik commented on #972
@msau42 thanks for the link, but I think I did exactly that. And yes, somehow the first instance ends up as RW, thus causing all these problems.  I will try it again to make sure, it is always possible i had a typo somewhere.

[2018-09-24 19:02] msau42 commented on #972
Let me know if that doesn't work.  As long as you set volumeMount.persistentVolumeClaim.readOnly = true on all your pods using GCE PD, then it should be attachable across multiple nodes.

[2018-09-24 20:28] lbernail commented on #1001
Thank you for your feeback, this really makes sense
I think we'll try do it the way you suggest: don't use node-id anymore and rely on uuid-based mountpaths

[2018-09-25 08:11] lbernail commented on #1001
After thinking about it I have some quick follow-up questions on garbage collection of old PVs:
- when you said PV1 could be deleted at any time, does this mean that the local-volume-provisioner will remove PV with invalid mountpaths (and so unbind them from their existing PVC)?
- what happens to Pod A? if the node is recreated fast enough it might still be scheduled to the new node. Will the pod

[2018-09-25 16:29] msau42 commented on #1001
I meant that the user can delete the PVC at any time (before or after the node is recreated, before or after PV2 is created)

Pod A will be able to mount the volume if: 1) PVC + PV still exists  2) the mount path still exists 3) new node has the same name

Yeah, it has to be an external controller that does the garbage collection since the DaemonSet cannot spawn a pod on a non-existing node.  Ther

[2018-09-25 17:20] wyllys66 opened #1002 "rbd status check fails -"
Using the ceph.com provisioner to create RBD images for persistent volumes exactly as described in the examples.

The RBD image is created successfully, however, the pod never completely starts and generates this error:

[code]

root is not an option right now, we would like to just use the rbd provisioner if possible without installing rook and all of its dependencies.

[2018-09-26 15:09] resouer commented on #779
@gmflau I also encountered this error recently and @msau42 's comment is exactly helpful. Would you mind to close this issue?

[2018-09-26 15:48] #779 closed

[2018-09-26 18:03] gnufied opened #1003 "Local storage provisioner should support creating PVs with block and file system type"
In 1.12 - to use local storage with file system, it will be no longer necessary for format and mount the block devices before using them. Kubernetes can do that itself, but the PV created by local storage provisioner must have `FSType`  set.

I think configmap format used by local storage provisioner needs to be updated to support creating PVs that could be later formatted by Kubernetes.

cc @jsaf

[2018-09-26 18:03] gnufied commented on #1003
/assign

[2018-09-26 18:06] wongma7 commented on #998
I think efs-provisioner:v0.1.2 is too old

[2018-09-26 18:06] msau42 commented on #1003
This should covered by #980

[2018-09-26 18:06] msau42 commented on #1003
Dup of #973

[2018-09-26 18:07] wongma7 commented on #989
for nfs-client the storage field is meaningless. It has no way to enforce it & enforcing it would be out of its scope
/area nfs-client

[2018-09-26 18:08] gnufied commented on #1003
heh. I am glad someone beat me to it. :-)

[2018-09-26 18:08] #1003 closed

[2018-09-26 18:09] wongma7 commented on #992
yes, once the volume is created by the provisioner it is like any rbd volume. That error sounds like the rbd executable is not on the node
/area ceph/rbd

[2018-09-26 18:10] wongma7 commented on #1002
is 'rbd' installed on the nodes?

[2018-09-26 18:11] wongma7 commented on #1002
we should document that ceph rbd utilities are required on nodes as a prerequisite

[2018-09-26 18:14] wyllys66 commented on #1002
rbd utilities are part of ceph-common package.

Just installing ceph-common is not enough, the node would also then need a minimal /etc/ceph/ceph.conf file in order for the rbd client to execute correctly.

[2018-09-26 19:41] flah00 commented on #998
derp! my eyes flipped it, so i read v1.0.2... i'll look into upgrading, thanks!

[2018-09-26 19:41] #998 closed

[2018-09-27 06:03] Paxa commented on #1002
+1 for adding it to documentation. I had same issue

[2018-09-28 06:34] lichuqiang commented on #973
Closing due to #980

[2018-09-28 06:34] #973 closed

[2018-09-28 09:01] cloud-jeong opened #1004 "Adding "archiveOnDelete" option to nfs-provisioner"
Dear all,
I'm trying to use nfs-provisioner to GKE cluster.

One thing we really need is the "archiveOnDelete" option such as nfs-client-provisioner.
Can you please add this feature?

Thanks.

[2018-09-28 14:50] msau42 commented on #1004
Hi, can you use Retain reclaim policy to achieve a similar effect?

[2018-09-29 00:47] cloud-jeong commented on #1004
Yes. If you use the retain reclaim policy option, the directory which used for pvc will remained. Great.
However, if you move directory name within "archived" prefix then It is easy to see if it's deleted.

Thanks.

[2018-10-01 10:58] nixpanic opened #1007 "Provisioner for creating PVCs based on a subdirectory on a Gluster Volume"
Looking to get more feedback about tis topic. The previous [email to sig-storage](https://groups.google.com/forum/#!msg/kubernetes-sig-storage/EqADeu8N3nw/L9zhy-LKCgAJ) did not gain any discouraging replies, though only very few in total. @humblec suggested to file a GitHub Issue instead.

# TL;DR

A proposal for a new external-storage Gluster Subvol provisioner that creates PVCs as subdirectories

[2018-10-01 14:05] jdmaguire opened #1008 "How To Set Mount Options For NFS-Client Provisioner"
Hiya,

I'm working on kubernetes clusters with RHEL as the underlying OS. RHEL has NFS version 4.1 as the default mount option. Unfortunately, my NFS server only supports version 3.x and 4.0. Because of this, using the nfs-client-provisioner fails as it doesn't override the hosts' mount options. I can edit the `/etc/nfsmount.conf` on the hosts to get this to work but this isn't a very portable sol

[2018-10-01 15:58] wongma7 commented on #1008
mountOptions is a field on the StorageClass, if there is a way to configure it via helm that will be ideal, but I believe it can be edited after the StorageClass has been created as well

[2018-10-01 16:35] wongma7 commented on #1004
Yes, this is ok with me. But unlike nfs-client it will need to default "false" instead of "true"
/area nfs

[2018-10-01 16:58] wongma7 commented on #1007
Sounds good to me.

Note there is a little bit of an effort to break the repo up since some of the things hosted here have proven they have the userbase to justify their own repos (and the process for having a kube community repo has been formalized), & it would make individual maintenance/releases easier. However I don't think I can simply link to an external repo as an endorsement since then tha

[2018-10-01 16:59] wongma7 commented on #1007
note also this sounds similar to nfs-client which just does `mkdir` in some nfs mount and not much else https://github.com/kubernetes-incubator/external-storage/blob/master/nfs-client/cmd/nfs-client-provisioner/provisioner.go

[2018-10-01 17:20] MrApe commented on #978
Same Problem here. Simply used the helm chart to install. It works on an ubuntu machine after installing nfs-common.

[2018-10-01 19:08] aglitke commented on #1007
Hey.  That annotation was chosen for the standalone-cinder provisioner back when it lived in this repo.  The goal was to agree on a standard annotation that all provisioners could use.  I agree it's not perhaps the best choice but it's already in-use.  Looking forward (k8s-1.13) we are looking to request cloning via a DataSource element in the PVC spec.

[2018-10-02 11:36] jdmaguire commented on #1008
That would be a workaround but I see that the StorageClass's mount options are not being propagated (https://github.com/kubernetes-incubator/external-storage/issues/629)

[2018-10-02 11:49] jdmaguire commented on #1008
Hmm, tried that just now and it didn't work. Looking around, it seems the StorageClass's mount options are not being propagated (https://github.com/kubernetes-incubator/external-storage/issues/629). Transitively, I see that connected to https://github.com/kubernetes-incubator/external-storage/issues/828. I helm fetch'd version: 1.1.1 of the chart with appVersion 3.1.0 (apologies if the terminology

[2018-10-02 12:24] schollii opened #1010 "how does this compare to https://github.com/jmespath/go-jmespath"
how does this compare to https://github.com/jmespath/go-jmespath

[2018-10-02 14:30] wongma7 commented on #1008
Oh, it is the provisioner that needs mountOptions. This is more complicated.

The problem is that it isn't possible to specify mountOptions for the provisioner here https://github.com/helm/charts/blob/master/stable/nfs-client-provisioner/templates/deployment.yaml#L45 without using a PV. You will need to replace the `nfs:` with a `persistentvolumeclaim:` and fill it with the name of a PVC bound to

[2018-10-02 14:34] wongma7 commented on #1010
totally unrelated

[2018-10-02 15:54] nixpanic commented on #1007
On Mon, Oct 01, 2018 at 04:58:12PM +0000, Matthew Wong wrote:

Thanks!

Ok, it is my preference to have the provisioner as part of
external-storage. I could probably place it in its own repository under
the Gluster organization as an alternative, but would rather not.

I plan to send a PR with the provisioner today or tomorrow. You should
see a note in this issue once it is available.

[2018-10-02 16:27] wongma7 commented on #629
this should be fixed in the latest version

there is no rule/guidance as to mount options, so it's up to the provisioner to reconcile storageclass.mountoptions with whatever default mountoptions it wants to set on its PVS

[2018-10-02 16:27] #629 closed

[2018-10-03 15:13] jrabary commented on #978
Thanks! Installing nfs-common solves the problem.

[2018-10-03 15:17] gnufied opened #1011 "Support updating configmap for local-storage provisioner"
Currently when user edits the configmap that holds local storage configuration, all pods managed by daemonset must be deleted and recreated. This is rather awkward I think because the only way to do so is by using a selector and deleting created pods. @jsafrane also pointed out, it potentially could be problematic to delete local storage provisioner pod if it is in middle of an operation.

I have

[2018-10-03 15:47] lichuqiang commented on #1011
Good point! A file watcher to support automatically reloading is more friendly to users.
But as @msau42 mentioned, we need to investigate existing configs to avoid potential corner cases. say the mode in which to delete a pv, if its storage class has been removed from configuration.

And a small reminder of the filewatcher lib: I remembered that the filewatcher can not work well on symlink files,

[2018-10-03 16:20] #967 closed

[2018-10-03 18:16] schollii commented on #1010
I meant: how does external-storage/vendor/github.com/jmespath/go-jmespath/ compare to https://github.com/jmespath/go-jmespath? Looks like the one in external-storage is a fork, or what? But the source seems very different.

[2018-10-03 18:57] gregsidelinger commented on #725
Is any work being done on this as I have a requirement to enable TLS in order to use EFS in kube?

[2018-10-03 19:17] wongma7 commented on #725
Not yet. I have not had the time to see how the mount helper works. Kubernetes is the one mounting shares, not the provisioner, and I don't think it's currently possible to tell it to mount with `-t efs` instead of `-t nfs`, so changes may be needed upstream.

[2018-10-03 19:20] wongma7 commented on #725
If it proves impossible, something like an EFS CSI driver that bundles the mount helper and calls NodePublish with `mount -t efs` will need to be written. I wonder if anybody is working on that.

[2018-10-03 19:31] wongma7 commented on #422
If you don't need these safeguards there is no practical difference between the efs provisioner and nfs-client https://github.com/kubernetes-incubator/external-storage/tree/master/nfs-client . You can specify mountOptions for nfs-client now and there isn't currently a way for efs provisioner to leverage the efs mount helper (see https://github.com/kubernetes-incubator/external-storage/issues/725)

[2018-10-03 20:36] schollii commented on #1010
OK thanks. I was hoping this meant eventual jmespath support in kubectl but I was mistaken...

[2018-10-03 21:46] ReillyProcentive commented on #422
Would the out-of-tree CSI volume plugin feature help with this? [link](https://github.com/kubernetes/features/issues/178)

[2018-10-04 04:58] Paxa commented on #756
Having same problem, using latest quay.io/external_storage/rbd-provisioner:latest

I already add /etc/ceph from host, and I can run ceph & rbd commands with container

[2018-10-04 08:59] MrApe commented on #978
I created a pull request to fix this for containers: #1012

[2018-10-04 14:31] gnufied opened #1014 "Consider using full disk path and just node name for generate PV names"
Currently for local-storage PVs we are using file name, node name and storage class name. We should consider removing storage class name and just use full path and node name. This will ensure that, if another copy of provisioner runs on the same node, it is unable to create PVs for same disk.

cc @msau42 @lichuqiang

[2018-10-04 17:48] msau42 commented on #1014
We can't change the name without breaking backwards compatibility, it would have to be a new option.

Alternatively, is there a better way to prevent multiple provisioners from being run?  Can the operator detect that one is already running and not create a second one?

[2018-10-04 17:55] wongma7 commented on #1014
maybe for 1.13 the provisioner can do some kind of leader election? I assume running more than 1 instance/daemonset on the same set of nodes is almost always a mistake

[2018-10-04 18:03] msau42 commented on #1014
You would need each node to have its own leader election.

Why can't the operator detect if it has already created a daemonset?

[2018-10-04 20:00] diptadas opened #1015 "Progress in dynamic provisioning for shared local persistent storage?"
For one of our tool, we need a shared local storage among containers running inside same/different pods. Currently, we are dealing this with `hostpath` volume. Can anyone give me an update on the progress in "Dynamic provisioning for shared local persistent storage" [feature](https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume#future-features)? Or any suggestions for

[2018-10-04 20:15] msau42 commented on #1015
Someone wrote a hostpath provisioner, which could work if you don't need capacity enforcement.

Otherwise @lichuqiang is working on a dynamic provisioner based off of lvm.

[2018-10-04 20:19] tamalsaha commented on #1015
Thanks @msau42 . Is there a repo that we can follow? Also, I saw you mention on Twitter that this will be converted to CSI driver. Any update on that?

[2018-10-04 20:52] msau42 commented on #1015
https://github.com/kubernetes/community/pull/1914 currently has an outdated proposal, but will be updated.

[2018-10-05 03:43] lichuqiang commented on #1015
Sorry to confuse you folks.
I've been on vacation these days, and I'll update the proposal once I'm back to the office (by the end of next week I think).

[2018-10-06 11:57] cloud-jeong opened #1017 "Is it possible nfs-client-provisioner connect to nfs-provisioner?"
Hi, all.

Is it possible nfs-client-provisioner connect to nfs-provisioner?
I think it is possible, but "read-only file system" error displayed when create pvc.

Please refer to following yaml files and let me know if you know anything.
Thanks.

* nfs-provisioner deployment yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: nfs-provisioner
---
kind: Service
apiVersion: v1
metadata:
  name:

[2018-10-07 15:54] betonmoewe opened #1018 "cephfs: nonroot users inside container can not create subdirs on mounted volume"
Hello,

I try to use the  cephfs-provisioner for dynamic volume claims.
The provision itself is fine, but if I try do create dirs as non-root user within the volume mount, I got "permission denied". As root user, erverything is fine. As workaround, I have mounted the cephfs filesystem too and do a chmod 777 on this newly from the provisioner dynamicly created directory.
How can I change this behav

[2018-10-08 15:53] Nilesh20 opened #1019 "Provisioner stops processing PVC's"
I am using the concept of external-storage.
I am running a provisioner which is processing the PVC's and binding them to PV's.
But after some time it stops processing the PVC's and PVC remains in pending state which looks like that it stops working , restarting provisioner solves this issue but i dont want to restart provisioner every time.

Few logs statement which looks suspicious are as follows

[2018-10-09 14:19] wongma7 commented on #1017
StorageClass  example-nfs needs mountOptions vers=4.1

But why would you want to do this? You could just use nfs-provisioner alone

[2018-10-10 08:36] gucki opened #1021 "rbd mount fails inside containerized kubelet"
I'm using rke to setup a kubernetes cluster. kubelet is running in a docker container. When rbd_utils.go tries to check for the rbd-nbd utils it does a `modprobe nbd`. This fails inside the container because the kernel modules are not available. This error could be avoided if rbd_utils would do a `lsmod | grep nbd` first to check if the module is already loaded.

https://github.com/rancher/rke/iss

[2018-10-11 13:38] JrCs commented on #992
I have this error:
`Warning  VolumeResizeFailed     13s (x4 over 2m)  volume_expand                                                                       Error expanding volume "kube-system/claim1" of plugin kubernetes.io/rbd : failed to get admin secret from ["kube-system"/"ceph-admin-secret"]: failed to get secret from ["kube-system"/"ceph-admin-secret"]
`
The kube-system/ceph-admin-secret secre

[2018-10-11 15:32] msau42 commented on #992
I do not believe the external provisioner handles resizing.  It is done by in-tree volume plugin.

[2018-10-12 00:36] yuchaoran2011 commented on #149
Hi @wongma7, are you sure this is fixed? I'm still seeing 755 permission:
`drwxr-xr-x    3 root     root          4096 Oct 10 01:54 persistentvolumes`
I installed the provisioner chart with the default setting, which uses the latest image: https://github.com/helm/charts/blob/master/stable/nfs-client-provisioner/values.yaml#L10

[2018-10-12 13:18] yuchaoran2011 commented on #149
Ok I saw the following error message when provisioning a new PV:

cluster.local/anxious-raccoon-nfs-client-provisioner_anxious-raccoon-nfs-client-provisioner-646b8bc8b4-jg924_9ad0ec75-ccf8-11e8-b81b-0a580a800207  failed to provision volume with StorageClass "nfs-client": unable to create directory to provision new pv: mkdir /persistentvolumes/default-claim1-pvc-7e821f54-ccfc-11e8-8439-0238590a06be

[2018-10-12 13:37] wongma7 commented on #149
@yuchaoran2011 The nfs-client provisioner needs permission to write to /persistentvolumes/ . What you can do is change the group owner of /persistentvolumes/ to e.g. 5555 and then edit your provisioner pod to have supplementalGroup 5555 so that it can write to the share. See here for more info https://docs.openshift.com/container-platform/3.11/install_config/persistent_storage/pod_security_context

[2018-10-12 14:00] yuchaoran2011 commented on #149
@wongma7 Thanks for the reply. My issue is that I can't do any `chmod` or `chgrp` command inside the provisioner pod. "Operation not permitted". Still trying to figure out the right permission settings.

[2018-10-12 14:05] wongma7 commented on #149
@yuchaoran2011 the provisioner pod probably isn't allowed to run as root (for good reason) so you may need to mount the nfs server some other place where you can manipulate its permissions

[2018-10-12 14:19] yuchaoran2011 commented on #149
@wongma7 Got it to work now. Thanks!

[2018-10-15 06:18] zhangxiaoyu-zidif opened #1024 "[WIP]should we add releasedTimestamp for pv"
*background:*
when we create PV dynamically by storageclass and released those PV. The remained PV should be cleaned periodically.

If we want automatically delete them by released order, we need a release timestamp in PV resource object.

[2018-10-15 11:04] MartinForReal commented on #1019
Could you please check your api server? It seems that api server is not working.

[2018-10-15 11:06] MartinForReal commented on #1018
how about changing the owner of dir using initializer? https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-initialization/

[2018-10-16 09:10] Nilesh20 commented on #1019
If i redeploy the provisioner then it starts working. so my query is if API server is not working then how redeploying provisioner works.

[2018-10-16 10:40] alpe commented on #971
Not your main issue but the provisioner won't work either due to ` error retrieving resource lock`.
Check your `ClusterRole` permissions and add `endpoints` for the new leader election:
[code]

[2018-10-16 14:28] wongma7 commented on #875
I will accept a PR that implements this

[2018-10-16 14:37] wongma7 commented on #1019
what version of the library are you using? It is using shared informers now and not doing anything special with its watches.

[2018-10-16 14:50] msau42 commented on #875
cc @jsafrane

[2018-10-16 18:30] wongma7 commented on #1024
It is the kubernetes PV controller that Releases PVs https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/pv_controller.go#L801.

To make sure I understand correctly: you want to leave PVs around with `Retain` reclaim policy and clean them up later with some kind of cron job? Why not give them `Delete` reclaim policy and let the provisioner delete them?

[2018-10-16 18:32] wongma7 commented on #1021
Please create an issue upstream at kubernetes/kubernetes too, when kubelet is containerized it is supposed to bind mount everything needed
/area ceph/rbd

[2018-10-16 18:33] #1010 closed

[2018-10-17 03:51] chenqiao3199 commented on #345
@majorinche   my 'Input/output error'  just gone, using your way. thanks you very much!!!

[2018-10-17 11:48] jsafrane commented on #875
The main reason why most provisioners don't support label selector is because labels have meanings. Consider PVC with this selector:

[code]
The provisioner must be smart enough to know what "zone" means, what zones are there and choose e.g. "north".

In this particular case matching with selector has more sense. However, `pvc.spec.selector` specifies PVs considered for binding, not Snapshots cons

[2018-10-17 14:50] Nilesh20 commented on #1019
I am using the controller structure from external storage and following libraries for kubernetes.

k8s.io/client-go = version v6.0.0
k8s.io/kubernetes = version v1.9.1

And i am getting above logs.
Apart from above log there are below statements also.

Failed to list *v1.PersistentVolume: persistentvolumes is forbidden: User "system:serviceaccount:default:<provisionerName>" cannot list persistentv

[2018-10-17 15:50] MartinForReal commented on #1019
Could you please make sue the service account the provisioner is using have access to list all of persistentvolumes?  Please refer to [docs](https://kubernetes.io/docs/reference/access-authn-authz/rbac/)

[2018-10-17 15:55] wongma7 commented on #1019
yes, it is an RBAC issue. refer also to https://github.com/kubernetes-incubator/external-storage/blob/master/aws/efs/deploy/rbac.yaml#L1 for an example of a ClusterRole. All provisioners using the library need at a minimum the RBAC permissions listed there: read/write PVs, read PVCs, read StorageClasses, write events.

/area lib

[2018-10-17 18:54] priteshchandaliya opened #1029 "NFS Demo link is not available"
https://github.com/kubernetes-incubator/external-storage/blob/v5.2.0/nfs/docs/demo
The link used in the nfs readme (with the hyper link as - here) for showing the demo does not exist.
Can you upload the demo at the link or update the link with the correct one.

[2018-10-17 19:02] wongma7 commented on #1029
The demo guide was removed because it wasn't maintained, the quick start should have enough information, it's just less verbose/explanatory https://github.com/kubernetes-incubator/external-storage/tree/v2.0.0/nfs#quickstart. You can view the old demo here https://github.com/kubernetes-incubator/external-storage/tree/v2.0.0/nfs/docs/demo but not everything in it is true anymore, I will fix the brok

[2018-10-17 19:02] wongma7 commented on #1029
/area nfs

[2018-10-18 15:33] zhangxiaoyu-zidif commented on #1024
@wongma7 in fact, we want to keep them for re-use, but if those released PVs are not reused for a long time or under disk pressure, we need to delete them by cronjob or other ways.
I need much more considerations.

[2018-10-18 15:41] zhangxiaoyu-zidif commented on #1024
cc @jian-he

[2018-10-19 15:04] Nilesh20 commented on #1019
Thanks

I checked RBAC yaml and i dont have following role and role binding in my rbac.yaml, i added it now.
I have query that  i started the provisioner it was able to process the pvc , i also created lot of pvc's with wrong configuration also and after that i created pvc's with right configuration and provisioner was able to process.
but after increasting load and trying lots of combination prov

[2018-10-20 00:56] caseylucas opened #1030 "[aws-efs] slow performance for multi-AZ mounts"
I'm not sure if this is an aws efs provisioner issue but maybe someone has a thought on how to solve the performance problems I saw when using efs provisioner.

### Summary
NFS mounts from pods use the availability zone specific EFS mount endpoint (IP) based on the AZ where kube-dns runs not the AZ of the mounting pod. If the mounting pod and kube-dns are in the same AZ then EFS performance is typ

[2018-10-21 13:12] twelfthdoctor commented on #515
Hello. Is this problem already solved in kubernetes 1.12 ?

[2018-10-22 08:09] princerachit opened #1031 "Update snapshot/pkg/volume/interface.go function SnapshotRestore to return PV object"
The `SnapshotRestore` allows setting only labels. It is not possible to set annotations using this function. If `SnapshotRestore` follows similar signature as that of `Provision(options controller.VolumeOptions) (*v1.PersistentVolume, error)` i.e. `SnapshotRestore(*crdv1.VolumeSnapshotData, *v1.PersistentVolumeClaim, string, map[string]string) (*v1.PersistentVolume, map[string]string, error)` It w

[2018-10-22 15:54] hdave opened #1032 "Could nfs-client provisioner make PV directory if it's not already there?"
Our project is successfully using nfs-client provisioner to create dynamic volumes on behalf of a claim.  However, for static (e.g. manually created) volumes, the nfs path has to exist in order for the PV to function.  This is a little inconvenient.  Ideally, we could apply a resource as follows where `/mnt/data/kubernetes` is our export:

[code]

and the directory `my-pv-test` would be made for m

[2018-10-22 16:41] gnufied commented on #1014
When we say "Why can't the operator detect if it has already created a daemonset" the question becomes what constitutes a daemonset. An admin can select bunch of nodes and some disks and create local storage CR that ultimately will create provisioner daemonset.  if another admin selects same nodes and disks but may be subtly different and creates the CR then it will result in creation of another d

[2018-10-22 17:45] betonmoewe commented on #1018
If this were my pod, I would try it, but unfortunately I had the problem with the helmet chart for gitlab. I've currently solved it with the nfs client extension. But it would be better to have a solution with a parameter under which the mount should run.

[2018-10-22 17:53] wongma7 commented on #1018
Seems related to https://github.com/kubernetes-incubator/external-storage/issues/515
/area ceph/cephfs

[2018-10-22 18:37] wongma7 commented on #1030
Currently the provisioner is hardcoded to mount from the given zone, i.e. $GIVEN_ZONE.file-system-id.efs.aws-region.amazonaws.com . (It needs to be refactored anyway because some people don't want to use the AWS DNS name and have their own.)

We need to implement support for topologies (see https://kubernetes.io/docs/concepts/storage/storage-classes/#volume-binding-mode and https://kubernetes.io/d

[2018-10-23 15:57] drekle opened #1034 "[openstack] Add support for in-use snapshotting of openstack cinder volumes"
We have a desire to take a volume snapshot of a cinder volume which is in use in our cluster.  I believe that there should be an annotation which can be placed on a VolumeSnapshot object to support this capability.

https://github.com/kubernetes-incubator/external-storage/pull/1033

[2018-10-23 17:33] caseylucas commented on #1030
@wongma7 Would you mind pointing me to the source that references `GIVEN_ZONE`?  I only saw https://github.com/kubernetes-incubator/external-storage/blob/master/aws/efs/cmd/efs-provisioner/efs-provisioner.go#L98 which implies that the zone-independent dns name is always being used.

[2018-10-23 17:40] wongma7 commented on #1030
Oh my mistake, it's totally ignorant of zones at the moment. Either way the long-term solution is to implement the topology stuff.

[2018-10-24 15:29] selvakumarnms opened #1035 "Could not start cephfs external provisioner pod"
Hi,
I got below error during starting of cephfs-provisioner-7b96c69b7c-w8sx6 pods

KeyError: 'getpwuid(): uid not found: 1000120000'

 File "/lib64/python2.7/site.py", line 556, in <module>
    main()
  File "/lib64/python2.7/site.py", line 538, in main
    known_paths = addusersitepackages(known_paths)
  File "/lib64/python2.7/site.py", line 266, in addusersitepackages
    user_site = getusersite

[2018-10-25 13:29] wongma7 commented on #1019
try the latest library version, e.g. https://github.com/kubernetes-incubator/external-storage/releases/tag/v5.2.0

[2018-10-25 14:26] msau42 opened #1036 "Update local provisioner base image"
It's old

[2018-10-25 20:06] gnitzan commented on #516
left iscsi behind, too combersome. Started using Glusterfs with Heketi.

[2018-10-25 20:06] #516 closed

[2018-10-25 20:59] hdave commented on #1032
I was afraid of that -- that the only hook to do automation is in the PVC, not the PV.  IMO - this is an issue with k8s in general.  For example, when pushing a gcloud PV, you can't have the persistent disk made for you.  Automation requires PVC -- but in PVC you can't name the disk!

[2018-10-25 21:13] wongma7 commented on #1032
One way to think of it is that PVC is for users and PV for admins, so PVCs have to be limited. In theory the provisioner could implement this using PVC annotations, e.g. if the PVC has annotation "example.com/nfs-path: my-pv-test" then the provisioner creates a path at /mnt/data/kubernetes/my-pv-test + corresponding PV. But then there's a bunch of issues to think about, e.g. what if somebody spam-

[2018-10-25 21:13] #1032 closed

[2018-10-25 21:20] msau42 commented on #1032
You could use subpath to create subdirectories dynamically?

[2018-10-26 14:28] pehlert commented on #871
If this happens to you, make sure you have an MDS server running in your ceph cluster. Otherwise the provisioner will wait for a response from MDS for a long time and abort eventually.

[2018-10-30 13:15] hdave commented on #1032
That is a clever idea and would certainly work, however, in our case we also need to deploy these workloads to minikube and GoogleCloud too (where we don't use NFS) and we have too much depending on one PV per POD.

[2018-10-30 13:43] msau42 commented on #1032
Is it possible to move to a model where PVs are not precreated? Then you can just let the nfs subdirectory get created via the PVC

[2018-10-30 14:37] hdave commented on #1032
That is how it works now.  My problem is that I cannot specify the directory for the PV to use within the PVC.  Instead, it creates a directory on my NFS server which is named after the UUID name of the PV.  So I am pushing my own PV's manually after manually creating the appropriate directory.

[2018-10-30 14:46] msau42 commented on #1032
What is the reason why you need specific directory names for the PV?  Maybe one approach could be to add a configuration option to the nfs-client provisioner for a prefix to use for directory names

[2018-10-30 15:06] hdave commented on #1032
That would be great!

[2018-10-30 15:39] drekle commented on #1034
closing in favor of kubernetes csi work

https://github.com/kubernetes-csi/drivers/tree/master/pkg/cinder

[2018-10-30 15:39] #1034 closed

[2018-10-31 02:32] cofyc commented on #949
/assign

[2018-10-31 02:33] cofyc commented on #1036
/assign

[2018-10-31 02:33] cofyc commented on #946
/assign

[2018-10-31 02:34] cofyc commented on #958
/assign

[2018-10-31 09:49] cofyc commented on #885
/close

[2018-10-31 09:49] #885 closed

[2018-10-31 10:53] cofyc commented on #1036
Do you mean `centos:7` base image in Dockerfile? For security?

[Latest centos image](https://hub.docker.com/r/library/centos/tags/) is `7.5.1804`, and latest `centos:7` is same as it. We can rebuild current provisioner images to use latest version, but perhaps we need to do it manually.

[2018-11-01 00:50] msau42 commented on #1036
Oh ok, maybe it's a matter of pushing a new container image to update to the latest centos:7

[2018-11-01 00:51] msau42 commented on #1036
I was also thinking if we want to consider using a slimmed down base image and only installing the necessary packages we need.

[2018-11-01 02:00] cofyc commented on #1036
+1
I'll try to switch to `alpine`, it's based on busybox but includes a package manager `apk`, easier to use.

[2018-11-01 02:02] msau42 commented on #1036
I think kubernetes org actually discourages alpine.  This is what they recommend: https://github.com/kubernetes/kubernetes/tree/master/build/debian-base

[2018-11-01 02:09] cofyc commented on #1036
OK, I'll look at it.

[2018-11-01 04:05] cofyc commented on #950
I'm working on some tasks on local volume provisioner. I'll take a look.
/assign

[2018-11-01 04:09] cofyc commented on #1036
/area local-volume

[2018-11-01 04:19] cofyc commented on #1011
/area local-volume

[2018-11-01 08:42] bholagabbar-mt opened #1043 "Instructions to build Docker image for AWS EFS ?"
The Dockerfile [here](https://github.com/kubernetes-incubator/external-storage/blob/09d7855e68dbfebb47f251845052e09f920b7a55/aws/efs/Dockerfile) is as follows

[code]

Seems like it's unclear where to run this from. When does the [efs-provisioner.go](https://github.com/kubernetes-incubator/external-storage/blob/09d7855e68dbfebb47f251845052e09f920b7a55/aws/efs/cmd/efs-provisioner/efs-provisioner.go

[2018-11-01 10:34] bholagabbar-mt commented on #953
Yup, as @wongma7 said, adding the namespace to the ClusterRoleBinding fixed the issue for me. If you're using the default manifest file given here - https://github.com/kubernetes-incubator/external-storage/blob/master/aws/efs/deploy/manifest.yaml

Simply change the ClusterRoleBinding section to this:

[code]

[2018-11-01 10:51] jian-he opened #1044 "Provide a shouldDelete hook in Qualifier interface"
Currently, the Qualifier has a ShouldProvision hook for external-provisioner to determine whether shouldProvision or not.
[code]
Similarly, we can add a shouldDelete hook for external-provisioner to determine whether to delete the PV or not.  - we implemented a custom provisioner and would like to inject  logic for deletion such as time-based or space-based deletion policy.
[code]

@jsafrane ,  do

[2018-11-01 12:34] heamaral commented on #1004
It would be great If displays in the format:
namespace-pvcname...
archived-namespace-pvcname...

[2018-11-01 14:56] wongma7 commented on #1043
Please see the makefile: https://github.com/kubernetes-incubator/external-storage/blob/master/aws/efs/Makefile

We go build ./cmd/efs-provisioner and then copy the result efs-provisioner into the container root

Btw, patches to allow custom domains are welcome...a lot of people have been asking

[2018-11-01 14:58] wongma7 commented on #1044
yes, can be added. note that in the meantime there is also the option for Delete to return IgnoredError. The difference is that ShouldProvision/ShouldDelete gets called before Delete even gets called.

[2018-11-01 23:10] nkrendel opened #1045 "re-deploying efs-provisioner causes EFS data to be deleted. Expected?"
I have a Terraform script that installs efs-provisioner + grafana etc.

I noticed that after I destroy + re-deploy the provisioner, the data in EFS is gone.  Is this expected?

[2018-11-02 03:08] zhangxiaoyu-zidif commented on #1044
great！ we can add this method to avoid many outer processes. thumbs up.

[2018-11-02 14:01] wongma7 commented on #1045
no, please share more information about what destroy + re-deploy means

[2018-11-02 15:50] nkrendel commented on #1045
I have a terraform provisioning script that creates an EKS cluster, and installs external-dns and efs-provisioner, and installs grafana, which is configured to use the EFS.  This all seems to work well, and if I delete the grafana pod, the newly created pod still sees the files in EFS.  However if I destroy the cluster and re-provision it, all the data in EFS is gone, and grafana ends up with a ne

[2018-11-02 15:56] wongma7 commented on #1045
when you destroy the cluster, every object including every PVC is getting deleted right? The reclaimPolicy defaults to delete so the provisioner will clean up every PV. If grafana is consuming the EFS folder via PVC, I'm not sure how to preserve it across clusters.

[2018-11-02 16:10] nkrendel commented on #1045
I created the StorageClass with a `reclaimPolicy: Retain`.  I thought that would prevent it from cleaning up existing data?

[2018-11-03 00:31] #949 closed

[2018-11-05 15:06] wongma7 commented on #1045
yes, you can confirm that's the case by checking that the PVs have reclaimPolicy: Retain too

[2018-11-05 17:30] nkrendel commented on #1045
The PV does have reclaimPolicy set to Retain:
[code]
Yet when I destroy the cluster, the EFS data gets wiped...  Any ideas why that is happening?

[2018-11-05 17:39] wongma7 commented on #1045
It's possible if the provisioner is too old it won't respect the reclaimpolicy on the PV. what version is it? Can you try deleting a single PVC and see what happens?

[2018-11-05 18:52] nkrendel commented on #1045
I'm deploying the latest provisioner:
[code]
I did verify that deleting the PVC causes the efs data to be erased.

[2018-11-05 19:05] wongma7 commented on #1045
My bad, version doesn't matter, I was thinking about reclaimpolicy on the SC...respect for reclaimpolicy on PVs has always existed.

Please check/provide the logs of the provisioner when you delete a single PVC, it must be saying things like "volume deleted" etc. Does the PV get deleted too when you delete a PVC?

[2018-11-05 19:17] nkrendel commented on #1045
The PV does not get deleted when the PVC is deleted.  It is just marked as "Released":
[code]
The efs-provisioner log doesn't show anything at all when deleting the PVC.  When the pod/pvc are re-created, I see the typical messages:
[code]

[2018-11-05 19:34] nkrendel commented on #1045
I think I understand what you're saying...  couple of follow-up questions:
1. would what you're saying also explain why manually deleting just the PVC causes the next PVC to not show any data?  (not deleting the provisioner or the cluster, just the PVC)
2. is your recommendation then to just not use the provisioner?

[2018-11-05 19:42] wongma7 commented on #1045
1. yes. For example, say the first pvc-1 points to pv-1 which has path /pv-1. When you create a new pvc-2 it points to pv-2 which has path /pv-2. Ideally if you want to reuse the data in pv-1 you would not delete pvc-1 at all, and instead remount pvc-1 in the new pod. Or you can make a copy of pv-1 and bind pvc-2 to it then mount pvc-2 in the new pod.
2. yes, in this case. The provisioner is fine

[2018-11-05 19:43] nkrendel commented on #1045
makes sense.  thanks a lot for your help and responsiveness!  👍

[2018-11-05 19:43] #1045 closed

[2018-11-06 14:40] #1036 closed

[2018-11-06 21:55] jsuchenia opened #1049 "Ceph RBD default meta keys - for QOS"
RBD implemented [QoS](https://github.com/ceph/ceph/pull/17032) by setting custom metadata keys.
So in Ceph provisioner it could be good to have an ability of defining default metadata set during creation. In that case we can create different QoS settings per each StorageClass

It's a matter of execution: ```rbd image-meta set <rbd_image> <key> <value>``` after image has been created

[2018-11-07 09:16] dcleric commented on #903
Hey guys,
We suffer same issue with:
ceph version 13.2.2 (02899bfda814146b021136e9d8e80eba494e1126) mimic (stable)
Kuberenetes v1.11.3
Does it have any progress except info "upstream is working on it" from the previous message?
Thanks,

[2018-11-08 00:51] msau42 opened #1052 "Delete local PV If directory not found"
A use case is for cloud environments where the node can get recreated with the same name, but the disks are gone.  User can delete the PVC, and the PV will become Released. However, PV cleanup will return an error if the path doesn't exist.  What do you think of allowing PV deletion to proceed in this case?

cc @cofyc @lbernail

[2018-11-08 01:10] msau42 commented on #1052
/area local-volume

[2018-11-08 03:52] cofyc commented on #1052
When users recreated a node, they deleted (at least detached) all storage devices from it. Users also may remove devices or filesystems before deleting PVCs. When users reattach these storage devices to new node, they must clean up old devices if they don't want old contents to be used, whether new node shares same name with old node or not. I think they are in charge of cleaning up all devices an

[2018-11-08 23:39] whereisaaron commented on #953
Hi @wongma7 @rafaelmagu, there is a [fix in progress](https://github.com/helm/charts/pull/9127) for the official Helm chart, to add support for the Endpoints access required by v2.0.0 (thanks @kppullin 👏). https://github.com/helm/charts/pull/9127

[2018-11-13 10:40] ymazzer opened #1059 "[cephfs] admin and user capabilities issue in shared cephfs"
Hi,

I'm wondering why is the `mds 'allw r path=/'` required for the admin client and for the pv client.

Using capabilities [caps1] the following way:
[code]

Everything works fine.

But using the following capabilities [caps2] fails:
[code]
with error:
[code]
By the way, using [caps2] still allows the user to mount the folder correctly

[code]
In a shared cephfs cluster, such capabilities [cap1]

[2018-11-15 10:13] fangchao117 opened #1061 "How to configure ClusterRole"
My sc namespace is cephfs

kubectl get sc
NAME     PROVISIONER       AGE
cephfs   ceph.com/cephfs   17s

Created pvc using monitoring namespace

cephfs-provisioner error logs：
![462dd1e3-109c-4360-9547-93eb7525309a](https://user-images.githubusercontent.com/20237080/48545928-f8033900-e901-11e8-9adb-35b177b4b43d.png)

clusterrole.yaml
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
m

[2018-11-16 02:19] #946 closed

[2018-11-16 05:06] MartinForReal commented on #1061
please delete secret resource cephfs-pv-grafana-secret under monitoring namespace.

[2018-11-16 07:10] fangchao117 commented on #1061
Thank you, but you need to delete each time you create a PVC. And cephfs error input/output error occurs when accessing the service log when mounting to other services

[2018-11-16 13:51] AmreeshTyagi commented on #713
I am still facing similar problem. Everything seems good in my case. POD is up & running. Mount directories are also created on nodes,  but PVs were not created automatically.

As per provisioner:v2.1.0 pod logs:
`I1116 11:46:37.235094 1 common.go:259] StorageClass "local-scsi" configured with MountDir "/mnt/disks", HostDir "/mnt/disks", BlockCleanerCommand ["/scripts/quick_reset.sh"]`
`I1116 11:4

[2018-11-16 13:53] msau42 commented on #713
Can you list the paths of your mount points and also show your daemonset spec?

[2018-11-16 15:31] selvakumarnms opened #1062 "[ceph rbd]PVC state goes on Pending state"
Hi,
I used latest code ceph rbd provisioner and my PVC goes to pending state ever and the log of rbd-provisioner is given below,
I dont see any error except coredns part.

yclaim", UID:"1b3db36d-e966-11e8-995b-5254001d8c3a", APIVersion:"v1", ResourceVersion:"51219", FieldPath:""}): type: 'Normal' reason: 'Provisioning' External provisioner is provisioning volume for claim "default/myclaim"
W1116 0

[2018-11-18 14:02] AmreeshTyagi commented on #713
One more information, I am running Kubernetes v1.11.3 in Rancher 2.0.
I have also enabled `"feature-gates": "PersistentLocalVolumes=true, VolumeScheduling=true, MountPropagation=true"`

**local-storage-provisioner.yaml**
`apiVersion: v1`
`kind: ConfigMap`
`metadata:`
`  name: local-provisioner-config`
`  namespace: mysql`
`data:`
`  storageClassMap: |`
`    local-scsi:`
`       hostDir: /mnt/disks

[2018-11-19 09:15] selvakumarnms commented on #1062
some more inputs regarding this issue,
I have enabled ceph monitoring on master and ceph osd on the compute where block devices are exposed
block devices details,
[root@compute-r1c1 ceph]# lsblk
NAME                                                                                        MAJ:MIN RM  SIZE RO TYPE MOUNTPOINT
vda

[2018-11-19 11:21] cite opened #1063 "[iscsi] New nodes aren't added to LUN mappings"
We just added three new nodes to our k8s testbed, removed the iscsi provisioner deployment, the iSCSI storage class definition and added both again, after adding the three new nodes to the `parameters.initiators` setting. This works fine for new volumes:

[code]

However, non of the existing LUN mappings is updated:

[code]

Is there a way to have the iSCSI provisioner add the missing mappings, or

[2018-11-19 19:04] sypticus commented on #1045
Thanks, cleared up my problem as well. Seems like the provisioner could be updated to allow pathnames to be defined, which would eliminate this issue.

[2018-11-19 23:35] msau42 commented on #713
@AmreeshTyagi the configuration looks correct to me.  Where are you creating the mount points?  Can you show the mount points on your host system?

[2018-11-20 05:06] sujithvs74 opened #1065 "Unable to mount efs"
I am getting below error while deploying efs-provisioner, can somebody guide me on this.

Do I need to install nfs-util package in pod level to make it work.

I am using mount target IP to mount EFS to efs-provisioner.

Volume Mount :
[code]

Configmap

[code]

[code]

[2018-11-20 13:01] AmreeshTyagi commented on #713
Not sure, if you are asking for showmount or fstab on worker nodes.
Here is my `fstab` result on worker nodes. I did `showmount`, but it was giving me error `clnt_create: RPC: Program not registered`. May be because of nfs service is not running. I don't want to use NFS, so service is down.

`amreesh@test:~$ cat /etc/fstab`
`# /etc/fstab: static file system information.`
`#`
`# Use 'blkid' to prin

[2018-11-22 08:08] moishikb opened #1068 "Upgrade to use new Alpine base image"
Hi,

During an audit that done on a deployment that uses "efs-provisioner" solution, it was found that the system uses a vulnerable Alpine Linux image in the efs-provisioner-deployment Pod.

This version is vulnerable to multiple CVEs, which include but not limited to:

CVE-2017-16544 - Possible code execution (6.5 Medium)
CVE-2017-15873 - Integer overflow (4.3 Low)
CVE-2017-15874 -  Integer under

[2018-11-23 13:15] KlavsKlavsen opened #1069 "test-pod fails to mount rdb disk"
following setup as described - everything looks fine - and it gets an active volumeclaim (pvc state = Bound) - but test-pod fails with
[code]

any hints on how to debug that? It seems the command to "check rbd image status" is missing?

Running rbd ls kube on ceph cluster looks fine:
[code]

[2018-11-26 06:48] cofyc commented on #958
/unassign
It seems like you need to update the GKE docs which is beyond my ability.

[2018-11-26 21:32] #810 closed

[2018-11-27 11:08] fabiorauber opened #1072 "RBAC: role.rbac.authorization.k8s.io "local-storage-provisioner" not found"
Role local-storage-provisioner in provisioner-cluster-role-binding.yaml is not created, generating the following error on pod startup:
[code]
When setting **common.useJobForCleaning** variable, a Role is created with the name **local-storage-provisioner-jobs-role**:

https://github.com/kubernetes-incubator/external-storage/blob/b00b4a71e3cba3cb7bc9bb7ffde48e84c4de948b/local-volume/helm/provisioner

[2018-11-27 23:18] wongma7 commented on #1068
Will need to double check about 15874 but the other CVEs should be fixed in the latest image https://quay.io/repository/external_storage/efs-provisioner?tab=tags

[2018-11-27 23:42] wongma7 commented on #1059
I think this is a consequence of how the python client works, it has to mount the whole fs here https://github.com/ceph/ceph/blob/master/src/pybind/ceph_volume_client.py#L479 and  http://docs.ceph.com/docs/mimic/cephfs/client-auth/ says "Note that if a client’s read access is restricted to a path, they will only be able to mount the filesystem when specifying a readable path in the mount command (

[2018-11-27 23:45] wongma7 commented on #1059
I missed about the pv client, I only talked about admin client in the above comment. I am not sure if PV client needs `allow r path=/` as well, will need to investigate some more

[2018-11-28 07:06] sujithvs74 commented on #1065
This is fixed after installing nfs-util in node level.

[2018-11-28 07:06] #1065 closed

[2018-11-28 08:14] KlavsKlavsen commented on #1069
ahh.. I installed ceph-common on alle kubernetes nodes - and voila :)
Perhaps the code should check for dependencies such as the rdb binary being there - and report more precisely whats missing :)

[2018-11-28 08:14] #1069 closed

[2018-11-28 10:20] arunramachandran15 commented on #1065
If I have to attach new nodes to the eks cluster, how can I automate nfs-util installation. Should I create AMI for it? Any other options available? @sujithvs74 @wongma7

[2018-11-28 16:15] wongma7 commented on #1065
@arunramachandran15 not sure, I would ask aws, maintaining ami does not sound too pleasant though IMO

[2018-11-29 06:58] jianglingxia commented on #978
I have accured the nfs-client-provisioner pod not running problem, but not the same with above,

the nfs-client-provisioner pod always restart like that:

[root@jlx-k8s1 exports]# kubectl get po -w
NAME                                     READY     STATUS        RESTARTS   AGE
iag-192.168.1.170                        1/1       Running       6          23d
local-test-0                             1

[2018-11-29 12:11] jianglingxia commented on #978
[root@jlx-k8s1 nfs]# kubectl logs nfs-client-provisioner-78d857f9d-g5j6p
F1129 11:51:22.332731       1 provisioner.go:180] Error getting server version: Get https://10.254.0.1:443/version?timeout=32s: dial tcp 10.254.0.1:443: i/o timeout

[2018-11-30 13:10] aparamon opened #1074 "Proper serviceAccountName for NFS provisioner?"
[code]

I use the following code to initialize NFS provisioner:
[code]
I used `kube-system:storage-provisioner` as a seemingly suitable pod Service Account. However when trying to bind a Persistent Volume Claim:
[code]
A workaround is
[code]
but it gives too much power for `kube-system:storage-provisioner`.

It is proposed that Service Account `kube-system:storage-provisioner` grants enough privil

[2018-12-01 18:06] iboware opened #1075 "[aws-efs] efs-provisioner pod stuck at ContainerCreating state"
Hi,
I tried multiple ways to deploy the efs-provisioner/aws-efs but It always gets stuck at ContainerCreating state.
That's the message I'm getting after timeout.
[code]

[code]

[2018-12-10 03:14] aixeshunter opened #1077 "Sharing upper level nfs directory, is it worked?"
### Issue
I created a nfs server dir in /opt/share_nfs, the `showmount -e` result is:
[code]
Then, I runned the `nfs-client-provisioner` pod in k8s,  the nfs infomation be written is:
[code]
And the pod  is running and the logs:
[code]
Everything looks ok, but is it real correct?
PVC and PV can be worked?

[2018-12-10 09:47] bitnik commented on #855
Hi, I tried this feature out and I had the same problem. And today I was reading the documentation again and I saw in https://github.com/kubernetes-incubator/external-storage/blob/nfs-provisioner-v2.2.0-k8s1.12/nfs/docs/deployment.md#deploying-the-provisioner:

Above example is deployed in kubernetes and I did the same.

Does this mean that right now only way to have quotas working is to deploy nf

[2018-12-10 20:04] #1072 closed

[2018-12-11 16:50] akram commented on #855
Hi all,

@bitnik it would make sense to me also, since setting quota requires root privlilged.
@wongma7 if I understand correctly, the Kubernetes Deployment object should also specify securityContect: { privileged: true }

It is apparently not the case. IMHO, the xfs_quota is probably failing silently

[2018-12-11 19:23] bunjiboys commented on #953
It seems that the manifest.yaml is also missing the serviceAccount bit in the specs, which leads to the pod trying to use the default user, thus failing with RBAC issues with the error
[code]

To fix this, you just need to change
[code]
to
[code]
in the manifest.yaml (after creating the service account in the first place as mentioned in the previous comment

[2018-12-11 20:50] jonaskello opened #1079 "Rename nfs directory to nfs-server"
It seems like the `nfs` directory in this repo contains what in the helm chart is called [`nfs-server-provisioner`](https://github.com/helm/charts/tree/master/stable/nfs-server-provisioner). If this is true I would suggest renaming the `nfs` directory in this repo to`nfs-server` to make it more clear what it is and align the naming with the helm chart.

As a side-note, when I was looking for what

[2018-12-12 00:39] tzenes commented on #842
I ran into this problem recently running a multi-region cluster on GCE.

The work-around _mostly_ worked, but seems to have a specific problem with [regional-pd](https://kubernetes.io/docs/concepts/storage/storage-classes/#gce-pd) replication types (recommended by google).
[code]

It looks like they're using a slightly different string: `us-west1-a__us-west1-c`

I was able to (further) work around

[2018-12-12 15:41] cofyc opened #1080 "[rbd] Use PV name to create rbd image"
Because pv name are unique too, no need to use another random name.

To keep backward compatibility, add an option for this.

[2018-12-14 01:48] qct commented on #749
@Damien9527 , in your storageClass, you need to specify
[code]

[2018-12-14 03:56] zhonghaihua opened #1081 "python-cephfs version mismatching to cephfs_provisioner.py"
I clone the kubernetes-incubator/external-storage from master, and follow the cephfs/README.md to build my cephfs provisioner image.
But, the master branch `cephfs_provisioner.py` use the new python-cephfs version, when the version of pthony-cephfs in image installed by `yum install -y ceph-common python-cephfs` is the old version(python-cephfs-10.2.11-0.el7.x86_64). I check this version(10.2.11)

[2018-12-14 03:57] zhonghaihua commented on #1081
@k8s-ci-robot can someone to see this?

[2018-12-15 09:43] joaocc commented on #762
Any updates on this?
If now, where can I find pointers to build a more up-to-date image of https://github.com/nfs-ganesha/nfs-ganesha using 2.7.1 for instance?
Thx

[2018-12-17 21:57] wongma7 commented on #855
@bitnik @akram @moonek  it should work with privileged true, I just tested it locally on fedora (hack/local-up-cluster.sh). Do the nfs-provisioner logs show anything? As an example, here is what I see after I create a PVC that request 1MiB from the provisioner where the XFS file system at /tmp/xfs-mtpt is mounted to /export
[code]

[2018-12-17 22:01] wongma7 commented on #1079
I agree, but it is probably too late to rename the directory else we break links and such. Most people are interested in nfs-client, but the "nfs-server" one was written first so it took the nfs name. There is probably a way to improve the README, to say something like 'you may be looking for...' or a brief comparison of the two. I will work on inserting something into both READMEs

[2018-12-18 01:07] msau42 commented on #1079
@wongma7 aren't we going to split out each of the external provisioners to independent repos?

[2018-12-18 14:56] wongma7 commented on #1079
@msau42 oh yeah...I need to clean up issues/PRs first, will start kicking things out after holidays I think

[2018-12-18 15:57] guilleironhack commented on #1075
I am having the exact same issue. Are there any news related to it?

[2018-12-18 16:04] wongma7 commented on #1075
Check kubelet logs to see why mount is failing. Based on what is in your spec kubelet will do the mount e.g.
[code]
means kubelet will basically do `mount -t nfs  fs-47a2c22e.efs.us-west-2.amazonaws.com:/persistentvolumes` so if for some reason that does not work from the node then the container will not start. You can ssh into the node and try to see if mount works manually. If not there is some

[2018-12-18 16:39] guilleironhack commented on #1075
You were right, there was a mismatch in the security groups between the EC2 instances and the EFS mount targets. Thank you!!

[2018-12-18 21:38] wongma7 opened #1083 "Break up this repo into individual kubernetes-sigs/sig-storage* ones"
There is a nice and quick process for getting a repo in kubernetes-sigs/ now. We already have https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner and https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner.

Track the work for the rest here.

[2018-12-19 00:37] msau42 commented on #1052
Moving issue to the new repo: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/6

[2018-12-19 00:37] msau42 commented on #1052
/close

[2018-12-19 00:37] #1052 closed

[2018-12-19 00:39] msau42 commented on #945
Please open a new issue in https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner if you still have problems.

/close

[2018-12-19 00:39] #945 closed

[2018-12-19 00:40] msau42 commented on #1001
Please open a new issue in https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner if you still have problems

/close

[2018-12-19 00:40] #1001 closed

[2018-12-19 00:41] msau42 commented on #958
Migrating to new repo: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/7

[2018-12-19 00:42] msau42 commented on #907
/close

[2018-12-19 00:42] #907 closed

[2018-12-19 00:43] msau42 commented on #950
Moving issue to new repo: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/4
/close

[2018-12-19 00:43] #950 closed

[2018-12-19 00:43] msau42 commented on #958
/close

[2018-12-19 00:43] #958 closed

[2018-12-19 00:47] msau42 commented on #845
If you still have problems, please open an new issue under https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner
/close

[2018-12-19 00:47] #845 closed

[2018-12-19 00:49] msau42 commented on #786
Migrating to new repo: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/8
/close

[2018-12-19 00:49] #786 closed

[2018-12-19 01:05] msau42 commented on #701
Migrating to https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/9

[2018-12-19 01:05] msau42 commented on #701
/close

[2018-12-19 01:05] #701 closed

[2018-12-19 01:12] msau42 commented on #817
Migrating to new repo: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/10
/close

[2018-12-19 01:12] #817 closed

[2018-12-19 01:14] msau42 commented on #739
Migrating issue to new repo: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/11
/close

[2018-12-19 01:14] #739 closed

[2018-12-19 01:15] msau42 commented on #616
/close

[2018-12-19 01:15] #616 closed

[2018-12-19 01:16] msau42 commented on #1011
Migrated to https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/12
/close

[2018-12-19 01:16] #1011 closed

[2018-12-19 01:22] msau42 commented on #250
Rancher has also created a host path provisioner that creates directories on demand.  But it doesn't do the balancing as you mentioned.

Proper dynamic provisioning support with capacity isolation is being tracked here: https://github.com/kubernetes/enhancements/issues/562

/close

[2018-12-19 01:22] #250 closed

[2018-12-19 01:23] msau42 commented on #280
Tracking this as part of health monitoring: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/10
/close

[2018-12-19 01:23] #280 closed

[2018-12-19 04:43] cofyc commented on #1083
I'm going to break out ceph (cephfs & rbd) provisioner.

[2018-12-19 08:57] geosword opened #1085 "Why does the cephfs provisioner comprise both go and python files?"
Cephfs has ceph-provisioner.go AND cephfs_provisioner/cephfs_provisioner.py
I can see that both are copied to the container, also that cephfs_provisioner.py is the entry point for the container.
I cant see any reference to cephfs-provisioner (the go binary) in cephfs_provisioner.py, so when is cephfs-provisioner actually called?

[2018-12-19 09:03] geosword commented on #1085
I just realised the go based cephfs-provisioner is the entry point which kubernetes calls, cephfs-provisioner, then calls cephfs_provisioner (the python program), presumably to create the volume. You can track this by checking example/class.yaml:
[code]
Then a grep in cephfs-provisioner:

[code]

And we can also see there that it will call cephfs_provisioner(.py)

Ill RTFM a bit more in future!!!

[2018-12-19 09:03] #1085 closed

[2018-12-19 11:06] thunderball1 opened #1086 "[local-volume] ARM support?"
Hey, could you provide steps how prepare local-volume-provisioner for ARM?

[2018-12-19 11:11] Tenzer commented on #1043
Perhaps it would be easier to make use of a multi-stage build file, so building the image doesn't rely on having Go installed and in a specific version?

[2018-12-19 16:43] wongma7 commented on #1043
yes, although multi-stage would be a lot less complicated, so I will leave this issue open to track getting that done. Also, @bholagabbar-mt , re: the root issue here, support for a custom dns.name/DNS_NAME was added so that you don't have to use hardcoded aws assigned domain names.

[2018-12-19 18:16] geosword commented on #871
For me, I hadnt yet created a ceph file system with
[code]

[2018-12-20 05:54] bholagabbar-mt commented on #1043
Great! Yeah, the custom DNS is much needed. The ‘AWS assigned domain name resolution’ option was switched off in my VPC because of which the EFS DNS couldn’t be resolved. I ended up switching to the IP address but ran into another problem.

Finally ended up enabling the option (hoping it wouldn’t break anything, which it did not) and then used the AWS assigned DNS for the EFS file system as normal

[2018-12-20 17:49] Tenzer commented on #1043
I had a go at changing the Dockerfile to be a multi stage one in https://github.com/kubernetes-incubator/external-storage/pull/1088.

[2018-12-21 09:47] fejta opened #1089 "Please archive kubernetes-incubator/nfs-provisioner"

[2018-12-21 09:47] fejta commented on #1089
Is there a reason we haven't archived this previous name for this repo? It says it is deprecated

[2018-12-21 15:21] wongma7 commented on #1089
No reason, it can be archived, not sure who has permissions to do that.

[2018-12-21 21:50] fejta commented on #1089
Thanks, archived!
/close

[2018-12-21 21:50] #1089 closed

[2018-12-21 22:14] geerlingguy commented on #754
@ParaSwarm - Thank you _so_ much for posting the detailed guide. Note that for me, I ran `apk add bash` (without the `--no-cache` flag) to make installing bash work without any fancy quoting or other steps.

I am running the provisioner in a namespace (`efs-provisioner`) instead of in the `default` namespace, so I am seeing:

[code]

I am using the RBAC config from the `external-storage/aws/efs/de

[2018-12-21 23:04] geerlingguy commented on #953
Same as the two above comments—after applying the additional rules in the PR (https://github.com/helm/charts/pull/9127/files#diff-1f3ae64e932358240df168628073a894R25), I was able to start binding mounts. Only 3 hours wasted here, but quite annoying nonetheless.

[2018-12-21 23:06] geerlingguy commented on #754
So turns out the issue for me was related to https://github.com/kubernetes-incubator/external-storage/issues/953 — there are some missing rules in the RBAC `ClusterRole` which prevented the `efs-provisioner` service account from being able to do what it needed to do.

Adding the following lines to the rules in the `ClusterRole` fixed it for me:

[code]

(see https://github.com/helm/charts/pull/912

[2018-12-22 17:13] yeahydq commented on #694
How is the issue now, is it still not possible to reuse the existing folder in EFS?

[2018-12-24 10:00] cofyc commented on #1083
Submitted a request https://github.com/kubernetes/org/issues/324

[2018-12-29 21:03] geerlingguy commented on #978
In my case, `nfs-common` is already installed, but it's still giving the error:

[code]

Repeated every 6 seconds.

[2018-12-29 21:46] geerlingguy commented on #924
Was trying to find the file / line @wongma7 referred to in his comment above, but it looks like the file has moved and the above link goes to a 404.

I'm hitting this same issue (with the deploy manifests from `master`), and it looks like the correct link that should work for the future (pointing to a tag instead of `master`) is: https://github.com/kubernetes-incubator/external-storage/blob/v5.0.1

[2018-12-29 22:10] geerlingguy commented on #978
Well, in my case I figured out the problem—the RBAC manifest I was editing locally (and I _thought_ I was applying to the cluster) was not actually being applied. I had left the old NFS RBAC manifest file from the `nfs` and so the `nfs-client` provisioner was not being updated.

I reset the cluster, built it again from scratch, and made sure the `nfs` provisioner's RBAC manifest was not being appl

[2018-12-29 22:10] geerlingguy commented on #924
Well, in my case I figured out the problem—the RBAC manifest I was editing locally (and I _thought_ I was applying to the cluster) was not actually being applied. I had left the old NFS RBAC manifest file from the `nfs` and so the `nfs-client` provisioner was not being updated.

I reset the cluster, built it again from scratch, and made sure the `nfs` provisioner's RBAC manifest was not being appl

[2019-01-03 21:54] geerlingguy commented on #1079
Yeah, I spent a little while implementing the `nfs` provisioner, then realized it was meant for provisioning an nfs server _inside_ the cluster, when I really wanted the `nfs-client` provisioner which is used if you already have NFS available outside the cluster.

Would be nice to help others prevent that mistake—at least something in the README, maybe an aside like:

[2019-01-03 21:57] geerlingguy commented on #1032
I also have this requirement for one particular project—I want to have hundreds of PVs on my NFS share, and each PV is associated with a deployment of an app in a separate namespace.

But one 'master' app deployment will need to mount the NFS volume at its root so it can see all the files in all the namespaced PVs, and it allows users of that 'master' app to browse the contents of all the namespac

[2019-01-03 21:59] geerlingguy commented on #1032
Something like https://github.com/kubernetes-incubator/external-storage/pull/982 might help.

[2019-01-04 13:16] sluetze opened #1091 "nfs provisioner recommended way"
Hi,

https://github.com/kubernetes-incubator/external-storage/blob/master/nfs/docs/deployment.md

states that

a little later there is

The procedure for running a stateful set is identical to that for a deployment, above, so wherever you see deployment there, replace it with statefulset. The benefit is that you get a stable hostname. Note that the service cannot be headless, unlike in most exampl

[2019-01-06 03:43] whereisaaron commented on #1061
@fangchao117 the cephfs provisioner, by default, expects to read the admin secret from 'kube-system' and create PVC secrets in the same namespace as each PVC. But the sample RBAC doesn't actually include those permissions (@wongma7 should it?). You can either set `--secret-namespace="cephfs"` and keep all the Secrets in the one namespace, or you can extend the ClusterRole to allow Secret creation

[2019-01-06 03:53] whereisaaron commented on #1018
@betonmoewe some charts include settings for `initContainers` or `extraInitContainers` you could propose that for gitlab chart.

https://github.com/helm/charts/blob/master/stable/mysql/values.yaml#L49-L52
[code]

[2019-01-06 04:00] whereisaaron commented on #948
@wongma7 note that the `cephfs-provisioner` RBAC is missing the ClusterRole permission for the default behavior to manage the Ceph per-PVC secrets in the same namespace as the PVCs. Also, the README example suggests storing the admin secret in `kube-system` which the `cephfs-provisioner` then can't get with the sample RBAC.

[2019-01-06 04:16] whereisaaron opened #1092 "[cephfs] Example StorageClass path and provisioner overdose on 'kubernetes'*"
The [sample StorageClass](https://github.com/kubernetes-incubator/external-storage/blob/master/ceph/cephfs/example/class.yaml) suggests `claimRoot: /volumes/kubernetes`

But then you end up with PVC paths like below, because the `cephfs-provisioner` code adds two more 'kubernetes'

`/volumes/kubernetes/kubernetes/kubernetes-dynamic-pvc-588569ad-1163-11e9-8963-fa2d6096fe7f`

Suggest the example is

[2019-01-06 04:38] whereisaaron opened #1093 "[cephfs] Standardize dynamic provisioner directory naming on efs-provisioner approach"
The various cephfs/efs/nfs-client provisioners all have different approaches to naming the per-PVC directories. It would be nice to agree a good approach and standardize across these similar provisioners.

Currently `cephfs-provisioner` only has two options, both not great (IMHO 😝).
1. The 'deterministic' names are I think not good because they don't include the PV name or anything unique to the P

[2019-01-06 11:45] #1092 closed

[2019-01-06 15:55] brunnels commented on #978
For anyone else running across the "mount: wrong fs type, bad option, bad superblock" error.

on the **k8s node** you must install nfs-utils for centos or nfs-common on ubuntu

[2019-01-07 09:31] JohnnyCornflakes opened #1095 "local provisioner - failed to mount block volume"
Trying to attach a block volume to a pod:

[code]

[code]

[code]

[code]

Any reason why? how else may I troubleshoot it?
I followed the [instructions](https://github.com/kubernetes-incubator/external-storage/tree/local-volume-provisioner-v2.1.0/local-volume).
The following feature gates are enabled:
`PersistentLocalVolumes=True,VolumeScheduling=True,MountPropagation=True,BlockVolume=True`

[2019-01-07 20:17] wongma7 commented on #1091
Those changes sgtm. It will be good to have 1 clear recommended way even if in practice the difference is not huge

[2019-01-08 01:22] msau42 commented on #1095
What Kubernetes version are you using? Did you find any kubelet logs with more details about why MountVolume or MountDevice failed?

Are you using a containerized kubelet environment?

[2019-01-08 10:33] JohnnyCornflakes commented on #1095
I'm using Kubernetes 1.10.4.
No further details in the kubelet logs (from journalctl):
[code]

Not using containerized kubelet.

[2019-01-08 18:23] geerlingguy commented on #1093
It might also be nice to give the consumer some control over the naming... I have a use case with the `efs` provisioner where I would like to control the name—or at least the prefix—so I can have some human-readable data in the directory name since I am mounting the EFS volume in other contexts outside of Kubernetes and need admins to be able to browse those directories.

[2019-01-08 18:52] whereisaaron commented on #1093
Hi @geerlingguy. From my point of view, for dynamic provisioning, the naming has functional requirements:
1. Security - users can't exploit the naming to gain access to another k8s volume's data
2. Reconcilable - admins can match the filesystem data with the k8s PV and PVC resources (even after deletion of the resources)

I don't personally see dynamic provisioning as being the mechanism to share

[2019-01-08 19:12] msau42 commented on #1095
Can you paste your Pod spec?  Are you specifying the volume using volumeDevices, not volumeMounts?

[2019-01-09 01:02] whereisaaron commented on #1030
@wongma7 the `allowTopologies` doesn't appear to be useful here, since it just restricts the StorageClass. If you restrict the StorageClass to one AZ, then yes, you can get the Pod scheduled to the same AZ; but if that AZ fails the Pod will be unable to be scheduled. Which defeats the benefit of using EFS. Am I missing something?

I think any solution would have to occur at mount time, since you c

[2019-01-09 07:52] JohnnyCornflakes commented on #1095
Using volumeMounts - pod spec:
[code]

pvc:
[code]

sc:
[code]

provisioner yaml:
[code]

[2019-01-09 15:47] msau42 commented on #1095
For volumeMode block, you need to use volumeDevices in the pod spec: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#pod-specification-adding-raw-block-device-path-in-container

The volume setup operation on kubelet should have errored if you specified volumeMount with volumeMode block.  Cc @wongma7 is it not an event?

[2019-01-09 17:46] spuder opened #1096 "[ceph rbd] Add support for erasure encoded volumes"
Ceph rbd supports optional erasure encoding of pools. When using erasure encoding the pool must be tagged as ec42 ad a second pool must be made that references the first pool as a data-pool.

To mark this as an RBD pool, first tag it accordingly:
`$ ceph osd pool application enable rbd ec42`
RBD can store image data in EC pools, but the image header and metadata still needs to go in a replicated p

[2019-01-10 08:44] JohnnyCornflakes commented on #1095
I appreciate the help, **it worked**.
It might be worth to create an example for block mode, as there is for the file system.

I could not find logs related to this mismatch.

[2019-01-10 12:25] vishal24tuniki opened #1097 "EFS Provisioner in each namespace?"
Hi,

Do we need to create the combination of resources
configmap, efs-provisioner deployment in each namespace where we create PersistentVolumeClaim which in-turn is mounted on my application pod?

I just tested out with configmap, serviceaccount, efs-provisioner in "default" namespace & my PVC in another namespace (say "example" namespace) & run a pod in example namepace mounting the PVC created

[2019-01-10 14:20] wongma7 commented on #725
Amazon is writing a CSI driver https://github.com/aws/aws-efs-csi-driver

[2019-01-11 10:14] hniedlich opened #1099 "[cephfs] permission denied while accessing pvc from pod"
Hi,

Can you guys provide me with informations about cephfs provisioner.
Im using `Openshift Origin v3.11`, I have succesfully deployed provisioner, the pvc and pv are created dynamically without problems.
The only problem is that every time pod mounts pvc, it has always "permission denied" to this mount.

Every time I can see that pvc has `root:root 755` rights, shouldn't it be inherited from `fs

[2019-01-11 14:03] slassh opened #1100 "E0111 13:39:34.480301 1 leaderelection.go:234] error retrieving resource lock kube-system/ceph.com-cephfs: endpoints "ceph.com-cephfs" is forbidden: User "system:serviceaccount:kube-system:default" cannot get resource "endpoints" in API group "" in the namespace "kube-system""
What happened:
E0111 13:39:34.480301 1 leaderelection.go:234] error retrieving resource lock kube-system/ceph.com-cephfs: endpoints "ceph.com-cephfs" is forbidden: User "system:serviceaccount:kube-system:default" cannot get resource "endpoints" in API group "" in the namespace "kube-system"
What you expected to happen:
I installed ceph.com/rbd provisioner in default namespace, without rbac, pods s

[2019-01-15 04:03] Ichthyostega opened #1101 "[nfs-provisioner] ProvisioningFailed - error creating export for volume - in overlay2"
Not sure if this is a duplicate or known problem; any hints appreciated...

Basically...

- I used deployment.yaml
- **image**: `quay.io/kubernetes_incubator/nfs-provisioner:latest`
- made it use a PVC which is satisfied by _default storage_.
- right now I am testing in a local **kubeadm-dind** running on Docker 18.09 on Debian/stable
- here in this setup, the _default storage_ is satisfied by a V

[2019-01-16 02:45] Ichthyostega commented on #1101
seems to be related to my local setup (running on kubeadm-dind).

Just fired up a cluster at DigitalOcean and there everything works as expected.
Could create several Pods sharing a PVC with `ReadWriteMany`, and the storage ends up in a subdirectory below `/exports` on the Provisioner

[2019-01-16 11:54] alcohol opened #1102 "[nfs-provisioner|gke] timeout trying to mount pvc"
provisioner log:

[code]

inside provisioner pod:
[code]
[code]
[code]

`kubectl describe svc/nfs-provisioner -n kube-public`:
[code]

`kubectl apply -f write-pod.yaml` followed later by a `kubectl describe pod/write-pod`:

[code]

Any idea why it is timing out?

[2019-01-16 14:04] alcohol commented on #1083
Can anyone contribute to this, or..? If so, I would like to volunteer for extracting the `nfs` provisioner.

[2019-01-17 14:41] andor44 opened #1103 "[ceph/rbd] Use JSON output instead of parsing the human-readable one"
[`rbd_utils.go`](https://github.com/kubernetes-incubator/external-storage/blob/8351ea709517b1201cef5815ff90a067c15644a1/ceph/rbd/pkg/provision/rbd_util.go) executes the `rbd` binary to communicate with Ceph and it is currently parsing the default human-readable output. This is brittle and prone to breaking when Ceph decides to change this format. For example there's a bug in the in-tree code becau

[2019-01-20 18:32] KingJ opened #1104 "adminSecretNamespace in CephFS Storage Class Ignored"
As per #860, the `adminSecretNamespace` parameter of the CephFS StorageClass is not read by the cephfs_provisioner script. As a result, secrets for any created PVCs are stored in the default namespace causing problems with PV deletion.

The script only appears to read the setting from the `PROVISIONER_SECRET_NAMESPACE` environment variable. This can be confirmed at start up. With `adminSecretNames

[2019-01-21 08:10] humblec opened #1105 "Use klog ("k8s.io/klog") instead of glog ."
The external repo still use `glog` where kube has moved to `klog` since `1.13`.
This issue is logged to track the migration of this repo to `klog`.

[2019-01-21 08:10] humblec commented on #1105
@wongma7 @jsafrane jfyi

[2019-01-21 08:11] humblec commented on #1105
@rootfs @msau42

[2019-01-21 21:00] Zyqsempai commented on #1000
I can take this one.

[2019-01-22 09:44] ogre0403 opened #1107 "[nfs-provisioner] ProvisioningFailed - getting dbus session bus: user: Current not implemented on linux/amd64"
Hi,

I try to build my own nfs-provisioner image using this [Dockerfile](https://github.com/kubernetes-incubator/external-storage/blob/master/nfs/deploy/docker/Dockerfile), and deploy to my on-prome kubernetes follow this [guide](https://github.com/kubernetes-incubator/external-storage/blob/master/nfs/docs/deployment.md#in-kubernetes---deployment-of-1-replica).

I will get this error when I try to

[2019-01-23 07:41] Zyqsempai commented on #1083
I also would like to take part in this action. I can take care of AWS provisioner.

[2019-01-23 17:08] canadiannomad commented on #1018
I kinda wish there was a way we could send the user/group for creation to the PVC via an annotation..
Right now I end up mounting the cephfs drive and running
`chmod 777 .` from within the pvc-volume.
Once the pod has loaded I run `ls -n` and find out the UID/GID in use..
Then I run `chown <uid>:<gid> .; chmod 755 .`

This solves it for this PV, but then I'm just waiting for the next one.

The ini

[2019-01-24 04:58] #1000 closed

[2019-01-24 06:03] AndresPineros commented on #953
Any updates on this? I'd like to use Helm for this deployment :)

[2019-01-24 06:32] whereisaaron commented on #953
@AndresPineros good news, the patch finally got merged yesterday
https://github.com/helm/charts/pull/9127

[2019-01-24 09:02] Zyqsempai commented on #1080
I can take care of this one.

[2019-01-24 10:46] Psabot opened #1110 "Cephfs - Ability to choose a different pool than the default one"
Hello,

Sorry if this question has already been answered, but I didn't find the answer.
As per as the classStorage example (found here : /ceph/cephfs/example/class.yaml), it seems you can't specify which pool to use.

I don't really want to set it by hand, using the dir layout mechanism directly into my pods.

Is there any workaround for that? Or maybe I just missed the option.

Thanks!

[2019-01-24 16:15] wongma7 commented on #1083
Thanks for interest, migration work after I've copy/pasted the provisioner's directory from here into the root of the new repo might be to: setup dependencies (vendor), make sure it builds, find/replace broken links. But before then I need to request the repos.

About the nfs provisioner: what should it be called? This is an opportunity to differentiate it from nfs-client. I am leaning toward 'nfs

[2019-01-24 20:13] harik8 opened #1111 "[aws efs] ProvisioningFailed - no volume plugin matched"
I followed the deployment steps and deployed efs-provisioner on kubernetes. But I am getting below error,

[code]

[2019-01-25 08:01] alcohol commented on #1083
Are you exporting with history btw? It would be very nice to preserve git commit history for the files being exported.

[2019-01-25 08:04] alcohol commented on #1083
While I agree that it would make sense to differentiate it more clearly from the nfs-client provisioner, I am not sure if making the specific daemon implementation part of the repository name is a good idea long term. I definitely have no objections though. Alternatively I would suggest nfs-daemon or nfs-userspace-daemon. I'll leave the decision making up to you :-)

[2019-01-25 19:45] rrichardson opened #1112 "nfs-client how to get metrics of the container's usage of the mount?"
I'm trying to get basic stats about the container and its usage of the nfs-mount that it provisioned via nfs-client.  Looking at `kubelet_container_*` provides information about some storage classes, but apparently not about `nfs-client`

I set `metrics-port` hoping to get some details, but that only provides details about the provisioner itself.

I also looked at network bandwidth for the contain

[2019-01-26 02:44] #1080 closed

[2019-01-30 19:01] ainiml commented on #992
@JrCs for the `failed to get admin secret` error, is the Secret formatted wrong? Does the `Key` have to be a specific name?

[2019-01-30 19:04] ainiml commented on #942
@ygqygq2 for the `failed to get admin secret` error, did you solve that? What did your Secret format look like?

[2019-01-30 19:19] ainiml commented on #756
@s0komma is the format of the Secret also what caused the `failed to get admin secret` error?

[2019-01-31 08:55] arnaudmz commented on #992
I bet it works, but I would expect the job done on standard official images, without the (boring) need to follow the upstream images and rebuild them.

[2019-02-02 13:28] dayyehm opened #1117 "efs-provisioner pod stuck at ContainerCreating status"
Events:
  Type     Reason                 Age   From                                     Message
  ----     ------                 ----  ----                                     -------
  Normal   Scheduled              8m    default-scheduler                        Successfully assigned default/efs-provisioner-6598fbc7cf-gqlz6 to ip-192-168-10-151.ec2.internal
  Normal   SuccessfulMountVolume  8m

[2019-02-04 12:18] lorenzomorandini opened #1118 "Does rbd support kubernetes snapshots?"
As title, does the current implementation of ceph RBD provisioner support kubernetes snapshots?
https://kubernetes.io/docs/concepts/storage/volume-snapshots/

[2019-02-04 20:50] weisjohn commented on #1117
I had this happen as well, you must make sure your the Security Group that your nodes are in are allowed to access that EFS resource.

[2019-02-04 21:07] weisjohn commented on #754
@geerlingguy also worked for me, thanks for the great explanation!

[2019-02-05 02:12] jayunit100 opened #1120 "Vendoring might need to be looked at ... Runtime errors in glusterfs due to duplicate flags initialized"
I was able to build these containers using `make container` but then, i got this :

[code]

After hacking around some, noticed that theres a bunch of top level vendor dirs

[code]

So , i figured I'd gut em all... and then, compilation failed b/c the deps were missing, so i used `dep` to ensure all the dependencies, and then everything was happy, except that they types on GlusterfsPersistentVolume

[2019-02-05 03:05] jayunit100 commented on #1120
This is fixable looks like if you simply swap out `klog` for `glog` as an import .
[code]

my other PR around Vendoring didnt solve this problem, so i closed it.

[2019-02-05 07:49] dayyehm commented on #1117
I have my security groups configured correctly, I don't thinks this is the issue , I'm using older AMI from 10-2018 will test with different AMI

[2019-02-05 13:50] jayunit100 commented on #1120
Ill make some PR's into the sig-storage-lib-external-provisioner repo to fix that , per conv w @dims

[2019-02-05 14:13] jayunit100 commented on #1120
Ok, so once this merges , https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/pull/25 , maybe can try updating deps in here.

[2019-02-05 15:38] humblec commented on #1120
@jayunit100 I think the easiest fix would be just reverting the changes in https://github.com/kubernetes-incubator/external-storage/pull/1114/files . Are you able to overcome this error once you revert the above mentioned PR ?

[2019-02-05 15:55] humblec commented on #1120
hmmm.. may be this revert is not required and the issue reported here should be solved by https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/pull/25 . Isnt it @wongma7 @jayunit100 ?