[2019-02-05 15:58] humblec commented on #1120
For safer side I have filed https://github.com/kubernetes-incubator/external-storage/pull/1122

[2019-02-05 22:57] rflume-zt opened #1125 "aws-efs Alpine image cannot mount efs volume"
Hi,
for the last hours I tried to solve an issue regarding the efs mount.
I installed the efs-provisioner and the volume is created successfully.

However, neither the test-node from the repo, nor my alpine based container can mount the efs volume with the following error:

[code]

I'm not quite sure if this is really an issue with the images as it occurs for the official test-pod as well.
The sec

[2019-02-06 00:14] jayunit100 commented on #1120
@humblec ok cool, that sounds like a good way forward

I also created an image from this branch, that is working for me , `https://hub.docker.com/r/jayunit100/glusterfs-simple-provisioner`  can be slotted in as needed.

[2019-02-06 00:16] humblec commented on #1120
@jayunit100 are you saying after reverting pr#1114, things are working fine ?

[2019-02-06 14:41] rflume-zt commented on #1125
Update: I figured out that *rpc-statd* is not started on bootup.
I can now **manually** mount the EFS drive on all Kubernetes hosts with `mount -t nfs -o nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2,noresvport fs-...efs.eu-central-1.amazonaws.com:/ /mnt/efs`.
Trying to mount it via the pod deployment still fails for both the test-app and my node-app with a timeout:

[code]

Is

[2019-02-07 05:26] matthen opened #1128 "nfs-provisioner - pod fails with mkdir file exists error"
Hi and thanks in advance for any help!

I am using an `nfs-client-provisioner` deployment, yaml copied below. When starting pods, I get this error on some nodes:

[code]

Any ideas what might be wrong?

If I ssh to the node, I find that the `pvc-906dd368` is a 'stale file handle'

deployment yaml:
[code]

[2019-02-07 22:37] jayunit100 opened #1129 "Deprecation notice and finalizing gluster docs so that they work post klog."
As this repo is ending, figure some last cleanup to do, one to stabilize the gluster functionality and then put a deprecation notice... So 3 minor PRs in this issue.

## clearing up the glusterfs provisioner with a dyn. provisioner that doesnt have klog issues
https://github.com/kubernetes-incubator/external-storage/pull/1127
https://github.com/kubernetes-incubator/external-storage/pull/1126

## c

[2019-02-08 10:22] Art3mK commented on #1111
I'm having the same issue on EKS, and don't know how to debug it. There are no any erros in efs-provisioner pod logs, EFS is mounted by efs-provisioner, but pvcs are pending with that `no volume plugin matched` message.

[2019-02-08 12:57] Art3mK commented on #1111
Looks like it's smth with latest versions. Works fine with chart version `0.1.3` (which uses `0.1.2` image) In order to provision PVC with `0.2.0` chart and `v2.1.0-k8s1.11` image you'll need to add `volume.beta.kubernetes.io/storage-provisioner: %your provisionerName%` annotation to your PVC.

provisioner name could be checked in storage class:
[code]

[2019-02-09 18:45] klausenbusk commented on #1083
FYI: The Digitalocean provisioner is [deprecated](https://github.com/kubernetes-incubator/external-storage/blob/2f0b6d4637099369d8d8f3e22fcd10a212daca3d/digitalocean/README.md) and should be removed at some point (1.14 maybe?).

[2019-02-10 21:41] briantopping opened #1131 "[CephFS] Default permissions of share"
It would be helpful if the CephFS provisioner could set owner and permissions of a provisioned volume on boot. Some pods are configured with wacky UIDs that give useless permission errors. Given the separate CephFS namespaces created for each provisioner, there should be no visibility across PVs, so if all clients of a specific provisioner are similarly trusted, it's not unreasonable to (for insta

[2019-02-11 17:05] s2504s opened #1132 "nfs-provisioner - Error setting up NFS server: rpc.statd failed with error: exit status 1, output:"
I am using nfs-provisioner 'v2.2.1-k8s1.12' as statefullset
`https://github.com/kubernetes-incubator/external-storage/blob/master/nfs/deploy/kubernetes/statefulset.yaml`
'kubernetes 1.12'
CNI - calico
Host OS: Ubuntu 16.04

[code]
When I run statsd manually I get this error:

[code]

[2019-02-12 05:48] Paxa commented on #992
@JrCs I had same problem, I tried manually change log lever for kube-controller-manager, and it can get secret successfully. But original message is replaced (probably should report to k8s)

Error from here https://github.com/kubernetes/kubernetes/blob/v1.12.5/pkg/volume/util/util.go#L183
Replaced here https://github.com/kubernetes/kubernetes/blob/51dd616cdd25d6ee22c83a858773b607328a18ec/pkg/volum

[2019-02-12 16:05] #1043 closed

[2019-02-12 16:22] moishikb commented on #1068
Is there any option to move to use a new Alpine version anyway?

[2019-02-12 16:53] wongma7 commented on #1068
yes, let me make a PR

[2019-02-13 08:29] humblec commented on #1105
/close

[2019-02-13 08:29] #1105 closed

[2019-02-13 10:45] LoicMahieu commented on #1102
Hi,

We encounter the same issue. Mount works well for some time but after few hours of usage, new pods are not able to mount with the same error:
[code]

### `/export/vfs.conf`
[code]

### `/export/ganesha.log`

[code]

Some pods are still running with a mounted volume. I can write and read.

Thanks for any help!

[2019-02-13 10:51] LoicMahieu commented on #1102
Note: I am running Kubernetes on GKE with Container OS image. I don't know if there is any implication here, but apparently COS image doesn't support `open-iscsi`.

[2019-02-13 12:35] alcohol commented on #1102
Yeah as an update: I switched to using the nfs-client provisioner instead (using a Filestore instance as the backing nfs server for the nfs-client provisioner). Works straight out of the box and like a charm.

[2019-02-14 01:49] DarkRider1768 opened #1136 "nfs-client-provisioner stuck in CreatingContainer"
Hello! I have a super weird problem. I can't get nfs-client-provisioner to work no matter what I do. Our environment is as follows:

- Rancher v2.1.6 running in a VM for management.
- 4x physical nodes running CentOS (current, updated).
  - Each node is has nfs-utils installed.
  - Cluster created through Rancher as a custom bare metal deployment.
- MetalLB running in BGP mode to provide Layer4 lo

[2019-02-15 06:22] strelov1 opened #1137 "Error with connect pvc"
`I0214 12:11:43.241970       1 cephfs-provisioner.go:411] Creating CephFS provisioner ceph.com/cephfs with identity: cephfs-provisioner-1, secret namespace:
I0214 12:11:43.245309       1 leaderelection.go:185] attempting to acquire leader lease  default/ceph.com-cephfs...
E0214 12:13:02.030339       1 leaderelection.go:234] error retrieving resource lock default/ceph.com-cephfs: the server was una

[2019-02-16 01:48] DarkRider1768 commented on #1136
Update: This appears to be an issue of missing NFS Mount Options. Unfortunately, I'm still having the issue where setting any mount option causes the pod to fail to come up, with error "range cannot iterate over <mountoptions>" whenever I try to set any. Might just be a syntax problem? Would appreciate any assistance I can get.

[code]

[2019-02-19 21:40] nrawling commented on #1117
This definitely happened to me. When I created the EFS mounts, I accidentally selected the DEFAULT SG which (of course) was locked down.

[2019-02-22 09:18] jianglingxia commented on #448
you mean the iscsi volume type need create a secret?now my problem is that the volume not attached the k8s minion,because i do not create a secret?

i create the standalone provisioner deployment and then i create the storageclass pvc then :
standalone-cinder-provisioner-7c4649c886-drhst   1/1     Running   0          8s

pvc-d67338e7-36cb-11e9-a0a3-002dc92800b3   1Gi        RWO            Delete

[2019-02-22 09:18] jianglingxia commented on #742
i create the standalone provisioner deployment and then i create the storageclass pvc then :
standalone-cinder-provisioner-7c4649c886-drhst 1/1 Running 0 8s

pvc-d67338e7-36cb-11e9-a0a3-002dc92800b3 1Gi RWO Delete Bound kube-system/keystone-sc-pvc-2 standard 29m

iscsi:
initiatorName: iqn.2018-01.io.k8s:a13fc3d1cc22
iqn: iqn.2099-01.cn.com.zte:usp.spr11-74:4a:a4:01:fd:54
iscsiInterface: default
lu

[2019-02-22 09:40] wenjun93 commented on #448
Can you provide more details? You can use `iscsiadm -m session` to see if the session is established

--
Thanks,
Wenjun

From: jianglingxia <notifications@github.com>
Reply-To: kubernetes-incubator/external-storage <reply@reply.github.com>
Date: Friday, February 22, 2019 at 5:18 PM
To: kubernetes-incubator/external-storage <external-storage@noreply.github.com>
Cc: "Gao, Wenjun" <wenjgao@ebay.com>,

[2019-02-23 01:56] jianglingxia commented on #448
sorry,but why my k8s master print the command :
[root@hpa-vm:/home/ubuntu]$ iscsiadm -m session
iscsiadm: No active sessions.
maybe can not established ,is my k8s minion must install iscsi client?
but there has
 [root@hpa-vm:/home/ubuntu]$ iscsi
iscsiadm     iscsid       iscsi-iname  iscsistart   iscsiuio
@wenjun93 can you help me?thanks

[2019-02-23 01:58] jianglingxia commented on #448
[root@hpa-vm:/home/ubuntu]$ kubectl get po -n kube-system
NAME                                             READY   STATUS    RESTARTS   AGE
standalone-cinder-provisioner-7c4649c886-drhst   1/1     Running   0          17h

the pv is
[root@hpa-vm:/home/ubuntu]$ kubectl get pv -w
NAME                                       CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS        CLAIM

[2019-02-23 02:14] jianglingxia commented on #448
i think maybe must type this below two command:
[root@localhost:/home/ubuntu/iscsi]$ iscsiadm -m discovery -t st -p 10.2.1.54
10.2.1.54:3260,132 iqn.2099-01.cn.cm:p.spr11-74:4a:a4:00:e6:80

[root@localhost:/home/ubuntu/iscsi]$ iscsiadm -m node -p 10.2.1.54 -l

then the device attached the k8s minion and create the pod use the pvc mount the container?

but i think the two step dynamic by kubernetes

[2019-02-25 02:11] jianglingxia commented on #448
the pod kubelet log is:
I0223 19:51:51.830207   26609 reconciler.go:207] operationExecutor.VerifyControllerAttachedVolume started for volume "default-token-xmcch" (UniqueName: "kubernetes.io/secret/686ab774-3761-11e9-a0a3-002dc92800b3-default-token-xmcch") pod "iscsi" (UID: "686ab774-3761-11e9-a0a3-002dc92800b3")
E0223 19:51:51.830368   26609 nestedpendingoperations.go:267] Operation for "\"kubern

[2019-02-26 14:28] radut opened #1138 "Ceph RBD reclaim Delete does not delete the ceph image"
When I use the provisioner, creating and attaching volume works.
but when I delete the pvc,pv,pod/deployment... the image create in ceph remains, and I manually need to delete that too.

This is not how policy Reclaim: Delete worked when I used kubernetes.io/rbd back in 1.11

[2019-02-26 15:02] radut commented on #1138
I added
allowVolumeExpansion: true
and
fsType: xfs

now it is deleting images from ceph.
it might not be related, but this is my latest config.

[2019-02-26 15:02] #1138 closed

[2019-02-26 16:44] tomgeorge opened #1139 "[snapshot] cannot get hostPath plugin to create a VolumeSnapshot"
I am trying to create a `VolumeSnapshot` with the hostPath plugin, and I keep getting these log messages in `snapshot-controller`:

[code]

I created the service account, role, and role binding, and attempted to take a snapshot as a hostPath volume.  The service account and RBAC permissions for the snapshot controller are created with this manifest:

[code]

The deployment  of the controler is cre

[2019-02-26 20:52] geerlingguy commented on #251
And with nfs-client on AWS EKS (though harder to get to kubelet logs on that platform...).

[2019-02-27 00:52] discordianfish opened #1140 "[snapshot] Fail when cloudprovider can't be initialized"
At least on AWS, when the cloud provider can't be initialized the snapshot controller still starts up but subsequently fails to do snapshots. Instead, the snapshot controller should fail to surface the problem.

[2019-02-28 11:47] tsmetana commented on #1139
OK. I have this reporoduced and I think the problem is actually in the image itself not the snapshotter code.

[2019-03-01 10:46] jhlav commented on #1097
No, you don't have to create these in each namespace.  You can use just one group of resources for your whole Kubernetes cluster.  The storage class created for efs-provisioner is not limited to any namespace, so Pods will be able to use that storage class by simply referencing it like so:

[code]

I hope that helps!

/close

[2019-03-01 14:26] tomgeorge commented on #1139
Is there a different image I can pull? I'll look on softwarecollections and experiment with different images.

[2019-03-01 20:00] jdmaguire commented on #1008
This can be closed now.

[2019-03-03 20:26] tomgeorge commented on #1139
I also get the same error when building locally and running

`_output/bin/snapshot-controller -kubeconfig ~/.kube/config`

Tried a couple of versions of the image from `registry.access.redhat.com`, no luck

[2019-03-03 22:04] rnsv opened #1141 "Suppress fileSystemID check when dns name is provided"
It would be useful if the following validation is suppressed when dns name is directly provided in ConfigMap (when CNAME is used).
[code]
The following code can also be enhanced to provide a warning message that the check was not performed
[code]

[2019-03-04 04:01] fr0der1c opened #1142 "Does NFS provisioner support resizing?"
I use NFS provisioner to provision PersistentVolume for my MongoDB. Recently, I found the volume is going to out of space. So I searched and found https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/. This requires underlying storage provider support. I'm wondering if NFS provisioner support this? If not, is there any possible way to adjust the size of the volume?

[2019-03-04 08:44] tsmetana commented on #1139
I didn't realize hostPath snapshots can't work when the controller is run from a pod. Hostpath snapshot is essentially only a tarball of the hostPath's directory so the controller has to have access to it, which is not possilbe when run from within a pod.

However building it and running locally works just fine. Do you see exactly the same error when running directly on the host? Please note -- ho

[2019-03-04 15:34] wongma7 commented on #1142
no it does not, note quota i.e. the size of the volume is not enforced, you can request a 1 GiB volume but use more than 1 GiB. this is a limitation for nfs

[2019-03-04 15:35] wongma7 commented on #1137
in rados.Rados.connect (/home/jenkins-build/build/workspace/ceph-build/ARCH/x86_64/AVAILABLE_ARCH/x86_64/AVAILABLE_DIST/centos7/DIST/centos7/MACHINE_SIZE/huge/release/13.2.1/rpm/el7/BUILD/ceph-13.2.1/build/src/pybind/rados/pyrex/rados.c:9815) rados.ObjectNotFound: [errno 2] error connecting to the cluster W0214

/area ceph/cephfs

[2019-03-04 15:38] wongma7 commented on #1136
please create an issue at https://github.com/helm/charts, unfortunately I am not sure how it works. I suspect you are right that it is a syntax issue. https://github.com/helm/charts/blob/master/stable/nfs-client-provisioner/templates/persistentvolume.yaml#L18

[2019-03-04 15:39] wongma7 commented on #1132
you may need to install (apt-get) what provides rpc.statd on the host and start it

[2019-03-04 15:44] wongma7 commented on #1125
if you are willing to do that, yes it works, but it shouldn't be needed. I don't know why it would time out from container but work on host. I guess it is a networking issue for kube pods

/area aws/efs

[2019-03-04 15:45] #1120 closed

[2019-03-04 15:45] wongma7 commented on #1118
no, see https://github.com/ceph/ceph-csi
/area ceph/rbd

[2019-03-04 15:45] #1118 closed

[2019-03-04 15:46] fr0der1c commented on #1142
OK. Thanks for your reply. Maybe this should be put into readme?

[2019-03-04 15:47] wongma7 commented on #1117
see https://docs.aws.amazon.com/efs/latest/ug/accessing-fs-create-security-groups.html for security group info

if possible, try also to ssh into a node and mount efs yourself, to narrow down if it is a kubernetes/container specific issue or affects the whole node

/area aws/efs

[2019-03-04 15:48] wongma7 commented on #1112
this is not recorded anywhere, theoretically it could do this via polling

/area nfs-client

[2019-03-04 15:49] wongma7 commented on #1111
what version of kubernetes?

/area aws/efs

[2019-03-04 15:49] wongma7 commented on #1110
not that I am aware of. See if https://github.com/ceph/ceph-csi has this feature

[2019-03-04 15:52] wongma7 commented on #1107
try compiling with CGO_ENABLED? I have never seen this error

/area nfs

[2019-03-04 15:55] Art3mK commented on #1111
We are using EKS one

Server Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.5-eks-6bad6d", GitCommit:"6bad6d9c768dc0864dab48a11653aa53b5a47043", GitTreeState:"clean", BuildDate:"2018-12-06T23:13:14Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}

[2019-03-04 15:55] wongma7 commented on #1101
right, it will not work with overlay fs, only ext3/4/xfs. Seems a limitation of dind
/area nfs

[2019-03-04 15:56] wongma7 commented on #1100
this is expected. you need the rbac example since rbac is enabled
/area ceph/cephfs

[2019-03-04 15:57] wongma7 commented on #1142
yes, agree

[2019-03-04 15:58] #1097 closed

[2019-03-04 16:01] wongma7 commented on #1111
what does the StorageClass aws-efs look like?

[2019-03-04 16:02] wongma7 commented on #1111
nvm, I see it above. The issue is that provisioner is "kubernetes.io/aws-efs". It can't begin with kubernetes.io as that is reserved by kubernetes

[2019-03-04 18:57] tomgeorge commented on #1139
I also realized that yesterday, it seems like it can only run the host.  Also, I think the exit status 2 message is because the hostPath directory is empty.  If you put a file in there before you create the snapshot k8s object, then it will work.

I'm only using hostPath in minikube/minishift environments, so when I need more usage, I would use one of the cloud provider options.

I think this can

[2019-03-04 18:58] #1139 closed

[2019-03-04 23:30] john-tipper commented on #968
@kfox1111 Please can you clarify what you did here to fix this?  I think I'm seeing the same issue on OSX and I can't seem to work around it.

I create my OSX data dirs and then use `minikube mount` to mount them into the VM.

    mkdir -p /path/to/data/dir
    minikube mount /path/to/data:/data/disks &

Found new volume at host path "/data/disks/dir" with capacity 0, creating Local PV "local-pv-c

[2019-03-04 23:37] kfox1111 commented on #968
I ensured it wasn't on tmpfs.

I'm not sure how to solve it with osx.

the df should a non 0 amount, which tmpfs wasnt. It may be the minikube mount is not exposing the filesystem in a way that allows the capacity info to pass through.

[2019-03-04 23:42] john-tipper commented on #968
Thanks for the quick response - so am I right in thinking that your local data dirs on the underlying host were created under `/data`, which the Minikube VM picks up and your provisioner config then looks for within the VM?

[2019-03-05 15:28] midN commented on #821
That is a valid request.
Currently EFS provider creates folder for each PVC by unique name, with no option to change that.
I'd like to mount multiple PVCs in different Namespaces/Clusters under same EFS and share folder.

[2019-03-06 02:04] still-L opened #1144 "cephfs User "system:serviceaccount:cephfs:cephfs-provisioner" cannot list persistentvolumes at the cluster scope"
cephfs-provisioner log：
 github.com/kubernetes-incubator/external-storage/lib/controller/controller.go:665: Failed to list *v1.PersistentVolume: persistentvolumes is forbidden: User "system:serviceaccount:cephfs:cephfs-provisioner" cannot list persistentvolumes at the cluster scope
dynamic pvc  Pending status。
该如何处理？

[2019-03-06 11:49] PetrGlad opened #1145 "[nfs-client] provitsioner is not allowed to use nfs volumes"
Upon nfs-client container deployment, I get the event
[code]

So the nfs-client provisioner does not start.
The problem appears both applying rbac.yaml explicitly and installing with helm.

I tried to work around this by creating PV and referring to that in configuration - that helps provisioner to start. But then when I try to create containers that use NFS volumes they cannot be mounted, althoug

[2019-03-07 15:20] LoicMahieu commented on #447
Maybe related to https://serverfault.com/a/724463

[2019-03-08 15:47] rezie opened #1146 "glusterblock-provisioner with arbiter volume support?"
The file storage version of gluster has support for enabling arbiter volumes via the `volumeoptions` StorageClass option, but it doesn't look like this is the case for block storage. This is currently possible via `heketi-cli`:

[code]
[code]

Is there a reason why glusterblock doesn't support that parameter?

[2019-03-08 21:47] exodussystem commented on #1002
For OS like CoreOS, I cannot install ceph-common.
However, I can manage to get rbd/rados binary accessible by running Docker container
with [ceph/container](https://github.com/ceph/ceph-container)

Source:
https://stackoverflow.com/questions/37996983/invoking-rbd-docker-from-kubernetes-on-coreos-returns-fork-exec-invalid-argume

In this case, I need to setup /etc/ceph/ceph.conf.
I got it work up t

[2019-03-11 14:41] midN commented on #821
https://github.com/kubernetes-incubator/external-storage/pull/1147

[2019-03-12 12:36] geiseri commented on #1132
Any progress here?  It looks like it is impossible to use without this.

[2019-03-13 07:15] kmova commented on #1083
openebs is moving towards CSI. Once that is available, will raise an PR to deprecate it here.

[2019-03-13 18:19] s2504s commented on #1132
I got it worked. My baremetal provider is set the ACL for the root file system on the host. So, socket was not creted because there was permissions issue. I have resetup my host without ACL and everything works well

[2019-03-13 18:19] #1132 closed

[2019-03-14 07:36] vishal24tuniki commented on #1097
Thanks @jhlav

[2019-03-14 10:29] limbuu commented on #1142
@fr0der1c i had almost same issue. But, i used gce-pd for storage using nfs server. Now, the configured size of storage is totally consumed. Is there any way around to resize the storage or any way to fix the problem?

[2019-03-14 13:41] lklkxcxc opened #1148 "cephfs storageclass create pvc report error in setxattr"
error log:
0314 13:37:58.993067       1 event.go:221] Event(v1.ObjectReference{Kind:"PersistentVolumeClaim", Namespace:"default", Name:"claim-local", UID:"563032cd-465e-11e9-ae0e-fa163e50a9c4", APIVersion:"v1", ResourceVersion:"562013", FieldPath:""}): type: 'Warning' reason: 'ProvisioningFailed' failed to provision volume with StorageClass "cephfs": exit status 1
I0314 13:38:28.993466       1 eve

[2019-03-14 13:42] CanvaChen opened #1149 "Why does the name of folers created by nfs provisoner carry random codes？"
When I recreate gitlab-ce,folder name like this:
[code]
But I want it to be this:
[code]
How can I do?

[2019-03-15 07:20] clkao commented on #1102
it seems `-o vers=4.1` does not work on GKE/cos. can you try omitting vers or setting it to 4.0?

[2019-03-15 15:20] JonathanRRogers commented on #1102
I am using nfs-client-provisioner on a GKE cluster. I currently have both COS and UBUNTU nodes with NFS volumes mounted with `vers=4.1`. Though the mounts work most of the time, sometimes pods get stuck as described in this issue.

[2019-03-15 17:18] JonathanRRogers commented on #1102
I think this issue should remain open since the cause of the problem has not been identified. It's not even clear whether the problem is specific to nfs-client provisioner or if it could happen with other server configurations.

[2019-03-17 15:11] alcohol commented on #1102
FIne by me, but I'm unsubscribing cause I am no longer using the nfs provisioner.

[2019-03-17 18:16] geiseri commented on #1132
So does `rpc.statd` need to run on the host?

[2019-03-18 23:12] SkinyMonkey opened #1150 "ceph luminous rbd-provisioner flag redefined"
I tried to use the official provisionner image but it's configured to use mimic.
I built a luminous image but i get :

[code]

After trying to fix the bug described in https://github.com/kubernetes-incubator/external-storage/issues/1120 with the solution that was merged in https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/commit/99ac517d9c047238af8b8a6c411084b9f7888a87

[2019-03-20 09:34] sgrunt91 opened #1151 "[targetd] iscsi-provisioner mount error"
Hello,

I am trying to use the iscsi-provisioner based on the tutorial and I've deployed it with your ansible playbooks. Most of the things are working: I've my targetd server up (with authentication), I've my provisioner and my storage class deployed. I can create a pvc which is really created on targetd LVM. So everything seems great.

But it fails when I'm trying to create a pod with a volume c

[2019-03-20 14:04] ron1 opened #1152 "[iscsi] Push latest iscsi-controller image with fix for Issue 591"
Push latest iscsi-controller image with Fix https://github.com/kubernetes-incubator/external-storage/pull/857 for Issue https://github.com/kubernetes-incubator/external-storage/issues/591.

[2019-03-21 13:47] SkinyMonkey commented on #885
I created a one node ceph cluster that I can connect to with telnet on port 6789 and deployed the provisionner with the admin key and the kube key i created as secrets, encoded as base64, with create -f deploy/rbac and then kubectl create -f examples/
(slight bug btw : the provisioner didn't have the rights to access the secrets resources, i saw this listed as an issue and fixed it)

and i get the

[2019-03-23 21:20] StrangelyTyped commented on #1136
I'm currently trying to stand up the provisioner, running into issues of my own but I dd bump into this one - the chart isn't terribly clear but mountOptions seems to need to be an array not a string, e.g.

[code]

[2019-03-24 02:15] DarkRider1768 commented on #1136
Try putting the options as a comma delimited list inside squiggly brackets.
I think that's what I did to get them to take... I can confirm on Monday,
if you'd like.

{tcp,nfsvers=4}

On Sat, Mar 23, 2019, 2:20 PM Stewart A <notifications@github.com> wrote:

[2019-03-25 08:37] tsmetana commented on #1140
The PR #1143 should resolve this.

[2019-03-25 08:37] #1140 closed

[2019-03-25 08:48] NahaliY opened #1154 "Does CephFS provisioner support resizing?"
I use CephFS provisioner to provision PersistentVolume from PVC.
Is there any possible way to adjust the size of the volume,  or using quotas ?

[2019-03-25 11:38] captainwenzi commented on #1002
I'm getting the same error in Pod: MountVolume WaitForAttach failed for volume xxx: fail to check rbd image status with (executable file not found in $PATH), RBD OUTPUT: ()

I am using built-in k8s on Docker EE and by following the instruction(http://tutorial.kubernetes.noverit.com/content/ceph.html), I am able to create PVC with bounded PV using ceph-rbd storage class.

The Ceph cluster also retu

[2019-03-26 03:27] icefed commented on #992
https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20190129-csi-volume-resizing.md#external-resize-controller
Does this useful?

[2019-03-27 06:41] mittachaitu opened #1155 "Add capacity as a field in volumesnapshotdata resource"
**FEATURE REQUEST**
## Description
We should evaluate snapshotdata size while restoring the snapshot to the new persistent volume claim.

 **Scenario:**
1) User deployed the application and took the snapshot of the volume.
2) Using the above-created volumesnapshotdata trying to restore a data to new PVC then we should evaluate the size of the PVC with snapshot data size then allow for volume creat

[2019-03-29 05:39] prateekpandey14 commented on #1155
/assign @tsmetana

[2019-03-29 19:33] scphantm commented on #978
im getting errors too, i get this event

[code]

all i did was run the helm (latest).

[2019-03-29 19:41] wongma7 commented on #1154
No, https://github.com/ceph/ceph-csi might, please ask there as well

[2019-03-29 19:42] wongma7 commented on #1150
OK, if I understand correctly we need to update our dependency on sig-storage-lib-external-provisioner.
/assign

[2019-03-29 19:45] wongma7 commented on #1151
It should be the same secret, the provisioner used the auth information in the secret to create some volumes, now kubernetes (kubelet) needs some kind of auth info to mount it. It expects that info to be in a secret in namespace default w/ name iscsi-provisioner-chap-secret

I am not very familiar with targetd myself, apologies

[2019-03-29 19:47] wongma7 commented on #1149
it creates a folder for every pvc. so if you want to keep a stable gitlab-ce-data/ directory, you should have multiple pods use that same pvc. Or you should bypass nfs-provisioner altogether: manually create a directory gitlab-ce-data/, manually create some pv's with server: $SERVER, path: gitlab-ce-data/, and use those instead.

[2019-03-29 19:49] wongma7 commented on #1148
it looks like a permissions issue. @cofyc any idea?

[2019-03-29 19:49] wongma7 commented on #1144
you need to also create the RBAC objects: https://github.com/kubernetes-incubator/external-storage/tree/master/ceph/cephfs/deploy

[2019-03-29 19:51] wongma7 commented on #1145
The pod needs to be granted permissions to `use` an SCC that permits it to use nfs volumes, for example `hostmount-anyuid`. Alternatively, you can create a PV with the same NFS information, create a PVC to bind to that PV, and use the PVC in your nfs-client-provisioner pod because the `restricted` SCC will allow you to use pvc volumes.

See here for more info: https://docs.openshift.com/container-

[2019-03-29 19:52] wongma7 commented on #1146
/cc @humblec

[2019-03-29 20:14] scphantm commented on #1145
i tried that.

`helm install --name nfs-client-provisioner --kubeconfig sa.kubeconfig stable/nfs-client-provisioner --set nfs.server=nfs-65-225 --set nfs.path=/kubernetes-test`

`oc adm policy add-scc-to-user hostmount-anyuid system:serviceaccount:default/nfs-client-provisioner`

It still can't start the pod.

[2019-03-29 20:31] wongma7 commented on #1145
Is it possible to have helm render the replicaset yaml, change the securityContext and create the replicaset after? I am not too familiar with helm, once you get it working I would also open an issue with the charts repo to make it optional.

Any idea where the range  [1000000000, 1000009999] comes from? It might be an annotation on the project, what does the project yaml look like? Can you paste

[2019-03-29 20:56] scphantm commented on #1145
Well, i tried deleting everything and creating it by hand instead of using helm.  Error message changed...

`Error creating: pods "nfs-client-provisioner-67c58f4645-" is forbidden: unable to validate against any security context constraint: [spec.volumes[0]: Invalid value: "nfs": nfs volumes are not allowed to be used]`

problem is this is after i gave the service account `privileged ` and `hostmo

[2019-03-30 02:23] CanvaChen commented on #1149
@wongma7  thank you

[2019-03-30 02:23] #1149 closed

[2019-03-30 06:24] joariasl commented on #1075
In my case, the problem is that I have mounted the EFS in all the worker nodes. (`kube-aws` can mount the EFS in the `/efs` path by default)
I try to `umount` the NFS and it working now. (`systemctl stop ef` or `/usr/bin/umount /efs`)
Reference of the Reclaiming Resources process https://docs.okd.io/latest/install_config/persistent_storage/persistent_storage_nfs.html#nfs-reclaiming-resources

[2019-03-30 09:21] cofyc commented on #1148
what's your cephfs admin secret, is it auth key of ceph `client.admin`?

[2019-03-30 12:00] humblec commented on #1146
@rezie by arch, block volumes are created on top of file volume and we call it as "block hosting volume" , its kind of a one time creation with a size like "512G" or so and next block hosting volume will only be created only when block hosting volume is full with block volumes. The options on block hosting volume is also controlled via a group profile in general while heketi create block hosting v

[2019-03-31 23:37] pulpbill commented on #1111
I have the same issue and using kubernetes.io/aws-efs, what should I use then? Thanks.

[2019-04-01 05:17] Art3mK commented on #1111
IIUC you just need to change provisioner name, as `kubernetes.io` is reserved. i.e. if you are using efs-provisioner helm chart – set `efsProvisioner.provisionerName` to some other value.

[2019-04-02 21:56] CH-anhngo opened #1157 "[efs] mountOptions doesnt honor port ?"
hey @wongma7 we tried to use mountOptions:
                                                      - port = 34030
but the efs-provisioner pod/client seems doesn't use it ?
Mounting arguments: --description=Kubernetes transient mount for /var/lib/kubelet/pods/4466volumes/kubernetes.io~nfs/pv-volume --scope -- mount -t nfs 127.0.0.1:/ /var/lib/kubelet/pods/223xxs343/volumes/kubernetes.io~nfs/pv-volume

[2019-04-02 22:31] CH-anhngo commented on #810
tried this one with mountOptions in storageClass -port=port_number but the nfs-client doesn't seem to use `-o -port` causing mount failures

[2019-04-03 03:05] lxs137 commented on #1150
meet same bug

[2019-04-03 03:33] Alan-buaa commented on #1150
cephfs have same bug, how to solve

[2019-04-03 03:48] lxs137 commented on #1150
I try to fix this by https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/pull/25, but still not works

[2019-04-03 05:18] Alan-buaa commented on #1150
I fix by https://github.com/kubernetes-incubator/external-storage/issues/1120#issuecomment-460684760

[2019-04-06 04:53] dannymk commented on #1128
Same here :-/

[2019-04-06 06:01] dannymk commented on #1128
I resolved it by cordoning, rebooting and uncordoning all my nodes.

[2019-04-09 03:34] matthen commented on #1128
I think I solved it by moving the nfs server to a dedicated machine, that is not a node in the kubernetes cluster.

[2019-04-09 10:37] tylyccn opened #1160 "nfs-client provisioner pod keep in ContainerCreating state"
Hi,

I need created a NFS client storage class in k8s network for Jenkins X usage.
My k8s has one master and one work node, the version is 1.11
helm version is (both client and server): v2.13.1

The command I created the nfs-client is (I also tried mount version 4, result is the same):

helm install --name my-release stable/nfs-client-provisioner --set nfs.server=10.182.12.149 --set nfs.path=/home

[2019-04-09 10:52] tylyccn commented on #1136
The syntax is OK, but seems still not work in my environment....Do you have any update?

[2019-04-11 09:05] chrisdcmoore commented on #1117
We've been seeing this too - when two or more pods which use the same NFS share get scheduled to the same node, occasionally both will get stuck in `ContainerCreating`. SSHing into the node and running `ps aux` shows a bunch of `mount` and `mount.nfs` processes which, if killed, allow normality to resume (both pods successfully create within the next 30 seconds or so).

Next time this happens to u

[2019-04-11 11:14] ismacasti opened #1161 "IPv6 addresses not working on nfs-provisioner"
I'm using nfs-provisioner:v1.0.9 and Kubernetes 1.13.5.

Pods fail to mount nfs volumes, due to IPv6 addresses not correctly formatted to the mount command.

    mounting command: systemd-run
    Mounting arguments: --description=Kubernetes transient mount for /var/lib/kubelet/pods/3da3efb7-5c3c-11e9-af9d-fa163eb30752/volumes/kubernetes.io~nfs/pvc-3da19b68-5c3c-11e9-af9d-fa163eb30752 --scope -- mo

[2019-04-11 23:25] jingxu97 commented on #875
cc @xing-yang
With the new CSI volume snapshot support, we can think about this as a feature request.

[2019-04-13 13:51] ahmadkamilmasyhur commented on #869
based on `https://kubernetes.io/docs/concepts/workloads/pods/pod-overview/`

as far as I know, the problem is, you expected to make an array using '-' before the word, but you use the name without '-' so that why you got that error
shouldn't it be like this?
[code]

[2019-04-15 23:36] #1157 closed

[2019-04-16 00:08] lcd2002 commented on #340
skornehl, how were you able to resolve the problem after finding the message?  I'm not seeing any message like that or any other unusual message on the apiserver.

[2019-04-16 04:48] tiendungitd opened #1162 "How to create limited storage PVC with efs-provisioner"
Since pod access to EFS will have unlimited storage, so is there any way to limit the storage?
Let say I want some pod only use maximum 2GiB

Thanks.

[2019-04-16 05:01] tiendungitd commented on #241
Regarding question no.9. I'm using EKS cluster, so eks worker node being separated AZ, using EBS volume for EBS PV is not a good way. Is there any idea to limited storage with efs-provisioner?

[2019-04-17 10:27] flyhigao commented on #942
after 3 hour debug ,i make it work .
1 `  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["create","get","list","watch"]`
append this to deploy/rbac/clusterrole.yaml

2 in rbd/example/class.yaml， use mon's  ip ，don't use hostname：

[2019-04-24 09:19] luarx opened #1163 "[efs-provisioner][aws/efs] What version should I use?"
There are some versions for `efs-provisioner`project but **I am not sure which I should use**.

Can I use the version `efs-provisioner-v2.2.0-k8s1.12` on a `k8s-1.10 cluster`?

[2019-04-24 12:52] fspaniol commented on #840
/lifecycle stale

[2019-04-24 12:53] fspaniol commented on #840
/remove-lifecycle stale

[2019-04-24 17:54] jdef commented on #824
@lichuqiang are you still interested in this?

[2019-04-24 20:17] msau42 commented on #824
/remove-lifecycle stale

We are still interested in supporting this in Kubernetes.  cc @cofyc who is doing some prototyping

[2019-04-25 02:04] cofyc commented on #824
/assign

[2019-04-25 03:05] msau42 commented on #912
Is this issue still valid?

[2019-04-25 11:53] andor44 commented on #772
Looks like #962 fixed this, closing.

[2019-04-25 11:53] #772 closed

[2019-04-25 19:52] briantopping commented on #999
/close due to eventual deprecation toward ceph-csi.

[2019-04-25 19:54] briantopping commented on #999
Closing due to eventual deprecation toward ceph-csi.

[2019-04-25 19:54] #999 closed

[2019-04-26 07:10] nixpanic commented on #1007
There is currently no interest in adding the Gluster Subvol Provisioner to the external-storage repository. See #1013 for a bit more details.

/close

[2019-04-26 07:10] #1007 closed

[2019-04-27 14:04] #780 closed

[2019-04-27 21:59] AndrewSav commented on #762
As far as I can see this is still happening.

[2019-04-29 13:35] M0nsieurChat opened #1165 "[snapshot-provisioner] support the storageClass.mountOptions parameter"
Hello,

Here is a storage class definition using the snapshot provisioner of GCP
[code]

The `mountOptions` parameter is covered by this PR : https://github.com/kubernetes/community/pull/771

It seems like the parameter mountOptions is not taken into account by the provisioner when attaching the disk to the pod

[code]

Is there anything we're doing wrong for that use case ?

Cheers,

[2019-04-29 15:12] claudod opened #1166 "Cannot use efs-provisioner with EFS instance installed on a peered region"
As the doc state clearly in the "Prerequisites" section, it's required to have:

And indeed, I cannot successfully run efs-provisioner on my eu-west-3 based EKS cluster, pointing to an EFS eu-west-1 based instance, even if I have a peering between my 2 regions

AWS allows to mount an EFS volume created on region A, even on a region B, as long as there's a peering between A and B. It's a pity that

[2019-04-29 18:16] ReillyProcentive commented on #725
/remove-lifecycle stale

[2019-04-29 19:05] verult commented on #912
Yep, the TODO is still there though the code has been moved to lib-external-provisioner. Will move this issue there.

[2019-04-29 19:05] #912 closed

[2019-04-30 01:50] kannanvr opened #1167 "cephFs Provisoning is failed"
Hi,
  cephFs provisoning is failed. Please guide me to resolve this issue

[code]

[2019-04-30 05:19] kannanvr commented on #1167
I solved this issue . Hence Closing it

[2019-04-30 05:19] #1167 closed

[2019-04-30 19:32] raghavendra-talur opened #1168 "Unable to change the name of the glusterblock provisioner by setting env PROVISIONER_NAME"
It should be possible to start the glusterblock provisioner with the name of user's choice by setting only the env PROVISIONER_NAME.

Currently, it is does not work.

[2019-05-01 20:48] lanmalkieri commented on #1136
I am also hitting this issue, any updates on a fix by chance?

[2019-05-03 18:12] cite commented on #1063
/remove-lifecycle stale

[2019-05-03 21:00] matthias50 commented on #824
@cofyc I am also interesting in doing a prototype deployment on k8s? Do you have anything which could be used to deploy csilvm on a non production cluster to play around with yet?

[2019-05-06 05:31] #606 closed

[2019-05-07 01:26] #953 closed

[2019-05-07 01:27] rafaelmagu commented on #953
Closed by https://github.com/helm/charts/pull/9127

[2019-05-07 06:56] tomoncle opened #1173 "[cephfs-provisioner] can not use args "enable-quota=true""
# [cephfs-provisioner] can not use args "enable-quota=true"
when i removed args "enable-quota=true" , it's work ok!
I want to ask, is this a legacy bug or my configuration is wrong?

## ENV
* kube version: v1.10.6
* OS               : centos7
* ceph version: 12.2.10

## config
[code]

## cephfs-provisioner pod log
[code]

[2019-05-08 02:31] #1061 closed

[2019-05-12 13:44] sirtux opened #1174 "[nfs-client-provisioner] ignores a PVC if it has a volumeName in the spec"
Hi,

I found out that the nfs-client-provisioner is silently ignoring a PersistantVolumeClaim,
if it has a volumeName in the spec,

e.g this is beeing ignored:

[code]

while

[code]

is working.

I would have expected that it works with the volumeName,
or at least throws an error.

The logs on the client provisioner pod were completely silent with the PVC with the volumeName...

Thanks,
Tom

[2019-05-13 21:08] matthias50 commented on #824
@cofyc @jdef @lichuqiang I have been doing some experimenting with integrating csilvm with Kubernetes. I have found what may be a fairly significant issue. The behavior I am seeing is that the actual Linux LV is created on a random node in the K8s cluster which is running csilvm, not on the actual Node where the Pod gets scheduled.

The good news is that if I manually steer the Pod to the node wit

[2019-05-13 21:55] msau42 commented on #824
For supporting local volumes, I think the controller services will have to be running in the daemonset too.  And the csi-provisioner probably can't be used as is.  It would have to be modified to only trigger provisioning if the selected node matches the node it's running on.

But I think the main blocking issue, as you pointed out, is supporting the GetCapacity call.  We don't have a way to repre

[2019-05-14 01:06] matthias50 commented on #824
As a bit of background, the use case I an interested in getting working is an ephemeral local volume backed by a LVM on a Kubernetes Node. See https://kubernetes-csi.github.io/docs/ephemeral-local-volumes.html.  If we configure the storage class using the lvm provisioner to have volumeBindingMode set to WaitForFirstConsumer, then it seems like all that is needed is for the NodeStageVolume to creat

[2019-05-14 14:41] #1168 closed

[2019-05-16 05:26] sOblivionsCall opened #1175 "[nfs-provisioner] cannot mount nfs share on start"

[2019-05-16 05:31] sOblivionsCall commented on #1175
I am receiving the following error when installing the nfs-provisioner via helm:

`kubectl describe pod kubernetes-nfs-nfs-client-provisioner-7ddc65b959-q9p4r
Name:               kubernetes-nfs-nfs-client-provisioner-7ddc65b959-q9p4r
Namespace:          default
Priority:           0
PriorityClassName:  <none>
Node:               kube03/10.1.1.24
Start Time:         Thu, 16 May 2019 00:19:39 -0500

[2019-05-16 05:38] sOblivionsCall commented on #1175
sanity check:

`ansible-playbook docker.yaml

PLAY [Install Docker] ****************************************************************************************************************************

TASK [Gathering Facts] ***************************************************************************************************************************
ok: [10.1.1.24]
ok: [10.1.1.23]
ok: [10.1.1.22]
ok: [10.1.1

[2019-05-16 06:08] sOblivionsCall commented on #1175
It's looking like the issue may be the NFS mount itself, did a dry run on the hypervisor, it's odd though as i haven't had any issue with this mount in the past:

sudo mount -o hard,nolock 10.1.1.10:/mnt/Storage/Kubernetes /mnt/tst/ -v
mount.nfs: timeout set for Thu May 16 06:06:54 2019
mount.nfs: trying text-based options 'hard,nolock,vers=4.2,addr=10.1.1.10,clientaddr=10.1.1.20'
mount.nfs: mount

[2019-05-17 09:23] M258 commented on #1167
I met the same problem，can you tell me how to solve this issue

[2019-05-17 09:28] M258 commented on #1167
I met the same issue, can you tell me how to solve it

[2019-05-17 10:26] sdkfzv commented on #1173
Hit the same issue...
It seems like the not match the condition "kernel client >= 4.17 but only on mimic clusters".
How to use the ceph-fuse to set the quota in cephfs-provisioner?

[2019-05-17 14:40] sOblivionsCall commented on #1175
was an issue with the mount itself, resolving issue.

Events:
  Type    Reason     Age   From               Message
  ----    ------     ----  ----               -------
  Normal  Scheduled  22s   default-scheduler  Successfully assigned default/kubernetes-nfs-nfs-client-provisioner-7ddc65b959-jzxzn to kube03
  Normal  Pulling    14s   kubelet, kube03    pulling image "quay.io/external_storage/nfs

[2019-05-17 14:40] #1175 closed

[2019-05-20 11:42] gpaul commented on #824
I would very much like to push this forward.

@matthias50 I don't think we should let volume creation piggy-back on NodeStageVolume, at least not in the long run. It sounds like a sensible short-term solution to your use case, but longer-term I think it will lead to confusion.

@msau42 I'd be happy to contribute research / design / code / general effort. I am slowly grokking how CSI and storage in

[2019-05-22 13:33] bartoszj commented on #1102
I've the same problem. It only occurs for me when the `nfs-server-provisioner` and the pod are scheduled on the same node. When they are placed on different nodes it works fine.

[2019-05-22 21:15] n1ck2039 opened #1176 "Is it possible to provision more than one EFS to an EKS cluster?"
Hi,

I need to allocate persistent volumes to pods in our EKS cluster, using EFS as the underlying storage. Each namespace needs to have access to one (and only one) EFS volume.

I tried to implement the intended design by running EFS provisioners for two users, user-a and user-b. user-a has an EFS with an id of fs-1234. user-b has an EFS with an id of fs-5678.

The efs-provisioner running in name

[2019-05-23 01:23] cofyc commented on #824
hi, @matthias50 @gpaul

I was working in Kubernetes local storage and volume scheduling in last year. If you have any questions about k8s, just ask me. My next goal is to support dynamic provisioning for local storage and other topology-aware storage types. We can work together.

I'm reading the csilvm project and related discussions and docs and writing a demo to demonstrate the design. I'm also

[2019-05-23 07:36] gpaul commented on #824
That's great to hear, @cofyc! Looking forward to hearing more.

[2019-05-23 18:33] matthias50 commented on #824
@gpaul > @matthias50 I don't think we should let volume creation piggy-back on NodeStageVolume, at least not in the long run. It sounds like a sensible short-term solution to your use case, but longer-term I think it will lead to confusion.

Do you have another suggestion as to a way to go about this? Right now, I don't see any other way to make sure that the volume is provisioned from the underly

[2019-05-24 06:43] kristvanbesien commented on #1146
I have another customer that would like to see arbiter support for block hosting. We tried a command similar to the one in the first comment above, but got an error message in stead...

So it is not working.

Is it possible to create the volume by hand in a different way?

[2019-05-24 09:23] #766 closed

[2019-05-24 19:30] michaelconnor00 commented on #1162
:+1:

[2019-05-25 04:31] #921 closed

[2019-05-27 22:03] charlie-charlie opened #1177 "why my pv not created on aws/eks?"
Hi there,
I followed the instruction(made necessary changes), but efs-provisioner in ContainerCreating, because pv-volume not create. pvc  in Pending state. scratching head, no findings.
Did anyone run into same issue?
I logged into eks ec2 node, I can manually mount the efs.
thanks

[2019-05-27 22:20] charlie-charlie commented on #1177
check pvc log, here is why no pv created:
Normal  ExternalProvisioning  6s (x4 over 27s)  persistentvolume-controller  waiting for a volume to be created, either by external provisioner "example.com/aws-efs" or manually created by system administrator

[2019-05-28 08:56] tsmetana commented on #1155
This provisioner is already obsoleted by the CSI snapshots. I don't think it's worthwhile to implement new features in it.

[2019-05-28 10:26] krzwalko commented on #908
/close

[2019-05-28 10:26] #908 closed

[2019-05-28 13:56] gpaul commented on #824
No I don't, sorry. I'm hoping a design crystallizes out of the discussion here:
https://github.com/container-storage-interface/spec/issues/301#issuecomment-495497067

[2019-05-29 06:48] live4live4 commented on #241
re 6, I've noticed efs-provisioner creates an directory (with pv id as the name) on the root directory of the efs volume. Could you give more details on how to put files on the root directory instead of the sub-directory?

[2019-05-30 21:33] n1ck2039 commented on #1176
I realised I can do this by defining a storage class for each namespace and linking the storage class to a specific provisioner. Closing this.

[2019-05-30 21:33] #1176 closed

[2019-05-30 23:49] ashish4github opened #1178 "[aws-efs] provide option to skip creation of new folder and use root"
Provide an option to skip the creation of new folder for a persistence volume claim. This allows use of a shared folder between EKS cluster and other non EKS nodes/services. In our specific use case, we want to ingest data and stoe in EFS folders. These folders will then be accessed form Pods running in EKS to read the files.

[2019-06-04 16:56] RaySirX commented on #1178
Would this PR address this issue?

https://github.com/kubernetes-incubator/external-storage/pull/1147

[2019-06-04 17:04] midN commented on #1178
You can use my branch.
https://github.com/kubernetes-incubator/external-storage/compare/master...midN:efs-new-options

I tried getting that merged, Google team has ignored my PR for months.
They don't seem very keen on people doing opensource contributions to Kube.

[2019-06-04 20:15] sortigoza commented on #1161
I might have a similar issue:

[code]

[code]

helm chart version `0.4.0`

The cluster nodes are running inside a VPN with the DNS options enabled.

[2019-06-06 09:31] utkuozdemir commented on #903
Having the same issue.

[2019-06-06 14:24] stiller-leser commented on #850
Concept has been explained here: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/224 - Closing this issue

[2019-06-06 14:24] #850 closed

[2019-06-09 22:48] midN commented on #821
Another perfect example of Issue being open for 1 year and being ignored with a valid PR addressing the issue, <3 Google

[2019-06-10 10:59] tsmetana commented on #1165
Hello, you're right, the mount options are ignored when creating new volumes from snapshots. This provisioner is obsoletef by CSI, so I'm not sure anybody will want to implement new features into it.

[2019-06-10 11:42] M0nsieurChat commented on #1165
Hi,
Thanks for answering ! Do you know if there is an alternative being CSI compliant regarding a snapshot operator compatible with the major cloud providers ?

[2019-06-10 12:12] tsmetana commented on #1165
Some overview of the existing CSI driver is here: https://kubernetes-csi.github.io/docs/drivers.html. Note that new features are being added constantly. Also note that even this controller/provisioner had very limited backend support (AWS, GCE, Gluster, hostpath).

[2019-06-10 13:03] M0nsieurChat commented on #1165
Thank you.
For future readers of this issue, please note that the Snapshot feature needs the `VolumeSnapshotDataSource` Feature Gate, which is still in Alpha since Kubernetes 1.12

For users running on GKE, I guess we still need to wait for the feature to move from Alpha to Beta in 1.14 (current stable on GKE is 1.13)

https://kubernetes.io/blog/2018/10/09/introducing-volume-snapshot-alpha-for-kub

[2019-06-10 13:17] #1165 closed

[2019-06-11 07:50] tsmetana commented on #1083
/remove-lifecycle stale

[2019-06-11 08:25] tsmetana commented on #1083
I attempted for some more comprehensive overview of what is still relevant in this repo:

EFS provisioner: deprecated by CSI: https://github.com/aws/aws-efs-csi-driver
CephFS provisioner: deprecated by CSI: https://github.com/ceph/ceph-csi
DigitalOcean provisioner: deprecated by CSI:https://github.com/digitalocean/csi-digitalocean
Flex: deprecated by CSI (?), there even exists a CSI adapter: https

[2019-06-12 17:46] quickbooks2018 commented on #1177
Same issue here

[2019-06-13 08:18] rendiok commented on #1136
Hello!

I have the same error "access denied by server while mounting" when a pod tries to attach a created volume.

I'm not using helm so I deployed the files without it , "https://github.com/kubernetes-incubator/external-storage/tree/master/nfs-client/deploy"

About "mountOptions", can you tell me in which file I need to put it? I think in deployment file, but where exactly?

Thanks,

[2019-06-13 09:12] rendiok commented on #1136
Ok, I put the mountOptions inside StorageClass file.

With "nfsvers=3" I have the same error and I if try to change it to version 4 the error changes to "Protocol not supported".

Weird because I have another cluster sharing the same NAS on OVH platform and with the nfs-client-provisioner 2.1.1 works fine.

I will keep investigating...

Regards,

[2019-06-17 05:43] liozzazhang commented on #754
I think that it's your RBAC configuration issue. If you specify some _namespace_ parameters in your RBAC yaml file, you can refer to this file: https://github.com/kubernetes-incubator/external-storage/blob/master/nfs/deploy/kubernetes/rbac.yaml.  Only specify _namespace_ parameter in ClusterRoleBinding/RoleBingding Subjects section. Also don't forget to add _endpoints_  permission in your ClusterR

[2019-06-19 12:07] albanm opened #1184 "[nfs-server-provisioner] container restarts when api server is failing"
I posted https://github.com/helm/charts/issues/14912 to the helm charts repo, but this might be a better place as it is here that the quay.io/kubernetes_incubator/nfs-provisioner image is maintained.

The following is a copy/paste of the issue.

**Describe the bug**

The container restarts frequently when the api server is not responding but it should not have to do it.

**Version of Helm and Kube

[2019-06-19 13:07] peterwillcn opened #1185 "How to support nfs4 ?"
How to support nfs4 ?

[2019-06-20 10:20] PigeonCai commented on #1160
have the same error

[2019-06-21 09:14] PigeonCai commented on #754
thanks

[2019-06-21 15:30] #574 closed

[2019-06-21 20:35] #531 closed

[2019-06-22 02:41] #643 closed

[2019-06-22 02:41] #644 closed

[2019-06-22 06:45] #691 closed

[2019-06-22 12:51] #736 closed

[2019-06-22 12:51] #423 closed

[2019-06-22 14:53] #755 closed

[2019-06-23 02:03] acejam commented on #1184
@albanm I'm seeing a very similar issue - which cloud provider are you seeing the latency with?

[2019-06-23 05:07] #244 closed

[2019-06-23 05:07] #450 closed

[2019-06-23 05:07] #81 closed

[2019-06-23 05:07] #371 closed

[2019-06-23 05:07] #356 closed

[2019-06-23 06:08] #399 closed

[2019-06-23 06:08] #421 closed

[2019-06-23 06:08] #585 closed

[2019-06-23 06:08] #589 closed

[2019-06-23 06:08] #548 closed

[2019-06-23 06:08] #704 closed

[2019-06-23 06:08] #811 closed

[2019-06-23 06:08] #813 closed

[2019-06-23 07:09] #223 closed

[2019-06-23 07:09] #731 closed

[2019-06-23 07:09] #649 closed

[2019-06-23 08:10] #819 closed

[2019-06-23 08:10] #751 closed

[2019-06-23 09:11] #827 closed

[2019-06-23 10:12] #829 closed

[2019-06-23 12:14] #833 closed

[2019-06-23 13:15] #774 closed

[2019-06-23 14:16] #812 closed

[2019-06-23 14:16] #848 closed

[2019-06-23 15:06] #1185 closed

[2019-06-23 17:19] #844 closed

[2019-06-23 21:23] #873 closed

[2019-06-23 22:24] #856 closed

[2019-06-23 22:42] wiltonfelix commented on #754
this working to me #65937

[2019-06-24 00:26] #889 closed

[2019-06-24 00:26] #895 closed

[2019-06-24 01:27] #884 closed

[2019-06-24 01:27] #879 closed

[2019-06-24 02:28] #904 closed

[2019-06-24 03:29] #839 closed

[2019-06-24 03:29] #906 closed

[2019-06-24 03:29] #910 closed

[2019-06-24 04:30] #915 closed

[2019-06-24 06:32] #916 closed

[2019-06-24 07:33] #934 closed

[2019-06-24 07:33] #887 closed

[2019-06-24 08:23] YanLemon opened #1187 "Does nfs-client-provisioner Support ARM Architecture?"

[2019-06-24 08:30] michaeleino commented on #898
/reopen
/remove-lifecycle rotten

Any update for this issue? solved or not yet ?

[2019-06-24 09:35] #960 closed

[2019-06-24 11:37] #778 closed

[2019-06-24 12:38] #941 closed

[2019-06-24 12:38] #928 closed

[2019-06-24 15:41] #976 closed

[2019-06-24 15:41] #828 closed

[2019-06-24 15:49] balvey commented on #1178
I need the same options as you've tried to get them to merge. i'm trying to use your branch and getting an error.
forgive my ignorance here, i'm not very familiar with go or using forked repos. I'm assuming you don't have an image already built and inside a public repo, so I need to build it myself and get it into a repo to pull from within my k8s cluster.

I'm assuming the proper approach here is

[2019-06-24 18:02] midN commented on #1178
@balvey yeah the build logic is awkward, you need to build it outside of efs folder, in the root dir, with the vendor folder.
I pushed it to `m1dn/efs-provisioner:v1.0` - https://cloud.docker.com/repository/registry-1.docker.io/m1dn/efs-provisioner

[2019-06-24 18:07] wongma7 commented on #1178
@midN I'm sorry for neglecting your PR (among others). If it's a CLA issue, unfortunately I don't know how to get the attention of somebody from CNCF any more than you do. (Nobody here works for Google, I'm basically the sole maintainer.)

[2019-06-24 19:23] midN commented on #1178
@wongma7 It's fine, as you said, i couldn't get past CLA anyway.

I sent them few emails on the support page, tried all solutions i could find, opened JIRA ticket on their board, tried slack messages etc, pointless.
Everything ignored, not a single answer

[2019-06-24 19:44] #972 closed

[2019-06-24 20:45] #989 closed

[2019-06-24 22:19] ashish4github commented on #1178
@midN  Thanks for the fork. I have seen it and it will work for us.
It would be great to have this included in the main release.
@wongma7  Is it possible for you to include it in main branch and release a version. We want to make sure we get any new development fixes so that we do not have to continuously merge the two.

[2019-06-25 02:51] #1015 closed

[2019-06-25 02:51] #1017 closed

[2019-06-25 06:15] amruthapbhat opened #1188 "PVC location for a specific pod"
Hi,

Initially we were using EBS for PVC, where in we were able to see the new pvc that gets created in the Volume section in AWS.

Now i have changed that for EFS and that also creates a pvc for a specific pod.

Could you please let me know where i can see this storage that gets created in the aws console.

Regards,
Amrutha

[2019-06-25 07:56] #971 closed

[2019-06-25 08:57] #1021 closed

[2019-06-25 08:57] #1029 closed

[2019-06-25 08:57] #1024 closed

[2019-06-25 09:58] #1031 closed

[2019-06-25 10:59] #1014 closed

[2019-06-25 10:59] #515 closed

[2019-06-25 13:01] #1035 closed

[2019-06-25 13:01] #1019 closed

[2019-06-25 13:50] midN commented on #1178
@ashish4github @wongma7 I can reopen the PR, but again, i can't get past the CLA.
I've submitted multiple Support requests, tried reaching out on all channels, no luck.

The CLA is ridiculous.
My commits are signed with valid email, same email used for Linux Foundation registration.

[2019-06-25 18:06] #1004 closed

[2019-06-25 20:09] #1049 closed

[2019-06-25 23:22] wongma7 commented on #1188
They won't show in they console because each one is a directory in a single EFS filesystem. You can mount the EFS filesystem into one of your EC2 nodes and look around though.

[2019-06-26 06:19] #1059 closed

[2019-06-26 06:19] #1062 closed

[2019-06-26 08:21] #1074 closed

[2019-06-26 12:25] #1077 closed

[2019-06-26 13:21] bjwschaap commented on #1096
/remove-lifecycle rotten
Any updates on this? We need it....

[2019-06-26 14:27] #842 closed

[2019-06-26 16:29] #1081 closed

[2019-06-26 18:31] #855 closed

[2019-06-26 19:32] #871 closed

[2019-06-26 19:32] #1086 closed

[2019-06-26 23:35] #762 closed

[2019-06-27 01:37] #1079 closed

[2019-06-27 04:40] #948 closed

[2019-06-27 04:40] #1091 closed

[2019-06-27 05:41] #1093 closed

[2019-06-27 05:41] #1030 closed

[2019-06-27 15:51] #1099 closed

[2019-06-28 05:04] #1018 closed

[2019-07-02 08:17] petermicuch commented on #149
Hi @yuchaoran2011, what exactly have you done? I got the same issue. I installed nfs-client provisioner using helm and it was working fine, but after reinstall and new installation, I also get message "failed to provision volume with StorageClass "nfs-client": unable to create directory to provision new pv". When I do "sh" to the pod, I am unable to chmod 777, since I am not root.

[2019-07-03 15:09] thomasLeclaire commented on #1102
hello!
I have also the issue on my side with GKE (at least 1.12.7). what I remarked is that I have the issue only when it is a new node, ie on the first mount request only.
investigating into node logs, what I see is that the MountVolume request triggered by my applicative pod is sent before the full node start, in particular before the kubenet one, which mean network is not correctly instantiated

[2019-07-03 16:56] 24601 commented on #1102
Just as an FYI/experience - I had this issue exactly as described and it was so bad I ran my own off-cluster NFS server and just used client provisioner.

I tried to create pod anti affinity to ensure the pods were not co-located on nodes alongside any nfs server or provisioner resources, set/force NFS vers, all sorts of mount options, etc as described in this thread and above and it still would f

[2019-07-04 08:54] slassh commented on #1100
/close

[2019-07-04 08:54] #1100 closed

[2019-07-04 13:07] w1ndy commented on #516
I managed to get it working by disabling chap authentication in the storage class configuration:

[code]

[2019-07-06 10:16] #903 closed

[2019-07-07 07:02] w1ndy commented on #1152
/remove-lifecycle stale
The latest image is still 2 years ago :(

[2019-07-08 19:16] tkang007 commented on #694
Is there any improvement for this case?

[2019-07-08 21:11] JonathanRRogers commented on #1102
That matches my experience: I only had trouble when a pod triggered the cluster-autoscaler to create a new node, then the pod using the NFS volume was scheduled on the new node. AFAICT, nfs-server-provisioner tries to perform an NFS mount using the Kubernetes internal IP address for the NFS server which only works after the node networking is completely set up. Like 24601, I worked around the prob

[2019-07-10 22:20] Queuecumber opened #1191 "[targetd] No Route to Host"
My targetd server is running as a pod in my cluster and exposed via service, the provisioner gets the following error

[code]

if I shell into the pod I can curl that IP address no problem, any idea why whatever the go library is would refuse to connect?

[2019-07-11 01:06] Queuecumber commented on #1152
/remove-lifecycle stale

@wongma7 can we get this taken care of?

[2019-07-11 01:32] Queuecumber commented on #1191
It's because the port isnt being set properly, I originally assumed that ":0" was some artifact of the print command not being right, it turns out that for whatever reason your default value of 18700 is not being used its defaulting to 0. Setting `TARGETD_PORT` environment variable does work though. This should probably be put in the readme. Or fixed whichever.

[2019-07-11 10:53] saikiran243 commented on #1178
Hi @midN can u specify steps on how to deploy this. when i tried to clone your repo and apply the manifest file. (by filling out my env details in it) the container is not getting created.
NAME                               READY     STATUS              RESTARTS   AGE
efs-provisioner-5db678dcd9-xqcxg   0/1       ContainerCreating   0          27m

[2019-07-12 18:45] #1068 closed

[2019-07-13 19:16] fcgravalos opened #1192 "[cephfs-provisioner] PVC creation shouldn't fail if the ceph user secret already exists"
[cephfs-provisioner] When using `deterministicNames: true` creating a PVC, deleting it and creating it afterwards may fail because the ceph user secret already exists.

This could be solved by just doing:

[code]
I'm glad to do a PR with this, I'm just having a hard time building the provisioner due to this:

https://github.com/kubernetes-incubator/external-storage/issues/1150

If you help me sort

[2019-07-14 14:16] w1ndy commented on #1191
Setting only ``TARGETD_ADDRESS`` works for me... Could you provide your detailed pod and storage class configurations so I may come up with a potential fix? Also you can try the latest image instead, as described in https://github.com/kubernetes-incubator/external-storage/issues/1152#issuecomment-508976553.

[2019-07-14 14:35] w1ndy commented on #1063
We could go through all initiators at the startup of the targetd provisioner and check if there are missing exports similar to this:
https://github.com/kubernetes-incubator/external-storage/blob/a817ca6711a7779538e08f3bb0f09a0fd4537838/iscsi/targetd/provisioner/iscsi-provisioner.go#L270-L287

It should be an easy fix, but setting up a test bed could take some time... I'll see if I can fix this.

[2019-07-15 18:15] Queuecumber commented on #1191
I really didnt change anything of consequence beyond the defaults in the repository, here it is with redacted names

[code]

Beyond the storage class the only thing I changed is to add the correct port number, without which it tries to use port 0. I didn't see any relevant changes when I looked through the commit history between the last image deployment and the updated image from #1152 and I woul

[2019-07-16 05:38] madannuthi commented on #1178
Hi @midN can u specify steps on how to deploy this. when i tried to clone your repo and apply the manifest file. (by filling out my env details in it) the container is not getting created.
NAME READY STATUS RESTARTS AGE
efs-provisioner-5db678dcd9-xqcxg 0/1 ContainerCreating 0 27m

[2019-07-16 05:40] w1ndy commented on #1191
That's understandable. However I can't reproduce the error with your configuration, the controller seems to have obtained the correct URL without TARGETD_PORT explicitly set:
[code]

Could you apply the following deployment and see if the provisioner reports the correct URL in the log?
[code]

[2019-07-16 05:45] w1ndy commented on #1191
Also please note that the official image has a race condition while creating multiple volumes at the same time (see #591).

[2019-07-16 13:45] midN commented on #1178
@saikiran243 @madannuthi Check the pod logs, there is something missing from your deployment.
Did you create EFS and specify a reachable EFS?

Deployment process did not change, only couple of extra options were added

[2019-07-17 10:31] madannuthi commented on #1178
@midN  Thanks for the quick response we will try this option and get back  to you.

[2019-07-17 15:01] midN commented on #1178
@saikiran243 It's right there.........
[code]
You did not create https://github.com/kubernetes-incubator/external-storage/blob/master/aws/efs/deploy/class.yaml .

[2019-07-17 19:27] rkamisetti792 opened #1193 "Failed to pull image quay.io/external_storage/efs-provisioner:latest"
we are trying to create aws efs-provisioner.

error: pod unable to pull the image
cause: docker registry doesn't exists

Failed to pull image "quay.io/external_storage/efs-provisioner:latest": rpc error: code = Unknown desc = Error response from daemon: Get https://quay.io/v2/: EOF

[2019-07-17 22:58] supriya-premkumar commented on #1145
You need to add `nfs` volume in your PodSecurityPolicy spec.

[2019-07-18 13:30] saikiran243 commented on #1178
Hi @midN thanks for the update,
l am doing following steps.
1)Cloned your Repo.
2)Created a Docker image out of it
3) pushed to my registry
4) adding this image in the manifest file for the Deployment of efs-provisioner
iam able to create the provisioner pod
**pv,pvc are able to create. but the issue is the directory created with the name in the efs is  (pv+pvc) which was in the same manner of the

[2019-07-18 13:41] midN commented on #1178
@saikiran243 Your `skip.pvc.named.path` and `keep.pv.path` are empty strings, false.
[code]

[2019-07-18 15:01] fcgravalos commented on #1192
@humblec Did you finally take a look at this?

[2019-07-18 16:01] bcatubig commented on #666
@wongma7 ran into this today. Should this sanity check be removed?

[2019-07-19 05:19] madannuthi commented on #1178
@midN  we tried by keeping **skip.pvc.named.path and keep.pv.path** are set to **true** like below but still we are getting the result.

keep.pv.path: true
skip.pvc.named.path: true

[root@server-01 ]# kubectl get pv
NAME CAPACITY ACCESS MODES RECLAIM POLICY STATUS CLAIM STORAGECLASS REASON AGE
pvc-a8b00c17-a956-11e9-af8a-0abe9j22a154 10Gi RWX Delete Bound namespace/pvc-test-1 aws-efs 12m
pvc-a8b0

[2019-07-19 08:02] devopstales commented on #992
/remove-lifecycle stale

[2019-07-19 08:22] xieyanker commented on #1193
maybe your docker is not normal, please check your docker.

[2019-07-19 10:38] humblec commented on #1192
@fcgravalos you can try this PR https://github.com/kubernetes-incubator/external-storage/pull/1122 to resolve #1150 and then send a PR with the fix for this issue.

[2019-07-19 11:22] fcgravalos commented on #1192
Thanks @humblec I'll try that out later and submit a PR if I manage to fix it

[2019-07-20 17:19] fcgravalos commented on #1192
hey @humblec I merged your PR in my fork and I was able to test my changes :). It works! I'm moving forward with a PR :)

[2019-07-23 23:08] #754 closed

[2019-07-25 04:36] #448 closed

[2019-07-26 17:20] fcgravalos commented on #1192
@humblec you were assigned to the PR :)

If we merge it, we'll merge your changes to fix the build too :)

[2019-07-26 23:18] #251 closed

[2019-07-29 09:19] mausch commented on #1193
fwiw `docker pull quay.io/external_storage/efs-provisioner:latest` works fine here.

[2019-07-29 09:43] mandar14 commented on #1065
Hi,

I have cluster deployed using bosh-cfcr, I'm facing same issue while provisioning cluster (Chart v0.7.0). Bosh deployed worker node have NFS packages.

Note:
I previously had a cluster which use to work perfect with 0.5.0

[2019-07-29 09:54] mausch opened #1195 "[efs-provisioner][aws/efs] Is this obsolete?"
Now that there's https://github.com/kubernetes-sigs/aws-efs-csi-driver , is https://github.com/kubernetes-incubator/external-storage/tree/master/aws/efs obsolete?

[2019-07-29 14:20] pnalamati-rms commented on #1178
@midN I tried the image(m1dn/efs-provisioner:v1.0) that is in docker hub. The PVC volume folder is still getting created. I set keep.pv.path: true, skip.pvc.named.path: true  and image: m1dn/efs-provisioner:v1.0 in manifest file.

[2019-07-29 14:35] prakash-nvs commented on #1178
@midN I tried the image(m1dn/efs-provisioner:v1.0) that is in docker hub. The PVC volume folder is still getting created. I set keep.pv.path: true, skip.pvc.named.path: true and image: m1dn/efs-provisioner:v1.0 in manifest file.

[2019-07-29 15:35] luarx commented on #1163
Hey, any update on this?

[2019-07-29 19:24] midN commented on #1178
@prakash-nvs post your configmap and deployment describe output

[2019-07-29 23:21] pnalamati-rms commented on #1178
@midN Here is config and deployment:
kubectl describe configmap efs-provisioner -n tenant2-workflows
Name:         efs-provisioner
Namespace:    tenant2-workflows
Labels:       <none>
Annotations:  kubectl.kubernetes.io/last-applied-configuration:
                {"apiVersion":"v1","data":{"aws.region":"us-east-1","dns.name":"fs-1234efd0.efs.us-east-1.amazonaws.com","file.system.id":"fs-1234efd0",

[2019-07-29 23:27] prakash-nvs commented on #1178
@midN Here is configmap and deployment:
 kubectl describe configmap efs-provisioner -n tenant2-workflows
 Name: efs-provisioner
 Namespace: tenant2-workflows
 Labels:
 Annotations: kubectl.kubernetes.io/last-applied-configuration:
 {"apiVersion":"v1","data":{"aws.region":"us-east-1","dns.name":"fs-1234efd0.efs.us-east-1.amazonaws.com","file.system.id":"fs-1234efd0","k...

Data

keep.pv.path:

true

[2019-07-30 13:31] midN commented on #1178
@prakash-nvs Don't see anything wrong, did you create the Deployment before updating configmap maybe and didn't roll deployment afterwards?
Can you exec into container and check if ENVs are set correctly by executing env:
[code]

[2019-08-01 03:49] ddurham2 commented on #1101
@Ichthyostega, you said you successfully got nfs working at DigitalOcean?  I've be trying for days, and while I think I'm close, I've had to hack the node's resolve.conf just to get a pod to be able to try and contact the nfs server.  Could you please post (github?) whatever you've done that has been successful?

[2019-08-01 14:26] slavditore opened #1198 "Targetd-provisioner making backup"
Hello! I installed targetd-provisioner to Kubernetes 1.15, and it working very well. But I don't know how to make backups of storages that was created by this provisioner. It is due to impossibility of mount  LVM volumes, ever if I shut down pod that used this volume. I appreciate any your advice.

[2019-08-01 17:33] #1141 closed

[2019-08-01 17:33] #1131 closed

[2019-08-01 17:33] #1137 closed

[2019-08-01 17:33] #1129 closed

[2019-08-01 17:33] #1125 closed

[2019-08-01 17:33] #1112 closed

[2019-08-01 17:33] #1107 closed

[2019-08-01 17:33] #1104 closed

[2019-08-01 17:33] #1110 closed

[2019-08-01 18:34] #1103 closed

[2019-08-02 08:35] TerryTab opened #1199 "[rbd-provisioner] rbd pod cant access to ceph.conf and client keyring"
I used ubuntu as system for ceph cluster. My rbd-provisioner post error as below:

2019-08-02 08:45:39.793 7fd3217f3900 -1 Errors while parsing config file!
2019-08-02 08:45:39.793 7fd3217f3900 -1 parse_file: cannot open /etc/ceph/ceph.conf: (2) No such file or directory
2019-08-02 08:45:39.793 7fd3217f3900 -1 parse_file: cannot open /root/.ceph/ceph.conf: (2) No such file or directory
2019-08-02

[2019-08-02 20:05] rubiktubik commented on #1160
Hi, i had the same error.

I solved this problem with also set the right path:
[code]
i hope it helps someone :-)

[2019-08-02 21:13] gerritjvv commented on #953
I got:

`E0802 21:02:38.177700       1 leaderelection.go:252] error retrieving resource lock default/example.com-aws-efs: endpoints "example.com-aws-efs" is forbidden: User "system:serviceaccount:default:default" cannot get resource "endpoints" in API group "" in the namespace "default"`

What fixed it for me was:

Add a service account to rbac.yaml
[code]

then updated the manifest.yaml deploymen

[2019-08-04 17:44] #447 closed

[2019-08-05 03:23] fr0der1c commented on #1142
/close

[2019-08-05 03:23] #1142 closed

[2019-08-06 07:24] andysiu commented on #1184
We encountered exactly the same issue on Microsoft AKS.

[2019-08-06 08:27] knightdave opened #1201 "Permissions as environment variable in NFS provisioner"
Hi,
I would like to add possibility to change put chmod and chown as environment variables in NFS provisioner instead of hardcoded 0777 in lines [69](https://github.com/kubernetes-incubator/external-storage/blob/master/nfs-client/cmd/nfs-client-provisioner/provisioner.go#L69) and [72](https://github.com/kubernetes-incubator/external-storage/blob/master/nfs-client/cmd/nfs-client-provisioner/provisi

[2019-08-08 08:39] chrisvdb commented on #1195
Would also be interested to know if aws-efs-csi-driver is now preferred for new setups.

[2019-08-08 22:17] #1192 closed

[2019-08-08 23:10] wongma7 commented on #1195
Not yet. The EFS CSI driver can't do dynamic provisioning yet. It's being designed, please help steer the design in https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/6. For example, what do/don't you like about this provisioner that we can fix by starting fresh in the CSI driver?

When the migration path is clearer, we'll document it here. (That goes for other provisioners in this repo

[2019-08-08 23:32] wongma7 commented on #1163
Yes. It's backwards compatible. Tagging images like that was not the best idea.

[2019-08-08 23:32] wongma7 commented on #1174
volumeName means the PVC is already bound to a PV. So the provisioner will not create a new PV.

[2019-08-08 23:34] wongma7 commented on #1162
Not possible as far as I know

[2019-08-08 23:35] wongma7 commented on #1166
The provisioner simply does a mount of `file-system-id.efs.aws-region.amazonaws.com`. What error do you see?

[2019-08-08 23:36] wongma7 commented on #1187
Yes it can be built for ARM and there is an ARM docker image somewhere too.

[2019-08-08 23:37] wongma7 commented on #1160
`describe` the pod to see the `mount` command that is failing

[2019-08-08 23:39] wongma7 commented on #1201
Yes, it can be done. See also EFS which sets 771 by default https://github.com/kubernetes-incubator/external-storage/blob/master/aws/efs/cmd/efs-provisioner/efs-provisioner.go#L200

[2019-08-09 00:23] #821 closed

[2019-08-09 15:59] midN commented on #821
LOL - Love Kubernetes contributers community so far 😂

[2019-08-11 06:30] aaronnassiry opened #1202 "efs-provisioner-controller pod running as privileged root user"
The pod is running with root access?
Is this necessary for proper functionality?
What can we do to run the pod in non privileged mode and not any of the functionalities that are working for us?

[2019-08-12 08:00] HuJake opened #1203 "[aws-efs] using cachefilesd & mount "fsc" option on the kubernetes node"
Currently, we have storage-class, pvc settings on the kubernetes node, and install cachefilesd to using

[code]

In kubernetes node:
show below
[code]

=> And I want to increase the mount option but it doesn't seem to work on pvc and storageclass.
I want to how to add "fsc" option to mount flag ?

when we add to StorageClass

show below

[code]

[code]
it's doesn't work also. :(

~@wongma7  can yo

[2019-08-13 02:34] dexiansong opened #1204 "how to use the second ceph fs to my k8s cluster cephfs-provisioner"
I have tow fs like this:
[root@ceph01 ~]# ceph fs ls
name: cephfs, metadata pool: cephfs_data, data pools: [cephfs_metadata ]
name: k8sfs, metadata pool: k8s_data, data pools: [k8s_metadata ]

I want to use the k8sfs fs to my k8s ,how to do ?
 [root@master01 k8s]# cat ceph/storageclass-cephfs.yaml
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: dynamic-cephfs
provisioner: ceph.c

[2019-08-13 23:03] wongma7 commented on #1203
The storageclass looks correct to me. What version are you using? Try 2.2.1

[2019-08-14 14:03] hunternins opened #1205 "nfs-server-provisioner: Helm chart doesn't work with persistence"
Good day. I’m working with the nfs-server-provisioner (via its Helm chart, https://github.com/helm/charts/tree/master/stable/nfs-server-provisioner), and have encountered an interesting issue. It seems that it only “works” if I set the “nfs” StorageClass as the default sc in my cluster, i.e.:
`helm install stable/nfs-server-provisioner --name k8s-nfs-server --set=storageClass.defaultClass=true`

I

[2019-08-14 22:47] mlaythe opened #1206 "EFS Provisioner - not persisting between namespaces"
I'm trying to use one EFS instance in several namespaces. I deployed the controller to the `default` namespace. I deployed a few pods in the `default` namespace and I was able to successfully mount the EFS drive to the pods.

I also mounted it to another pod running in a different namespace by creating a `PersistentVolumeClaim` with `storageClassName` defined to link it to the EFS instance (https:

[2019-08-14 22:56] wongma7 commented on #1206
Every PersistentVolumeClaim (namespaced) gets its own PersistentVolume (non-namespaced/cluster-scoped).

If you'd like pods to share data in an EFS provisioner-created PV they must use the same PVC but that's not possible in different namespaces. So you must manually create a PV. Something like this:

Namespace A: pod A <-> PVC A <-> PV A-1
Namespace B: pod B <-> PVC B <-> PV A-2 which has the sam

[2019-08-14 22:57] wongma7 commented on #1206
For example, say PV A-1 points to the path /asdf in the EFS volume. Then PV A-2 must point to the same path.

The EFS provisioner is not doing any magic, if you inspect the PVs you will understand that each refers to a different path in the EFS file system

[2019-08-14 23:07] mlaythe commented on #1206
Awesome, thank you for the help!!!!

[2019-08-14 23:07] #1206 closed

[2019-08-15 03:12] CamelCaseNotation commented on #1018
Requiring users to modify Pod specs is not an acceptable solution when kubernetes itself recommends to _not_ ever write Pods by hand. It also means any YAML used that's not written by the user exclusively is going to run into issues when that Pod inevitably tries to mount a volume which is inexplicably owned by root, which in and of itself doesn't make sense given it's not safe to run Pods as root

[2019-08-15 03:12] CamelCaseNotation commented on #1018
@MartinForReal

[2019-08-15 15:40] linux-daniel opened #1207 "rbd-provisioner pod "CrashLoopBackOff""
[root@master ~]# kubectl get pods
NAME                               READY   STATUS             RESTARTS   AGE
rbd-provisioner-85578d4dbd-qb422   0/1     CrashLoopBackOff   6          9m52s

[root@master ~]# kubectl describe pod rbd-provisioner-85578d4dbd-qb422 |tail -8
Events:
  Type     Reason     Age                   From               Message
  ----     ------     ----                  ----

[2019-08-15 15:44] linux-daniel commented on #1207
[root@master ~]# kubectl logs rbd-provisioner-85578d4dbd-qb422
F0815 15:39:01.856313       1 main.go:80] Error getting server version: Get https://10.2.0.1:443/version?timeout=32s: dial tcp 10.2.0.1:443: i/o timeout

[2019-08-16 07:31] vsxen commented on #885
sometimes  you need to update kernel .

[2019-08-16 19:33] richstokes opened #1209 "efs-provisioner: error retrieving resource lock - endpoint is forbidden"
Using AWS EFS.

Followed instructions (https://github.com/kubernetes-incubator/external-storage/tree/master/aws/efs), applied RBAC yaml. But getting this in the efs-provisioner logs:

[code]

What am I/the docs missing here?

[2019-08-16 20:31] richstokes commented on #1209
Got it working by changing the RBAC to:

[code]

And adding the service account to the manifest.yaml

[code]

^^ Found this in an old ticket, but doesn't look like a fix was ever rolled out. Would be worth doing as its quite annoying following docs and example yamls that are out of date and wrong.

[2019-08-16 20:32] richstokes opened #1210 "Is there a way to have efs-provisioner work across all namespaces?"
Seems that it only works if you create pods in the same namespace as the pvc. Is there a way that other name spaces can share the same EFS server?

Looks like you can do it if you create a new PVC foreach namespace with `storageClassName: "aws-efs"` set, but was wondering if there is a simpler way that will allow all namespaces by default?

Thanks

[2019-08-19 05:32] MartinForReal commented on #1018
how about modifying yaml using kustomize ?

[2019-08-20 09:13] baank commented on #1030
/remove-lifecycle-rotten

[2019-08-23 12:21] #1002 closed

[2019-08-23 13:46] thirdeyenick opened #1212 "[nfs-provisioner] Stale file handles on GKE with regional persistent disks"
Hi,
we are running the nfs-provisioner on a GKE regional cluster. We are also using a regional persistent disk as a storage backend for the NFS provisioner pod. According to the google documentation [1] this provides a persistent disk replicated in 2 zones. In an emergency case the nfs-provisioner pod can just be started on a node in the replicated zone and all should be fine (as the replicated di

[2019-08-23 17:15] msau42 commented on #1212
/assign
I'll try to find some answers, but I suspect this is related to how the NFS client handles connections to the server.  I saw similar reports using NFS backed by EmptyDir: https://github.com/kubernetes/kubernetes/issues/75918

Have you tried regular PD to back the NFS share? Does it also see the same issue?

[2019-08-25 12:50] costa commented on #978
Umm, this issue is not rotten, actually, it is very much alive. While I'm not sure of the right way to fix this, the `nfs-common` dependency should be clearly listed in https://github.com/kubernetes-incubator/external-storage/blob/master/nfs/README.md for now. Thanks!

[2019-08-25 21:59] cclloyd commented on #992
You can use the image `gcr.io/google_containers/hyperkube:v1.14.6` as the controller manager.  It has the rbd binary but I still have issues (authentication I believe) resizing images when using Ceph Nautilus as the cluster.

[2019-08-26 12:54] thirdeyenick commented on #1212
Thx for your answer. That actually inspired me to do some more debugging on the topic :-)

So I tested to restart the nfs provisioner on a different node in the same zone with the same google persistent disk and all clients got into the 'stale file handle' state again. This lead to the assumption that whenever the underlying host changes we run into the issue. I enabled debug logs in ganesha (MID_

[2019-08-27 05:25] thirdeyenick commented on #1212
We are using the nfs-provisioner in a regional google GKE cluster. As far as I know docker is not used as the container runtime, but I might be wrong (did not find documentation about what is used underneath). Having the possibility to set 'fsid_device' would solve the issue for us. We just need to get the change as well into the upstream helm chart. After that we are fine. In the end the combinat

[2019-08-29 07:33] #1111 closed

[2019-08-29 17:30] Tehacz opened #1216 "NFS-provisioner is unable to mount export-volume"
Hi i am trying to set up NFS-provisioner with statefulset, however the pod is stuck in "ContainerCreating" and when i describe the pod i get the following:

[code]
Any idea how can i fix this problem? I am trying to connect to external storage outside kubernetes cluster.

[2019-08-31 04:17] #1101 closed

[2019-08-31 07:20] #1150 closed

[2019-09-03 05:55] ismacasti commented on #1161
/remove-lifecycle stale

[2019-09-04 15:32] hunternins commented on #1205
Bump.

[2019-09-05 15:35] hunternins opened #1218 "Is this project dead and/or deprecated?"
I spoke with one of the maintainers (i.e. for `nfs-server-provisioner`) today, Jan, (who is the only person of the three listed on this project who could be reached on the Slack channel), and I was informed that the project/repo is deprecated. Does this just apply to the `external-storage` sub-project, or the `kubernetes-incubator` project as a whole?

[code]

[2019-09-05 15:37] hunternins commented on #1218
It also appears that 3x open issues related to the ones listed below have been open for weeks, and at least one of them just being auto-closed.

[code]

[2019-09-05 16:40] wongma7 commented on #1218
It applies to both. The provisioners in here are deprecated in favor of CSI plugins which can also do provisioning + more. kubernetes-incubator I think has been replaced by the kubernetes-sigs system.

It doesn't mean nothing is being maintained, but it is best-effort. e.g. I've tried to help with helm chart issues previously but I don't maintain the chart and know little about helm.

[2019-09-06 05:38] #1128 closed

[2019-09-06 19:59] hunternins commented on #1218
@wongma7 Thank you. For all intents and purposes, the specific features I was using (i.e. NFS-related) are end-of-life.

[2019-09-06 19:59] #1218 closed

[2019-09-06 20:00] hunternins commented on #1205
Project is effectively dead, with respect to applicable features.

https://github.com/kubernetes-incubator/external-storage/issues/1218

[2019-09-06 20:00] #1205 closed

[2019-09-08 11:30] #1117 closed

[2019-09-09 01:44] #875 closed

[2019-09-09 07:18] thirdeyenick commented on #1212
All of this is solved and merged. Will close this issue.

[2019-09-09 07:18] #1212 closed

[2019-09-09 23:00] hswong3i opened #1220 "[cephfs-provisioner] How to use kernel driver as mounter?"
@cofyc @rootfs I found that when both ceph-fuse 14.2.3 and kernel 5.0.0-27 installed on Ubuntu 18.04, cephfs-provisioner seems always using ceph-fuse as mounter, where I found that ceph-fuse always consume a lot of additional memory for each connection.

Is there anyway to control rather ceph-fuse or kernel driver is being chosen? From ceph-csi, we could control this by setting the `mounter` param

[2019-09-10 14:10] mlaythe opened #1221 "[efs-provisioner] EKS - timeout on mount"
Hi,

I've been running efs provisioner on my cluster for a few days and it suddenly stopped working. It started to throw this error:

`Unable to mount volumes for pod "<pod_name>)": timeout expired waiting for volumes to attach or mount for pod "prod"/"<pod_name>". list of unmounted volumes=[efs-pvc]. list of unattached volumes=[efs-pvc default-token-wxwxc]`

I'm sharing an EFS drive between two n

[2019-09-10 14:41] mlaythe commented on #1221
If I redeploy, it's able to access them again, however for the old pods, I'm still unable to access the drive. How would it get into a locked state like this?

[2019-09-10 16:22] #869 closed

[2019-09-10 17:15] wongma7 commented on #1221
Do your security groups https://docs.aws.amazon.com/efs/latest/ug/accessing-fs-create-security-groups.html allow NFS access?

[2019-09-10 17:19] mlaythe commented on #1221
Yeah, I added 2049 port access to the security group for my EFS drive. It used to work before, so all permissions were setup correctly prior.

[2019-09-10 17:55] wongma7 commented on #1221
kubelet logs should be handled by journald. `journalctl -u kubelet` and there should be log messages about the `Mount` operation failing.

[2019-09-10 17:59] mlaythe commented on #1221
I'm unable to SSH into the worker nodes because I didn't set it up initially.

[2019-09-10 23:21] jingxu97 commented on #875
/reopen

[2019-09-12 03:03] dhineshbabuelango opened #1222 "AWS EFS provisioner not working after restart"
Hi All, We are using AWS EKS, we have deployed the efs provisioner in istio

everytime when we restart thje worker nodes, all other pods getting started automatically only the efs provisioner is getting failed with the below error. we scale down the replica and scale up but nothing is working

F0912 02:55:09.259139       1 efs-provisioner.go:293] Error getting server version: an error on the serve

[2019-09-13 13:24] YKWeyer commented on #1099
Hi @hniedlich, did you find a solution?

It looks similar to a couple of known bugs (https://github.com/kubernetes-incubator/external-storage/issues/515, https://github.com/kubernetes-incubator/external-storage/issues/1018), have you tried one of the suggested workarounds? (initContainers chowning the folders, setting `runAsUser:0`, using NFS)

[2019-09-13 20:38] boeremak commented on #1216
Have you tried mounting it from a regular machine first? See if that works.

[2019-09-16 07:34] #1145 closed

[2019-09-16 21:37] mlaythe commented on #1221
Sorry, it looks like my EFS instance ran out of credits, hence the weird behavior. Thanks for your help and time!

[2019-09-16 21:37] #1221 closed

[2019-09-20 13:49] HristoA commented on #1167
I have it the same here. When solve  something yourself please write down how you do it :)

[2019-09-21 13:37] #840 closed

[2019-09-22 01:19] nyurik opened #1223 "Creating RAID-0 with local SSDs on GCP"
When creating a PV from the GCP's local SSDs, is it possible to merge them into a logical array?  The `mdadm` utility does not seem to be available inside the Google's container-optimized OS, and I am not quite sure how the `quay.io/external_storage/local-volume-provisioner` image used inside the [gce/provisioner_generated_gce_ssd_count.yaml](https://github.com/kubernetes-incubator/external-storag

[2019-09-22 14:20] flucrezia opened #1224 "psp.yaml in nfs/deploy/kubernetes/ - Wrong apiVersion value"
The correct value for kubernetes version 1.16.0 is **policy/v1beta1**,not **extensions/v1beta1**
Thanks.

[2019-09-23 02:53] DeepLJH0001 opened #1225 "iscsi provisioner doesn't support create two pv at the same time"
![image](https://user-images.githubusercontent.com/18078924/65399532-c7c4da80-ddef-11e9-95cb-0e0aaaf4bcfc.png)

there has a bug when two pvc was claimed at the same time，pv named `pvc-{{uuid}}` will be repeating.

[2019-09-26 20:42] #725 closed

[2019-09-28 07:13] nyurik commented on #1223
I was able to

[2019-09-30 23:31] zimmertr opened #1228 "NFS-Client uses deprecated Deployment API Version"
Hello, the [deployment manifest](https://github.com/kubernetes-incubator/external-storage/blob/master/nfs-client/deploy/deployment.yaml#L7) for NFS-Client currently uses `extensions/v1beta1` which has been deprecated in Kubernetes 1.16.

Working on a PR now.

[2019-09-30 23:55] zimmertr commented on #1228
Pull Request here: https://github.com/kubernetes-incubator/external-storage/pull/1230

[2019-10-04 00:33] msau42 commented on #1223
Looks like you found https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/65, which has more details on how to do this.
/close

[2019-10-04 00:33] #1223 closed

[2019-10-04 10:17] qct commented on #992
any updates?

[2019-10-04 21:16] martin2176 opened #1232 "Ownership and permission on NFS PV"
Feature request:
Instead of having 777 and root:root on the NFS PV directory, would be great if there is an option to set uid:gid , permission mode bits and setgid bit on the directory created by the NFS client provisioner. This will improve security posture and effectively utilizing runasuser and runasgroup, supplmental groups in pod security policy for access .

Implementation request:
Support i

[2019-10-04 21:20] martin2176 commented on #1210
I have not attempted it, but standard rbac should allow you use any resource across namespaces.
In your case, the service account which runs the pod (default service account in most cases) should be given admin role in the namespace which has pvc. via a rolebinding.
If you dont want to give admin role, a more restrictive privilege can be given .

[2019-10-08 01:05] #1163 closed

[2019-10-08 01:05] #1166 closed

[2019-10-09 01:34] Queuecumber commented on #1152
/remove-lifecycle stale

Still not fixed afaik

@wongma7

[2019-10-09 02:49] wongma7 commented on #1152
Done, there is a v0.0.6 now https://quay.io/repository/external_storage/iscsi-controller?tab=tags

[2019-10-09 02:49] #1152 closed

[2019-10-09 02:50] Queuecumber commented on #1152
Thanks @wongma7

[2019-10-09 10:14] markAcomm opened #1233 "Build v2.3.0 of efs-provisioner fails to start"
We were just doing a rolling update on our cluster and this pulled a new image of quay.io/external_storage/efs-provisioner:latest (only 7 hours old). This new version failed to start up on our cluster with the following output:

[code]
When we reverted back to the prior version: v2.2.0-k8s1.12 the efs-provisioner was able to run successfully.

Was there potentially something wrong with the build?

[2019-10-09 10:59] martymh commented on #1233
Likewise for us.

The latest image is failing to start and is in a crash loop backoff: v2.3.0, sha256:15ddb18ffb9598841c4987f3ba0ef89dc175b137d2ee529bb647e1ae5e8939cd

The previous image appears to working fine: v2.2.0-k8s1.12, sha256:c12dae08925371318ae8a6de2e21a27c581f1d8bbd59876e8ae4292d36e0a300

[2019-10-09 11:15] mozimos commented on #1233
I also was able to start pod using v2.2.0-k8s1.12 but encountered an error after a few seconds:

F1009 11:10:29.773957       1 efs-provisioner.go:293] Error getting server version: Get https://10.100.0.1:443/version?timeout=32s: dial tcp 10.100.0.1:443: i/o timeout

[2019-10-09 13:59] xwang2713 commented on #1233
Got the same with quay.io/external_storage/efs-provisioner:latest
A month ago the latest version worked. Guess it was updated recently

[2019-10-09 15:52] richstokes commented on #1233
[code]

[2019-10-09 16:26] richstokes commented on #1233
@wongma7 Did the correct build get pushed to latest please? So we know if/when we should be good to try again?

[2019-10-09 16:47] wongma7 commented on #1233
@richstokes I just moved the tag so that latest should point to the previous version. Sorry for the delay.

[2019-10-09 16:50] richstokes commented on #1233
Thanks! It's starting up OK now 👍

[2019-10-10 15:43] venkatalolla commented on #1222
@dhineshbabuelango Can you share the pod logs, events, system logs and also run the `kubectl version --v=7` and share the information here to further investigate the error.

[2019-10-11 13:31] tam203 commented on #1201
@wongma7 Just to confirm - you are saying it would be possible to develop the code to add this option/functionality. And you are *not* saying it's currently possible to do this with the provisioner as is?

[2019-10-11 18:02] wongma7 commented on #1201
@tam203 it is not currently possible.

[2019-10-13 03:43] w1ndy commented on #1063
/remove-lifecycle stale

[2019-10-14 12:37] #1173 closed

[2019-10-14 12:37] koelnconcert commented on #1228
The "compiled" manifests seems to be updated, however the individual files in `nfs-client/deploy/objects` are still using the deprecated apiVersion.

[2019-10-14 18:28] zimmertr commented on #1228
Thanks for saying that. I'll open another PR today to address that.

I never noticed because I don't use this project like most other people. I just reused the logic in this repo and noticed it stopped working so I went back to the source to commit a fix upstream.

https://github.com/zimmertr/Bootstrap-Kubernetes-with-QEMU/blob/master/playbooks/optional/deploy_nfs_provisioner.yml

[2019-10-15 01:44] chanjarster opened #1235 "nfs-client-provisioner volume cannot be expanded"
Trying to expand a PVC got warning:

[code]

Create a PVC of 1Gi size:

[code]

Check that pvc, it's successfully bound:

[code]

Try to expand PVC to size of 2Gi:

[code]

Check it, and it's still size of 1Gi:

[code]

Check the events:

[code]

BTW Storage class enabled expansion:

[code]

[2019-10-15 05:30] wongma7 commented on #1235
Yes, the nfs-client-provisioner is not capable of expanding volumes. In fact, it does not enforce the size of volumes at all, so a PV that says 1Gi may in fact have contain/write more than 1Gi of data in its path. AFAIK, there is no standard quota/limit mechanism for NFS. Apologies if this is not clear.

[2019-10-15 08:49] chanjarster commented on #1235
I got it, thanks

[2019-10-15 08:49] #1235 closed

[2019-10-15 16:55] fclerg opened #1236 "nfs-client-provisioner Running but not provisioning"
Hi,

I am trying to setup the nfs client provisioner but the provisioner doesn't create any persistent volume and the PVC remains in a "Pending" state.

I tried to create a persistentvolume based on NFS and a PVC could bound to it without any issue. Therefore it doesn't seem to be an issue with the NFS server.

Here are things I tried/looked at :
- I am able to manually mount an NFS volume in the

[2019-10-17 08:51] LoadingZhang opened #1237 "no matches for kind "Deployment" in version "extensions/v1beta1" deploy rbac"
[code]
it's using deprecated API and need update.

[2019-10-17 15:53] avarf opened #1240 "NFS-Client Provisioner stucked at ContainerCreating"
I followed [this](https://matthewpalmer.net/kubernetes-app-developer/articles/kubernetes-volumes-example-nfs-persistent-volume.html) link and installed an NFS server in my cluster with blow yaml file:
[code]
I installed the server via below commnad:
[code]
The server installed smoothly and is up and running.

I installed `nfs-common` on all nodes then I installed the nfs-client provisioner helm ch

[2019-10-17 19:58] wongma7 commented on #1240
Do your nodes have mount.nfs installed? E.g. nfs-common package in debian/ubuntu

[2019-10-17 20:00] avarf commented on #1240
Yes, I already mentioned that I installed nfs-common on all nodes.

[2019-10-19 18:54] iridian-ks commented on #1112
I'm wondering what the options are for monitoring nfs persistent volume usage? I'm wanting to show disk usage in Grafana and alert in Alertmanager. I think one requirement is the ability to tie the persistent volume to the pod it's being used by. Some research shows that metrics have to be implemented by the storage class, but it's understandable if there's a technical limitation here.

Open to ot

[2019-10-20 14:40] fclerg commented on #1240
the path to share on your nfs server is `/exports`.
Looks like it needs to be specified as such on the nfs-client manifest. Currently it is set to `/exported/path` according to the _describe_ you pasted.

[2019-10-21 08:08] avarf commented on #1240
@fclerg Thank you for your answer but it didn't work. I launched the client again with the same path as the nfs-server but again the client stuck at ContainerCreating:
[code]

[2019-10-21 08:16] #1146 closed

[2019-10-21 13:38] avarf commented on #1240
I don't know what was the problem but when I removed the nfs-server from k8s and used a server located on a bare-metal machine the client started to work properly.

[2019-10-22 07:10] lucheng001 commented on #1150
I fix by delete klog.InitFlags(nil) in ceph/rbd/cmd/rbd-provisioner/main.go
and it works

[2019-10-22 07:49] lucheng001 commented on #1150
can fix by deleteing klog.InitFlags(nil) in ceph/rbd/cmd/rbd-provisioner/main.go

[2019-10-23 18:56] dacleyra opened #1242 "NFS-client writes new volume subdir to wrong export if a static NFS volume exists"
NFS server with two exports
[code]

A pre-existing static NFS PV & PVC is created and bound to the image-registry Pod

NFS-Client Provisioner is configured

When a new Pod & PVC  is created, the provisioner writes the new volume subdir to the /data export instead of /ifs/kubernetes export, causing the mount.nfs to fail on on the new Pod with file not found, as it is trying to mount ip:/ifs/kuberne

[2019-10-24 10:55] cgruver opened #1243 "Gluster Block Provisioner is incompatible with the current Ansible Playbooks for OKD 3.11"
Changes were made to the Ansible Role for installing Gluster in OKD 3.11 and presumably OCP 3.11, that enabled the deployment of multiple Gluster provisioners.  The provisioner name is appended with the namespace that it is deployed in.  However, the current code in glusterblock-provision.go is not properly leveraging the environment variable that is set in the deployment descriptor that Ansible c

[2019-10-24 11:41] szmytson commented on #1233
Would it be possible to bump the version of alpine to 3.10 as well? (See https://github.com/kubernetes-incubator/external-storage/pull/1219)

[2019-10-24 22:19] #1178 closed

[2019-10-24 22:47] wongma7 commented on #1233
v2.4.0 is out with the crash fix AND the alpine bump. It works on my end, but would appreciate if any brave person would like to give it a try before I close this issue. https://quay.io/repository/external_storage/efs-provisioner?tab=tags

[2019-10-25 08:27] DeepLJH0001 opened #1246 "is there has a necessary that return InitiatorName, if DiscoveryCHAPAuth was enabled"
https://github.com/kubernetes-incubator/external-storage/blob/a6c939cac809c94d341f107e499091efebf8fda3/iscsi/targetd/provisioner/iscsi-provisioner.go#L149-L160

I just have a little confused,
when the DiscoveryCHAPAuth was enabled, how kubelet know the correct InitiatorName?
is there has a bug?

[2019-10-25 08:56] DeepLJH0001 commented on #1246
https://github.com/kubernetes-csi/drivers/blob/907b108b4f7cfb6323413cdb8b740d4fcea2b68a/pkg/iscsi/iscsi_util.go#L183-L193

ref this, if the discovery was enable, miss this may cause kubelet can't discover iscsi session

[2019-10-25 08:57] DeepLJH0001 commented on #1246
/label bug

[2019-10-25 10:53] #1155 closed

[2019-10-25 20:40] kvaps opened #1247 "NFS_V4_RECOV_ROOT in not set to /export"
Line
[code]
was removed in a8bc200fff5f7f01a777f89f91b08bd831148cd1 commit. Now ganesha does not saves the state:

[code]

[2019-10-26 23:32] whereisaaron commented on #1233
v2.4.0 is working for me so far @wongma7 👍
No crash and dynamic provisioning and mounting all good with EKS 1.14.

[2019-10-29 09:02] sturman commented on #1240
Could you please also check the security group(-s) attached to EFS? By default, when creating EFS from AWS Console, the default VPC security group is attached to file system

[2019-10-29 12:16] avarf commented on #1240
@sturman I am not running it on Amazon or any cloud, we have our own in house cluster running on bare-metal and we are using Ubuntu 18.04 on them.

[2019-11-01 19:34] #1233 closed

[2019-11-02 17:12] jeanfabrice opened #1249 "redundant Kubernetes serviceaccount declaration in nfs-client manifests"
Both [nfs-client/deploy/rbac.yaml](/kubernetes-incubator/external-storage/blob/master/nfs-client/deploy/rbac.yaml) and [nfs-client/deploy/deployment.yaml](/kubernetes-incubator/external-storage/blob/master/nfs-client/deploy/deployment.yaml) declares the nfs-client-provisionner ServiceAccount

While this redundancy may not be a problem when feeding kubectl with manifests, it leads to conflicts erro

[2019-11-03 11:26] yhaenggi opened #1250 "Multiarch container manifest"
Could you please provide multiarch containers (docker manifest) for amd64, arm and aarch64?

[2019-11-04 09:54] avarf opened #1251 "NFS server and client are working but data is not on the server?"
I have an inhouse Kubernetes cluster running on bare-metal and it consists of 5 nodes (1 master and 4 workers). I set up an NFS server on the master natively and launched the nfs-client in the K8s to have nfs dynamic provisioner. Everything are working properly and I am able to use my applications just by defining a persistent volume claim BUT I can't find my data on the disk.

Every time I launch

[2019-11-05 09:31] Shinerrs commented on #1199
Any update on this?

[2019-11-06 21:33] melpheos commented on #1136
I have the same issue... It was working fine before I update my rancher cluster. Tried with mountoptions vers 3 or 4 without luck...
I'm trying now with various template without success... I'm not sure how and what to look for and I'm completely stuck

[2019-11-07 19:21] adityagu0910 commented on #1216
getting same error and also not able to run from regular machine

`systemd-run --description="Kubernetes transient mount for /var/lib/kubelet/pods/3b355135-0192-11ea-ad82-00505681e351/volumes/kubernetes.io~nfs/pvc-0e50225d-018f-11ea-ad82-00505681e351" --scope -- mount -t nfs nas.gsic-sus.net:/mnt/default-pool/icp/temp/volumes/vault-audit-wise-parrot-vault-0-pvc-0e50225d-018f-11ea-ad82-00505681e351

[2019-11-08 10:19] #1083 closed

[2019-11-10 19:45] jdorel commented on #1145
Can be resolved with `oc adm policy add-scc-to-user hostmount-anyuid -z nfs-client-provisioner`

[2019-11-11 11:04] sgielen opened #1253 "nfs-client example test-pod doesn't work on arm"
I'm walking through the "Without helm" instructions for the nfs-client-provisioner on ARM64. Everything is working, when I `kubectl apply -f test-claim.yaml` a PV is created, the PVC is bound and a directory appears on NFS.

But, when I `kubectl apply -f test-pod.yaml` the pod is created but never comes up:

[code]

Most likely, the `gcr.io/google_containers/busybox:1.24` doesn't have an ARM64 var

[2019-11-11 11:25] von1994 opened #1254 "xfs_quota: cannot setup path for mount /export: No such device or address(Outside of Kubernetes - container)"
When i deploy nfs provisioner outside of k8s and in container, cannot run xfs_quota command with bellow errors:
[code]

[2019-11-11 14:33] #1177 closed

[2019-11-11 15:04] itsecforu commented on #1062
How did u solve it?

[2019-11-14 15:19] davesargrad opened #1256 "CEPH RBD Provisioner Creates PV that fails to attach"
I have setup a CEPH cluster. Independent of that I have followed processes found online to setup RBD provisioning.

The process I've followed is found here:
https://medium.com/velotio-perspectives/an-innovators-guide-to-kubernetes-storage-using-ceph-a4b919f4e469

This has largely worked. I have a "fast-rbd" storage class as follows:
![image](https://user-images.githubusercontent.com/48793689/68869

[2019-11-14 17:56] davesargrad commented on #1256
I am trying an CephFS provisioner instead of an RBD provisioner.

The PVC is not even binding:
![image](https://user-images.githubusercontent.com/48793689/68882732-c0c69400-06dd-11ea-838a-04b718e4cc41.png)

Here is my cephfs provisioner
![image](https://user-images.githubusercontent.com/48793689/68882780-d20fa080-06dd-11ea-806d-be975d9cb085.png)

The corresponding claim:
![image](https://user-imag

[2019-11-14 18:00] davesargrad commented on #1256
The yaml I use to create resources:
`kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: cephfs-provisioner
  namespace: cephfs
rules:
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["get", "list", "watch", "create", "delete"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get", "list", "watch", "update"]
  - apiGroups: ["st

[2019-11-14 20:08] wongma7 commented on #1256
Your node needs to have the rbd binary installed and in $PATH.

[2019-11-14 20:40] davesargrad commented on #1256
Hi @wongma7
Thanks for the reply.

Which node are you referring to? Are you saying that the K8S worker node needs this? This seems a bit odd. It seems to place a burden on the worker node that is specific to RBD.

On a different note, can you take a look at my comment above. I am trying an alternative use of CEPHFS, rather than RBD. For some reason the CEPHFS provision fails to persistent volume.

[2019-11-15 13:08] itsecforu opened #1257 "pvc pending state"
I got k8s cluster and exthernal ceph cluster.
But my pvc still pending..

``kubectl get pvc myclaim
NAME      STATUS    VOLUME   CAPACITY   ACCESS MODES   STORAGECLASS   AGE
myclaim   Pending                                      fast-rbd       9m49s``

fast-rbd:

``{
  "kind": "StorageClass",
  "apiVersion": "storage.k8s.io/v1",
  "metadata": {
    "name": "fast-rbd",
    "selfLink": "/apis/storag

[2019-11-15 13:42] davesargrad commented on #1256
I'll write up my question about CEPHFS on a separate issue. I dont want it to get lost here. I'll keep this one focused on RBD.

[2019-11-15 14:05] davesargrad opened #1258 "Help getting CEPHFS working"
I am trying to get CEPHFS working. The procedure I am following is the one found [here](https://medium.com/velotio-perspectives/an-innovators-guide-to-kubernetes-storage-using-ceph-a4b919f4e469). The procedure follows the section on RBD.

![image](https://user-images.githubusercontent.com/48793689/68949088-4baf9900-0787-11ea-870e-bc4debba65b7.png)

I've struggled with the process, and I have one o

[2019-11-15 15:56] davesargrad commented on #1256
Wow. I got RBD working. On Centos all i needed to do was
`yum install centos-common`

[2019-11-18 10:25] zhuhelei opened #1259 "How to add noresvport to mount NAS"
How to add noresvport to mount NAS ？

[2019-11-18 17:46] g0blin79 commented on #555
I reopen this issue, because I had this error very often.

With a NFS server provisioner started, if I provision a new pvc all goes well.
If, for some reason, I remove the pod resource that is using this nfs pvc, then I re-deploy the same application, also specifying to use the existing pvc I had this error.

[code]
This is only an example. I had this error for different applications, not only for

[2019-11-19 10:36] MatthiasHertel commented on #992
any updates ?

[2019-11-19 13:19] itsecforu commented on #878
you sent the same guide as I did

[2019-11-20 08:35] MatthiasHertel commented on #992
@cclloyd

- yes replace the base image of the kube-controller-manager works.
- yes their is a authentication issue, i fixed it with copy the pool keyring  and put an empty ceph.conf into the kube-controller-manager (see below)

[code]

now the resizing works , but it feels like a hack ?

i don't understand why the kube-controller-manager (in-tree) must handle the resizing and the rbd-provisioner (

[2019-11-21 10:23] #898 closed

[2019-11-22 09:08] kkostin commented on #1258
Hi, look at this:
https://github.com/kubernetes-incubator/external-storage/issues/941#issuecomment-418971539

[2019-11-23 01:00] #1188 closed

[2019-11-23 15:14] #1096 closed

[2019-11-25 04:41] wtgops commented on #903
This issue is big for us now. It 's been a year and a half since last reply. Are there any news on this?

[2019-11-25 04:41] wtgops commented on #903
/reopen

[2019-11-28 18:25] vader083 opened #1261 "Deployment requires volumes.nfs.server to be static."
Is it possible for the volumes.nfs.server value to be read from configmap?  Or just use dns.name always.

[2019-12-01 13:00] markus-seidl commented on #924
I have the same problem with the current master and the lines geerlingguy pointed to, are missing now. I've added them and it works again.

I'm confused if these lines are still necessary, my local test suggests so.

[2019-12-02 05:42] zhoubofsy commented on #860
check `ceph.dir.layout.pool` attr:
    `getfattr -n ceph.dir.layout.pool <path>`

[2019-12-02 06:39] zhoubofsy commented on #860
1. mount cephfs to `/mnt`
2. check ceph.dir.layout.pool attr
`getfattr -n ceph.dir.layout.pool /mnt`
3. if no such attribute
`setfattr -n ceph.dir.layout.pool -v "cephfs_data" /mnt`

[2019-12-02 06:51] ismacasti commented on #1161
/remove-lifecycle stale

[2019-12-03 00:48] alex-adappt commented on #1209
/remove-lifecycle stale

[2019-12-03 00:49] alex-adappt commented on #1209
Hit this just &  @richstokes comment fixed it. The docs can seriously do with some updates.

[2019-12-03 18:31] chinmaya-n commented on #1232
We are dealing with the exact same issue when trying to install JFrog XRay. It does not like the global permission of 777 on Postgres and other application data directories.

I would love to have a fix for this one.

[2019-12-04 19:29] stek29 opened #1262 "Outdated nfs-provisioner image on quay.io"
New ports have been added in f974aba435b44e812fca0b4687e57879de03f3f7, and if you try to create nfs-provisioner deployment by following instructions you'll end up with this error like this:

[code]

That's because port endpoint validation uses reflect.DeepEqual for validation, and thus fails if there are all required ports AND MORE.

I've ended up manually building latest tag from master to my pri

[2019-12-06 09:12] unencoded commented on #694
Have the same question.
We plan to create a new k8s cluster and want to be able to reuse existing persistent volume which contains inside EFS.

[2019-12-06 23:27] #1136 closed

[2019-12-09 05:09] dove-young commented on #1262
I hit this error

[code]

[2019-12-10 18:08] chinmaya-n commented on #1232
We may have fixed this problem by only using posix permissions on the NFS share (basically removed the existing windows permission, it had dual permissions set).

[2019-12-12 16:00] zgfh commented on #1262
same error,but i delete the svc ports except ({111 TCP}:true {111 UDP}:true {2049 TCP}:true {20048 TCP}:true),it work for me

[2019-12-13 07:56] #1191 closed

[2019-12-16 10:33] willmao commented on #1259
same question

[2019-12-18 00:11] ricardo-aspira opened #1265 "nfs-client-provisioner - Set username and password as parameters"
When using the image quay.io/external_storage/nfs-client-provisioner:latest, we can specify parameters as **PROVISIONER_NAME**, **NFS_SERVER** and **NFS_PATH**.

In case my NFS export requires an username/password authentication, I am not be able to use that area.

Is there any reason for not providing this kind of function?
If not, would it be possible to add to the roadmap or it is complicated a

[2019-12-19 18:03] wavetylor commented on #1209
This is likely due to the efs-provisioner's deployment being in the non-default namespace.
If you deploy efs-provisioner into a namespace other than default, you need to also add the namespace to the Role and RoleBinding

[2019-12-26 11:04] #1193 closed

[2019-12-29 16:20] #1198 closed

[2019-12-30 06:04] lxs137 opened #1267 "rbd-provisioner image on quay.io is outdated"
Latest image of rbd-provisioner on quay.io is released at [2018.9](https://quay.io/repository/external_storage/rbd-provisioner?tab=tags).

I want to create a Block PVC, which is supported in PR #1156.

THX

[2020-01-04 10:37] #1199 closed

[2020-01-06 01:15] #1195 closed

[2020-01-06 01:15] #1174 closed

[2020-01-06 01:15] #1162 closed

[2020-01-06 01:15] #1187 closed

[2020-01-06 01:15] #1160 closed

[2020-01-08 08:08] #1202 closed

[2020-01-08 17:59] #1243 closed

[2020-01-09 15:11] dawidmalina opened #1268 "efs-provisioner - FILE_SYSTEM_ID is not set! Please set it"
We can configure efs-provisioner with region and `file.system.id` and `aws.region` or `dns.name`.

I would expect that `dns.name` is the only required property but it's not true. If I will omit this property I will received:
[code]

If i provide fake value i will received:

[code]

[2020-01-10 04:52] #1204 closed

[2020-01-11 01:12] #1203 closed

[2020-01-12 17:52] #1207 closed

[2020-01-14 07:18] longqidong opened #1269 "'ProvisioningFailed' failed to provision volume with StorageClass "cephfs": fork/exec /usr/local/bin/cephfs_provisioner: invalid argument"

[2020-01-14 07:21] longqidong commented on #1269
use cephfs_provisioner  to create pvc, pvc can not be provisioned ,make errors:
[root@control-1 rbac]# kubectl describe pvc claim -n paas-dev
Name:          claim1
Namespace:     paas-dev
StorageClass:  cephfs
Status:        Pending
Volume:
Labels:        <none>
Annotations:   kubectl.kubernetes.io/last-applied-configuration:
                 {"apiVersion":"v1","kind":"PersistentVolumeClaim","meta

[2020-01-14 20:08] zimmertr commented on #1228
/remove-lifecycle stale

[2020-01-14 23:58] wongma7 commented on #1228
opened https://github.com/kubernetes-incubator/external-storage/pull/1270/files to fix this repo-wide

[2020-01-15 16:08] Ufaowl opened #1271 "NFS. failed to provision volume with StorageClass"
Hello. I'm trying to set up nfs-provisioner and configure StorageClass for my kubernetes cluster. I follow instruction https://github.com/kubernetes-incubator/external-storage/tree/master/nfs. And the result - in logs of nfs-provisioner pod there are errors like:

I tried again on brand new cluster with the same result.
Steps:
From external-storage/nfs directory i run:
[code]
[code]
[code]
[code]

[2020-01-16 08:19] Ufaowl commented on #1271
It's the same error as in https://github.com/kubernetes-incubator/external-storage/issues/1262
I ended up leaving only {111 TCP}:true {111 UDP}:true {2049 TCP}:true {20048 TCP}:true ports in deployment for pod and service and it finally works

[2020-01-16 11:24] lucwillems commented on #1265
https://unix.stackexchange.com/questions/341854/failed-to-pass-credentials-to-nfs-mount
there is no  username/password for NFS. it assumes host access control.

[2020-01-17 08:42] #1271 closed

[2020-01-17 12:21] lurraca opened #1273 "Can we get the tag for nfs-provisioner 2.3.0 on quay.io?"
I would like to update the [nfs-server-provisioner helm chart ](https://github.com/helm/charts/blob/master/stable/nfs-server-provisioner/values.yaml) to have at least the [nfs-provisioner v2.3.0](https://github.com/kubernetes-incubator/external-storage/tree/nfs-provisioner-v2.3.0). For that I would need the tag v2.3.0 to be released on [quay.io/repository/kubernetes_incubator/nfs-provisioner](http

[2020-01-17 20:35] wongma7 commented on #1273
Tag created on github and then corresponding image manually built and pushed. (Other projects in this repo don't need manual build+push, it's only  nfs-provisioner because it's hosted at kubernetes_incubator quay org instead of external_storage org, and I guess now is a good time to move it as the whole repo is being deprecated soon). Releases are made sporadically, there's no schedule

Yes, only

[2020-01-20 15:15] ReiReiRei commented on #1199
/reopen

[2020-01-21 10:41] kifeo commented on #1257
I can see : 'missing Ceph monitors'
From the Storage class fast-rbd json : <monitor-1-ip>

is this intended ? (I wonder as you gave the ips in the description)

[2020-01-22 20:59] silborynirmata commented on #1228
The above isn't enough for more modern k8 apis.  You also need.
selector:
    matchLabels:
        app: efs-provisioner

[2020-01-23 22:24] momer commented on #1117
@chrisdcmoore I'm experiencing the same using an `nfs` volume mount which is actually an `efs`

Insane.

Wonder what's causing it to hang on those instances in some scenarios?

[2020-01-25 19:57] #824 closed

[2020-01-26 15:16] cedricve commented on #1273
Hello,

I would also love to benefit from this merged PR kubernetes-incubator/external-storage#1214.

I've seen that there is a 2.3.0 tag on Github, but no image on quay.io (https://quay.io/repository/kubernetes_incubator/nfs-provisioner?tag=latest&tab=tags)

We are trying to provide a fix to helm, so we can make use of this feature (#20371).

Can we make a new build available?

Thank you!

[2020-01-26 18:33] cedricve commented on #1262
@stek29 same issue here. Any docs how to build the image?
https://github.com/kubernetes-incubator/external-storage/issues/1273

[2020-01-27 12:20] naseemkullah opened #1274 "[nfs] question: surviving pod restarts, nfs3 vs fsid_device=false"
Hi @wongma7, thanks for this great project.

Going to NFS3 as per  @kvaps' https://github.com/kubernetes-incubator/external-storage/pull/1241
and making fsid_device settable to false as per @thirdeyenick's https://github.com/kubernetes-incubator/external-storage/issues/1212 are both to solve for issues caused by pod restarts if I understand correctly.

Is the above statement correct?
If so, could

[2020-01-27 13:47] kvaps commented on #1274
@naseemkullah there is also one unpleasant bug caused by IPVS graceful termination in kube-proxy:
https://github.com/kubernetes/kubernetes/issues/84322 and formaly https://github.com/kubernetes/kubernetes/issues/81775

Until graceful termination will not be solved the nfs-provisioner pod restarts will cause hung clients.

As workaround I switched from kube-proxy to kube-router which having configu

[2020-01-27 14:11] kvaps commented on #1274
As about Stale file handles this error might happen if you running nfs-server on two different filesystems with the same file structure, because by design NFS uses parent filesystem inodes and provides them "as is" to its clients. If I understood it correct the fsid_device option allows NFS-ganesha server to remember the inodes and always provide the same ones to the clients even if filesystem wer

[2020-01-28 13:10] yacota opened #1275 "NFS-Client Provisioner work across all namespaces ?"
I came across this issue https://github.com/kubernetes-incubator/external-storage/issues/1210 and was wondering whether this could be possible with nfs-client-provisioner

I mean, is it possible to have a **single** namespace with one pod/provisioner per each nfs mount point in use and just declare a persistent volume claim in another namespace that use these storageclassnames ?

For the time bein

[2020-01-30 14:46] mamiapatrick opened #1276 "NFS provisionner trigger I/O error on my hardrive"
Hello,

I use nfs-provsionner on my RKE/K8S cluster and when i deploy it on my VM. The nodes start to have many errors with theses message

The problem is so critical that after some hours, many nodes just crashed and i was obliged to remove the pod. Do someone experience this, how could i fix that? I need to setup Openebs RWM (read write Many) Volumes.
![20200129_202243](https://user-images.githu

[2020-01-30 16:29] stek29 commented on #1273
#1262 duplicate

[2020-01-31 01:17] wongma7 commented on #1273
I've pushed a new image.

In the future please feel free to email me mattwon @ amazon.com or find me on slack @wongma7 to get a release. It's only NFS that needs manual pushing after git tagging, it's tedious and I want to fix it for the future.

[2020-01-31 14:01] lurraca commented on #1273
@wongma7 Thanks! This issue can be close.

[2020-01-31 14:01] #1273 closed

[2020-01-31 14:02] lurraca commented on #1262
@stek29 This issue can be closed.

[2020-01-31 22:28] xrow commented on #1262
I am using v2.3.0 but I have still this error.

```failed to provision volume with StorageClass "standard": error getting NFS server IP for volume: service SERVICE_NAME=nfs-nfs-server-provisioner is not valid; check that it has for ports map[{111 TCP}:true {111 UDP}:true {662 TCP}:true {662 UDP}:true {875 TCP}:true {875 UDP}:true {2049 TCP}:true {2049 UDP}:true {20048 TCP}:true {20048 UDP}:true {3

[2020-02-01 07:25] cedricve commented on #1262
you have to map all the ports listed there, not sure if the docs is up to date.

[2020-02-01 11:47] #1262 closed

[2020-02-02 21:04] cedricve commented on #1274
Interesting do you have any documentation for the latter? With latest 2.3.0 helm chart, but sometimes the clients are indeed still hanging.

[2020-02-02 21:16] kvaps commented on #1274
@cedricve you can read this https://github.com/kubernetes/kubernetes/issues/84322#issuecomment-546293485 and try to remove realserver manually on the client's node after hanging

[2020-02-02 21:19] cedricve commented on #1274
thanks but is a manual fix, after noticing a client is hanging?

[2020-02-02 21:30] kvaps commented on #1274
It is, there is nothing else for now, as workaround you can switch kube-proxy mode from IPVS to iptables or switch using kube-router instead of kube-proxy for the service proxy

[2020-02-02 21:32] cedricve commented on #1274
thanks great thoughts, this just make me think and scares me for everyone in the kubernetes world.. What other best practices could we/I follow for sharing volumes between deployments?

[2020-02-02 21:35] kvaps commented on #1274
Well best practices is using object storage instead eg. S3, but this isn't always possible, since we have a ton of legacy, we need a working nfs-server

[2020-02-02 21:38] cedricve commented on #1274
I was about to create a central media, on a seperate VM (POST/GET of files), because I'm just so desperate. Currently I'm still wondering when my clients **might** break. siigh

[2020-02-02 21:41] kvaps commented on #1274
@cedricve, if you have the opportunity to control behavior of your application, try using minio, it is easiest thing for organize reliable object storage

[2020-02-03 10:09] cedricve commented on #1274
thanks also found rook.io, not sure if they have any fixes for the stale handle issues? Did you noticed this one already @kvaps ?

[2020-02-04 12:14] radtriste commented on #1262
Hello,
Yesterday we got the same problem.
Image has been updated on [Quay](https://quay.io/repository/kubernetes_incubator/nfs-provisioner?tag=v2.3.0&tab=tags) to v2.3.0 but [deployment.yaml](https://github.com/kubernetes-incubator/external-storage/blob/nfs-provisioner-v2.3.0/nfs/deploy/kubernetes/deployment.yaml) on nfs-provisioner-v2.3.0 branch does not include the latest port(s).
Could we reope

[2020-02-04 14:48] radtriste opened #1277 "nfs-provisioner v2.3.0: deployment.yaml does not contain all needed port for v2.3.0 quay image"
related to https://github.com/kubernetes-incubator/external-storage/issues/1262

Image has been updated on [Quay](https://quay.io/repository/kubernetes_incubator/nfs-provisioner?tag=v2.3.0&tab=tags) to v2.3.0 but [deployment.yaml](https://github.com/kubernetes-incubator/external-storage/blob/nfs-provisioner-v2.3.0/nfs/deploy/kubernetes/deployment.yaml) on nfs-provisioner-v2.3.0 tag does not includ

[2020-02-04 14:49] radtriste commented on #1277
service and deployment are missing some TCP/UDP ports.
using current master is ok, but the tag should contain the correct deployment.yaml

[2020-02-06 13:57] naseemkullah commented on #1274
Is there a benefit in setting fsid_device to false when using NFS3? @kvaps

[2020-02-06 14:06] kvaps commented on #1274
I'm not sure, but I guess that so.
This option explains nfs-server how to represent the data, but not affects transfer method.

[2020-02-06 14:51] naseemkullah commented on #1274
Would you think it a good idea to set fsid_device to false as a default in the helm chart?

[2020-02-06 15:10] kvaps commented on #1274
I don't see any problems with that change, the other question what problems can bring.
I think @wongma7 is more competent to answer this question.

[2020-02-07 02:44] #1220 closed

[2020-02-07 18:10] curx opened #1278 "nfs-client: missing namespace for RoleBinding"
if nfs-client is deployed via kubectl without helm and install in another namespace as default, the nfs-client will not be functional and at the logs will be filled with errors:

Reproduce:
[code]

[2020-02-08 06:25] #1278 closed

[2020-02-09 15:08] nano2nd commented on #725
Was support for this ever added?

[2020-02-09 15:19] Vlaaaaaaad commented on #725
@nano2nd yup, in https://github.com/kubernetes-sigs/aws-efs-csi-driver which is kind of the evolution of the efs-provisioner.

[2020-02-10 09:18] SockenSalat opened #1280 "[cephfs-provisioner] - unable to provision claim"
when I try to provision the claim from the examples I get `'Warning' reason: 'ProvisioningFailed' failed to provision volume with StorageClass "cephfs": exit status 1`. But folders matching the generic share name are created in the ceph-cluster.

## env
centos 7
kubernetes 1.17.2
ceph-commons 2:12.2.13-0.el7

## details
[code]
a folder `kubernetes/kubernetes-dynamic-pvc-342d001d-4be4-11ea-b12e-d21

[2020-02-10 14:08] SockenSalat commented on #1280
The problems was insuficcent permissions on the user

`ceph auth get-or-create  client.autoclaim mon 'allow rwx' mds 'allow rwp,  allow rw path=/autoclaim/log' osd 'allow rwx pool=cephfs_data'` did the trick and all works fine now.

[2020-02-10 14:08] #1280 closed

[2020-02-11 08:01] yuvipanda commented on #1249
@jeanfabrice I don't see a serviceaccount in https://github.com/kubernetes-incubator/external-storage/blob/master/nfs-client/deploy/deployment.yaml anymore

[2020-02-11 08:06] jeanfabrice commented on #1249
yes, you are right. 2e997251ecf771ffff46c57391ca8876a911ddc6 fixed this months ago

[2020-02-11 08:06] #1249 closed

[2020-02-11 08:13] yuvipanda opened #1281 "[EFS] Allow customizing name of directory created"
https://github.com/kubernetes-incubator/external-storage/blob/master/aws/efs/cmd/efs-provisioner/efs-provisioner.go#L234 hard codes the path of the locally created directory. While this works for the general case, I'd love for this to be customizable.

We run interactive compute environments for users via JupyterHub, and use EFS for storing user home directories. Currently, the cluster is stateles

[2020-02-12 04:44] appunni-dishq commented on #1277
Is this still pending ?

[2020-02-12 07:55] radtriste commented on #1277
this is pending. The fix mentioned in this issue is only in our internal repository and not on this one.
nothing has changed on our side.

[2020-02-12 16:27] sagor999 commented on #1096
/reopen
/remove-lifecycle rotten

Any updates on this?

[2020-02-14 10:11] radtriste commented on #1277
do we have an update for this ?
Planning a 2.3.1 or something ?

For now we use the 2.2.2 as workaround ...

[2020-02-14 11:22] AnkurRaj opened #1282 "ProvisioningFailed example.com/nfs_nfs-provisioner-648dcd98f4-pvslv_20094cbe-400b-4085-80f1-ec7142e701f8 failed to provision volume with StorageClass "green": error getting NFS server IP for volume: service SERVICE_NAME=nfs-provisioner is not valid; check that it has for ports map"

[2020-02-16 04:41] appunni-dishq commented on #1277
I am using 2.3.0 it is working. Using the stable/nfs-server-provisioner

[2020-02-17 09:11] radtriste commented on #1277
What is `stable/nfs-server-provisioner` ?

When you try to setup deploy in kubernetes the [deployment.yaml](https://github.com/kubernetes-incubator/external-storage/blob/nfs-provisioner-v2.3.0/nfs/deploy/kubernetes/deployment.yaml), the pod is startgin well.
But when requesting a new volume storage, you get an error into the nfs-provisioner that some port are unavailable.

This is because the [qua

[2020-02-17 14:16] appunni-dishq commented on #1277
It's a helm chart for setting up a nfs server provisiner for dynamic PV provisioning with PVC . I think they have updated the ports properly in their template.

[2020-02-17 14:21] mamiapatrick commented on #1276
This was an issue related to my storage pool and nothing to do with NFS. With a thick provisionning the virtual disk was not the same size with the physical allocation so the disk was full unless the virtual drive was not

[2020-02-17 14:21] #1276 closed

[2020-02-17 14:41] radtriste commented on #1277
Could we correct the deployment.yaml as well ?
We are not using helm on our side

[2020-02-18 02:35] realModusOperandi commented on #1242
According to [this article](https://www.suse.com/support/kb/doc/?id=7010672), different exported paths should have different fsid values.

I was seeing some similar behavior with my PVs and changing the fsid resolved the issue (as far as I can tell.)

[2020-02-18 06:06] luozhihua commented on #1281
With the same requirements, I faced the same pain every time I migrated the cluster and needed to manually migrate PV and PVC.

[2020-02-18 16:07] kvaps commented on #1184
Just faced with the same issue

/remove-lifecycle rotten

tracelog:
[code]

[2020-02-18 16:07] kvaps commented on #1184
/reopen

[2020-02-19 14:14] kvaps commented on #1184
My case was connected with the network outages https://github.com/cloudnativelabs/kube-router/issues/846, however I think it would be nice to add some option to not fall down when nfs-server-provisioner can't reach the Kubernetes API

[2020-02-19 14:28] kvaps commented on #1184
@wongma7 sorry to disturb you but do we have any specific reason to having leader election for `nfs-server-provisioner` pods, or it was made just because of common library usage?

According the [docs](https://github.com/kubernetes-incubator/external-storage/blob/440d3e4c09a256933f365e3f6829d7465856ecaf/nfs/docs/deployment.md#in-kubernetes---deployment-of-1-replica) it can't be used with more than

[2020-02-19 16:39] #1224 closed

[2020-02-20 04:51] #1225 closed

[2020-02-20 06:59] devopstales commented on #992
/remove-lifecycle stale

[2020-02-20 13:25] davesargrad commented on #1258
@kkostin Ty. I eventually got CEPH RBD working. If I ever need to revisit CEPH FS then I am sure I'll reference this issue.

For now I'll close it.

[2020-02-20 13:25] #1258 closed

[2020-02-21 08:10] Nithinbs18 opened #1286 "NFS-Client creates PV directories with no permission"
Dear team,
Greetings!!

I have created a windows share,  and I can mount it into any node of my cluster workers and I can write data. So there is no connectivity issue. I want to use this share as a NFS storage for which I have assigned all possible read+write access, included it to Everyone. I tested this out by creating a PV and a PVC the creation and binding are successfully done, but every tim

[2020-02-21 21:12] wyllys66 opened #1288 "ceph-provisioner - unexpected error getting claim reference: selfLink was empty, can't make reference"
This is in Kubernetes 1.17.0:

Getting this unusual error in the cephfs-provisioner pod when deploying in Kubernetes and trying to create a volume:

[code]

Any ideas?

[2020-02-24 17:28] wyllys66 commented on #1288
This is a little more detailed error that occurs when trying to use a ceph pvc:

[code]

[2020-02-25 06:41] duanwei33 commented on #1277
@radtriste, agree with you, seems the port part in [deployment.yaml with nfs-provisioner-v2.3.0 tag](https://github.com/kubernetes-incubator/external-storage/blob/nfs-provisioner-v2.3.0/nfs/deploy/kubernetes/deployment.yaml) should be updated as [master](https://github.com/kubernetes-incubator/external-storage/blob/master/nfs/deploy/kubernetes/deployment.yaml).

[2020-02-25 19:00] wongma7 commented on #1277
I don't want to retroactively move the git tag but that is an option. Alternatively, I plan to make a patch to remove the port checking altogether and release 2.3.1 since technically it was a breaking change and it should not have gone out in a release

[2020-02-26 07:38] radtriste commented on #1277
Good for me for a 2.3.1

[2020-02-26 08:49] yankunsam commented on #1062
It occurs in my environment,Is there some solutions?

[2020-02-26 14:02] avarf commented on #1240
/remove-lifecycle rotten

[2020-02-26 14:02] avarf commented on #1240
/remove-lifecycle stale

[2020-02-26 20:25] elemental-lf commented on #1267
@lxs137 the crowd has moved on to `ceph-csi`. I'm currently building my own images, see https://github.com/elemental-lf/external-storage.  My repository contains all the latest changes which are related to Ceph from this repository. I've also changed some small things myself, so you should probably review what I've done:

* Any non-protected snapshots are purged before trying to remove an image.
*

[2020-02-27 04:07] lxs137 commented on #1267
@elemental-lf  I think `csi` solution is too complex and buggy, the provisioner is enough for me. I will try your provisioner image. THX.

[2020-02-27 04:07] #1267 closed

[2020-02-27 18:32] swolfod opened #1289 "failed to save persistentvolume"
I am trying to launch the pv deployment, but the persistent volume won't create and the log shows the following error:

provision "example/efs" class "aws-efs": failed to save persistentvolume "pvc-2227939f-596e-11ea-9c86-0270dd06cf60": PersistentVolume "pvc-2227939f-596e-11ea-9c86-0270dd06cf60" is invalid: spec.nfs.path: Invalid value: "EFS_AWS_DOMAIN:/efs-pvc-2227939f-596e-11ea-9c86-0270dd06cf60

[2020-02-27 22:23] uselessidbr opened #1290 "[nfs-provisioner] Running outside kubernetes (standalone)"
Hello!

I'm trying to understand how the StorageClass/kubernetes will point to the nfs-provisioner (and the nfs server) running outside of the cluster (standalone or containerized).

Example:

sudo ./nfs-provisioner -provisioner=example.com/nfs \
-kubeconfig=$HOME/.kube/config \
-run-server=false \
-use-ganesha=false \
-enable-xfs-quota=true

I'm not sure how to set up, inside the kubernetes clust

[2020-02-28 11:09] discostur commented on #782
@gmflau i have the same problem but i am not able to delete the local PV now - it was provisioned with an older k8s version and now i updated to k8s 1.15.10 and i'm not able to delete it:

[code]

How can i force deletion?

I tried to updated reclaim policy from "delete" to "retain" but that is not allowed ...

[2020-03-02 06:15] ismacasti commented on #1161
/remove-lifecycle stale

O dom., 1 de mar. de 2020 ás 09:51, fejta-bot (<notifications@github.com>)
escribiu:

[2020-03-02 18:51] uselessidbr opened #1291 "[nfs-provisioner] out of cluster - the server has asked for the client to provide credentials"
Hello!

I'm trying to setup the nfs-provisioner out of the cluster (Openshift in this case) as a binary but i cant start the server as it can't  load the webpage "https://okd.openshift.local:8443/version" throwing the error:

F0302 15:23:51.025476    3102 main.go:128] Error getting server version: the server has asked for the client to provide credentials

The command i used to run nfs-provisioner

[2020-03-04 19:42] adi90x opened #1292 "Multi Arch Image"
Hello,
There is an image for arm64 and one for x64, wouldn't it be possible to build a multiarch manifest to enable nfs-client in multi arch environment ?
Regards,

[2020-03-07 07:41] liangruibupt opened #1293 "efs-provisioner can not work on EKS on AWS Beijing and Ningxia region"
I followed the guides to use the EFS as persistent volume for EKS in AWS Ningxia region
https://aws.amazon.com/premiumsupport/knowledge-center/eks-pods-efs/
1. edit configmap.yaml change file.system.id and aws.region
2. edit deployment.yaml file, change the volumes configuration to a path of / and server to fs-72d63897.efs.cn-northwest-1.amazonaws.com.cn
[code]

After kubectl apply -f test-pod.yam

[2020-03-08 17:41] #1222 closed

[2020-03-09 20:07] #1201 closed

[2020-03-10 17:44] boomshadow commented on #1209
@wavetylor Thank you so much for posting! That's what I needed. Added the namespace to the Role and RoleBinding fixed my issue!

[2020-03-11 05:40] #1063 closed

[2020-03-12 08:46] radtriste commented on #1277
@wongma7 any planned date on that 2.3.1 tag ?

[2020-03-12 14:02] yhaenggi commented on #1250
/remove-lifecycle rotten

[2020-03-13 08:46] qurname2 opened #1297 "ceph.com/rbd provisioner doesn't resizing pvc size"
**Problem:**
I try to resize my pvc prometheus-db, but receive strange error **110**
[code]
**Expected behavior:**
Volume should be resized if I changed spec.resources.requests.storage inside pvc yaml file.

**What I have?**
Versions
[code]
OS
[code]
Storage Class
[code]
Secret exist
[code]
Debug:
Tryied to create /etc/ceph/ceph.conf inside rbd-provisioner container:
[code]
I searched for such iss

[2020-03-15 10:18] #1237 closed

[2020-03-15 17:25] #1210 closed

[2020-03-16 22:47] frdeng opened #1298 "nfs provisioner validateOptions fails with 8.0EB available space"
Got this when provisioning a 10MB PVC from nfs-provisioner

`E0316 22:21:18.077195       1 controller.go:908] error syncing claim "3fa09205-67d2-11ea-a112-020017027037": failed to provision volume with StorageClass "my-nfs": error validating options for volume: insufficient available space -9223372036854775808 bytes to satisfy claim for 10485760 bytes`

The nfs provisioner storage class is created

[2020-03-16 22:49] frdeng commented on #1298
See https://github.com/kubernetes-incubator/external-storage/blob/6d12fa04129009d161595b614fab991f8c9536c2/nfs/pkg/volume/provision.go#L348

[2020-03-18 04:46] mingfang opened #1299 "efs-provisioner should make FILE_SYSTEM_ID and AWS_REGION optional"
The verification on startup fails when FILE_SYSTEM_ID and AWS_REGION is not set.

https://github.com/kubernetes-incubator/external-storage/blob/9dc519099ae7de7a2bef7ab22bf554e79b8b301b/aws/efs/cmd/efs-provisioner/efs-provisioner.go#L84

This verification should be skipped instead

[2020-03-18 06:25] baoroushi commented on #1269
me too -_-||

[2020-03-19 02:35] windayski commented on #1269
Check your secret. The secret needs to be base64 encoded.

[2020-03-19 09:21] kkcclok commented on #1240
May I know the steps in details how do you connect the NFS in baremetal which outside the cluster?
Thanks in advance.

[2020-03-21 18:22] xriser opened #1300 "[cephfs] Deletion pvc issues with ceph 14"
Using with ceph v14 provisioner doesn't delete volume from ceph and user secret as well
The error like follow:
`
I0321 18:04:38.854980       1 controller.go:1158] delete "pvc-1a61b1c9-9dcf-41a7-b8fc-183799545396": started
E0321 18:04:39.936090       1 cephfs-provisioner.go:268] failed to delete share "tst-pvc" for "k8s.default.tst-pvc", err: exit status 1, output: Traceback (most recent call last)

[2020-03-22 13:13] xriser commented on #860
same issue
`E0322 13:02:25.821003       1 cephfs-provisioner.go:268] failed to delete share "data-elasticsearch-elasticsearch-master-0" for "k8s.efk.data-elasticsearch-elasticsearch-master-0", err: exit status 1, output: Traceback (most recent call last):
  File "/usr/local/bin/cephfs_provisioner", line 364, in <module>
    main()
  File "/usr/local/bin/cephfs_provisioner", line 360, in main
    c

[2020-03-22 13:18] xriser commented on #1300
Tried mimic and nautilus, rebuilt provisioner docker image to the latest code, tried different images, checked fattr as @zhoubofsy mentioned, nothing helped
Also checked secrets and so on.

The issue, as follows: pvc provisions well, client secret creates in cephfs namespace as well.
Then when I deleted pvc - it deleted, pv still remaining with Released status, the data from pvc actually remaining

[2020-03-23 10:26] #1246 closed

[2020-03-23 15:01] misko566 commented on #1277
I have same problem but.
Combination of  image "quay.io/kubernetes_incubator/nfs-provisioner
  tag: v2.2.2" in Values file and "stable/nfs-server-provisioner" as chart worked for me.

Combination of v2.2.2 and downloaded stable chart from "github/helm/charts/stable" also didn't work.

[2020-03-24 22:17] edvegas commented on #1075
Check security group of EFS to allow inbound port 2049 from appropriate resource, eg security group of EKS worker nodes

[2020-03-25 10:17] yuchunyun opened #1301 "[nfs-client-provisioner] No restrictions on PVC"
I found that the size of PVC is 1Gi, but I can write unlimited data until the NFS server is full, is there any way to limit the size of PVC is the upper limit of my application?

[2020-03-25 10:47] ggaaooppeenngg commented on #1293
"dns.name" should be set explicitly, because efs-provisioner didn't default dns domain have a `.cn` suffix for mainland China.

[2020-03-26 02:19] hellofuturecyj commented on #1256
do not close this issue, for it not fix yet

[2020-03-26 06:43] yingjun-hw opened #1302 "[nfs-client-provisioner] liveness and readiness needed?"
We test the availability of nfs-client, and stop the nfs process by "kill -STOP {{pid}}".
The process is in state "Tsl", and not work.
Can provide any method to detect this by config liveness or readiness?

[2020-03-26 19:51] Stijn98s commented on #1301
I have seen the same

[2020-03-27 13:10] dloiko opened #1303 "1.16 changes to remove deprecated APIs"
In kubernetes 1.16 there are a number of API's being deprecated [1]. I noticed that there's an issue to track this for NFS-client [2], however I wanted to open this issue to confirm what other changes are needed in this repository. I'm mainly concerned about the snapshot functionality.

I see that there is a PR open for updating this [3], which appears to convert the deprecated API's in the repo t

[2020-03-28 22:39] valeriozhang opened #1304 "Deleting the EFS provisioner causes all the files within the efs pvc to be deleted?"
How can i prevent files from being deleted when deleted the PVC claim? I would like the files there to remain even after deletion.

[2020-04-02 12:21] #1251 closed

[2020-04-03 06:17] #1304 closed

[2020-04-03 15:06] valeriozhang commented on #1281
+1 haha definitely need this

[2020-04-03 16:38] darewreck54 commented on #1228
Any update on this?

[2020-04-05 21:40] #1216 closed

[2020-04-06 08:03] ankitjain87 commented on #1142
I was also looking for this, I just wanted to know if there any update on this?

If not, is there a plan to support this feature?

[2020-04-07 07:26] AlawnWong commented on #1300
I encountered the same problem

[2020-04-07 09:16] xriser commented on #1300
@AlawnWong this project is outdated and no longer supported.
I have switched to the Ceph-csi https://github.com/ceph/ceph-csi
It works perfectly.

[2020-04-08 01:13] Ranler commented on #1300
@xriser
which ceph version do you used?
this error seems happened in ceph luminous, but no in ceph nautilus。

[2020-04-08 05:01] xriser commented on #1300
@Ranler, as I said I have tried mimic and nautilus.

[2020-04-08 17:25] yvinap commented on #1075
I faced exactly same issue. I resolved the issue by removing persistentvolumes from the path.
Before:
[code]
After:

[code]
If you want to indicate the specific folder (persistentVolumes in this case) then the folder need to be created first. Isn't it? Was that step mentioned in the readme that I might have missed?

[2020-04-08 17:35] yvinap commented on #1117
please check [1075](https://github.com/kubernetes-incubator/external-storage/issues/1075)

[2020-04-09 13:06] #1253 closed

[2020-04-09 13:06] #1254 closed

[2020-04-10 08:54] liangruibupt commented on #1293
@ggaaooppeenngg thx. set "dns.name" worked.

[2020-04-10 08:54] #1293 closed

[2020-04-11 00:41] leepatrick-goop commented on #1299
I should be able to set the endpoint as an IP address to allow mounting from across a peering connection from another VPC/region as per AWS instructions for doing so.

[2020-04-13 14:15] akumacxd opened #1305 "Pod could not mount cephfs with external-storage"
**kubernetes version**
<pre>
# skuba cluster status
NAME       STATUS   ROLE     OS-IMAGE                              KERNEL-VERSION           KUBELET-VERSION   CONTAINER-RUNTIME   HAS-UPDATES   HAS-DISRUPTIVE-UPDATES   CAASP-RELEASE-VERSION
master01   Ready    master   SUSE Linux Enterprise Server 15 SP1   4.12.14-197.37-default   v1.16.2           cri-o://1.16.1      no            no

[2020-04-13 14:59] akumacxd commented on #1305
<pre>
# cat test-pod.yaml
kind: Pod
apiVersion: v1
metadata:
  name: test-pod
spec:
  containers:
  - name: test-pod
    image: busybox
    command:
      - "/bin/sh"
    args:
      - "-c"
      - "touch /mnt/SUCCESS && exit 0 || exit 1"
    volumeMounts:
      - name: pvc
        mountPath: "/mnt"
  restartPolicy: "Never"
  volumes:
    - name: pvc
      persistentVolumeClaim:
        claimName:

[2020-04-13 15:36] akumacxd commented on #1305
**I found that if I use centos OS I can mount it**
<pre>
 # mount -t ceph -o name=kubernetes-dynamic-user-ec21dd39-7d95-11ea-9189-2ef6e2f9324c,secret=AQBx65Re7yQwBRAANqsYrg4/te6k2R5PVZryfg== 172.16.21.101:6789:/ /mnt/cephfstest/

[root@hwk8s-master1 ctwork]# uname -r
4.19.110-300.el7.x86_64

# df | grep ceph-test
172.16.21.101:6789:/ 5330165760        0 5330165760   0% /root/ctwork/ceph-test

# ca

[2020-04-15 18:55] capusta commented on #1277
probably same: https://github.com/kubernetes-incubator/external-storage/issues/1282

[2020-04-18 03:27] #1242 closed

[2020-04-20 08:19] #992 closed

[2020-04-21 08:10] 01mcgrady01 commented on #1301
check the doc https://github.com/kubernetes-incubator/external-storage/blob/master/nfs/docs/deployment.md

[2020-04-21 14:10] kifeo commented on #1256
Hi,
I had the same issue.
on debian installing the ceph-common package on the node resolved the issue

[2020-04-22 01:39] #1256 closed

[2020-04-23 02:55] Budman17r commented on #1301
^^Can that option be added via helm?  Also does xfs_quota work on btrfs?

[2020-04-23 10:51] sebgl opened #1307 "Local volume not properly cleaned up"
I got into a situation where a data volume managed by the local volume provisioner got mounted with existing data, that should normally have been cleaned up beforehand.

Looking at the sequence of events in the logs, I'm wondering if there could be a stale cache/state machine bug somewhere.

[code]

There's a first PV deletion at `05:25:23.110378`:
[code]

After which I would expect some logs indi

[2020-04-23 15:28] msau42 commented on #1307
What version are you using? This repo is deprecated, and the local provisioner has moved to https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner

I believe some issues in this area have been fixed in later versions, such as https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/174

[2020-04-23 15:41] sebgl commented on #1307
Oh, sorry about that I missed the deprecated repo!
I'm using `quay.io/external_storage/local-volume-provisioner:v2.2.0`, will update to the latest version. It indeed looks a lot like the issue you pointed out.

Thanks @msau42!

[2020-04-23 15:41] #1307 closed

[2020-04-25 00:27] hdlbq opened #1308 "Dynamic provisioning doesn't work"
Hello,
I installed a K8s using the kubeadm way on my own cluster 8VMs: 2 haproxy (LB with keepalived), 3 masters, 3 slaves and a local registry. I installed helm, and everything seems to work well
[code]
The next step was to add persistent storage. I followed this very precise tutorial: [https://blog.exxactcorp.com/deploying-dynamic-nfs-provisioning-in-kubernetes/](url).My external NFS server is w

[2020-04-26 12:55] Stijn98s commented on #1301
@01mcgrady01 i have made an storageclass for the nfs pvc, added the pquota to the mountOptions
 and added the -enable-xfs-quota option to the pod. When i check the mount options in the nfs-provisioner i see everything is mounted correctly (`on /export type xfs (rw,relatime,attr2,inode64,prjquota)`) and everything is running. but when i execute the command `df -h` i still see the size of the underl

[2020-04-27 11:22] hdlbq commented on #1308
Solved my problem using [this guide](https://www.youtube.com/watch?v=AavnQzWDTEk&feature=youtu.be)

[2020-04-27 11:22] #1308 closed

[2020-04-28 02:03] JokerDevops opened #1310 "About cephfs StorageClass automatically creating PV and creating directory names on the cephfs service file system"
I have now deployed the kubernetes environment and the cephfs storage cluster. Now I can automatically create PV to bind to it by creating PVC and automatically create the corresponding directory on the cephfs file system. However, the names of the directories on the cephfs file system are randomly generated, and the relationship between the directory of the cephfs file system and PVC&PV cannot be

[2020-04-29 07:37] 01mcgrady01 commented on #1301
you shoud execute the command on the host where your nfs-provisioner runs.
 execute `` xfs_quota -x -c "report -h" {{your host path}}``

[2020-04-29 10:08] gotliuyan opened #1311 "mount.nfs: access denied by server while mounting"
when i use nfs-client , my nfs address is : nfs-server:/share , i can mount /share dir only , how i write the deployment.yaml?

log :
mount.nfs: access denied by server while mounting  nfs-server:/share:/share/kubernetes

[2020-04-30 03:23] #1311 closed

[2020-04-30 09:13] #1161 closed

[2020-04-30 09:27] xclan opened #1313 "ceph-provisioner: mount options in a storage class definition"
Is it possible to describe mount option in a storage class in order to apply to all new pv and ceph images that are mounted at worker node?

In particular I am interested in the option _netdev.

My question is related to reboot problems in which the server does not return due to the fact that the volumes did not have time to unmount before the network stack was unloaded.

Or maybe there are still

[2020-05-02 12:07] Nuru opened #1314 "[efs-provisioner] Fails to delete "saved" volume"
Using efs-provisioner v2.4.0 on Kubernetes 1.15.10, I noticed it fails to delete the storage for a PersistentVolume if the PersistentVolume was previously "saved" after being deleted externally.

Using `efs` StorageClass with
[code]

When a PersistentVolumeClaim (pvc) is created using the `efs` storage class, efs-provisioner creates a PersistentVolume (pv) and stores the data on the EFS file syste

[2020-05-03 16:52] mcristina422 commented on #1292
It seems like multiarch/alpine has arm64 images and https://github.com/kubernetes-incubator/external-storage/pull/1296/files is open switching to multiarch/alpine. That's still only for arm7 though, another builder would be needed for arm64

[2020-05-04 13:34] sadortun opened #1315 "nfs-server-provisioner memory usage requirements"
Hi !

Follow up of #540

We run a low traffic cluster with about 10 nfs mounts and we have started using the nfs-provisioner a few days ago and the memory used keep climbing (until it failed completely)

![image](https://user-images.githubusercontent.com/794449/80971160-523fd480-8dea-11ea-9cec-a7f12ab476a4.png)

Is this a bug ? Can  you clarify the docs on how much memory is required ?

Thanks,
Sa

[2020-05-06 13:07] ArturBumbu opened #1317 "error retrieving resource lock default/iscsi-targetd: endpoints "iscsi-targetd" is forbidden: User "system:serviceaccount:default:iscsi-provisioner" cannot get resource "endpoints" in API group "" in the namespace "default""
Followed instructions (https://github.com/kubernetes-incubator/external-storage/tree/master/iscsi/targetd/kubernetes), applied RBAC yaml. But getting this in the iscsi-targetd logs:

time="2020-05-06T12:36:46Z" level=debug msg="targed URL http://admin:ciao@192.168.1.190:18700/targetrpc"
time="2020-05-06T12:36:46Z" level=debug msg="iscsi provisioner created"
time="2020-05-06T12:36:46Z" level=debug

[2020-05-06 14:38] linki commented on #1184
/reopen

[2020-05-06 14:44] linki commented on #1184
This frequently happens to us as well.

Looks like it `Fatal`s deliberately when it loses the leader lock: https://github.com/kubernetes-incubator/external-storage/blob/efs-provisioner-v2.4.0/vendor/github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/controller/controller.go#L646

Since `sig-storage-lib-external-provisioner` is a shared library so it's probably hard to just change it.

[2020-05-08 20:33] #1232 closed

[2020-05-09 20:38] therc commented on #1210
I need something similar. I think there's a way to do this with a few small changes and you might not even need an unique identifier.

You create PVC1 in NS1 as before. If you're on AWS, you use efs-provisioner for that, presumably. Then you run nfs-client-provisioner in NS1, mounting PVC1.

It doesn't do it at the moment, but nfs-client-provisioner can find out the server and the path for PVC1, b

[2020-05-09 21:04] therc commented on #1275
If I understand what you're trying to do and you want the pods in the namespaces share the same directory (not just the NFS server), the solution I described in https://github.com/kubernetes-incubator/external-storage/issues/1210#issuecomment-626232371 might work for you.

You'd need to use TWO provisioners with two different storage classes. One is the stock nfs-client-provisioner. This will crea

[2020-05-09 21:05] therc commented on #1275
BTW, the second provisioner would be able to create new clone volumes in as many namespaces as you want, not just the second one.

[2020-05-10 04:23] therc commented on #1210
PersistentVolumes are cluster-wide, but claims are namespaced. So you can't escape creating one per namespace.

The question is then: do you want the namespaces to see the same files (NFS exports) or not? If yes, then my initial implementation https://github.com/kubernetes-incubator/external-storage/pull/1318 should work. It does for me. Basically, I create an efs-provisioner PVC once, then mount

[2020-05-12 08:20] onixie commented on #1240
I got the same error when trying to mount an existing NFS server running in a bare metal server.

[2020-05-14 12:46] #1259 closed

[2020-05-19 08:18] Candy93j opened #1323 "500 Internal Server Error"
Hi all,

I just received the following message: Failed to pull image "quay.io/external_storage/nfs-client-provisioner:latest": rpc error: code = Unknown desc = Error response from daemon: Get https://quay.io/v2/external_storage/nfs-client-provisioner/manifests/latest: received unexpected HTTP status: 500 Internal Server Error.

Does this mean the internal server is down?

[2020-05-19 09:14] Candy93j commented on #1323
It is solved! Thanks!

[2020-05-19 09:14] #1323 closed

[2020-05-19 18:16] uselessidbr commented on #1291
Fixed it by deploying the RBAC (https://github.com/kubernetes-incubator/external-storage/blob/master/nfs/deploy/kubernetes/rbac.yaml) and the service account: `apiVersion: v1
kind: ServiceAccount
metadata:
  name: nfs-provisioner
  namespace: default`

After that, i downloaded the kubeconfig (from OKD's WEB Interface) for the nfs-provisioner service account and used it at the nfs-provisioner comma

[2020-05-19 18:16] #1291 closed

[2020-05-19 18:26] uselessidbr commented on #1290
The kubeconfig integrates the nfs-provisioner with the Kubernetes Cluster (OKD in my case).

My setup was like this:

/usr/local/bin/nfs-provisioner -provisioner=**<nfs-server-hostname>**/nfs -master=https://**<cluster-api-address>**:8443 -kubeconfig=/root/.kube/config -use-ganesha=false -run-server=false -server-hostname=**<nfs-server-hostname>** -enable-xfs-quota=true -export-subnet=**<export-su

[2020-05-19 18:26] #1290 closed

[2020-05-19 19:41] ThomasSonck commented on #1142
+1

[2020-05-23 04:38] keeganwitt opened #1324 "[efs-provisioner] pvc not requested"
We recently spun up a new EKS cluster, one of the pods successfully got pvc and pv sucessfully created through the provisioner, but two others (in the same namespace, and basically the same sets of YAMLs, it's just a different environment, so basically just different names) never got the pvc created, and I don't see any requests for those claims logged in the provisioner pod.  What can I do to dia

[2020-05-23 04:42] keeganwitt commented on #1324
I might be misunderstanding how this all works, but I assumed the provisioner started it's work when a K8s event for the pvc occurs, but I didn't see any such event.

[2020-05-23 17:13] keeganwitt commented on #1324
I'm now thinking this is because of an order of operations issue with our setup.  No storage type annotation was on the pvc, and maybe the default storage class changed during our setup (it is now a class that uses the kubernetes.io/aws-ebs provisioner).

[2020-05-24 05:09] keeganwitt commented on #1324
Edit: actually, this was an issue with the order our TerraForm scripts were applied, so the PVC didn't get created before the pods that attempted to use it.

[2020-05-24 05:09] #1324 closed

[2020-05-25 14:04] avarf opened #1325 "nfs-client-provisioner error runAsNonRoot"
I want to install nfs-client-provisioner on a cluster but I am getting `CreateContainerConfigError` and when I get the describe command I get below error:
[code]

How can I fix the `Error: container has runAsNonRoot and image will run as root`?

[2020-05-26 07:37] vitobotta commented on #1184
Just had this issue. I've been using the provisioner for just a few days. @linki is there a workaround in the meantime to prevent this from happening? Thanks

[2020-05-26 21:38] #1261 closed

[2020-05-28 20:01] marcelolima commented on #754
@liozzazhang thanks, that fixed my problem!

[2020-06-01 13:24] jwitrick commented on #1281
Is there any update on this issue? And/Or does an issue have to be opened first with: https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner to enable those options?

[2020-06-01 17:52] dkolepp opened #1327 "nfs-client ignores PVC AccessMode"
It seems that the nfs-client does not consider the access mode of a PVC when provisioning.  If the nfs-client is the default storage class, and a user requests a RWO or ROX PVC, an error is not returned if the NFS storage is actually RWX.  Is that expected?

[2020-06-07 17:13] #1268 closed

[2020-06-09 10:27] kverstr opened #1328 "efs-provisioner option to not create subdirs"
Reopening a rotten issue because this is a valid request.
[#821 ](https://github.com/kubernetes-incubator/external-storage/issues/821)

We also need to be able to mount an EFS volume cross k8s cluster. Which means we don't want a subdir to be created so we can create multiple PVC's that point to that folder.

[2020-06-09 10:29] kverstr commented on #821
We also need this, reopened a ticket 🤞
[#1328 ](https://github.com/kubernetes-incubator/external-storage/issues/1328)

[2020-06-10 13:53] kuhar2007 opened #1329 "cephfs-provisioner can't build own image"
Hello,

I have some troubles with generate own image cephfs-provisioner.
I cloned repo and run:
`$ make ceph/cephfs
cd ceph/cephfs; \
	make container
CGO_ENABLED=0 GOOS=linux go build -a -ldflags '-extldflags "-static"' -o cephfs-provisioner cephfs-provisioner.go
cephfs-provisioner.go:30:2: cannot find package "github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/controller" in any of:

[2020-06-10 23:11] turovnd opened #1330 "c"

[2020-06-14 12:53] #1265 closed

[2020-06-15 02:35] GRuuuuu opened #1332 "nfs-provisioner can't create share folder"
## Environment
Openshift version : v4.3.8
Kubernetes version : v1.16.2
Used Image : quay.io/external_storage/nfs-client-provisioner:latest

## Problem
### storageclass.yaml
[code]

### RBAC
[code]

### provisioner
[code]

After applying these yaml files, It seemed all ok.
pv and pvc created well, and provisioner log was successed!

[code]

[code]
It seemed good! but when I check my NFS, no folders

[2020-06-17 02:16] TannerBragg commented on #1317
I had this same error.  It's a permission problem for the Service Account you created.  I temporarily worked around the issue by created a new role with wildcard privileges and the binding the role to the Service Account in the iscsi-provisioner project.  Hope this helps you get by this error temporarily.  I've been roadblocked getting it to actually provision a PVC for a few hours now...

`apiVer

[2020-06-18 07:45] kuhar2007 commented on #1329
I find solution, just create symlinks from directory "vendors" to "go/src"

[2020-06-18 07:45] #1329 closed

[2020-06-19 12:49] #1257 closed

[2020-06-21 14:42] Routhinator commented on #1184
Stuck with this same issue on a new deployment of K3S inside LXC - this is likely a symptom of something else, however I would also like to see the ability to turn off leader election - especially since HA is not a thing here..

[2020-06-22 13:00] xiak commented on #1199
The same issue. Any update?

[2020-06-26 16:10] timstoop opened #1337 "[nfs-provisioner] xfs_quota permissions"
Hi,

The docs state:

[code]

What would be those permissions? I'm trying to run this on Kubernetes on GCE, using an XFS disk with the prjquota mount option, but no quota seems to be enforced when I create a PVC of a specific size. When I shell into the nfs-server-provisioner, I notice the /export/projects file which seem to have the correct information, but it's not being enforced for some reason

[2020-06-26 17:29] wongma7 commented on #1337
That "foreign filesystem" error is suspect. How is /export mounted into the container, like did you use a GCE PD PersistentVolume and give it `mountOptions: prjquota, fsType: xfs`? If you run `mount` in the container, what do you see, /export mounted as type xfs with `prjquota`?

[2020-06-26 19:06] downvoteit commented on #1298
Can confirm, have experienced the same problem of incorrect available space check firing on line 348.

It does allow to create 3gb pvc but fails on >4gb.

Seems like available space is misreported.

`available := int64(stat.Bavail) * int64(stat.Bsize)`

[code]

`Warning  ProvisioningFailed    7m4s                  cluster.local/nfs-server-provisioner_nfs-server-provisioner-0_14314456-9e8c-455f-87e

[2020-06-26 23:05] wongma7 commented on #1298
Yes, need a fix like https://github.com/kubernetes/kubernetes/pull/90907 to always compare using resource.Quantities types, never int/int64

[2020-06-26 23:14] wongma7 commented on #1298
Given that there is no enforcement of resource requests anyway, the workaround could be to set resources.requests.storage to whatever nonsense value helps to pass this check.

[2020-06-27 13:03] timstoop commented on #1337
Hi Matthew,

Thanks for responding! Yes, I created a dedicated StorageClass with exactly those features:

[code]

I noticed afterwards that the `pquota` option is not actually necessary, as it's not seen in the mount itself:

[code]

This is running on Kubernetes 1.16.10 using Debian 10 (Buster) node images that use the 5.4 kernel from backports. Not sure if that might matter.

[2020-06-28 12:05] shanhu commented on #978
did u solved it ? how ? thanks!!!

[2020-06-30 08:57] mkuendig commented on #821
would be great if we get this too! Struggling as well with those folders.

[2020-06-30 08:57] mkuendig commented on #1328
would be great if we get this too! Struggling as well with those folders.

[2020-07-01 15:47] gimmely commented on #1145
This worked for me after re-deployment.

[2020-07-02 15:15] myersjustinc commented on #1328
I have a slightly different use case where this would be handy: I want my pods to be able to work with files on an existing EFS volume, and those files exist outside of any `efs-provisioner`-created subdirectory.

[2020-07-02 19:09] wongma7 commented on #1337
Yes, prjquota and pjquota are equivalent.

The last thing I would try is to run the provisioner as privileged, CAP_SYS_ADMIN may not be sufficient. Don't think xfs_quota was ever intended to run in a container.

This is a feature that is not regularly tested (personally I haven't used it in a year) and it is fragile as IIRC it can even depend on the container runtime + kernel. Your kernel is defin

[2020-07-02 19:14] wongma7 commented on #1328
If it is pre-existing, then the workaround is to create 1 pair of PV&PVC per namespace in which you would like to consume the volume. What part of this workflow could the efs-provisioner automate? Upon seeing that a PVC has been created, how would the provisioner determine what pre-existing path to use for that PVC? I have heard this request a lot & am open to suggestion, although development is u

[2020-07-02 19:19] mkuendig commented on #1328
@wongma7 Thanks Matt for your answer. Our use-case is that we would like to control the paths that are used. So for example for an application lets say test-app, we would like to create a folder that is called test-app. Currently, it creates a folder with the PVC name and that can be very random. It makes it really hard to rebuild a destroyed cluster. In our case, we would like that we can "loose"

[2020-07-03 19:49] myersjustinc commented on #1328
In my case, I'm looking less for workflow automation and more for my pods simply to be able to mount the root of an EFS volume. I was under the impression this was the closest thing available to that, but maybe I'm just looking in the wrong place.

[2020-07-05 17:08] #1274 closed

[2020-07-06 14:59] timstoop commented on #1337
Running as privileged seems to solve the issue with xfs_quota!

However, I now get an error when trying to read the information:

[code]

And this makes sense, as it looks like there's an incorrect projects file created. It has the quota added as `:262144000` in there, but that does not seem to be the way it's supposed to work: https://linux.die.net/man/5/projects

Removing it seems to work:

[cod

[2020-07-06 17:19] wongma7 commented on #1337
It's quite confusing, but that projects file `/export/projects` is not the same `/etc/projects` file in https://linux.die.net/man/5/projects. It's a file created and used by the provisioner to store state and repopulate the *actual* xfsquota /etc/projects file in case the provisioner gets restarted, so editing it shouldn't have any effect. (Probably it should be named projects.backup or something,

[2020-07-07 06:39] timstoop commented on #1337
You're right, that's indeed quite confusing :) In that case, it seems that running the Pod as privileged is indeed the solution at least. I did not check if the quota worked after setting it to privileged, as the xfs_quota tool was giving an error still (but that's probably due to my inexperience with the tool overall). The `/etc/projects` file, which is created now and wasn't created before is in

[2020-07-07 06:39] #1337 closed

[2020-07-08 22:23] #1275 closed

[2020-07-09 06:50] luo964973791 opened #1338 "test-pod.yaml problem"
test-pod.yaml does not write multiple copies, it is problematic to repeatedly test the mounting of multiple copies

[2020-07-09 14:20] Bledai opened #1339 "The inability to create a custom path and name for PV."
As I can see the [pvName](https://github.com/kubernetes-incubator/external-storage/blob/master/nfs-client/cmd/nfs-client-provisioner/provisioner.go#L65) and the [pvPath](https://github.com/kubernetes-incubator/external-storage/blob/master/nfs-client/cmd/nfs-client-provisioner/provisioner.go#L74) to create a PV are strictly defined. However, for our purposes, a flexible solution is needed.

To deco

[2020-07-10 08:18] webnull opened #1341 "nfs-provisioner: Improvement: Health check"
Hi,

I noticed that when I have for example 2 pods, and 1 of them for unknown reason is having a hanged up NFS connection. When both pods would get a hanged up connection, then whole cluster would be without a storage.

I suggest that a health check there can be done - if the mounted volume does not respond in eg. 10 seconds for simple "touch" or directory listing, then we the pod is marked as unh

[2020-07-10 11:54] carloreggiani commented on #1332
On bare metal OpenShift 3.18 I'm trying to consume a NFS server by helm recipt create ad in readme:

`helm install stable/nfs-client-provisioner --set nfs.server=x.x.x.x --set nfs.path=/exported/path`

No way to have any PVC: the requests remain in "pending" state

Tryed also to replicate as describe here https://www.chernsan.com/2020/03/07/nfs-dynamic-provisioning-for-pvc/, no change :(

Any idea

[2020-07-10 13:19] bloudman opened #1342 "Question: Is it possible to migrate to another nfs server ?"
Hi,
I have a question, and i don't find any answer. Maybe you can help me ...
In fact I have to migrate my pvc to another NFS Server.
All datas will remain exactly the same (same name same files same folders... ) the only change will be the IP of the server.

I tried to upgrade the chart with the new IP : nfs.server.ip parameter but it did not change existing volumes.

Can you help me to figure ou

[2020-07-11 08:25] windayski opened #1343 "Why is there no leader election scheme for deleting a volume"
I looked through the code of ProvisionController. I found there is only one controller could become leader to provision a volume for a given claim. But I am confused that all controllers request to delete volume for one claim. Why is there no leader election scheme for deleting a volume?

[2020-07-11 23:02] wongma7 commented on #1343
For provisioning, the fear is that if 2 controllers race then a volume will be leaked. For deleting, if 2 controllers race the end result should still be that the volume is gone.

[2020-07-13 03:06] windayski commented on #1343
@wongma7  Thanks for reply. You're right. But it may cause duplicate requests for deleting and sending useless workload to back-end apis.

[2020-07-13 09:31] Phasip commented on #766
It seems like quay.io/external_storage/rbd-provisioner are outdated again.
I am bumping this issue as it was only solved temporarily.

[2020-07-13 13:11] #1282 closed

[2020-07-20 02:30] dungnt081191 commented on #1136
/reopen

[2020-07-20 02:31] dungnt081191 commented on #1136
also have this issue

[2020-07-20 02:31] dungnt081191 commented on #1136
/reopen

[2020-07-20 09:06] cainzhong opened #1344 "Does nfs provisioner support mount options or parameters?"
Does nfs provisioner support mount options or parameters? Something like `anonuid`, `anongid`, `root_squash`.
or `(rw,sync,anonuid=1999,anongid=1999,root_squash`

I have tried
[code]

But it doesn't work. It failed with below message.

`Failed to provision volume with StorageClass "nfs-dynamic": error validating options for volume: invalid parameter: "anongid"`

[2020-07-20 09:51] #1286 closed

[2020-07-20 15:21] rafal-prasal opened #1345 "nfs-provisioner vs ganesha fsid=152.152 reserved for internal purposes"
ganesha reserved exportID 152 for internal purposes. when generating id for filesystem nfs-provisioner should avoid it.

https://github.com/nfs-ganesha/nfs-ganesha/issues/615

of course having 152 volume claims is an outstanding achievement, but we somehow reached that.

[2020-07-20 15:42] sopak commented on #1344
Hi,
 I did try to solve it here https://github.com/kubernetes-incubator/external-storage/pull/1320

Still waiting for review.

[2020-07-21 03:09] cainzhong commented on #1344
Great. Nice job. What can I do to make your PR been merged? Seems the PR has been requested a few months ago.

[2020-07-21 07:58] rafal-prasal commented on #1345
this has to be added to initial setup of ganesha

[code]

[2020-07-21 17:04] MrAmbiG commented on #1008
This just worked for me
`  mountOptions:
    - nfsvers=4`

[2020-07-22 18:07] on4tux opened #1348 "NFSD: client xxx.xxx.xxx.xxx testing state ID with incorrect client ID"
I have a 2 worker node k8s cluster and a NAS running Ubuntu sid. I managed to setup nfs-client-provisioner and present it to my deployments. Although the volumes are mounted, the applications throw errors at runtime. On the NAS server, syslog is spammed with 'NFSD: client 10.0.0.47 testing state ID with incorrect client ID' errors. Everything works fine if I use the manual pv nfs mount (part 1 of

[2020-07-23 08:59] kverstr commented on #1328
what could solve the issue for my usecase is
- making the creation of subdirs optional
- able to mount a subdir as root in the efs-provisioner instead of the actual root of the efs
this way we could create a subdir on the efs. and then mount this subdir in the efs-provioner on multiple k8s clusters. the applications only need to be able to read from the same location.

@wongma7 you mentioned you w

[2020-07-23 16:30] on4tux commented on #1348
Solved: both nodes were provisioned from a template, without changing /etc/machine-id. I applied the solution from https://www.gitmemory.com/issue/systemd/systemd/13261/519024809.

[2020-07-23 16:30] #1348 closed

[2020-07-23 19:10] #1288 closed

[2020-07-23 21:06] wallyqs commented on #666
Same here, so it is a harmless error?

[2020-07-23 22:02] jingxu97 commented on #1102
/reopen

[2020-07-24 03:48] MrHohn commented on #1102
/reopen

[2020-07-24 09:16] deepayr commented on #1184
I am also seeing the same issue. After nfs server provisioner is restarted, my application pods are down. Restarting the pod is giving issues that unable to mount volumes. Till this issue is closed, is there any workaround to bring my application pods up and running?
Many thanks in advance

[2020-07-24 09:17] kvaps commented on #1184
@deepayr do you use IPVS?

[2020-07-24 09:20] deepayr commented on #1184
No. Its on VPC Gen2 IBM Cloud Managed openshift cluster.

[2020-07-24 18:19] ffilz commented on #1345
Actually nfs-ganesha doesn't reserve export_id 152, but rather, the provisioner is specifying Filesystem_Id as export_id:export_id and nfs-ganesha uses Filesystem_Id 152:152 for the NFS v4 Pseudo Filesystem.

When using FSAL_VFS you should not need to specify Filesystem_Id for exports unless exporting an underlying filesystem that does not have something stable nfs-ganesha can use. nfs-ganesha is

[2020-07-26 20:20] #1289 closed

[2020-07-27 09:03] devopswata commented on #1102
I have same issue when try **deploy nfs-server on master node**.
[code]
* i can bound the pvc with pv
[code]
* But the pod is still stuck at **Container Creating**
[code]
* Describe stuck pod
[code]
* The provision logs don't show any error
[code]

[2020-07-28 10:42] TonyBogdanov commented on #1341
+1

[2020-07-29 07:32] Deiskos commented on #1332
@GRuuuuu, I had the same problem, nfs-provisioner wasn't creating folders in nfs share

As far as I understand, the `nfs-provisioner-v` has to be mounted specifically to `/persistentvolumes` in that container, so a (hopefully) fixed provisioner config should look like this:

[code]

[2020-07-29 13:33] lowang-bh commented on #1300
I have found the solutions:  no CEPH_VOLUME_GROUP enviroment  when delete pv
the fix is at : https://github.com/kubernetes-incubator/external-storage/commit/fc016bc700030bb61ee3ff929a1ae4de28fe5cd0

[2020-07-30 02:11] lowang-bh commented on #860
due to no env CEPH_VOLUME_GROUP  when delete, see this commit: https://github.com/kubernetes-incubator/external-storage/commit/fc016bc700030bb61ee3ff929a1ae4de28fe5cd0

[2020-07-30 08:33] h3z commented on #1203
have you solved this problem?

[2020-07-31 04:24] vbottu opened #1349 "Persistent Volume fails to mount to pod"
Hi,
I've deployed latest version of client provisioner on kubernetes and when I create the pvc, a pv id dynamically created and when I try to mount that volume into a pod it fails to mount with access denied error.
`mount.nfs: access denied by server while mounting *********:/K8sdev/test-dev-springboot-sample-claim-pvc-68625`

I am able to mount the nfs share on all the nodes manually without any

[2020-07-31 06:55] #1343 closed

[2020-07-31 10:59] lowang-bh commented on #1332
you should have a volumeMount with mountPath:/persistentvolumes
        volumeMounts:
        - name: nfs-client-root
          mountPath: /persistentvolumes

[2020-08-02 16:16] yagachi opened #1350 "PVC created for iSCSI storage class using iSCSI provisioner in pending state"
Hi,
I am trying to provision storage using iSCSI provisioner for Openshift 4.3. I am following the readme
https://github.com/kubernetes-incubator/external-storage/blob/master/iscsi/targetd/openshift/README.md.
I created the secret, then deployment and then storage class. But when I try to create pvc for the storage class, it goes in pending status saying the volume has to be created manually or by

[2020-08-02 21:51] Nuru commented on #1314
/remove-lifecycle stale

Can someone please look into this?

[2020-08-04 15:17] jgato opened #1351 "error initially creating leader election record"
Hi all,

Something extrange happend, it was working for me but now I receive this error:

[code]

I have created roles and bindings according to the tutorial :(

[2020-08-07 03:23] mattb290 commented on #1184
I've got the same issue, which results in volume mount errors forcing me to manually kill my pods. Workaround or permanent solution would be great!

[2020-08-07 03:28] JokerDevops commented on #1310
/lifecycle

[2020-08-07 07:06] albanm commented on #1184
In the duplicate issue [here](https://github.com/helm/charts/issues/14912), I discussed my workaround using a fork. I still use this fork without issues but I haven't updated it from upstream since I created it.

[2020-08-07 10:34] nikhita commented on #1351
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:34] #1351 closed

[2020-08-07 10:34] nikhita commented on #1350
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:34] #1350 closed

[2020-08-07 10:35] nikhita commented on #1349
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:35] #1349 closed

[2020-08-07 10:35] nikhita commented on #1345
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:35] #1345 closed

[2020-08-07 10:38] nikhita commented on #1344
@sopak Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

For nfs provisioners, we'll be continuing work in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner. We have created a tracking issue to ensure the PR is pulled in a

[2020-08-07 10:38] #1344 closed

[2020-08-07 10:39] nikhita commented on #1342
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:39] #1342 closed

[2020-08-07 10:39] nikhita commented on #1341
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:39] #1341 closed

[2020-08-07 10:39] nikhita commented on #1339
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:39] #1339 closed

[2020-08-07 10:40] nikhita commented on #1338
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:40] #1338 closed

[2020-08-07 10:40] nikhita commented on #1332
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:40] #1332 closed

[2020-08-07 10:40] #1330 closed

[2020-08-07 10:41] nikhita commented on #1328
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

Going to close this issue in order to archive this repo. Apologies for the churn and thanks for your patience! :pray:

[2020-08-07 10:41] #1328 closed

[2020-08-07 10:41] nikhita commented on #1327
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:41] #1327 closed

[2020-08-07 10:41] nikhita commented on #1325
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:41] #1325 closed

[2020-08-07 10:42] nikhita commented on #1317
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:42] #1317 closed

[2020-08-07 10:42] nikhita commented on #1315
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:42] #1315 closed

[2020-08-07 10:42] nikhita commented on #1314
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:42] #1314 closed

[2020-08-07 10:42] nikhita commented on #1313
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:42] #1313 closed

[2020-08-07 10:43] nikhita commented on #1310
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:43] #1310 closed

[2020-08-07 10:43] nikhita commented on #1305
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:43] #1305 closed

[2020-08-07 10:43] nikhita commented on #1303
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:43] #1303 closed

[2020-08-07 10:43] nikhita commented on #1302
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:43] #1302 closed

[2020-08-07 10:43] nikhita commented on #1301
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:43] #1301 closed

[2020-08-07 10:43] nikhita commented on #1300
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:43] #1300 closed

[2020-08-07 10:43] nikhita commented on #1299
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:43] #1299 closed

[2020-08-07 10:44] nikhita commented on #1298
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:44] #1298 closed

[2020-08-07 10:44] nikhita commented on #1297
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:44] #1297 closed

[2020-08-07 10:44] nikhita commented on #1292
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:44] #1292 closed

[2020-08-07 10:44] nikhita commented on #1281
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:44] #1281 closed

[2020-08-07 10:44] nikhita commented on #1277
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:44] #1277 closed

[2020-08-07 10:45] nikhita commented on #1269
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:45] #1269 closed

[2020-08-07 10:45] nikhita commented on #1250
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:45] #1250 closed

[2020-08-07 10:45] nikhita commented on #1228
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:45] #1228 closed

[2020-08-07 10:45] nikhita commented on #1209
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:45] #1209 closed

[2020-08-07 10:46] nikhita commented on #1184
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:46] #1184 closed

[2020-08-07 10:46] nikhita commented on #1102
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:46] #1102 closed

[2020-08-07 10:47] nikhita commented on #1240
Thanks for reporting the issue!

This repo is no longer being maintained and we are in the process of archiving this repo. Please see https://github.com/kubernetes/org/issues/1563 for more details.

If your issue relates to nfs provisioners, please create a new issue in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner or https://github.com/kubernetes-sigs/nfs-subdir-e

[2020-08-07 10:47] #1240 closed

[2020-08-07 10:48] linki commented on #1184
In case anyone wants still wants to turn off leader election you can take a look at: https://github.com/kubernetes-incubator/external-storage/pull/1352.